---
layout: page
show: true
order: 5
title: Om os
image: /images/about/about-banner.jpg
header: Eksperter i ledelse og coaching
header-link: Mød teamet ⟶
header-link-url: '#team'
description: Vores team består af eksperter sammensat af profiler med omfattende ledelseserfaring, coachingerfaringer i praksis, og mange forskellige akademiske baggrunde. Copenhagen Coaching Center blev dannet i 2004 og er et partnerejet selskab, der udbyder en række uddannelser indenfor coaching og ledelse samt yder ledelsessparring, coaching og udfører konsulentopgaver, herunder skræddersyede udviklingsforløb for virksomheder og teams.
signup: forskellige ydelser
---

{% include partners.html %}

<section class="content">
  {% assign orderedfundament = site.fundament | sort: "order" %}
  {% for fundament in orderedfundament %}
  <div class="wrapper">
      <img src="{{ fundament.image }}" alt="metodik og vision billeder">
      <span>
          <h1>{{ fundament.title }}</h1>
          <p>{{ fundament.content | truncatewords: 60, "" }}...</p>
        <a class="fundament-link" href="{{ fundament.url }}">Læs mere om {{ fundament.title }} her ⟶</a>
      </span>
  </div>
  {% endfor %}
</section>


{% include employees.html %}

<!-- Placer EMCC-akkreditering her -->

{% include information.html %}