---
layout: page
show: true
order: 1
title: Academy
image: /images/academy/academy-banner.jpg
header: Academy
header-link:
header-link-url:
description: CCC tilbyder åbne uddannelser, lederuddannelser og kurser til dig der ønsker høj faglig kvalitet og virkelighedsnære læreprocesser i samspillet mellem teori og praksis.
signup: Uddannelses tilbud
---

<div class="education-list">
  <div class="row">
    {% assign sorted_nodes = site.educations | sort: "order" %}
    {% for education in sorted_nodes %}
    {% if education.special == false %}
    <div class="col-lg-3 col-md-6 col-sm-6 col-12 education-box">
      <div class="card education-card">
        <div class="education-image" style="background-image: url('{{ education.image }}')"></div>
        <div class="card-body d-flex justify-content-center align-items-center flex-column">
          <h5 class="card-title">{{ education.title }}</h5>
          <a class="showmore-button" href="{{ education.url }}">Læs mere</a>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="col-lg-3 col-md-6 col-sm-6 col-12 education-box">
      <div class="card education-card">
        <div class="education-image" style="background-image: url('/images/academy/b6.png')"></div>
        <div class="card-body d-flex justify-content-center align-items-center flex-column">
          <h5 class="card-title">Skræddersyede uddannelser</h5>
          <a class="showmore-button" href="/costumeducations">Læs mere</a>
        </div>
      </div>
    </div>
</div>

{% include contact.html %}