---
layout: page
title: Academy
bg-image: /images/academy/academy-banner.jpg
signup: Uddannelses tilbud
show: true
order: 1
---
<div class="introductionText">
    <h1>Styrk dine kompetencer</h1>
    <p>Hos Copenhagen Coaching Center tilbyder vi et hav af uddannelser, ydelser og forskellige events.
      Nedenunder kan du få et overblik over de emner vi tilbyder ydelser indenfor
    </p>
  </div>

<section class="category-list">

  

  <div class="row">

    {% assign edu_ordered = site.categories | sort: "order" %}
    {% for category in edu_ordered %}

    {% if category.onepage == "ja" %}

    <div class="outer-category col-12 col-lg-4">
      <a href="/academy/{{ category.title | remove:' ' | downcase }}">
        <div class="inner-category" style="background-image: url('{{ category.image }}')">
          <h4>{{ category.title }}</h4>
        </div>
      </a>
    </div>

    {% else %}
    <div class="outer-category col-12 col-lg-4">
      <a href="{{ category.url }}">
        <div class="inner-category" style="background-image: url('{{ category.image }}')">
          <h4>{{ category.title }}</h4>
        </div>
      </a>
    </div>

    {% endif %}
    {% endfor %}
  </div>
</section>
{% include signup.html %}