---
title: Alle historier
layout: page
---

<div class="all-posts">

  <div class="blog-tags-list row">
    <div class="col-12">
      {% assign sorted_tags = site.tags | sort %}
      {% for tag in sorted_tags %}
      {% assign t = tag | first %}
      {% assign posts = tag | last %}
      <div class="blog-tag-item" style="display: inline-block" id="{{ t }}-item">
        <a class="tags" href="#{{ t }}" onclick="filter('{{ t }}'); " data-proofer-ignore>{{ t }}</a>


      </div>
      {% endfor %}
      <a class="hidden tags" id="showAllBtn" href style="display: inline-block" href onclick="showallRow();" data-proofer-ignore>VIS ALLE</a>
    </div>
  </div>






  <div class="row" id="row_all">
    {% for post in site.posts %}
    <div class="col-lg-4 col-md-4 col-sm-12">
      <a href="{{ post.url }}">
        <div class="card-img-top" style="background-image: url('{{ post.image }}')"></div>
      </a>
      <div class="card-body">
        {% for tag in post.tags %}
        <div class="blog-tag-item" style="display: inline-block" id="{{ t }}-item">
          <a class="tags" href="#{{ tag }}" onclick="filter('{{ tag }}'); " data-proofer-ignore>{{ tag }}</a>


        </div>
        {% endfor %}
        <a href="{{ post.url }}">
          <h5 class="card-title">{{ post.title }}</h5>
        </a>
        <p class="post-info">{{ post.date | date: "%B %d, %Y" }}, af {{ post.author }}
            </p>
         <p class="card-text">{{ post.description }}</p>
      </div>
    </div>
    {% endfor %}

  </div>

  {% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}
  <div class="blog-list-container row hidden" id="{{ t }}-container">

    {% for post in posts %}
    {% if post.tags contains t %}
    <div class="col-lg-4 col-md-4 col-sm-12">
      <a href="{{ post.url }}">
        <div class="card-img-top" style="background-image: url('{{ post.image }}')"></div>
      </a>
      <div class="card-body">

        {% for tag in post.tags %}

        <div class="blog-tag-item" style="display: inline-block" id="{{ t }}-item">
          <a class="tags" href="#{{ tag }}" onclick="filter('{{ tag }}'); " data-proofer-ignore>{{ tag }}</a>


        </div>
        {% endfor %}
        <a href="{{ post.url }}">
          <h5 class="card-title">{{ post.title }}</h5>
        </a>
        <p class="post-info">{{ post.date | date: "%B %d, %Y" }}, af {{ post.author }}
          </p>
        <p class="card-text">{{ post.description }}</p>

      </div>
    </div>
    {% endif %}
    {% endfor %}



  </div>
  {% endfor %}



</div>