---
layout: default-test
---
<div class="py-5">


<div class="slider-two pt-5">
    {% assign curYear = 'now' | date: "%Y" %}
    {% assign curMonth = 'now' | date: "%m" %}

    {% assign orderedposts = site.calendar | sort: "date" | reversed %}
    {% assign postsByYear = orderedposts | group_by_exp:"post", "post.date | date: '%Y'" %}


    {% for year in postsByYear %}
    {% if year.name == curYear %}

    {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%m'" %}

    {% for month in postsByMonth %}
    {% if month.name >= curMonth %}

    {% if month.name == "01" %}
    {% assign monthName = "Januar" %}
    {% elsif month.name == "02" %}
    {% assign monthName = "Februar" %}
    {% elsif month.name == "03" %}
    {% assign monthName = "Marts" %}
    {% elsif month.name == "04" %}
    {% assign monthName = "April" %}
    {% elsif month.name == "05" %}
    {% assign monthName = "Maj" %}
    {% elsif month.name == "06" %}
    {% assign monthName = "Juni" %}
    {% elsif month.name == "07" %}
    {% assign monthName = "Juli" %}
    {% elsif month.name == "08" %}
    {% assign monthName = "August" %}
    {% elsif month.name == "09" %}
    {% assign monthName = "September" %}
    {% elsif month.name == "10" %}
    {% assign monthName = "Oktober" %}
    {% elsif month.name == "11" %}
    {% assign monthName = "November" %}
    {% elsif month.name == "12" %}
    {% assign monthName = "December" %}
    {% endif %}
    <div class="bg-platinum">
        <div>
            <h3 class="text-uppercase">{{ monthName }} {{ year.name }}</h3>
        </div>
        <div>
            <ul>

                {% for post in month.items %}
                {% if post.cat == "edu" %}
                <li>
                    <h5 class="text-uppercase">
                        {{ post.date | date: "%d" }} {% if post.enddate %}
                    </span><span> - </span> <span>{{ post.enddate | date: "%d" }} {% endif %} {{ monthName }}
                    </h5>
                    <p>
                        <b>{{ post.title }}</b>
                    </p>
                    <p>{% if post.time %}<i class="far fa-clock"></i> {{ post.time }}{% endif %}</p>

                </li>
                {% endif %}
                {% endfor %}


            </ul>
        </div>
    </div>
    {% endif %}
    {% endfor %}

    {% elsif year.name > curYear %}

    {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%m'" %}

    {% for month in postsByMonth %}


    {% if month.name == "01" %}
    {% assign monthName = "Januar" %}
    {% elsif month.name == "02" %}
    {% assign monthName = "Februar" %}
    {% elsif month.name == "03" %}
    {% assign monthName = "Marts" %}
    {% elsif month.name == "04" %}
    {% assign monthName = "April" %}
    {% elsif month.name == "05" %}
    {% assign monthName = "Maj" %}
    {% elsif month.name == "06" %}
    {% assign monthName = "Juni" %}
    {% elsif month.name == "07" %}
    {% assign monthName = "Juli" %}
    {% elsif month.name == "08" %}
    {% assign monthName = "August" %}
    {% elsif month.name == "09" %}
    {% assign monthName = "September" %}
    {% elsif month.name == "10" %}
    {% assign monthName = "Oktober" %}
    {% elsif month.name == "11" %}
    {% assign monthName = "November" %}
    {% elsif month.name == "12" %}
    {% assign monthName = "December" %}
    {% endif %}
    <div class="calendar-section">
        <div class="section-title">
            <h3 class="text-uppercase">{{ monthName }} {{ year.name }}</h3>
        </div>
        <div class="section-content">
            <ul>

                {% for post in month.items %}
                {% if post.cat == "edu" %}
                <li>
                    <h5 class="text-uppercase">
                        {{ post.date | date: "%d" }} {% if post.enddate %}
                    </span><span> - </span> <span>{{ post.enddate | date: "%d" }} {% endif %} {{ monthName }}
                    </h5>
                    <p>
                        <b>{{ post.title }}</b>
                    </p>
                    <p>{% if post.time %}<i class="far fa-clock"></i> {{ post.time }}{% endif %}</p>

                </li>
                {% endif %}
                {% endfor %}


            </ul>
        </div>
    </div>
    {% endfor %}

    {% endif %}
    {% endfor %}

</div>
</div>