---
layout: default-test
title: Coaching
---


<div class="full-banner grid-1 align-items-center align-content-center"
    style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/coaching/Supervisionogsparringlille.jpeg'); background-position: center; background-size: cover;">
    <div class="container-fluid extra-narrow-container white">
        <div>
            <h1 class="h1-l">{{ page.title }}</h1>


        </div>

    </div>
</div>

<div class="container-fluid narrow-container pt-50 pb-50 align-center">

    <div class="nav nav-tabs mid-tabs bold mb-0 black-pallette" id="myTab" role="tablist">
        <a class="nav-item nav-link active" id="nav-o-tab" data-toggle="tab" href="#nav-o" role="tab"
            aria-controls="nav-coaching" aria-selected="false">Overblik</a>
        {% assign orderedcoaching = site.coachings | sort: "menu-order" %}
        {% for coaching in orderedcoaching %}

        <a class="nav-item nav-link" id="nav-{{ forloop.index }}-tab" data-toggle="tab" href="#nav-{{ forloop.index }}"
            role="tab" aria-controls="nav-{{ forloop.index }}" aria-selected="false">{{ coaching.title }}</a>


        {% endfor %}

    </div>
</div>

<div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="nav-o" role="tabpanel" aria-labelledby="nav-o-tab">
        <div class="container-fluid medium-narrow-container pt-0">
            <div class="container-fluid extra-narrow-container mb-0 mt-0 pt-0 tb-0">
                <h1>Samtaler er en effektiv måde at finde nye veje at gå</h1>
                <p>Et coachingforløb hos CCC skærper dit fokus på personlig udvikling, forebyggelse af stress, styrkelse
                    af balancen mellem arbejdsliv og privatliv og gør dig i stand til at håndtere de udfordringer, der
                    er og måtte komme.<br><br>Hos CCC er du altid er sikker på at møde en faglig og teoretisk dybt og
                    bredt funderet coach med mange års erfaring med professionelle samtaler og som minimum en Master i
                    Business Coaching. Da relationen er af afgørende betydning for effekten af coaching, gør vi en dyd
                    ud af at finde den helt rigtige coach til dig og din situation.
                </p>

            </div>
            <div class="h-300 w-100">
                <img src="/images/coaching/c1.jpg" alt="" class="object-fit">
            </div>

        </div>
    </div>

    {% assign orderedcoaching = site.coachings | sort: "menu-order" %}
    {% for coaching in orderedcoaching %}
    <div class="tab-pane fade" id="nav-{{ forloop.index }}" role="tabpanel" aria-labelledby="nav-1-tab">
        <div class="container-fluid medium-narrow-container pt-0 pb-50 mb-0">
            <div class="grid-2 gap-90">
                <div>
                    <h1>{{ coaching.title }}</h1>
                    {{ coaching.content | markdownify }}
    
                </div>
                <div>
                    <div class="h-100pr w-100">
                        <img src="{{ coaching.image }}" alt="" class="object-fit">
                    </div>
                </div>
            </div>
                
            
            
        </div>
        <!-- contact-bar -->

        {% for employee in site.employees %}
        {% if employee.title == coaching.contact-person %}
        <div class="container-fluid medium-narrow-container pt-0 pb-50">
        
            <div class="grid-55-5-40 r-gap-40">
                <div class="bg-black-coral white p-20 grid-1 r-gap-20">
        
                    
                        <div> <h3>
                            Interreseret i {{ coaching.title }}? Vil du høre mere? Så kontakt {{ coaching.contact-person }}.
                        </h3></div>
                      
                        <div class="grid-fr-120 gap-20 r-gap-20">
                            <div class="align-right a-items-c">
                                <div>
                                <b><a href="{{ employee.url }}" class="large" data-proofer-ignore>{{ employee.title }}</a></b> <br>
                                <span class="thin"><a href="tel:{{ employee.call }}" data-proofer-ignore>+45 {{ employee.call }}</a></span> <br>
                                <span class="thin"><a href="mailto:{{ employee.email }}" data-proofer-ignore>{{ employee.email }}</a></span>
                            </div>
                            </div>
                            <div class="outer-small-round-image">
                                <img class="small-round-image" src="{{ employee.small-portrait-image }}"
                                    alt="{{ employee.title }}, {{ employee.description}}">
                            </div>
                           
                        </div>
        
                   
        
                </div>
        
                <div class="bg-platinum a-items-c align-center p-20 white" style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/graphic/mennesker.jpg'); background-position: center; background-size: cover;">
                    <h3>Er du på udkig efter en uddannelse eller et kursus?</h3>
                    <div><button class="dust-green-btn">Se mere<i class="fas fa-arrow-right"></i></button></div>
        
                </div>
        
            </div>
        </div>
        
        {% endif %}
        {% endfor %}

        <!-- contact-bar end -->

   

        
    </div>

    {% endfor %}











</div>

<div
    style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/graphic/lights.png'); background-position: center; background-size: cover; background-attachment: fixed;">

    <div class="container-fluid extra-narrow-container pb-100 pt-100">
        <div class="grid-2 white">
            <div>
                <h1>Vi tilbyder et eksklusivt udvalg af konsulentydelser</h1>
                <br>
                <a href="#" class="border-button w-100 large">Se vores konsulentydelser <i
                        class="fas fa-long-arrow-alt-right"></i></a>
            </div>
        </div>

    </div>

</div>

{% include secments/newsletter.html %}

<div class="container-fluid medium-narrow-container pt-100 pb-50 mb-0">
    <div class="grid-2 gap-0">
        <div>
            <div class="h-100pr w-100">
                <img src="/images/coaching/c3.jpg" alt="" class="object-fit">
            </div>

        </div>
        <div class="bg-black-coral white p-20">
        <h2>Overskrift</h2>
        <p>
            Aute anim officia ea duis laborum cupidatat velit dolor non sunt Lorem. Lorem minim in Lorem aute laborum laborum sint. Deserunt culpa voluptate qui culpa quis et sunt nostrud excepteur incididunt deserunt aliquip. Elit ex aliqua nostrud sunt sunt adipisicing non. Culpa enim velit Lorem enim duis et dolor mollit. Magna non est laboris et deserunt eiusmod tempor.

        </p>
        <p>Eu ad culpa non ut aliquip magna consectetur ullamco mollit ea do exercitation officia. Reprehenderit pariatur dolore non anim. Aliqua consequat ex Lorem magna quis pariatur aliquip. Et sint proident id ipsum in. Fugiat voluptate mollit sint reprehenderit laborum quis ea sint. Duis cillum enim commodo cillum incididunt Lorem sit occaecat ad ex dolor qui labore.</p>
        </div>
    </div>
        
    
    
</div>

{% include secments/events.html %}