---
layout: default
title: Coachingkursus
meta-title: Coachingkursus og coachuddannelse
meta-description: På en coachinguddannelse får du teoretisk viden og målrettet træning i at coache. Du lærer at facilitere en udviklende samtale med en klient eller et team. I løbet af en coachinguddannelse vil du desuden selv være hovedpersonen i en lang række coachende samtaler. Derfor vil uddannelsen også forandre dig personligt og professionelt. 
---

<div class="pt-3 pb-3">
    <div class="small-container">
        <div class="pt-5"></div>
        <div class="container-fluid py-5">
            <div class="row pt-5 gx-5 gy-3">
                <div class="col-12">
                    <img src="/images/graphic/coaching-1.png" alt="" class="object-fit h-100 w-100">

                </div>
                <div class="col-12">
                    <h2 class="text-uppercase mt-3">Coachinguddannelse</h2>
                    <p>På en coachinguddannelse får du teoretisk viden og målrettet træning i at coache. Du lærer at facilitere en udviklende samtale med en klient eller et team. I løbet af en coachinguddannelse vil du desuden selv være hovedpersonen i en lang række coachende samtaler. Derfor vil uddannelsen også forandre dig personligt og professionelt.</p>
                    <p>Som færdiguddannet business-coach er du rustet til at stå myndigt og støttende i mange former for professionelle samtaler. Det kan være procesmøder, medarbejderudvikling, konflikt- og krisehåndtering eller topledercoaching.</p>
                    <p>Som life-coach kan du støtte mennesker med at formulere og realisere personlige og private mål.</p>
<p>På Copenhagen Coaching Center kan vi uddanne dig i begge retninger. Du er derfor kommet til det helt rigtige sted, hvis du leder efter en coachinguddannelse.</p>

<h3></h3>
                </div>
                
            </div>


        </div>
    </div>

</div>

<div class="bg-platinum">
    <div class="container-fluid py-5">
        <div class="small-container">
            <div class="row pt-5 pb-3 gx-5 gy-4">
                {% assign newcars = site.educations | where: "kategori", "samtaler" %}
                {% for edu in newcars %}
                <div class="col-12 col-md-6">
                    <a href="{{ edu.url }}">
                        <img src="{{ edu.image-2 }}" alt="" class="object-fit h-150px w-100">
                        <h3 class="text-uppercase mt-3">{{ edu.title }}</h3>
                        <p>{{ edu.meta-description }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% include sections/newsletter.html %}
{% include sections/inpiration.html %}