---
layout: page
title: Consulting
bg-image: /images/consulting/consulting-banner.jpg
signup: Konsulentydelser
show: true
order: 3
---

<div class="expandable">
    <div class="row">
        <div class="introductionText">
            <h1>Vi tilbyder Konsulentydelser til alle slags virksomheder</h1>
            <p>Vi har den enkelte virksomhed i fokus når vi yder vores forksellige former for konsulentydelser. Vi tilbyder <a href="#Kommunikation">Kommunikation</a>, <a href="#Konsulentudvikling">Konsulentudvikling</a>, <a href="#Lederudvikling">Lederudvikling</a> og <a href="#Organisationsudvikling">Organisationsudvikling</a>.
            </p>
        </div>
        {% for consultation in site.consultations %}
        
        <section class="col-12 expandable-pane">
                <div class="anchor" id="{{ consultation.title | remove:' ' }}"></div>
            <div class="col-lg-5 col-sm-12 expandable-pane-image"
                style="background-image: url('{{ consultation.image }}')"></div>
            <div class="col-lg-7 col-sm-12 expandable-pane-text">
                <h1>{{ consultation.title }}</h1>
                <div class="content hideContent">
                    {{ consultation.content }}
                </div>
                <button href="#{{ consultation.title | remove:' ' }}" class="show-more">Vis mere</button>
            </div>
        </section>
        {% endfor %}

    </div>
</div>

{% include contact.html %}