---
layout: page
title: Consulting
image: /images/consulting/consulting-banner.jpg
signup: Konsulentydelser
show: true
order: 3
hero-description:
---

<div class="expandable">
    <div class="row">

        {% assign orderedconsultations = site.consultations | sort: "order" %}
        {% for consultation in orderedconsultations %}

        <section class="col-12 expandable-pane">
            <div class="anchor" id="{{ consultation.title | remove:' ' }}"></div>
            <div class="row">

                <div class="col-lg-5 col-12 expandable-pane-image"
                    style="background-image: url('{{ consultation.image }}')"></div>
                <div class="col-lg-7 col-12 expandable-pane-text">
                    <h1>{{ consultation.title }}</h1>
                    <div class="content">
                        {{ consultation.content }}
                    </div>
                </div>
            </div>
        </section>
        {% endfor %}

    </div>
</div>

{% include contact.html %}