---
layout: page
title: Academy
bg-image: ../img/graphic/blurred-book-pages.jpg
---


<div class="row convos-edus">
    <div class="introductionText">
        <h1>Super generisk introduktions titel</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia dolor enim velit<br>provident culpa,
            omnis eius? Placeat deleniti aliquam rerum.
        </p>
    </div>
    <div class="col-12">
        <h2>Uddannelser</h2>
        <div class="row">
            {% for education in site.educations %}
            {% if education.category == 'uddannelser' %}
            <div class="col-lg-4 col-md-4">
                <div class="outer-card">
                    <div class="inner-card">
                        {% if education.image %}
                        <a href="{{ education.url }}">
                            <div class="card-img-top" style="background-image: url('{{ education.image }}')"></div>
                        </a>
                        {% endif %}

                        <div class="card-body">
                            <a href="{{ education.url }}">
                                <p class="card-title">{{ education.title }}</p>
                            </a>
                            <p class="card-text">{{ education.description | truncatewords: 15 }}</p>
                        </div>
                    </div>
                    <a href="{{ education.url }}"><button class="green-button b-1">Læs mere</button></a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="col-12">
        <h2>Kurser og Seminarer</h2>
        <div class="row">
            {% for education in site.educations %}
            {% if education.category == 'kurser' %}
            <div class="col-lg-4 col-md-4">
                <div class="outer-card">
                    <div class="inner-card">
                        {% if education.image %}
                        <a href="{{ education.url }}">
                            <div class="card-img-top" style="background-image: url('{{ education.image }}')"></div>
                        </a>
                        {% endif %}
                        <div class="card-body">
                            <a href="{{ education.url }}">
                                <p class="card-title">{{ education.title }}</p>
                            </a>
                            <p class="card-text">{{ education.description | truncatewords: 15 }}</p>
                        </div>
                    </div>
                    <button class="green-button b-1">Læs mere</button>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="col-12">
        <h2>Certificeringer</h2>
        <div class="row">
            {% for education in site.educations %}
            {% if education.category == 'certificeringer' %}
            <div class="col-lg-4 col-md-4">
                <div class="outer-card">
                    <div class="inner-card">
                        {% if education.image %}
                        <a href="{{ education.url }}">
                            <div class="card-img-top" style="background-image: url('{{ education.image }}')"></div>
                        </a>
                        {% endif %}

                        <div class="card-body">
                            <a href="{{ education.url }}">
                                <p class="card-title">{{ education.title }}</p>
                            </a>
                            <p class="card-text">{{ education.description | truncatewords: 15 }}</p>
                        </div>
                    </div>
                    <button class="green-button b-1">Læs mere</button>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>