---
layout: page
title: Uddannelser
bg-image: ../img/graphic/blurred-book-pages.jpg
---


<div class="row convos-edus">
    {% for education in site.educations %}
    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="outer-card">
            <div class="inner-card">
            {% if education.image %}
            <a href="{{ education.url }}">
                <div class="card-img-top" style="background-image: url('{{ education.image }}')"></div>
            </a>
            {% endif %}

            <div class="card-body">
                <a href="{{ education.url }}">
                    <p class="card-title">{{ education.title }}</p>
                </a>
                <p class="card-text">{{ education.description | truncatewords: 25 }}</p></div></div>
                <button class="green-button b-1">Læs mere</button>
                <button class="transparent-button b-2">Tilmeld</button>
            
        </div>
    </div>
    {% endfor %}
</div>