---
title: EMCC akkreditering
header: EMCC akkreditering
image: /images/diverse/bjerg.png
description: CCCs mål er at tilbyde den bedste uddannelse indenfor coaching. Med EMCC’s højeste akkreditering, Master Practitioner, har du en garanti for, at det er det du får!
order: "3"
layout: default
---



<div class="container-fluid my-5 pt-5">
    <div class="small-container pt-5 mt-3">
        <img src="{{ page.image }}" class="img-fluid mb-3" alt="EMCC akkreditering hos CCC">
        <h1>Det højeste niveau for en Business Coach uddannelse</h1>
        <p>
            CCCs mål er at tilbyde den bedste uddannelse indenfor coaching. Med EMCC’s højeste akkreditering, Master Practitioner, har du en garanti for, at det er det du får!</p>

<p>Hos CCC har vi siden starten af 2004 stræbt efter at sætte nye standarder inden for coaching-feltet. Denne drivkraft har ledt til samarbejde med førende professorer, virksomhedsledere og coaching praktikere, blandt andet i udviklingen af vores masteruddannelse i Business coaching. Det målrettede arbejde resulterede i 2012 i EMCC’s højeste akkreditering. Vi er meget stolte af at være den eneste danske uddannelsesvirksomhed, der har opnået denne internationale godkendelse af en uddannelse, der udbydes eksternt.</p>

<p>EMCC AKKREDITERINGEN ER ET KVALITETSTEMPEL. Både i forhold til uddannelsens faglige og etiske standard, men også en garanti for, at at deltagerne får en uddannelse, som er internationalt anerkendt, og som de derfor også kan bruge i udlandet og i internationalt orienterede virksomheder.</p>

<p>EMCC (European Mentoring and Coaching Council) blev grundlagt i 1992 og er en uafhængig, upartisk og non-profit organisation. Copenhagen Coaching Center har valgt at blive akkrediteret ved denne organisation, fordi den med sit brede grundlag arbejder for at styrke kvaliteten af coaching og mentoring uddannelser i Europa og udgør derfor den tungeste og mest veldokumenterede akkreditering af dem, der findes.</p>

<p>EMCC’s akkreditering bygger på den såkaldte Bologna-erklæring, hvor alle EU-landenes undervisningsministre har vedtaget en lang række kvalitetskriterier, der gælder for de formelle videregående uddannelser.
        </p>
        <p><ins><a href="https://www.emccouncil.org/" target="_blank">EMCCs hjemmeside</a></ins></p>
    </div>
</div>

{% include sections/newsletter.html %}

{% include sections/vision.html %}