---
layout: page
title: Om os
bg-image: /img/graphic/book-bindings.jpg
signup: forskellige ydelser
show: true
---

<div class="row employees">
  <div class="introductionText">
    <h1>Vi hjælper med at uddanne ledere til erhvervs og forretningslivet</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia dolor enim velit<br>provident culpa,
      omnis eius? Placeat deleniti aliquam rerum.
    </p>
  </div>

  {% assign sorted_empl = site.employees | sort: "order" %}
  {% for employee in sorted_empl %}
  <a href="{{ employee.url }}">
    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
      <div class="card">
        <div class="img-empl" style="background-image: url('{{ employee.image }}')"></div>
        <div class="card-body">
          <h5 class="card-title">{{ employee.title }}</h5>
          <p class="card-subtitle mb-2">{{ employee.description }} {{ employee.email }} <br> {{ employee.call }} </p>
          <div class="d-flex justify-content-center align-items-center flex-column">
            <p>Vis profil</p>
          </div>
        </div>
      </div>
    </div>
  </a>


  {% endfor %}
</div>
{% include testimonial.html %}

<section class="information-card">
  <h1>Brænder du inde med et spørgsmål?</h1>
  <span>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
        aria-controls="nav-home" aria-selected="true">København</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
        aria-controls="nav-profile" aria-selected="false">Fredericia</a>
    </div>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="information-card-text">
          <h1>Besøg vores adresse på Østerbro</h1>
          <p>Vi er altid klar til at svare på henvendelser – så ring, skriv gerne og aftal et møde med os eller kom
            forbi</p>
          <a href="#">+45 39 20 10 20</a>
          <a href="mailto:info@copenhagencoaching.dk" target="_blank">info@copenhagencoaching.dk</a>
          <a href="https://goo.gl/maps/a2Tb1RTMDKQ3G8Vz5" target="_blank">Blegdamsvej 104 A, 2. Sal 2200 Kbh Ø</a>
          <a href="https://datacvr.virk.dk/data/visenhed?enhedstype=virksomhed&id=28132891" target="_blank">CVR:
            28132891</a>
          <button data-toggle="modal" data-target="#contact-modal">Kontakt os</button>
        </div>
        <div class="iframe-container">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2248.5302693079925!2d12.571180316044702!3d55.69715400374978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x465253116df3aadf%3A0xb3635bd81181e031!2sCopenhagen+Coaching+Center%2C+Blegdamsvej+104A%2C+2100+K%C3%B8benhavn!3m2!1d55.697151!2d12.573369!5e0!3m2!1sen!2sdk!4v1560603841888!5m2!1sen!2sdk"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="information-card-text">
          <h1>Besøg vores adresse i Fredericia</h1>
          <p>Vi er altid klar til at svare på henvendelser – så ring, skriv gerne og aftal et møde med os eller kom
            forbi</p>
          <a href="#">+45 39 20 10 20</a>
          <a href="mailto:info@copenhagencoaching.dk" target="_blank">info@copenhagencoaching.dk</a>
          <a href="https://goo.gl/maps/kWkKQUaxFp6bxz587" target="_blank">Madsby Playpark, Lumbyesvej 45, 7000
            Fredericia</a>
          <a href="https://datacvr.virk.dk/data/visenhed?enhedstype=virksomhed&id=28132891" target="_blank">CVR:
            28132891</a>
          <button data-toggle="modal" data-target="#contact-modal">Kontakt os</button>
        </div>
        <div class="iframe-container">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d10730.336782979866!2d9.719825821660903!3d55.571108566475424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x464c90dd80e54acb%3A0x3554ed1b01e145dc!2sMadsby+Playpark%2C+Lumbyesvej+45%2C+7000+Fredericia!3m2!1d55.5709429!2d9.7389946!5e0!3m2!1sen!2sdk!4v1560604159748!5m2!1sen!2sdk"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </span>
</section>

{% include signup.html %}