---
layout: default
---

<div class="container-fluid employees_container">
    <div class="row">
        {% for employee in site.employees %}
        <div class="col-lg-4">

            {% if employee.image %}
            <a href="{{ employee.url }}">
                <div class="card-img-top" style="background-image: url('{{ employee.image }}')"></div>
            </a>
            {% endif %}

            <div class="card-body">
                <a href="{{ employee.url }}">
                    <p class="card-title">{{ employee.author }}</p>
                </a>
                <p class="author-text">{{ employee.title }}</p>
                <p class="author-text">{{ employee.call }}</p>
                <p class="author-text">{{ employee.email }}</p>
                <p class="card-text">{{ employee.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>