---
layout: page
title: Fundament
image: /images/hero-images/hero-image-1.jpg
signup: Fundament
show: false
---

<div class="introductionText">
        <h1>Her kan du læse om vores fundament</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae veniam odit veritatis sequi nam cum quo blanditiis, tempore excepturi dolor! Lorem ipsum dolor sit amet.
        </p>
    </div>

<div class="expandable">
    <div class="row">
       
        {% for fundament in site.fundament %}
        <div class="anchor" id="{{ fundament.title | remove:' ' }}"></div>
        <section class="col-12 expandable-pane">
               
            <div class="col-lg-5 col-sm-12 expandable-pane-image"
                style="background-image: url('{{ fundament.image }}')"></div>
            <div class="col-lg-7 col-sm-12 expandable-pane-text">
                <h1>{{ fundament.title }}</h1>
                <div class="content hideContent">
                    {{ fundament.content }}
                </div>
                <button href="#{{ fundament.title | remove:' ' }}" class="show-more">Vis mere</button>
            </div>
        </section>
        {% endfor %}

    </div>
</div>

{% include contact.html %}