---
title: MBC infomøde
permalink: academy/master-of-business-coaching/info-mode/
layout: default
---


<img src="/images/infomode/infomode.png" alt="" class="object-fit w-100 h-400">

<div class="container-fluid my-5">
    <div class="small-container">
        <h2 class="text-center">Master of business coaching</h2>
        <h1 class="text-center mb-4">Informationsmøde den 7. og 21. juni</h1>
        <p class="text-justify mx-auto mb-3 fs-6">Ønsker du at blive dygtig til at føre produktive og virkningsfulde
            dialoger – og stå stærkere i den personlige kontakt, så kom til informationsmøde om vores lederuddannelse Master of Business
            Coaching. En uddannelse der stimulerer din dialogiske muskel og lærer dig at blive endnu bedre til at holde
            på og om dig selv i en hyperkompleks verden.</p>
        <p class="fw-bold fs-6 text-center">Mød bl.a nuværende og tidligere studerende, der kommer og fortæller om hvad
            MBC’en har givet dem</p>


        <div class="row gx-5 max-w-600 mx-auto mb-5">
            <div class="col-12 col-md-4">
                <div>
                    <img class="h-300 object-fit" src="/images/personer/ziga-friberg.png" alt="Ziga Friberg">
                </div>

                <p class="text-center mt-3 fw-bold">Sektionsleder Ziga Friberg fra Røde Kors</p>

            </div>
            <div class="col-12 col-md-4">
                <div> <img class="h-300 object-fit" src="/images/personer/mette-fløystrup.jpeg" alt="">
                </div>

                <p class="text-center mt-3 fw-bold">Chefkonsulent og Hotelejer Mette Fløystrup fra Region Hovedstaden
                </p>

            </div>
            <div class="col-12 col-md-4">
                <div> <img class="h-300 object-fit" src="/images/about/employees/jesper-nøddesbo.png" alt=""></div>

                <p class="text-center mt-3 fw-bold">CCC Konsulent og tidligere FC Barcelona håndboldspiller Jesper
                    Nøddesbo</p>
            </div>

        </div>



        <div class="bg-platinum pt-5 pb-5 mb-2 mt-5">
            <form action="https://formspree.io/f/mvollpwe" method="POST" enctype="multipart/form-data"
                style="max-width: 600px;" class="mx-auto special-form" id="form-infomode">
                <div class="row mt-3 gy-4 gx-5 inder-form" id="inner-form">

                    <div class="col-md-6 col-12">

                        <div class="form-check mb-4">
                            <input class="form-check-input" name="07-06-2022" type="checkbox" id="dato1">
                            <label class="form-check-label" for="dato1">
                                <p class="small mb-0 fw-bold fs-6">7. juni 2022 - 16:00 - 17:30 (Online)</p>
                            </label>
                        </div>

                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-check mb-4">
                            <input class="form-check-input" name="21-06-2022" type="checkbox" id="dato2">
                            <label class="form-check-label" for="dato2">
                                <p class="small mb-0 fw-bold fs-6">21. juni 2022 - 16:00 - 17:30 (Fysisk)</p>
                            </label>
                        </div>
                    </div>

                    <div class="col-12">
                        <p>Deltagelse er gratis, men tilmelding er nødvendig</p>
                    </div>
                    <div class="col-md-6 col-12">

                        <input type="text" class="form-control w-100" placeholder="Fornavn" aria-label="fornavn"
                            name="fornavn">

                    </div>
                    <div class="col-md-6 col-12">
                        <input type="text" class="form-control w-100" placeholder="Efternavn" aria-label="efternavn"
                            name="efternavn">
                    </div>
                    <div class="col-md-6 col-12">
                        <input type="text" class="form-control w-100" placeholder="Email" aria-label="email"
                            name="email">
                    </div>
                    <div class="col-md-6 col-12">
                        <input type="text" class="form-control w-100" placeholder="Virksomhed" aria-label="virksomhed"
                            name="virksomhed">
                    </div>
                    <div class="col-md-6 col-12">
                        <input type="text" class="form-control w-100" placeholder="Telefon" aria-label="telefon"
                            name="telefon">
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="form-check mb-4">
                            <input class="form-check-input" name="_optin" type="checkbox" id="newsletter">
                            <label class="form-check-label" for="newsletter">
                                <p class="small mb-0">Ja tak, jeg vil gerne modtage CCC's nyhedsbrev.</p>
                            </label>
                        </div>
                    </div>
                    <div class="g-recaptcha" data-sitekey="6Lfi__EcAAAAABOscNdrKzqeLNu2vbuTM_5VlANy"></div>
                    <div class="col-12">
                        <div class="form-check-label">
                            <p class="small"><small>Ved tilmelding accepterer du, at vi efterfølgende må kontakte dig
                                    pr. mail eller telefon angående deltagelse i et af vores uddannelsestilbud, kurser,
                                    åbent hus eller andre relevante tilbud og information fra CCC. Dit samtykke kan
                                    altid trækkes tilbage. Når du udfylder formularen, accepterer du også, at vi lagrer
                                    og behandler de personoplysninger, der er angivet ovenfor.</small></p>

                        </div>

                        <button class="w-100 btn-opal text-white btn mb-3" type="submit">Tilmeld</button>
                    </div>
                </div>
                <div class="d-none message-form-udd" id="form-message-udd">
                    <h2>Tak for din tilmelding til informationsmøde omrking Master of Business Coaching</h2>
                    <p>En bekræftelse er sendt til din mail</p>
                    <p class="fw-bold">OBS: Vi oplever tit at automatiserede mails bliver markeret som spam, så vi
                        opfordrer til at tjekke spam-indbakken og evt. markere info@copenhagencoaching.dk som sikker
                        afsender i Outlook eller andre mail programmer.</p>
                </div>
            </form>

        </div>

        <div class="row mt-5 gx-5">
            <div class="col-12 col-md-6">
                <h3>Hvad er Master of Business Coaching?</h3>
                <p class="text-justify">En Master i Business Coaching er en ambitiøs lederuddannelse på
                    internationalt masterniveau, der tager udgangspunkt i dig, der ønsker at styrke din dialogiske
                    kapacitet
                    og dit menneskelige beredskab. En uddannelse, som giver dig dialogiske, personlige og relationelle
                    værktøjer til at påvirke og udvikle mennesker og organisationer i en hyperkompleks verden.</p>
            </div>
            <div class="col-12 col-md-6">
             {% for employee in site.employees %}
             {% if employee.title == "Frederikke Winther" %}
                <div class="d-flex h-100 justify-content-center align-items-center bg-black-coral rounded p-3">
                    <div>

                        <p class="fs-6 text-white">Ønsker du en personlig samtale eller mere info om vores MBC, er
                                du meget velkommen til at kontakte uddannelsesansvarlig Frederikke Winther</p>

                        <div class="d-flex justify-content-end">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <p class="text-end mb-0 text-white"><b><a href="{{ employee.url }}"
                                                data-proofer-ignore>{{
                                                employee.title }}</a></b><br>

                                        <a href="tel:{{ employee.call }}" data-proofer-ignore>+45 {{
                                            employee.call
                                            }}</a><br>
                                        <a href="mailto:{{ employee.email }}" data-proofer-ignore>{{
                                            employee.email
                                            }}</a>
                                    </p>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <img class="small-image rounded-circle" src="{{ employee.small-portrait-image }}"
                                        alt="{{ employee.title }}, {{ employee.description}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>


    </div>

</div>

<div class="bg-quick-silver">
    <div class="container-fluid">
        <div class="small-container py-5">
            <div class="row gx-5">
                <div class="col-12 col-md-6">
                    <h3 class="text-white mb-3">På informationsmødet giver vi dig mulighed for:</h3>
                    <ul class="pe-0">
                        <li class="text-white pb-2">At høre mere om, hvad uddannelsen kan betyde for dig og din karriere
                        </li>
                        <li class="text-white pb-2">At blive klogere på uddannelsens indhold og fagområder</li>
                        <li class="text-white pb-2">At møde undervisere og stille spørgsmål til forløbet</li>
                        <li class="text-white pb-2">At møde nogle tidligere studerende og høre om hvilket udbytte, de har
                            fået</li>
                    </ul>
                </div>
                <div class="col-12 col-md-6">
                    <h3 class="text-white">Hvor langt tid tager uddannelsen?</h3>
                    <p class="text-justify text-white">
                        Uddannelsen tager to år på deltid og har typisk undervisning to hele dage hver måned fra kl.
                        9.30 til 16.00.

                        Læs mere om uddannelsen <b><i><a href="/academy/master-of-business-coaching/"
                                    class="text-white">her</a></i></b>.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>




{% include sections/other-courses-2.html %}

<script>
    var form = document.getElementById("form-infomode");

    async function handleSubmit(event) {
        event.preventDefault();
        var status = document.getElementById("form-message-udd");
        var data = new FormData(event.target);
        fetch(event.target.action, {
            method: form.method,
            body: data,
            headers: {
                'Accept': 'application/json'
            }
        }).then(response => {
            if (response.ok) {
                $('.inder-form').addClass("d-none")
                $('.message-form-udd').removeClass("d-none")
                form.reset()
            } else {
                response.json().then(data => {
                    if (Object.hasOwn(data, 'errors')) {
                        status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
                    } else {
                        status.innerHTML = "Oops! There was a problem submitting your form"
                    }
                })
            }
        }).catch(error => {
            status.innerHTML = "Oops! There was a problem submitting your form"
        });
    }
    form.addEventListener("submit", handleSubmit)
</script>