---
title: Inspiration
layout: default
---

<div class="pt-5 mt-5"
    style="background: url('/images/diverse/inspiration.png'); background-size: cover; background-position: center;">
    <div class="py-5">
        <div class="container-fluid py-5">
            
                <div class="row">
                    <div class="col-12 col-md-6 col-xl-4">
                        <div style="background-color: rgba(255, 255, 255, 0.8);" class="p-5">
                            <h1 class="mb-1">Inspiration</h1>
                            <p>Blogposts, podcasts, videoer mm. til inspiration</p>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
</div>



<div class="container-fluid py-5">
 
        <h2 class="mb-4">Blog</h2>
        <div class="insp-responsive">
            {% for post in site.categories.blog %}
            <!-- <div class="h-200 w-100"><img src="{{ post.image }}" class="object-fit" alt=""></div>
             -->
             <div class="ct-header tablex item zoom">
                <a href="{{ post.url }}">
                <div class="h-170 position relative">
                    <img class="object-fit" data-lazy="{{ post.image }}" alt="{{ post.title }}">
                </div>
               
                <div class="ct-u-display-tablex">
                  <div class="inner" style="height: 140px">
                    
                    {% assign postmonth = post.date | date: "%m" %}


                    {% if postmonth == "01" %}
                    {% assign monthName = "januar" %}
                    {% elsif postmonth == "02" %}
                    {% assign monthName = "februar" %}
                    {% elsif postmonth == "03" %}
                    {% assign monthName = "marts" %}
                    {% elsif postmonth == "04" %}
                    {% assign monthName = "april" %}
                    {% elsif postmonth == "05" %}
                    {% assign monthName = "maj" %}
                    {% elsif postmonth == "06" %}
                    {% assign monthName = "juni" %}
                    {% elsif postmonth == "07" %}
                    {% assign monthName = "juli" %}
                    {% elsif postmonth == "08" %}
                    {% assign monthName = "august" %}
                    {% elsif postmonth == "09" %}
                    {% assign monthName = "september" %}
                    {% elsif postmonth == "10" %}
                    {% assign monthName = "oktober" %}
                    {% elsif postmonth == "11" %}
                    {% assign monthName = "november" %}
                    {% elsif postmonth == "12" %}
                    {% assign monthName = "december" %}
                    {% endif %}
                     <p class="small mt-2 mb-1"><small>{{ post.date | date: "%d"}}. {{ monthName }} {{ post.date | date: "%Y"}}</small></p>
                        
                          <h5>{{ post.title }}</h5>
                          <p>{{ post.description | truncatewords: 17, "..." }}</p>
                        
                  </div>
                  
                  <div class="inner-btn">
                    <a class="btn btn-black-coral rounded-0 text-white" href="{{ post.url }}">Se mere</a>
                  </div>
                </div>
            </a>
              </div>
            {% endfor %}
          </div>

</div>
<div class="bg-platinum">
    <div class="container-fluid py-5">
      
            <h2 class="mb-4">Podcasts</h2>
            
            <div class="insp-responsive">
                {% for post in site.categories.podcast %}

                 <div class="ct-header tablex item zoom">
                    <a href="{{ post.url }}">
                    <div class="h-170">
                        <img class="object-fit" data-lazy="{{ post.image }}" alt="{{ post.title }}">
                    </div>
                   
                    <div class="ct-u-display-tablex">
                      <div class="inner" style="min-height: 120px;">
                        
                         
                            
                              <h5 class="mt-3">{{ post.title }}</h5>
                              <p>{{ post.description | truncatewords: 15, "..." }}</p>
                              
                            
                         
                       
                      </div>
                      <div class="inner-btn">
                       <div class="btn btn-black-coral rounded-0 text-white">Se mere</div>
                      </div>
                    </div>
                </a>
                  </div>
                {% endfor %}
              </div>
    
    </div>
</div>




<div class="container-fluid pt-5 pb-2">

        <h2 class="mb-4">Videoer</h2>
        <div class="insp-responsive">
            {% for post in site.categories.video %}
            <!-- <div class="h-200 w-100"><img src="{{ post.image }}" class="object-fit" alt=""></div>
             -->
             <div class="ct-header tablex item zoom">
                <a href="{{ post.url }}">
                <div class="h-170">

                    <img class="object-fit" data-lazy="{{ post.image }}" alt="{{ post.title }}">
                </div>
               
                <div class="ct-u-display-tablex">
                  <div class="inner h-120px">
                    
                     
                        
                          <h5 class="mt-3">{{ post.title }}</h5>
                          <p>{{ post.description | truncatewords: 15, "..." }}</p>
                          
                        
                     
                   
                  </div>
                  <div class="inner-btn">
                    <a class="btn btn-black-coral rounded-0 text-white" href="{{ post.url }}">Se mere</a>
                  </div>
                </div>
            </a>
              </div>
            {% endfor %}
          </div>
   
</div>
