---
layout: page
title: Inspiration
image: /images/forum/forum-banner.jpg
signup: forskellige ydelser
show: false
order: 6
description: Her finder du artikler, podcasts, film og andet stof til inspiration og eftertanke. God fornøjelse!
---
<section class="stories">


    <!-- tags -->
    <section class="tag-section">
        <div class="intro"><h2>Seneste Historier</h2></div>
        <div class="blog-tags-list">
            {% assign sorted_tags = site.tags | sort %}
            {% for tag in sorted_tags %}
            {% assign t = tag | first %}
            {% assign posts = tag | last %}
            <div class="blog-tag-item" style="display: inline-block" id="{{ t }}-item">
                <a class="tags" href="#{{ t }}" onclick="filter('{{ t }}'); " data-proofer-ignore>{{ t }}</a>


            </div>
            {% endfor %}

            <a class="all-btn hidden tags" style="display: inline-block" id="showAllBtn" href onclick="showallRow();"
                data-proofer-ignore>VIS ALLE</a>

        </div>
    </section>

    <!-- tags end -->

    <div id="row_all">
        <!-- default row -->
        <div class="story-row" id="story-row">
            <div class="row">
                {% assign sorted_stories = site.posts | sort: "date" | reverse %}

                {% for post in sorted_stories limit:8 %}
                {% if forloop.index == 1 or forloop.index == 5 or forloop.index == 9 %}

                <div class="col-lg-12 story-box">
                    <a href="{{ post.url }}">
                        <div class="story" style="background-image: url('{{ post.image }}')">
                            <div class="large-article-text">

                                <h1>{{ post.title }}</h1>
                                {{ post.content | truncatewords: 40, '...' }}
                                
                            </div>
                        </div>
                    </a>
                </div>

                {% else %}
                <div class="col-lg-4 story-box">
                    <a href="{{ post.url }}">
                        <div class="story" style="background-image: url('{{ post.image }}')">
                            <div class="small-article-text">

                                <h1>{{ post.title }}</h1>
                                {{ post.content | truncatewords: 40, '...' }}
                                
                            </div>
                        </div>
                    </a>
                </div>

                {% endif %}
                {% endfor %}

            </div>
        </div>


        <!-- default row end -->

        <!-- row all -->
        <div class="collapse" id="collapseExample">

            <div class="row">
                {% assign sorted_stories = site.posts | sort: "date" | reverse %}

                {% for post in sorted_stories offset: 8 %}
                


               
                <div class="col-lg-4 story-box">
                    <a href="{{ post.url }}">
                        <div class="story" style="background-image: url('{{ post.image }}')">
                            <div class="small-article-text">

                                <h1>{{ post.title }}</h1>
                                {{ post.content | truncatewords: 40, '...' }}
                               
                            </div>
                        </div>
                    </a>
                </div>

             
                {% endfor %}

            </div>
        </div>

        <section class="show-all-post">

            <button id="collapsible" class="show-more-btn" data-toggle="collapse"
                data-target="#collapseExample">Vis mere</button>



        </section>
    </div>



    <!-- row all end -->

    {% for tag in site.tags %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}
    <div class="blog-list-container row hidden" id="{{ t }}-container">

        {% for post in posts %}
        {% if post.tags contains t %}
        {% if forloop.index == 1 or forloop.index == 5 or forloop.index == 9 %}

        <div class="col-lg-12 story-box">
            <a href="{{ post.url }}">
                <div class="story" style="background-image: url('{{ post.image }}')">
                    <div class="large-article-text">

                        <h1>{{ post.title }}</h1>
                        {{ post.content | truncatewords: 40, '...' }}
                        
                    </div>
                </div>
            </a>
        </div>

        {% else %}
        <div class="col-lg-4 story-box">
            <a href="{{ post.url }}">
                <div class="story" style="background-image: url('{{ post.image }}')">
                    <div class="small-article-text">

                        <h1>{{ post.title }}</h1>
                        {{ post.content | truncatewords: 40, '...' }}
                        
                    </div>
                </div>
            </a>
        </div>

        {% endif %}
        {% endif %}
        {% endfor %}



    </div>
    {% endfor %}


</section>
