---
layout: page
title: International
image: /images/international/international-banner.jpg
signup: Internationale tilbud
show: true
order: 4
description: This summer, Copenhagen Coaching Center will branch out into educations in english.
---

<div class="expandable">
    <div class="row">
        <div class="intro">
            <p>At Copenhagen Coaching Center we strive to improve the quality of coaching and leadership by providing
                people with knowledge and methodologies that enables them to deliver coaching and leadership on the
                highest level. We are a value-driven company and meet our customers with respect and dignity in order to
                support the personal and professional development of our students and clients. </p>

                <p>CCC has a tree-folded market position:</p>

                        <ul> <li>Firstly, we have open educations such as Master of Business Coaching and Process Leadership and we have tailor-made educational programs for business enterprises and public organizations.</li>

                        <li>Secondly, we carry out consultancy work within the area of recruitment, assessment, leadership seminars and shorter leadership programs etc.</li>

                        <li>Thirdly, we all work as coaches for leaders within the public and private sector.</li>
                        </ul>


                        <p>We have been in the market since 2004 where Partner and Director, Andreas Bering founded the business enterprise with Director Mette Mejlhede. Ever since Copenhagen Coaching Center has developed itself to become frontrunners within the application of Philosophy and Psychology in leadership and business development. We work from the highest academic level with a practical approach.
                        We are situated in Copenhagen and Fredericia but we also carry out work abroad. We have international clients in our portfolio.</p>
        </div>

        {% assign ordered = site.internationals | sort: "order" %}

        {% for international in ordered %}

        <section class="col-12 expandable-pane">
            <div class="anchor" id="{{ international.title | remove:' ' }}"></div>
            <div class="row">

                <div class="col-lg-5 col-12 expandable-pane-image">
                    <div class="image-info-row">
                      <div class="image-box-expandable" style="background-image: url('{{ international.image }}')">

                      </div>
                      <div class="image-box-expandable-info">
                        <h4>Interesseret i at høre mere? Ring eller skriv og få en snak med:</h4>
                        <div class="media">
                          {% for employee in site.employees %}
                          {% if employee.data-id == international.contact-person %}
  <div class="mr-3 contact-img-outer">
    <img class="contact-img" src="{{ employee.portrait-image }}" alt="{{ employee.title }}, {{ employee.description }}"></div>
  <div class="media-body">

    <h5>{{ employee.title }}</h5>
      <h5><a data-proofer-ignore href="tel:+45{{ employee.call }}">+45 {{ employee.call }}</a></h5>
      <h5><a href="mailto:{{ employee.email }}">{{ employee.email }}</a></h5>
    {% endif %}
    {% endfor %}
  </div>
</div>
                      </div>
                      </div>
                  </div>
                <div class="col-lg-7 col-12 expandable-pane-text">
                    <h1>{{ international.title }}</h1>
                    <div class="content">
                        {{ international.content }}


                    </div>
                </div>
            </div>
        </section>
        {% endfor %}
    </div>
</div>
