---
layout: default
title: Ousia publications
image: /images/ousia/reading-2.png
---

<div class="pt-5"
    style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('{{ page.image }}'); background-size: cover; background-position: top;">
    <div class="container-fluid text-center py-5 position-relative">

        <div class="pt-5">
            <div class="row py-5 gy-5">


                <div class="offset-md-3 col-12 col-md-6">

                    <h1 class="text-white mb-3">{{ page.title }}</h1>
                    <hr class="white w-50 responsive mx-auto">


                </div>
            </div>
        </div>
        <div class="position-absolute bottom-0 start-50 translate-middle-x">
            <nav>
                <div class="nav nav-tabs white-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true">Udgivelser</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                        type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Om Ousia</button>
                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                        type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Protreptik</button>
                </div>
            </nav>

        </div>

    </div>
</div>
<div class="container-fluid py-4">

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row gx-5 gy-5 py-5">
                {% for pub in site.publications %}
                <div class="col-lg-6 col-12">
                    <div class="row">
                        <div class="col-4">
                            <img src="{{ pub.image }}" class="img-fluid w-100 shadow" alt="{{ pub.title }}">
                        </div>
                        <div class="col-8">
                            <h3 class="text-uppercase">{{ pub.title }}</h3>
                            {% if pub.post-title %}
                            <h5>{{ pub.post-title }}</h5>
                            {% endif %}
                            <p class="fw-bold">{{ pub.price }} kr.</p>
                            {{ pub.excerpt }}
                            <button onclick="location.href='{{ pub.url }}';" class="learn-more">
                                <span class="circle" aria-hidden="true">
                                    <span class="icon arrow"></span>
                                </span>
                                <span class="button-text">Se mere</span>
                            </button>
                        </div>
                    </div>


                </div>
                {% endfor %}

            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="row justify-content-center">
                <div class="col-6">
                    <p>OUSIA PUBLICATIONS er et nystiftet forlag, marts 2021, hvis funktion primært
                        er at være et organ for forskellige videns-produktioner i CCC-regi.
                    </p>
                    <p>
                        Forlagets navn sigter efter det græske ords mening, som betyder "den sande væren". Forlagets
                        logo er hentet fra zen-traditionen og sigter på "oplysning og evighed".

                    </p>
                    <p>
                        Copenhagen Coaching Center blev dannet i 2004. Vi udbyder uddannelser indenfor coaching og
                        ledelse samt yder ledelsessparring, coaching og skræddersyede uddannelses- og udviklingsforløb
                        for virksomheder, teams og enkelt-personer i såvel offentlige institutioner som i det private
                        erhvervsliv.
                    </p>
                    <p>
                        Siden virksomhedens start har vores mål være at støtte og udbrede det udforskende projekt som
                        læring og udvikling kan være. Vi har som ambition at være et videnscenter for vores kunder og
                        samarbejdspartnere, og vi arbejder dagligt på at udvikle, udbrede og udveksle indsigt og
                        erfaring med dialog, ledelse og læring.
                    </p>
                    <p>
                        Ousia Publications er det nyeste tiltag i denne bestræbelse.</p>
                </div>
            </div>
        </div>


        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="row justify-content-center">
                <div class="col-6">
                    <p><b>Protreptik</b> betyder at vende den enkelte mod det, som er væsentligt for ham eller hende
                        selv og fællesskabet. Den har rødder i filosoffernes og retorikernes ledelsesakademier i
                        Antikkens Grækenland og er en højt udviklet form for meta-coaching, der kan aktivere
                        eksistentielle kræfter i den enkelte leder og medarbejder og dermed styrke organisationen.</p>

                    <p>At inddrager værdier i ledelsescoaching er ikke nyt, men det unikke er, at protreptikken
                        reflekterer og filosoferer over værdier ud fra den antagelse, at værdierne udgør vores
                        grundlæggende måde at forstå og handle på, og at deres betydning og indhold er langt dybere og
                        rigere, end man ofte antager.</p>
                        <p>Protreptikken adskiller sig først og fremmest fra den almindelige ledelsescoaching ved at fokusere på basale normer og grundholdninger, på de mulige indstillinger, målsætninger og handlingsmønstre, som et menneskes værdier generelt lægger grundlaget for. Hermed hæver den samtalen til et alment, men også menneskeligt, eksistentielt plan, der genererer overskud af mening og handlekraft.</p>
                </div>
            </div>

        </div>
    </div>

</div>