---
layout: page
title: Protreptik som behandlingsform og ledelsesdisciplin
sub-header: Ny antologi fra CCC – Udkommer forår 2022
description: Ny antologi fra CCC – Udkommer forår 2022
image: /images/graphic/PSBOL.jpg
---


<div class="container-fluid text-center py-3">
    <div class="row">
        <div class="offset-lg-2 col-12 col-lg-8">

            <div class="nav nav-tabs justify-content-center bold my-4 fade-color" id="myTab" role="tablist">
                <a class="nav-item nav-link active ms-2" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab"
                    aria-controls="nav-coaching" aria-selected="false">Overblik</a>
                <a class="nav-item nav-link ms-2" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab"
                    aria-controls="nav-2" aria-selected="false">Bidragsydere</a>
                <a class="nav-item nav-link ms-2" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab"
                    aria-controls="nav-3" aria-selected="false">Lanceringsplan</a>



            </div>
        </div>
    </div>
</div>



<div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">

        <div class="container-fluid pt-0 pb-4">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-4">
                    <p><b>Et nyt erfaringsrum er trådt mere og mere
                            frem i de senere år, nemlig protreptik som
                            behandlingsform og som et vægtigt bidrag
                            til en ny behandlingsform kaldet filosofisk
                            terapi. Både som supplement og alternativ
                            til de mere psykologiske terapi- og
                            behandlingsformer viser det sig med større
                            og større klarhed, at den protreptiske
                            arbejdsform har noget at komme med,
                            endda i en sådan grad, at erfaringspuljen
                            hermed er blevet ganske tungtvejende og
                            tyder på, at der ligefrem tegner sig former
                            for evidens og klare effekter af den
                            protreptiske tilgang som behandlingsform
                            indenfor den sociale sektor.</b></p>
                    <p>Den filosofiske samtalekunst og dialogiske
                        disciplin; Protreptikken, der trækker aner
                        tilbage til den græske, antikke tænkning
                        (Sokrates, Platon og Aristoteles), har i de
                        seneste 15 år fået støt stigende opmærksomhed og fundet sin pasform
                        indenfor store dele af ledelsespraktikken,
                        offentlig såvel som i privat regi.</p>
                    <p>Endvidere er der inden for skoleverdenen
                        vakt stor interesse herfor, specielt omkring
                        temaer som dannelse og etik.</p>
                </div>
                <div class="col-12 col-lg-6 col-xl-4">
                    <p>I forhold til ledelse og undervisning har den
                        protreptiske tilgang indtil videre primært
                        kredset omkring værdiafklaring og bibragt
                        nytænkning samt øget grad af intensitet i
                        forhold til at finde frem til, hvem man er, og
                        hvad man står for som leder og lærer.</p>
                    <p>Efter mange års arbejde med at oversætte
                        den protreptiske samtaleform ind i en
                        konkret samtalepraksis, har det vist sig, at
                        netop denne samtaleform ikke blot er uhyre
                        effektiv i en ledelsespraksis, (hvor det
                        element, at man inviterer til en anonym og
                        almen samtale, er en stor styrke, idet man
                        hermed ikke støder ind i dilemmaet om at
                        føre følsomme samtaler ind i en
                        asymmetrisk relation; leder – medarbejder),
                        men også på samme måde viser sig at være
                        meget effektiv og udviklende i samtaler
                        mellem terapeut og klient/patient.</p>
                    <p>Netop det faktum, at samtalen er almen og
                        centrerer sig om et begreb, opleves på en
                        gang som frisættende og nærværende og
                        dermed virksom - uden, at det opleves som
                        en klientificering, forstået således, at
                        klienten (efter eget udsagn) på én gang føler
                        sig hørt og fri og dermed selvberoende for
                        måske første gang i lang tid.</p>
                    <p>Det beskrives som en nænsom, ikke
                        diagnosticerende samtale, hvor klienten
                        ikke føler sig som centrum for ’problemerne’
                        men snarere som ekspert på egne meninger,
                        værdier og tilstand.</p>

                </div>
                <div class="col-12 col-lg-6 col-xl-4">
                    <p>Da vi i CCC som førnævnt har arbejdet med
                        protreptikken i mange år, har vi haft en del
                        ledere, herunder også ledere af botilbud og
                        behandlingsenheder både i psykiatrisk regi
                        såvel som i private virksomheder, igennem
                        vores Masteruddannelse i Coaching (der
                        også indbefatter et semester om og i
                        protreptik) og det har vist sig, at
                        oversættelsen af protreptikken ind i den
                        sociale sektor har haft stor succes og effekt
                        ift. arbejdet med misbrugere og psykisk
                        sårbare.</p>
                    <p>Bogens bidrag rummer således en lang
                        række spændende eksempler fra vores
                        nuværende og tidligere studerende omkring
                        brugen af den protreptiske samtaleform i
                        bred forstand i sociale virksomheder.</p>
                    <p>
                        Det er derfor med stor taknemmelig overfor
                        bidragsyderne og med stolthed og respekt,
                        at vi henover foråret vil kunne byde
                        velkommen til en række velfunderede
                        erfaringer og erkendelser omkring
                        protreptikkens funktion og ydeevne
                        indenfor områder, hvor der som sagt bl.a.
                        arbejdes med “psykisk sårbare” og “udsatte
                        unge” samt ikke mindst hele organiseringen
                        og ledelsen heraf.
                    </p>

                    <p>Antologien forventes i handlen til oktober
                        2021, og indeholder eksempler på konkrete
                        metoder, tilgange, viden og erfaringer fra ti
                        forskellige bidragsydere.</p>

                </div>
            </div>
        </div>
    </div>






    <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">

        <div class="bg-deep-taupe">
            <div class="container-fluid pt-5 pb-4">
                <div class="row">
                    <div class="offset-md-2 col-md-8 col-12">
                        <h2 class="text-white mb-5">Bidragsydere</h2>
                        <img src="/images/graphic/Ccclogosortstor1.png" width="150" alt="Protreptik som behandlingsform og ledelsesdisciplin"
                            class="float-start me-3 mb-3">
                        <h4 class="text-white">Forord ved Copenhagen Coaching Center</h4>

                        <p class="text-white">Den filosofiske samtalekunst og dialogiske disciplin; Protreptikken, der
                            trækker aner tilbage
                            til den græske, antikke tænkning (Sokrates, Platon og Aristoteles), har i de seneste 15 år
                            fået støt stigende opmærksomhed og fundet sin pasform indenfor store dele af
                            ledelsespraktikken, offentlig såvel som i privat regi. Endvidere er der indenfor
                            skoleverdenen vakt stor interesse herfor, specielt omkring temaer som dannelse og etik. I
                            forhold til ledelse og undervisning har den protreptiske tilgang indtil videre primært
                            kredset omkring værdi-afklaring og bibragt nytænkning samt øget grad af intensitet i forhold
                            til at finde frem til hvem man er og hvad man står for som leder og lærer.</p>
                        <p class="text-white">Imidlertid er et nyt erfarings-rum trådt mere og mere frem i de senere år,
                            nemlig protreptik
                            som behandlingsform og som et vægtigt bidrag til filosofisk terapi. Både som supplement og
                            alternativ til de mere psykologiske terapi- og behandlingsformer viser det sig med større og
                            større klarhed, at den protreptiske arbejdsform har noget at komme med, endda i en sådan
                            grad at erfaringspuljen hermed er blevet ganske tungt-vejende, og tyder på at der ligefrem
                            tegner sig former for evidens og klare effekter af den protreptiske tilgang som
                            behandlingsform indenfor den sociale sektor.</p>
                        <p class="text-white">Det er derfor med stor taknemmelig overfor bidragsyderne og med stolthed
                            og respekt at vi i
                            dette forår vil kunne byde velkommen til en række velfunderede erfaringer og erkendelser
                            omkring protreptikkens funktion og ydeevne indenfor områder, hvor der bl.a. arbejdes med
                            “psykisk sårbare” og “udsatte unge” samt ikke mindst hele organiseringen og ledelsen heraf.
                        </p>


                        <div class="bg-platinum p-5 my-5">
                            {% assign week-cont = site.pip-contributors | where_exp:"item",
                            "item.week == true" %}
                            {% for cont in week-cont %}

                            <p class="fw-bold">{{ cont.dato }}</p>

                            <h2>{{ cont.title }}
                                {% if cont.show-v %}
                                <br>v. {% for person in cont.persons %}{% if forloop.last %} og {{ person.name }}{%
                                elsif
                                forloop.first %}{{ person.name }}{% else %}, {{
                                person.name }}{% endif %}{% endfor %}
                                {% else %}
                                <br>{{ cont.second-title }}
                                {% endif %}
                            </h2>

                            {% if cont.bio %}
                            <p>{{ cont.bio }}</p>

                            {% endif %}

                            {% if cont.bio-heading %}
                            <h4>{{ cont.bio-heading }} {% for person in cont.persons %}{% if forloop.last %} og {{
                                person.name }}{% elsif forloop.first %}{{ person.name }}{% else %}, {{
                                person.name }}{% endif %}{% endfor %}</h4>

                            {% endif %}
                            {% if cont.description %}
                            <p>{{ cont.description }}</p>


                            {% else %}
                            <p>{{ cont.excerpt }}</p>{% endif %}

                            {% if cont.link == true %}

                            <p><a href="{{ cont.url }}" class="d-block">Læs mere om {{ cont.title | truncatewords: 1, ''
                                    | remove: "," }}s bidrag
                                    <i class="fas fa-arrow-right"></i></a></p>

                            {% endif %}

                            {% for person in cont.persons %}


                            <img src="{{ person.image }}" width="150" alt="{{ person.image }}" class="float-start me-3 mb-3">


                            <div class="p-20 pt-0 no-padding-bot">
                                {% if cont.group == true %}
                                <h4>{{ person.name }}</h4>
                                {% endif %}
                                <p class="fw-bold mb-2">{{ person.title }}</p>
                                <p>{{ person.bio }}</p>
                            </div>

                            <br>


                            {% endfor %}


                            {% endfor %}
                            <div class="mb-4"></div>
                        </div>

                    </div>
                </div>



            </div>


        </div>


    </div>

    <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">

        <div class="container-fluid mb-5">

            {% assign ordered-conts = site.pip-contributors | sort: "order" %}
            {% for cont in ordered-conts %}

            {% capture date %}

            {{ cont.dato }}
            {% endcapture %}

            {% assign splitted_date = date | split: " " %}


            {% for le in splitted_date %}

            {% if forloop.first %}
            {% assign day = le | remove: "." %}
            {% endif %}
            {% if forloop.index == 2 %}
            {% assign month = le %}
            {% endif %}
            {% endfor %}

            <div class="row row-striped py-4">
                <div class="col-2 text-end">
                    <a href="{{ cont.url }}">
                    <h1 class="display-5"><span class="badge bg-beaver">{{ day }}</span></h1>
                    <h2>{{ month | truncate: 3, "" }}</h2>
                    </a>
                </div>
                <div class="col-10 d-flex align-items-center">
                    <div>
                        <a href="{{ cont.url }}">
                        {% if cont.group == true %}
                        <h3 class="pb-1">{{ cont.title }} ved</h3>

                        {% for person in cont.persons %}

                        {% if forloop.last %}
                        <h4>{{ person.name }}</h4>
                        <p class="mb-0">{{ person.title }}</p>
                        {% else %}
                        <h4>{{ person.name }}</h4>
                        <p>{{ person.title }}</p>
                        {% endif %}


                        {% endfor %}

                        {% else %}
                        <h3>{{ cont.title }}</h3>
                        {% for person in cont.persons %}
                        <p class="mb-0">{{ person.title }}</p>
                        {% endfor %}


                        {% endif %}
                    </a>
                    </div>
                </div>
            </div>



            {% endfor %}

        </div>
  
    </div>

</div>


<div class="container-fluid my-5">

    <div class="row gx-5">

        <div class="col-12 col-md-6">
            <h2>Hvad vil det sige at hele?</h2>
            <i>Når den filosofiske aktivitet kombineres med den psyko-terapeutiske praksis
            </i>
            <br><br>
            <p>Terapi-begrebet har historisk og begrebsligt set gennemgående altid henvist til en helbredende praksis,
                hvor det involverede menneske i helings-processen har fået det bedre, fået det godt, blevet rask,
                reddet, kort sagt er blevet hel igen. På tværs af ikke så få terapeutiske metoder tages der som regel
                afsæt i, af samme grund, at noget eller nogen er gået itu, gået i stykker, eller på anden vis er blevet
                betragtet og behandlet som (delvist) ødelagt; kort sagt, sjælens lidelse.</p>
            <p>Og det er klart at spørgsmålet om hvad det vil sige at blive hel igen, og om man skal og kan blive og
                være hel som menneske, er blevet stillet ofte, både af psykologer, terapeuter og filosoffer, m.fl., der
                har interesseret sig for menneskelige behandlingsformer. Det interessante i forbindelse med inddragelsen
                af den filosofiske aktivitet i helbredelses-interessen sigter på, hvad ‘kærligheden til indsigt’ (jvf.
                Philo-sophia i en betydning) kan og måske endda skal bibringe i en sådan healings-proces.</p>
            <p>Til at begynde med kan man driste sig til at anslå at både kærlighed og indsigt i sig selv kan være en
                genuin behandling af et traumatiseret menneske. Dernæst kan man, med andre ord, forestille sig, at
                selvsamme "venskab med erkendelsen” (jvf. Philo-sophia i en anden betydning), både er et godt sted at
                starte og en helende form for gennemgående fundamental metode i al terapeutisk praksis. Således synes
                selve erkendelsesinteressen at være den næring og drivkraft i helbredelses-processen, der kan drive
                forløsning, forsoning, accept og frelse frem, og i sidste ende muliggøre at en tilgivelse kan finde
                sted.</p>

        </div>
        <div class="col-12 col-md-6">
            <div class="h-100"
                style="background-image: url('/images/pip/pige.png'); background-position: center; background-size: cover;">
            </div>
        </div>
    </div>


</div>


<div
    style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/educations/psykologisk-filosofisk-psykoterapi.jpg'); background-attachment: fixed; background-size: cover;">
    <div class="container-fluid p-5">
        <div class="row">
            <div class="offset-md-2 col-md-8 col-12">

                <h2 class="text-white">Vil du høre mere om vores uddannelse til PSYKOLOGISK FILOSOFISK PSYKOTERAPEAUT?
                </h2>


                <a class="btn btn-outline-light white-border-button mt-3"
                    href="/academy/psykologisk-filosofisk-psykoterapi/">Læs mere</a>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid my-5">

    <div class="row gx-5">


        <div class="col-12 col-md-6 responsive-lg-img">
            <div class="h-100"
                style="background-image: url('/images/pip/graeker.jpg'); background-position: top; background-size: cover;">
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex align-items-center">
            <div>
                <h2>Protreptik</h2>


                <p>Vi har i CCC altid været optaget af Protreptikken, dvs. den filosofiske samtalekunst, der formår at
                    få os
                    mennesker til at komme i kontakt med det væsentlige i os selv og i det gældende fællesskab. Det
                    gælder
                    for alle i CCC, at vi er trænet godt op i den protreptiske dialogform, fordi vi mener, at den er
                    ligeså
                    vigtig som alle de psykologiske coaching-metoder, som vi behersker.</p>
                    <a class='animated-arrow' href='/protreptik/'>
                        <span class='the-arrow -left'>
                            <span class='shaft'></span>
                        </span>
                        <span class='main'>
                            <span class='text'>
                                <p class="pt-4">
                                    Læs mere protreptik
                                </p>
                            </span>
                            <span class='the-arrow -right'>
                                <span class='shaft'></span>
                            </span>
                        </span>
                    </a>
                
            </div>


        </div>
    </div>


</div>




<div class="bg-platinum">
    {% include sections/other-courses.html %}
</div>