---
title: Resonans
layout: default
---

<div class="pt-5"
    style="background: linear-gradient(rgba(19, 19, 19, 0.3), rgba(19, 19, 19, 0.3)), url('/images/inspiration/blog.png'); background-size: cover; background-position: center;">
    <div class="py-5">
        <div class="container-fluid text-center pt-5">

            <h1 class="text-white mb-1">{{ page.title }}</h1>

            <div class="row">
                <div class="col-12 offset-lg-3 col-lg-6">
                    <hr class="white short-hr mx-auto">
                    <p class="text-white mb-4">Skriv dig op til vores nyhedsbrevet og bliv opdateret med vores seneste
                        nyheder og artikler</p>
                    <form id="newsletter-form" action="https://formspree.io/f/xlezwlkg" method="POST">
                        <div class="row mt-3 gy-md-0 gy-3" id="inner-form">
                            <div class="col-md-4 col-12">
                                <input type="text" class="form-control" placeholder="Navn" aria-label="Navn" name="name"
                                    required>
                            </div>

                            <div class="col-md-4 col-12">
                                <input type="text" class="form-control" placeholder="E-mail" aria-label="Email"
                                    name="email" required>
                            </div>
                            <div class="col-md-4 col-12">
                                <button class="btn btn-beaver text-white w-100 my-0">Tilmeld</button>
                            </div>
                           
                            <div class="col-12 text-center pt-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input mt-1" type="checkbox" name="_optin" id="gridCheck"
                                        required>
                                    <label class="form-check-label text-white" for="gridCheck">
                                        Jeg giver hermed samtykke til at CCC må overøføre mine angivede oplysninger til
                                        mailchimp.
                                    </label>
                                </div>
                            </div>

                            <div class="col-12 pt-3">
                                <div class="g-recaptcha" data-sitekey="6Lfi__EcAAAAABOscNdrKzqeLNu2vbuTM_5VlANy"></div>
                                <!-- replace with your recaptcha SITE key not secret key -->
                                <br />
                            </div>
                        </div>
                        <p id="newsletter-mes" class="text-white mt-3 bg-xanadu p-2 d-none text-center"></p>
                    </form>
                </div>

            </div>

        </div>
    </div>

</div>

<div class="bg-platinum pb-5">
    <div class="container-fluid pt-5">
        <p class="fw-bold text-uppercase d-inline">Sortér efter kategori:</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input mt-2" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
            <label class="form-check-label" for="inlineRadio1">Alle</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input mt-2" type="radio" onchange="if(this.checked) document.location.href='/resonans/podcast/'" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Podcast</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input mt-2" type="radio" onchange="if(this.checked) document.location.href='/resonans/artikel'" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">Artikel</label>
          </div>
        <div class="row g-5">
            <ul id="tag-list" class="entry-meta inline-list">

            </ul>

            {% for post in site.tags.viden | sort: "date" | reverse %}
            <div class="col-lg-4 col-12 col-md-6">
                <a href="{{ post.url }}">
                    <div class="bg-white shadow p-3 mb-5 bg-body rounded">

                        <div class="row gx-3">
                            <div class="col-6">
                                <div class="w-100 h-200">
                                    <img src="{{ post.image }}" class="object-fit" alt="{{ post.title }}">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center align-content-center h-100">
                                    <div>

                                       {% assign postmonth = post.date | date: "%m" %}


                    {% if postmonth == "01" %}
                    {% assign monthName = "januar" %}
                    {% elsif postmonth == "02" %}
                    {% assign monthName = "februar" %}
                    {% elsif postmonth == "03" %}
                    {% assign monthName = "marts" %}
                    {% elsif postmonth == "04" %}
                    {% assign monthName = "april" %}
                    {% elsif postmonth == "05" %}
                    {% assign monthName = "maj" %}
                    {% elsif postmonth == "06" %}
                    {% assign monthName = "juni" %}
                    {% elsif postmonth == "07" %}
                    {% assign monthName = "juli" %}
                    {% elsif postmonth == "08" %}
                    {% assign monthName = "august" %}
                    {% elsif postmonth == "09" %}
                    {% assign monthName = "september" %}
                    {% elsif postmonth == "10" %}
                    {% assign monthName = "oktober" %}
                    {% elsif postmonth == "11" %}
                    {% assign monthName = "november" %}
                    {% elsif postmonth == "12" %}
                    {% assign monthName = "december" %}
                    {% endif %}

                                        <p class="small mb-0">{{ post.date | date: '%d' | remove: "0" }}. {{ monthName }} {{ post.date | date: '%Y' }}</p>
                                        <h4 class="text-uppercase lh-base text-break">{{ post.title }}</h4>
                                        {% for cat in post.categories %}
                                        {% if cat != "viden" %}
                                        <p class="small mb-0 text-uppercase">{{ cat }}</p>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>