---
layout: default
title: Tak for din tilmelding/ansøgning
---

<div class="container-fluid extra-narrow-container">
    <h2 id="edu-name">Tak for din tilmelding/ansøgning til kurset</h2>
<p>Du vil modtage en bekræftelse og vi vil hurtigst muligt behandle din ansøgning/tilmelding.</p>
<div class="w100 h-200"><img src="/images/educations/psykologisk-filosofisk-psykoterapi-2.jpg" class="object-fit" alt=""></div>


</div>
<div class="blue-bg white">
    {% include sections/newsletter.html %}
</div>

{% include sections/other-courses.html %}

