---
layout: page
title: Vision og Metodik
image: /images/fundament/fundament-banner.jpeg
signup: Fundament
show: false
---

<div class="expandable">
    <div class="row">
       

            {% assign orderedfuns = site.fundament | sort: "order" %}
        {% for fundament in orderedfuns %}

        <section class="col-12 expandable-pane">
            <div class="anchor" id="{{ fundament.title | remove:' ' }}"></div>
            <div class="row">

                <div class="col-lg-5 col-12 expandable-pane-image"
                    style="background-image: url('{{ fundament.image }}')"></div>
                <div class="col-lg-7 col-12 expandable-pane-text">
                    <h1>{{ fundament.title }}</h1>
                    <div class="content">
                        {{ fundament.content }}
                    </div>
                </div>
            </div>

        </section>
        {% endfor %}
    </div>
</div>

{% include contact.html %}
