---
layout: default
---

{% include contact-modal.html %}

<nav id="frontpage-nav">
    <div class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/"><img src="/images/logo/ccc-logo-dark.png" alt="CCC logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% assign sorted_nodes = site.pages | sort: "order" %}
                {% for node in sorted_nodes %}
                {% if node.show %}
                {% if page.url == node.url %}
                <li class="nav-item">
                    <a class="nav-link active-page"
                        href="{{node.url}}">{{ node.title | truncatewords: 2, "" | remove: "Tilmelding" | remove: "Search" }}</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link"
                        href="{{node.url}}">{{ node.title | truncatewords: 2, "" | remove: "Tilmelding" | remove: "Search" }}</a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
                <li class="nav-item">
                    <a class="contact-link nav-link" data-proofer-ignore href="#contact" data-toggle="modal"
                        data-target="#contact-modal"><i class="fas fa-envelope"></i></a>
                </li>
                <li id="search-button" class="nav-item nav-icon show">
                    <i class="fas fa-search"></i>
                </li>
                <li id="search" class="nav-item">
                    <form class="form" action="/search" method="get">
                        <label for="search-box"></label>
                        <input type="text" id="search-box" name="query">
                        <button class="green-search-button" type="submit">Søg</button>
                    </form>
                    <button class="search-cross"><i class="fas fa-times"></i></button>
                </li>
                <li class="nav-item nav-icon">
                    <a href="https://www.edu.copenhagencoaching.dk/login/index.php" target="_blank"><i
                            class="fas fa-user-graduate"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% for popup in site.popups%}
    
    <div class="form-popup" id="myForm">
      <div class="form-container">
        <h4 style="display: inline;">{{ popup.title }}</h4>
        <i class="fas fa-times" onclick="closeForm()" style="float: right"></i>
        
        <p>{{ popup.content }}</p>
    
        <div style="margin: auto">
            <a class="button btn" href="{{ popup.buttonlink }}" role="button">
                <p style="margin: 10px;">{{ popup.buttontext }}</p>
            </a>
        </div>
      </div>
    </div>
    
    <script>
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
    </script>
{% endfor %}

<script>
    $('.contact-link').on('click', function () {
        $('.navbar-toggler').click();
    });
</script>

<div id="fullpage">

    <!-- Why ? -->

    <div class="section frontpage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                <span>
                    <h1>Fordi erkendelse skaber værdi</h1>
                    <p>Copenhagen Coaching Center skaber betingelserne og rammen for din personlige og faglige udvikling – du vil opleve en styrket ledelseskapacitet, en klarere indsigt i dit værdigrundlag og et nærvær til dig selv og din omverden. Vi tilbyder dig et kompetenceløft, en ny metodisk praksis og et fagligt stærkt forum. </p>
                </span>
            </div>
        </div>
        <a href="/#how" data-proofer-ignore class="scroll-down"><i class="fas fa-chevron-down"></i></a>
    </div>

    <!-- How ? -->

    <div class="section frontpage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                <span>
                    <h1>Når værdier skaber hverdagen
                        <br>afspejles det i dagligdagen</h1>
                    <p>Vi vægter høj faglighed og sætter barren højt for vores produkter og leverancer, og giver samtidig plads til at arbejde med ideer indenfor fællesskabets rammer. I CCC er det vigtigt at værne om den andens værdighed - at se mennesket i mennesket med de forskelligheder der viser sig. Vi skaber med andre ord udvikling i kraft af den menneskelige værdi.</p>
                </span>
            </div>
        </div>
        <a href="/#what" data-proofer-ignore class="scroll-down"><i class="fas fa-chevron-down"></i></a>
    </div>

    <!-- What ? -->

    <div class="section frontpage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                <span>
                    <h1>Vi tilbyder et eksklusivt udvalg <br> af uddannelser, kurser og konsulentydelser</h1>
                    <p>CCC er et ledelsesfilosofisk epicenter med fire forretningsområder. Vi tilbyder individuel coaching, ledelsessupervision, lederuddannelser og konsulentopgaver. Vores fokus er dygtiggørelse af medarbejdere og ledere, som ønsker at udvikle deres dialogiske færdigheder, refleksive kompetencer og ledelsesmæssige kapacitet.
                </span>
            </div>
        </div>
    </div>
</div>