<div class="container-fluid pb-5 pt-3">


  <div class="row">
    <div class="col-lg-3 col-12">
      <h5 class="text-uppercase mb-4">Coaching</h5>
      <div class="d-flex flex-column">
        {% assign orderedcoaching = site.coachings | sort: "menu-order" %}
        {% for coaching in orderedcoaching %}
        <a class="navigation-link small mb-1" href="#">
          {{ coaching.title }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-9 col-12">
      <div class="row">
        <div class="col-lg-4 col-12">
          <p class="text-uppercase fw-bold mb-0">Privat coaching?</p>
          <p class="small mb-1">Har du brug for privat coaching?</p>
          <a class="navigation-link got-icon small" href="#">Læs mere her <i class="fas fa-arrow-right"></i></a>
        </div>
        <div class="col-lg-4 col-12">
          <p class="text-uppercase fw-bold mb-0">Team coaching?</p>
          <p class="small mb-1">Har du brug for nogen til at coache dit team?</p>
          <a class="navigation-link got-icon small" href="#">Læs mere her <i class="fas fa-arrow-right"></i></a>
        </div>
        <div class="col-lg-4 col-12">
          <p class="text-uppercase fw-bold mb-0">Ehvervsrettet testing</p>
          <p class="small mb-1">Vi tilbyder erhvervsrettet testning inkl. tilbagemeldings samtaler.</p>
          <a class="navigation-link got-icon small" href="#">Læs mere her <i class="fas fa-arrow-right"></i></a>
        </div>

        <div class="col-12 pt-4">
          <p class="text-uppercase fw-bold mb-0">Mød vores konsulenter</p>
          <div class="person-slider pt-3">

            {% for emp in site.employees %}
            {% if emp.consulent == true %}
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <img width="75" class="rounded-circle" src="{{ emp.small-portrait-image }}"
                  alt="{{ emp.title }}, {{ emp.description}}">
              </div>
              <div class="flex-grow-1 ms-3">
                <p class="mt-2 mb-1 small"><small><b>{{ emp.title }}</b></small></p>
                <p class="mb-0 small"><small>{{ emp.call }}</small></p>
                <p class="mb-0 small"><small>{{ emp.email }}</small></p>
              </div>



            </div>
            {% endif %}
            {% endfor %}
          </div>

        </div>

      </div>


    </div>



  </div>


</div>