<div class="container-fluid pb-5 pt-3">
  <div class="row gx-5">
    <div class="col-lg-3 col-12">
      <div class="bg-spanish-gray p-3 opacity-75 rounded">
        <h5 class="text-uppercase fw-bold mb-2 text-white">Coaching</h5>
        <div class="d-flex flex-column">
          {% assign orderedcoaching = site.coachings | sort: "menu-order" %}
          {% for coaching in orderedcoaching %}
          <a class="navigation-link text-white small mb-1" href="#">
            {{ coaching.title }}</a>
          {% endfor %}

        </div>
      </div>
    </div>
    <div class="col-lg-3 col-12">

      <div class="d-flex align-items-center h-100">
        <div class="flex-shrink-0">
          <i class="fas fa-user-shield fs-1 opacity-75"></i>
        </div>
        <div class="flex-grow-1 ms-4">

          <h5 class="text-uppercase fw-bold mb-2 text-coral-black">Privat</h5>
          <p class="mb-1"><small>Magna labore ipsum nostrud velit eiusmod ullamco laboris id sint exercitation
              fugiat
              Lorem consectetur.</small></p>
          <a class="btn btn-ash-gray text-white" href="#">Se mere</a>
        </div>
      </div>

    </div>

    <div class="col-lg-3 col-12">
      <div class="d-flex align-items-center h-100">
        <div class="flex-shrink-0">
          <i class="fas fa-briefcase fs-1 opacity-75"></i>
        </div>
        <div class="flex-grow-1 ms-4">

          <h5 class="text-uppercase fw-bold mb-2 text-coral-black">Offentlig</h5>
          <p class="mb-1"><small>Magna labore ipsum nostrud velit eiusmod ullamco laboris id sint exercitation
              fugiat
              Lorem consectetur.</small></p>
          <a class="btn btn-ash-gray text-white" href="#">Se mere</a>
        </div>
      </div>

    </div>

    <div class="col-lg-3 col-12">
      <div class="d-flex align-items-center h-100">

        <div>
          <div class="h-100p">
            <img src="/images/graphic/community-1.png" class="object-fit" alt="...">
          </div>
          <p class="text-uppercase fw-bold mb-2 mt-3">Lær os bedre at kende</p>
          <div class="d-flex flex-column">
            <a class="navigation-link small mb-1" href="#">
              Tilmeld nyhedsbrev</a>
            <a class="navigation-link small mb-1" href="#"><b>
                Vores dør er altid åben - book en samtale</b></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>