<div class="text-slate-gray bg-gainsboro">

<div class="container-fluid-menu pb-4 pt-3 d-none d-lg-block">
  <h5 class="text-uppercase mb-4">Vælg uddannelsestype</h5>
  <div class="row gy-5 g-3">
    <div class="col-12">

      <div class="row gy-3">
        {% assign ordered_themes = site.edu-categories | sort: "order" %}
        {% for cat in ordered_themes %}

        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
          <p class="text-uppercase fw-bold mb-0 text-black-coral">{{ cat.title }}</p>
          <div>
            {% for edu in site.educations %}
            {% for cate in edu.cat %}
            {% if cate == cat.name %}

            <a class="small link--metis d-block d-md-inline-block mb-2" href="{{ edu.url }}">
              {{ edu.title }}</a>

            {% endif %}
            {% endfor %}
            {% endfor %}
          </div>
        </div>

        {% endfor %}
      </div>

    </div>






  </div>
</div>

<div class="container-fluid-menu pb-1 pt-1 d-lg-none">

  <div class="border-start border-secondary border-opacity-50 ps-2"> {% for edu in site.educations %}
    <a class="small link--metis d-inline-block mb-2" href="{{ edu.url }}">
      {{ edu.title }}</a><br>
    {% endfor %}
  </div>

</div>

</div>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
  integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
  async></script>