<div class="container-fluid pb-4 pt-3">
  <h5 class="text-uppercase mb-4">Konsulentydelser</h5>
  <div class="row">
    <div class="col-lg-4 col-12">
      <div class="d-flex flex-column">
        {% assign orderedcats = site.coachings | sort: "order" %}
        {% for cat in orderedcats %}
        <a class="navigation-link got-icon small" href="{{ cat.url }}">{{ cat.title }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-4 col-12">
      <div class="d-flex flex-column">
        {% assign orderedcats = site.consultations | sort: "order" %}
        {% for cat in orderedcats %}
        <a class="navigation-link got-icon small" href="{{ cat.url }}">{{ cat.title }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-4 col-12">
      <div class="d-flex flex-column">
        <a data-proofer-ignore="" href="#contact" data-toggle="modal" class="small" data-target="#contact-modal">Skriv til
          os</a>
        <a class="navigation-link got-icon small" href="/about/">Om os</a>
        <a class="navigation-link got-icon small" href="#footer">Find os her</a>
      </div>
    </div>
  </div>

</div>