<div class="container-fluid pb-4 pt-3">



  <div class="row g-5">
    {% assign orderedcats = site.consultations | sort: "order" %}
    {% for cat in orderedcats %}
    <div class="col-lg-3 col-12">
      <p class="text-uppercase fw-bold mb-0 fs-6">{{ cat.title }}
      </p>
      <p class="mb-0"><small>{{ cat.description }}</small></p>
      <a class='animated-arrow' href='/about/'>
        <span class='the-arrow -left'>
            <span class='shaft'></span>
        </span>
        <span class='main'>
            <span class='text'>
                <p class="pt-4">
                    Læs mere her
                </p>
            </span>
            <span class='the-arrow -right'>
                <span class='shaft'></span>
            </span>
        </span>
    </a>
    </div>
    {% endfor %}

    <div class="col-12">
      <p class="text-uppercase fw-bold mb-0">Mød vores konsulenter</p>
      <div class="row">
        <div class="col-12 ps-5">
          <div class="person-slider-two pt-3">

            {% for emp in site.employees %}
            {% if emp.consulent == true %}
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <img width="70" class="rounded-circle" src="{{ emp.small-portrait-image }}"
                  alt="{{ emp.title }}, {{ emp.description}}">
                </div>
                <div class="flex-grow-1 ms-3">
              
                <p class="mt-0 mb-0 small"><small><b>{{ emp.title }}</b></small></p>
                <p class="mb-0 small fw-light"><small>{{ emp.description }}</small></p>
                <p class="mb-0 small"><small>{{ emp.call }}</small></p>
                <p class="mb-0 small"><small>{{ emp.email }}</small></p>
              </div>
    
    
    
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>


    </div>
  </div>

</div>