<div class="text-slate-gray bg-gainsboro">
  <div class="container-fluid-menu pb-4 pt-3">


    <div class="row gy-3 gx-md-5">


      <div class="col-lg-4 col-12">

        <p class="text-uppercase fw-bold mb-0">Find os her
        </p>
        <p class="mb-0">Blegdamsvej 104 A, 2. Sal</p>
        <p>2100 Kbh Ø</p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2248.5304432145635!2d12.571180315787245!3d55.697150980538474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465252fc41a2fdff%3A0x5cffffd334cabc42!2sBlegdamsvej%20104A%2C%202100%20K%C3%B8benhavn!5e0!3m2!1sda!2sdk!4v1656971723354!5m2!1sda!2sdk"
          width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div class="col-lg-4 col-12 d-lg-block d-none">
        <div class="row gy-4">
          <div class="col-12">
            <p class="text-uppercase fw-bold mb-0">I tvivl om uddannelsesretning?
            </p>
            <p class="small">Kontakt os og høre mere, eller ring eller skriv direkte til Andreas.</p>
            <div class="d-flex align-items-center">

              <div class="flex-grow-1 me-3 text-end">

                <p class="mt-0 mb-0"><b>Andreas Bering</b></p>
                <p class="mb-0 fw-light"><small>Direktør</small></p>
                <p class="mb-0"><small>+45 40 14 92 92</small></p>
                <p class="mb-0"><small>ab@copenhagencoaching.dk</small></p>
              </div>

              <div class="flex-shrink-0">
                <img width="80" class="rounded-circle" src="/images/about/employees/andreas-small-white.png" alt="Andreas Bering">
              </div>

            </div>
          </div>
          <div class="col-12">
            <p class="text-uppercase fw-bold mb-0">I tvivl om uddannelsesretning?
            </p>
            <p class="small">Kontakt os og høre mere, eller ring eller skriv direkte til Frederikke.</p>
            <div class="d-flex align-items-center">

              <div class="flex-grow-1 me-3 text-end">

                <p class="mt-0 mb-0"><b>Frederikke Winther</b></p>
                <p class="mb-0 fw-light"><small>Seniorkonsulent</small></p>
                <p class="mb-0"><small>+45 21 19 47 57</small></p>
                <p class="mb-0"><small>fw@copenhagencoaching.dk</small></p>
              </div>

              <div class="flex-shrink-0">
                <img width="80" class="rounded-circle" src="/images/about/employees/frederikke-small-white.png" alt="Frederikke Winther">
              </div>

            </div>
          </div>

        </div>

      </div>

      <div class="col-lg-4 col-12">
        <p class="text-uppercase fw-bold mb-2">Skriv til os</p>
        <form action="https://formspree.io/f/moqllqyp" method="POST">
          <span>


            <input class="form-control mb-2" type="text" name="name" placeholder="Navn" id="name">

            <input type="text" class="form-control mb-2" name="email" id="email" placeholder="Email">

          </span>

          <textarea style="height: 150px" class="form-control mb-2" name="besked" rows="3"
            placeholder="Besked"></textarea>




          <!-- your other form fields go here -->
          <button class="btn-spanish-gray text-white w-100" type="submit">Send besked</button>
        </form>
      </div>

    </div>


  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
  integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
  async></script>