<div class="container-fluid narrow-container no-up">
  <div class="grid-2 gap-90">
    <div class="card">
      <img src="/images/academy/ccc-community.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Bliv en del af vores community</h3>
        <p class="card-text m-b-20">Et fællesskab for vedvarende læring og udvikling af dit lederskab.
        </p>
      </div>
      <div class="card-footer"> <a href="/community/" class="btn">Læs mere</a></div>
    </div>
    

    <div class="grid-2">
      <div>
        <h3>
          Undervisning
        </h3>

        <div class="calendar-list">
          <ul>
            {% assign orderedposts_calendar = site.calendar | sort: "date" | reversed %}
            {% for post in orderedposts_calendar limit: 4 %}
            <li>
              <div class="calendar-list__date">
                <span>{{ post.date | date: "%b" }}</span><span>{{ post.date | date: "%d" }}</span>
              </div>
              <div class="calendar-list__desc">
                <span>{{ post.title }} {% if post.description %}- {{ post.description }}{% endif %}</span>
                <span>{% if post.time %}<i class="far fa-clock calendar-clock"></i>
                  {{ post.time }}{% endif %}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <a class="dropdown-item got-icon" href="/uddannelseskalender/"><i class="fas fa-chevron-right"></i> Se alle
          undervisnings datoer</a>
      </div>
      <div>
        <h3>
          Events
        </h3>
        <div class="calendar-list">
         
        </div>
        <a class="dropdown-item got-icon" href="/event-kalender/"><i class="fas fa-chevron-right"></i> Se
          alle events</a>
      </div>
    </div>
  </div>
</div>