<div class="container-fluid pt-4 pb-4">
  <div class="row g-5">
    <div class="col-lg-3 col-12">
      <a href="/community/">
        <div class="card border-0">
          <div class="h-100p">
            <img src="/images/graphic/community-1.png" class="object-fit" alt="CCC Community">
          </div>
          <div class="card-body px-0 py-2">
            <p class="text-uppercase fw-bold fs-6">Bliv en del af fællesskabet</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-12">
      <div class="card border-0">
        <div class="h-100p">
          <img src="/images/community/community.jpg" class="object-fit" alt="CCC Community">
        </div>
        <div class="card-body px-0 py-2">
          <p class="text-uppercase fw-bold fs-6">Bliv en del af fællesskabet</p>

        </div>

      </div>
    </div>
    <div class="col-lg-3 col-12">
      <p class="text-uppercase fw-bold fs-6">Undervisning</p>
      <div class="d-flex flex-column">
        {% assign sortedPages = site.calendar | sort:"date" | where_exp: "item", "item.cat contains 'edu'" %}
        {% for post in sortedPages limit:4 %}
        {% assign month = post.date | date: "%m" %}

        {% if month == "01" %}
        {% assign monthName = "Januar" %}
        {% assign bg-color = "platinum" %}
        {% assign white = false %}
        {% elsif month == "02" %}
        {% assign monthName = "Februar" %}
        {% assign bg-color = "black-coral" %}
        {% assign white = true %}
        {% elsif month == "03" %}
        {% assign monthName = "Marts" %}
        {% assign bg-color = "xanadu" %}
        {% assign white = true %}
        {% elsif month == "04" %}
        {% assign monthName = "April" %}
        {% assign bg-color = "beaver" %}
        {% assign white = true %}
        {% elsif month == "05" %}
        {% assign monthName = "Maj" %}
        {% assign bg-color = "cadet-gray" %}
        {% assign white = true %}
        {% elsif month == "06" %}
        {% assign monthName = "Juni" %}
        {% assign bg-color = "platinum" %}
        {% assign white = false %}
        {% elsif month == "07" %}
        {% assign monthName = "Juli" %}
        {% assign bg-color = "black-coral" %}
        {% assign white = true %}
        {% elsif month == "08" %}
        {% assign monthName = "August" %}
        {% assign bg-color = "xanadu" %}
        {% assign white = true %}
        {% elsif month == "09" %}
        {% assign monthName = "September" %}
        {% assign bg-color = "beaver" %}
        {% assign white = true %}
        {% elsif month == "10" %}
        {% assign monthName = "Oktober" %}
        {% assign bg-color = "cadet-gray" %}
        {% assign white = true %}
        {% elsif month == "11" %}
        {% assign monthName = "November" %}
        {% assign bg-color = "platinum" %}
        {% assign white = false %}
        {% elsif month == "12" %}
        {% assign monthName = "December" %}
        {% assign bg-color = "black-coral" %}
        {% assign white = true %}
        {% endif %}

        <p class="text-uppercase fw-bold mb-1">{{ post.date | date: "%d" }} {{ monthName }}</p>
        <p class="navigation-link small">{{ post.title }}</p>

        {% endfor %}
      </div>


    </div>
    <div class="col-lg-3 col-12">
      <p class="text-uppercase fw-bold fs-6">Events</p>
      <div class="d-flex flex-column">
        {% assign sortedPages = site.calendar | sort:"date" | where_exp: "item", "item.cat contains 'event'" %}
        {% for post in sortedPages limit:4 %}
        {% assign month = post.date | date: "%m" %}

        {% if month == "01" %}
        {% assign monthName = "Januar" %}
        {% assign bg-color = "platinum" %}
        {% assign white = false %}
        {% elsif month == "02" %}
        {% assign monthName = "Februar" %}
        {% assign bg-color = "black-coral" %}
        {% assign white = true %}
        {% elsif month == "03" %}
        {% assign monthName = "Marts" %}
        {% assign bg-color = "xanadu" %}
        {% assign white = true %}
        {% elsif month == "04" %}
        {% assign monthName = "April" %}
        {% assign bg-color = "beaver" %}
        {% assign white = true %}
        {% elsif month == "05" %}
        {% assign monthName = "Maj" %}
        {% assign bg-color = "cadet-gray" %}
        {% assign white = true %}
        {% elsif month == "06" %}
        {% assign monthName = "Juni" %}
        {% assign bg-color = "platinum" %}
        {% assign white = false %}
        {% elsif month == "07" %}
        {% assign monthName = "Juli" %}
        {% assign bg-color = "black-coral" %}
        {% assign white = true %}
        {% elsif month == "08" %}
        {% assign monthName = "August" %}
        {% assign bg-color = "xanadu" %}
        {% assign white = true %}
        {% elsif month == "09" %}
        {% assign monthName = "September" %}
        {% assign bg-color = "beaver" %}
        {% assign white = true %}
        {% elsif month == "10" %}
        {% assign monthName = "Oktober" %}
        {% assign bg-color = "cadet-gray" %}
        {% assign white = true %}
        {% elsif month == "11" %}
        {% assign monthName = "November" %}
        {% assign bg-color = "platinum" %}
        {% assign white = false %}
        {% elsif month == "12" %}
        {% assign monthName = "December" %}
        {% assign bg-color = "black-coral" %}
        {% assign white = true %}
        {% endif %}

        <p class="text-uppercase fw-bold mb-1">{{ post.date | date: "%d" }} {{ monthName }}</p>
        <p class="navigation-link small"><a href="{{ post.link }}">{{ post.title }}</a></p>

        {% endfor %}
      </div>


    </div>

  </div>
</div>