<div class="container-fluid pt-4 pb-4">
  <div class="row g-5">
    <div class="col-lg-2 col-12">
      <div class="d-flex flex-column">

        <a class="navigation-link small mb-1" href="#">EMCC akkreditering</a>
        <a class="navigation-link small mb-1" href="#">Metodik</a>
        <a class="navigation-link small mb-0" href="#">Vision</a>
        <hr class="w-50">
        <a class="navigation-link small mb-1" href="#">Persondatapolitik</a>
        <a class="navigation-link small mb-1" href="#">Cookiepolitik</a>
        <a class="navigation-link small mb-1" href="#">Sitemap</a>

      </div>
    </div>
    <div class="col-lg-10 col-12">
      <div class="row gy-3">
        <div class="col-12">
          <p class="text-uppercase fw-bold mb-0">CCC indefra</p>
          <div class="person-slider pt-3">

            {% for emp in site.employees %}
            
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <img width="70" class="rounded-circle" src="{{ emp.small-portrait-image }}"
                  alt="{{ emp.title }}, {{ emp.description}}">
                </div>
                <div class="flex-grow-1 ms-3">
              
                <p class="mt-0 mb-0 small"><small><b>{{ emp.title }}</b></small></p>
                <p class="mb-0 small fw-light"><small>{{ emp.description }}</small></p>
                <p class="mb-0 small"><small>{{ emp.call }}</small></p>
                <p class="mb-0 small"><small>{{ emp.email }}</small></p>
              </div>



            </div>
         
            {% endfor %}
          </div>
        </div>
        <div class="col-12 pt-5">
          <p class="text-uppercase fw-bold">CCC udefra</p>
          <div class="testimonials-slider">
            {% for testi in site.testimonials %}
            <div class="d-flex align-items-center pe-5">
              <div class="flex-grow-1 me-3">

                <figure>
                  <blockquote class="blockquote mb-4">
                      <p>
                          <i class="fas fa-quote-left fs-4 fa-lg opacity-50 me-2"></i>
                          <em><span>{{ testi.content }}</span></em>
                          <i class="fas fa-quote-right fs-4 fa-lg opacity-50 me-2"></i>

                      </p>
                  </blockquote>
                  <figcaption class="blockquote-footer text-end">
                    <b>{{ testi.title }}</b><br>
                    <small>{{ testi.description }}</small>
                </figcaption>
              </figure>
               
              </div>
              <div class="flex-shrink-0">

                    <img width="100" class="rounded-circle" src="{{ testi.image }}" alt="Om Copenhagen Coaching Center">
              </div>
  
  
  
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


