<div class="container-fluid narrow-container no-up">
    <div class="grid-2 grid-50-50">
      <div>
        <h5>CCC indefra</h5>
        <br>
        <div>

          <div class="slider-four position-relative">
            {% for emp in site.employees %}
    
            <div class="center">
              <img src="{{ emp.small-portrait-image }}" class="small-kvart-image ml-auto mr-auto center" alt="">
                <p class="mb-0 highlighted">{{ emp.title }}</p>
                <p class="mb-0 small">{{ emp.call }}</p>
                <p class="mb-0 small">{{ emp.email }}</p>
            </div>
    
            {% endfor %}
    
          </div>
        </div>

        <hr>

        <h5>CCC udefra</h5>
        <br>
        <div class="slider-five">
          {% for testi in site.testimonials %}
          <div class="one-slide">
            <div class="testimonial-quote group right">
              <img src="{{ testi.image }}">
              <div class="quote-container">
                <div>
                  <blockquote>
                    <p>{{ testi.content }}</p>
                  </blockquote>
                  <cite><span>{{ testi.title }}</span><br>
                    {{ testi.description }}
                  </cite>
                </div>
              </div>
            </div>

          </div>
          {% endfor %}

        </div>

      </div>

      <div class="border-left white grid-1 r-gap-20">


       
          {% for fund in site.fundament %}
         
          <div class="card no-border h-100 right-bottom"
          style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.2)), url('{{ fund.image }}'); background-position: center; background-size: cover;">
  
          <h4 class="capped card-title">Læs om vores {{ fund.title }}</h4>
          </div>
        
      
      {% endfor %}
        

      </div>

    </div>
  </div>