<div class="container-fluid pb-2">
<div class="d-flex justify-content-end">
  <a class="navigation-link got-icon small pe-3" href="#">
    CCC Community </a>
    <a class="navigation-link got-icon small" href="#">
      CCC Forlag </a>
</div>

</div>


<!-- <div class="container-fluid pb-4 pt-3">
  <div class="row">
    <div class="col-lg-3 col-12">
      <div class="d-flex flex-column">
        <p class="text-uppercase fw-bold mb-0">CCC Community</p>
        <a class="navigation-link got-icon small" href="#">
          Læs mere </a>
        <a class="navigation-link got-icon small" href="#">
          Meld dig ind </a>
        <a class="navigation-link got-icon small" href="#">
          Årskalender </a>
      </div>
    </div>

    <div class="col-lg-3 col-12">
      <div class="d-flex flex-column">
        <p class="text-uppercase fw-bold mb-0">CCC Forlag</p>
        <a class="navigation-link got-icon small" href="#">
          Læs mere </a>
      </div>
    </div>

    <div class="col-lg-3 col-12">
      <div class="d-flex flex-column">
        <p class="text-uppercase fw-bold mb-0">CCC Podcast</p>
        <a class="navigation-link got-icon small" href="#">
          Læs mere </a>
      </div>
    </div>

    <div class="col-lg-3 col-12">
      <div class="d-flex flex-column">
        <p class="text-uppercase fw-bold mb-0">CCC Blog</p>
        <a class="navigation-link got-icon small" href="#">
          Læs mere </a>
      </div>
    </div>
  </div>

</div> -->