<div class="container-fluid narrow-container no-up">
  <div class="grid-5">
    <div>
      <h4>CCC Community</h4>
      <a class="navigation-link got-icon" href="#">
        Læs mere </a>
        <a class="navigation-link got-icon" href="#">
          Meld dig ind </a>
          <a class="navigation-link got-icon" href="#">
            Årskalender </a>
    </div>
    <div>
      <h4>CCC Podkast</h4>
      <a class="navigation-link got-icon" href="#">
        Læs mere </a>

    </div>
    <div>
      <h4>CCC Live</h4>
      <a class="navigation-link got-icon" href="#">
        Læs mere </a>

    </div>
    <div>
      <h4>CCC Blog</h4>
      <a class="navigation-link got-icon" href="#">
        Læs mere </a>

    </div>
    <div>
      <h4>CCC Forlag</h4>
      <a class="navigation-link got-icon" href="#">
        Læs mere </a>

    </div>
  </div>
  </div>