<div class="bg-platinum">
    <div class="container-fluid py-5">
        <div class="row gx-5">
            <div class="col-12 col-lg-6">
                <h2 class="mb-4">Skal vi tales ved?</h2>
                <p>Har du spørgsmål eller brug for hjælp til at vælge den rette konsulentydelse? Indtast navn og telefonnummer
                    og en
                    af vores konsulenter ringer dig op inden for 24 timer</p>
                <form id="tlf-coffee-form" action="https://formspree.io/f/xyyoddyz" method="POST">
                    <div class="row mt-3 gy-md-0 gy-3" id="coffee">
                        <div class="col-md-4 col-12">
                            <input type="text" class="form-control" placeholder="Navn" aria-label="Navn" name="navn" required>
                        </div>
                        <input type="hidden" name="henvendelse" value="Jeg vil gerne ringes op">
                        <div class="col-md-4 col-12">
                            <input type="text" class="form-control" placeholder="Tlf. nr." aria-label="telefonnummer"
                                name="tlf. nr." required>
                        </div>
                        <div class="col-md-4 col-12">
                            <button class="btn btn-opal w-100 my-0">Ring mig op</button>
                        </div>
        
                    </div>
                    <p id="my-form-coffee-status" class="text-white mt-3 bg-xanadu p-2 d-none"></p>
                </form>
            </div>
            <div class="col-12 col-lg-6">
                <div class="h-100 w-100" style="background-image: url('/images/graphic/call.png'); background-position: center; background-size: cover;">

                </div>
            </div>
        </div>

    </div>

</div>

<script>
    var form = document.getElementById("tlf-coffee-form");
    var inner_form = document.getElementById("coffee");
  
    async function handleSubmit(event) {
      event.preventDefault();
      var status = document.getElementById("my-form-coffee-status");
      var data = new FormData(event.target);
      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
          'Accept': 'application/json'
        }
      }).then(response => {
        if (response.ok) {
          status.innerHTML = "Tak for din henvendelse, du vil høre fra os snarrest.";
          inner_form.className = "d-none"
          status.classList.remove("d-none")
          form.reset()
        } else {
          response.json().then(data => {
            if (Object.hasOwn(data, 'errors')) {
              status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
            } else {
              status.innerHTML = "Oops! There was a problem submitting your form"
            }
          })
        }
      }).catch(error => {
        status.innerHTML = "Oops! There was a problem submitting your form"
      });
    }
    form.addEventListener("submit", handleSubmit)
  </script>