<div class="container-fluid my-5">
    <h2 class="mb-5">Leder du efter et kursus?</h2>
    <div class="row gx-5">
        {% for edu in site.educations limit: 4 %}
        <div class="col-12 col-md-6 col-xl-3">


            <a href="{{ edu.url }}">
                <div class="card border-0">
                    <div class="outer-img-top">
                        <img src="{{ edu.image }}" alt="...">
                    </div>
                    <div class="card-body px-0 py-2">
                        <h4 class="text-uppercase">{{ edu.title }}</h4>
                        <p>{{ edu.description }}</p>
                    </div>

                </div>

            </a>
        </div>
        {% endfor %}
    </div>

</div>