<div class="container-fluid pt-5 pb-5">
  <div class="row gx-5 mb-5 pb-5">
    <div class="col-12 col-md-6">
      <h2>Foredrag med Rasmus Kragh</h2>
      <p><b>1. MARTS | 17:00 - 19:00</b></p>
      <p><b>279,- (Ekskl. moms) | Gratis for community medlemmer</b></p>
      
      <p>CCC inviterer til en aften om at turde mærke efter, om at vende sårbarhed til styrke, nederlag til indsigt, motivation til meningsfuldhed, og om til hver en tid at være ærlig overfor sig selv, at insistere på at retning i livet er vigtigere end hastighed, og om troen på, at vi præsterer bedst når vi er hele mennesker, som er i kontakt med vores følelser og handler i overensstemmelse med vores værdier.</p>

        <a href="/inspiration/foredrag-2/" class="btn-black-coral btn text-white align-center text-uppercase fw-700">Læs mere her</a>
    </div>
    <div class="col-12 col-md-6">
      <div class="h-100"
        style="background-image: url('/images/events/rasmus-kragh.jpeg'); background-position: center; background-size: cover;">
      </div>
    </div>

  </div>

  <div class="row gx-5 mb-5">
    <div class="col-12 col-md-6">
      <div class="h-100"
        style="background-image: url('/images/graphic/supervisions-aftener.jpg'); background-position: center; background-size: cover;">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <h2>ONLINE Træningsaftener – KUN for CCC Community medlemmer</h2>
      <p>Din mulighed for at få trænet og styrket din praksis med ligestillede, der enten har afsluttet en uddannelse hos CCC eller som netop er ved det.

        En mulighed for at sikre større forankring og effekt af dine erhvervede kompetencer.</p>

        <a href="/inspiration/4-aarlige-supervisions-aftener/" class="btn-black-coral btn text-white align-center text-uppercase fw-700">Læs mere her</a>
    </div>
  </div>


  

<div class="text-center">
 <a href="/events/" class="align-center text-uppercase fw-bolder underlined">Se alle events</a>
</div>
</div>


