<div class="container-fluid pt-5 pb-5">


  <div class="row gx-5 mb-5">
    <div class="col-12 col-md-6">
      <div class="h-100"
        style="background-image: url('/images/graphic/supervisions-aftener.jpg'); background-position: center; background-size: cover;">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <h2>ONLINE Træningsaftener – KUN for CCC Community medlemmer</h2>
      <p>Din mulighed for at få trænet og styrket din praksis med ligestillede, der enten har afsluttet en uddannelse hos CCC eller som netop er ved det.

        En mulighed for at sikre større forankring og effekt af dine erhvervede kompetencer.</p>

        <a href="/inspiration/4-aarlige-supervisions-aftener/" class="btn-black-coral btn text-white align-center text-uppercase fw-700">Læs mere her</a>
    </div>
  </div>


  

<div class="text-center">
 <a href="/events/" class="align-center text-uppercase fw-bolder underlined">Se alle events</a>
</div>
</div>


