
<div class="bg-dark py-5">
    <div class="container-fluid py-5">
        <div class="row gy-4">
            <div class="col-12 col-lg-6">
                <h1 class="text-white">Brænder du inde med et spørgsmål?</h1>
                <p class="text-white">Besøg vores adresse på Østerbro. Vi er altid klar til at svare på henvendelser, så ring, skriv gerne og aftal et møde med os eller kom forbi!</p>
                <p class="text-white mb-1"><a href="tel:40149292" data-proofer-ignore>+45 40 14 92 92</a></p>
                <p class="text-white mb-1"><a href="mailto:info@copenhagencoaching.dk" data-proofer-ignore>info@copenhagencoaching.dk</a></p>
                <p class="text-white mb-1">Blegdamsvej 104 A, 2. Sal 2100 Kbh Ø</p>
                <p class="text-white">CVR: 28132891</p>
                <a class="btn btn-outline-light white-border-button mt-3" href="#contact" data-toggle="modal" data-target="#contact-modal" data-proofer-ignore><b>Kontakt os ⟶</b></a>
            </div>
            <div class="col-12 col-lg-6">
                <div class="embed-responsive embed-responsive-16by9 text-end">
                <iframe class="iframe" class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2248.53044321456!2d12.571180315826155!3d55.69715098053854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465252fc41a2fdff%3A0x5cffffd334cabc42!2sBlegdamsvej%20104A%2C%202100%20K%C3%B8benhavn!5e0!3m2!1sen!2sdk!4v1577555981422!5m2!1sen!2sdk"></iframe>
                </div>
            </div>
        </div>
       
     
    </div>
</div>
