<div class="bg-black-coral mt-2">
    <div class="container-fluid pt-5">
        <div class="row gx-5 pt-3">
            {% for post in site.categories.blog limit: 3 %}
            <div class="col-4">
                <a href="{{ post.url }}">
                    <div class="bg-white shadow p-3 mb-5 bg-body rounded">

                        <div class="row gx-3">
                            <div class="col-6">
                                <div class="w-100 h-200">
                                    <img src="{{ post.image }}" class="object-fit" alt="Inspirerende blogposts fra Copenhagen Coaching Center">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center align-content-center h-100">
                                    <div>
                                        <p class="small mb-0">{{ post.date | date: '%d-%m-%Y' }}</p>
                                        <h5 class="text-uppercase lh-base">{{ post.title }}</h5>
                                        <p class="small mb-0">{{ post.category }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>