<div class="bg-black-coral">
    <div class="container-fluid py-5">
        <div class="small-container">


            <h2 class="text-white mb-4">Andre konsulentydelser</h2>

            <div class="row gx-5 gy-5 gy-lg-0">
                {% assign services = site.consultations | where_exp:"item", "item.title != include.name" %}


                {% for event in services limit: 2 %}

                <div class="col-12 col-lg-6">

                   
                      
                        
                   


                    <div class="h-200 w-100 mt-4 mb-3">
                        <img src="{{ event.image }}" class="object-fit" alt="{{ event.title }}">
                    </div>
                    <h5 class="card-title text-white mb-2">{{ event.title }}</h5>
                    <div class="mh-100px">
                        <p class="text-white">{{ event.description }}</p>
                    </div>

                    <div class="w-100 text-center">
                        <a class="btn btn-light-brown w-310 text-white mt-2 text-uppercase fs-6 mt-2 rounded-0"
                            href="{{ event.url }}"><b>Læs mere</b></a>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>

</div>