<div class="bg-deep-taupe">

    

    <div class="container-fluid text-center py-5">
        <div class="my-5 py-5">

       
        <h4 class="text-white text-center">Her kan du søge om optagelse på CCC’s 4 årige uddannelse til Psykologisk Filosofisk
            Psykoterapeut.</h4>
            <a class="btn-copper btn" href="/tilmelding/?n=Psykologisk%20filosofisk%20psykoterapi" >START DIN TILMELDING HER</a>
       

            </div>
       
    </div>

        
            
       

       



    



</div>