
<div
    style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/graphic/PSBOL.jpg'); background-attachment: fixed; background-size: cover;">
    <div class="py-5">
      <div class="container-fluid py-5">
          <div class="w-75 mx-auto">
            <h4 class="text-white mb-3">Ny antologi på vej</h4>
            <h2 class="text-white">Protreptik som behandlingsform og ledelsesdisciplin</h2>
            <h5 class="text-white text-uppercase opacity-75">Udkommer forår 2022</h5>
            <a class="btn btn-outline-light white-border-button mt-3" href="/protrptik-som-behandlingsform-og-ledelsesdisciplin/">Læs mere</a>
          </div>
       
      </div>
    </div>
   
</div>