<div class="container-fluid my-5">
    <h1 class="text-center mb-3">CCC Vision</h1>
    
        <div class="small-container">

            <div class="row gx-5">
                <div class="col-md-6 col-12">
                    <p class="lh-base">CCCs vision er at løfte niveauet for coaching og ledelse i
                        erhvervslivet. Det gør vi dels gennem vores
                        uddannelser og kurser, hvor vi altid tilstræber at være foran de trends, der viser sig i
                        markedet.</p>
                    <p class="lh-base">

                        Dels gennem vores coaching, sparring og rådgivning, som altid har til formål at hjælpe det
                        enkelte menneske
                        til
                        at lykkes med det, der er væsentligt for vedkommende selv og for de vigtige fællesskaber,
                        vedkommende indgår
                        i.</p>
                </div>
                <div class="col-md-6 col-12">
                    <p class="lh-base">
                        Værdierne frihed og værdighed er helt grundlæggende for vores daglige arbejde og den røde tråd i
                        understøttelse af udvikling hos vores studerende, kunder og kursister.
                    </p>
                    <p class="lh-base">
                        Vi mener, at man kommer længst ved at
                        værne om den andens værdighed og se mennesket i mennesket med de forskelligheder der viser sig.
                    </p>
                </div>
            </div>
        </div>
    
</div>