<div class="modal fade" id="pfp-pdf-modal" tabindex="-1" aria-labelledby="pfp-pdf-modal-heading" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h4 class="modal-title" id="pfp-pdf-modal-heading">Ønsker du mere information om uddannelsen? Registrér dig her og hent vore brochure.
</h4>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>

      </div>
      <div class="modal-body">

        <div class="row">
          <div class="offset-md-1 col-md-10 col-12">

            <form id="pdf-pfp-form" action="https://formspree.io/f/mnqoyjlq" method="POST">


              <input type="hidden" name="pdf" value="pfp">
              <input class="form-control mb-3" type="text" name="name" placeholder="Navn" id="pdf-pfp-name">

              <input type="text" id="pdf-pfp-email" class="form-control mb-3" name="email" placeholder="Email">


              <div class="form-check mb-3">
                <input class="form-check-input" name="_optin" type="checkbox" id="pdf-pfp-check">
                <label class="form-check-label" for="pdf-pfp-check">
                  Jeg vil gerne modtage CCC's nyhedsbrev
                </label>
              </div>


              <!-- your other form fields go here -->
              <button class="btn-beaver text-white btn w-100" id="pdf-pfp-btn" type="submit">Registrér</button>
            </form>

            <div id="my-form-status-pfp">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PLU -->

<div class="modal fade" id="plu-pdf-modal" tabindex="-1" aria-labelledby="plu-pdf-modal-heading" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h4 class="modal-title" id="plu-pdf-modal-heading">Ønsker du mere information om uddannelsen? Registrér dig her og hent vore brochure.
</h4>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>

      </div>
      <div class="modal-body">

        <div class="row">
          <div class="offset-md-1 col-md-10 col-12">

            <form id="pdf-plu-form" action="https://formspree.io/f/mnqoyjlq" method="POST">


              <input type="hidden" name="pdf" value="plu">
              <input class="form-control mb-3" type="text" name="name" placeholder="Navn" id="pdf-plu-name">

              <input type="text" id="pdf-plu-email" class="form-control mb-3" name="email" placeholder="Email">


              <div class="form-check mb-3">
                <input class="form-check-input" name="_optin" type="checkbox" id="pdf-plu-check">
                <label class="form-check-label" for="pdf-plu-check">
                  Jeg vil gerne modtage CCC's nyhedsbrev
                </label>
              </div>


              <!-- your other form fields go here -->
              <button class="btn-cadet-gray btn w-100" id="pdf-pfp-btn" type="submit">Registrér</button>
            </form>

            <div id="my-form-status-plu">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  

  var form = document.getElementById("pdf-pfp-form");
    
    async function handleSubmit(event) {

      event.preventDefault();
      var status = document.getElementById("my-form-status-pfp");
      var data = new FormData(event.target);
      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
            'Accept': 'application/json'
        }
      }).then(response => {
        status.className = "py-3 text-center"
        status.innerHTML = "<a href='#' download='/pdfs/Psykologisk-filosofisk-psykoterapi-infofolder.pdf' class='btn btn-copper text-white'>Hent brochure</a>";
        form.reset()
      }).catch(error => {
        status.innerHTML = "Ups! Der opstod et problem."
      });

    }
    form.addEventListener("submit", handleSubmit)


    var form = document.getElementById("pdf-plu-form");
    
    async function handleSubmit(event) {

      event.preventDefault();
      var status = document.getElementById("my-form-status-plu");
      var data = new FormData(event.target);
      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
            'Accept': 'application/json'
        }
      }).then(response => {
        status.className = "py-3 text-center"
        status.innerHTML = "<a href='#' download='/pdfs/PLU2020forår.pdf' class='btn btn-copper text-white'>Hent brochure</a>";
        form.reset()
      }).catch(error => {
        status.innerHTML = "Ups! Der opstod et problem."
      });

    }
    form.addEventListener("submit", handleSubmit)

</script>