<div class="modal fade" id="pfp-c-modal" tabindex="-1" aria-labelledby="pfp-contact-modal-heading" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h4 class="modal-title" id="pfp-contact-modal-heading">Har du spørgsmål til uddannelsen?</h4>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>

      </div>
      <div class="modal-body">
        <p> <b>Vi sidder klar til at besvare dine spørgsmål.</b> <br>
          Udfyld formularen og så kontakter vi dig hurtigst muligt. Vi glæder os til at høre fra dig!</p>

        <div class="row">
          <div class="offset-md-1 col-md-10 col-12">
            <form action="https://formspree.io/f/moqllqyp" method="POST">
              <span>


                <input class="form-control mb-3" type="text" name="name" placeholder="Navn" id="name">

                <input type="text" class="form-control mb-3" name="email" id="email" placeholder="Email">
                <input type="hidden" name="spørgsmål" value="Spørgsmål omkring PFP">
              </span>

              <textarea class="form-control mb-3" name="besked" rows="3" placeholder="Besked"></textarea>

              <div class="form-check mb-3">
                <input class="form-check-input" name="_optin" type="checkbox" id="pfp-optin">
                <label class="form-check-label" for="pfp-optin">
                  Jeg vil gerne modtage CCC's nyhedsbrev
                </label>
              </div>


              <!-- your other form fields go here -->
              <button class="btn-copper text-white w-100" type="submit">Send besked</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- BFC -->

<div class="modal fade" id="bfc-c-modal" tabindex="-1" aria-labelledby="bfc-contact-modal-heading" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h4 class="modal-title" id="bfc-contact-modal-heading">Har du spørgsmål til uddannelsen?</h4>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>

      </div>
      <div class="modal-body">
        <p> <b>Vi sidder klar til at besvare dine spørgsmål.</b> <br>
          Udfyld formularen og så kontakter vi dig hurtigst muligt. Vi glæder os til at høre fra dig!</p>

        <div class="row">
          <div class="offset-md-1 col-md-10 col-12">
            <form action="https://formspree.io/f/moqllqyp" method="POST">
              <span>


                <input class="form-control mb-3" type="text" name="name" placeholder="Navn" id="name">

                <input type="text" class="form-control mb-3" name="email" id="email" placeholder="Email">
                <input type="hidden" name="spørgsmål" value="Spørgsmål omkring Big Five">
              </span>

              <textarea class="form-control mb-3" name="besked" rows="3" placeholder="Besked"></textarea>

              <div class="form-check mb-3">
                <input class="form-check-input" name="_optin" type="checkbox" id="BFC-optin">
                <label class="form-check-label" for="BFC-optin">
                  Jeg vil gerne modtage CCC's nyhedsbrev
                </label>
              </div>


              <!-- your other form fields go here -->
              <button class="btn-spanish-gray text-white w-100" type="submit">Send besked</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- PLU -->

<div class="modal fade" id="plu-c-modal" tabindex="-1" aria-labelledby="plu-contact-modal-heading" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h4 class="modal-title" id="plu-contact-modal-heading">Har du spørgsmål til uddannelsen?</h4>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>

      </div>
      <div class="modal-body">
        <p> <b>Vi sidder klar til at besvare dine spørgsmål.</b> <br>
          Udfyld formularen og så kontakter vi dig hurtigst muligt. Vi glæder os til at høre fra dig!</p>

        <div class="row">
          <div class="offset-md-1 col-md-10 col-12">
            <form action="https://formspree.io/f/moqllqyp" method="POST">
              <span>


                <input class="form-control mb-3" type="text" name="name" placeholder="Navn" id="name">

                <input type="text" class="form-control mb-3" name="email" id="email" placeholder="Email">
                <input type="hidden" name="spørgsmål" value="Spørgsmål omkring proceslederuddannelsen">
              </span>

              <textarea class="form-control mb-3" name="besked" rows="3" placeholder="Besked"></textarea>

              <div class="form-check mb-3">
                <input class="form-check-input" name="_optin" type="checkbox" id="plu-optin">
                <label class="form-check-label" for="plu-optin">
                  Jeg vil gerne modtage CCC's nyhedsbrev
                </label>
              </div>


              <!-- your other form fields go here -->
              <button class="btn-cadet-gray w-100" type="submit">Send besked</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- TUP -->

<div class="modal fade" id="tup-c-modal" tabindex="-1" aria-labelledby="tup-contact-modal-heading" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h4 class="modal-title" id="tup-contact-modal-heading">Er du interesseret i at modtage mere information om vores unikke Talentudviklings-forløb?</h4>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>

      </div>
      <div class="modal-body">
        <p> <b>Vi sidder klar til at besvare dine spørgsmål.</b> <br>
          Udfyld formularen og så kontakter vi dig hurtigst muligt. Vi glæder os til at høre fra dig!</p>

        <div class="row">
          <div class="offset-md-1 col-md-10 col-12">
            <form action="https://formspree.io/f/moqllqyp" method="POST">
              <span>


                <input class="form-control mb-3" type="text" name="name" placeholder="Navn" id="name" required>

                <input type="text" class="form-control mb-3" name="email" id="email" placeholder="Email" required>
                <input type="text" class="form-control mb-3" name="tlf" id="tlf" placeholder="Tlf.">
                <input type="hidden" name="spørgsmål" value="Spørgsmål omkring talentudviklings program">
              </span>

              <textarea class="form-control mb-3" name="besked" rows="3" placeholder="Besked"></textarea>

              <div class="form-check mb-3">
                <input class="form-check-input" name="_optin" type="checkbox" id="plu-optin">
                <label class="form-check-label" for="plu-optin">
                  Jeg vil gerne modtage CCC's nyhedsbrev
                </label>
              </div>


              <!-- your other form fields go here -->
              <button class="btn-cadet-gray w-100" type="submit">Send besked</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>