<div class="bg-beaver">
    <div class="container-fluid extra-narrow-container pb-75 pt-75 white align-center">
        <p class="xlarge">Modtag et eksklusivt uddrag af <i>Det protreptiske paradoks.</i> Af Cecilia Maarlev, Freja Holm Pedersen & Michell Mailind fra vores kommende antologi <b>Protreptik som
                behandlingsform og ledelsesdisciplin. Skriv dig op til vores nyhedsbrev nedenfor</b></p>
        <p><b>Antologien udkommer september 2021</b></p>
        <br>
        <a href="/protrptik-som-behandlingsform-og-ledelsesdisciplin/tilmeld-nyhedsbrev-og-modtag-kapitel/"
            class="border-button h-auto">Tilmeld</a>
    </div>
</div>