<div class="modal fade" id="community-modal" tabindex="-1" role="dialog" aria-labelledby="community-modal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h1 class="modal-title" id="contact-modal">Tilmeld dig CCC Community</h1>
          <p><b>BLIV MEDLEM ALLEREDE I DAG</b> og få adgang til en lang række faglige og kontante medlemsfordele med det
            samme – vi glæder os til at byde dig velkommen!</p>
        </div>
        <button type="button" class="close close-modal-button" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>

      </div>
      <div class="modal-body">
        
       <!-- <form action="https://formspree.io/f/xpzokkyl" method="POST" class="white-form" id="payment-form"> -->
        
        <form action="https://formspree.io/f/xpzokkyl" method="POST" class="white-form" >

          <input class="input-form" id="f-name" type="text" placeholder="Fornavn*" name="_fname" required>
          <input class="input-form" id="l-name" type="text" placeholder="Efternavn*" name="_lname" required>
          <input class="input-form" id="input-email" type="email" placeholder="Email*" name="email" required>

          <input class="input-form" type="text" placeholder="Tlf." name="tlf">
          <input class="input-form" type="text" placeholder="Virksomhed" name="virksomhed">
          <textarea class="input-area-form" name="kommentarer" type="textarea" cols="40" rows="10"
            placeholder="Evt. kommentarer"></textarea>
<!-- <div id="card-element"></div>
          <div id="card-errors" role="alert"></div>  -->

          <label>
            <b>Accept af vores privatlivspolitik*</b><br>
            <input class="checkbox" type="checkbox" name="_optin" required /> <span class="inline">Jeg accepterer, at
              mine informationer gemmes og lagres i CCC’s interne GDPR register, og at jeg fremover modtager information
              på mail omkring CCC Community og andre relevante nyheder.</span>
          </label>
          <br><br>
          <button class="green-button" type="submit">Tilmeld</button>
        </form>
      </div>
    </div>
  </div>
</div>