<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="contact-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contact-modal">Kontakt Copenhagen Coaching Center</h5>
        <button type="button" class="close close-modal-button" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
        action="https://formspree.io/moqllqyp"
        method="POST"
      >
      <span>
      
      
          <input type="text" name="navn" placeholder="Navn">
          <input type="text" name="email" placeholder="Email">
      </span>
     <span>
      <select class="input-form udd" name="spørgsmål">
        <option value="emne">Vælg emne</option>
       
        <option value="admin@copenhagencoaching.dk Jeg-har-spørgsmål-til-admin/bogholderi">Jeg har spørgsmål til admin/bogholderi</option>
        <option value="ab@copenhagencoaching.dk Jeg-har-spørgsmål-til-valg-af-uddannelse">Jeg har spørgsmål til valg af uddannelse</option>
        <option value="fw@copenhagencoaching.dk Jeg-har-spørgsmål-til-min-nuværende-uddannelse">Jeg har spørgsmål til min nuværende uddannelse</option>
        <option value="ab@copenhagencoaching.dk Vi-er-interesserede-i-skræddersyet-kursus-til-vores-virksomhed">Vi er interesserede i skræddersyet kursus til vores virksomhed</option>
        <option value="community@copenhagencoaching.dk Jeg-er/eller-vil-gerne-være-medlem-af-Community">Jeg er/eller vil gerne være medlem af Community</option>
        <option value="kontakt@copenhagencoaching.dk Jeg-har-andre-spørgsmål">Jeg har andre spørgsmål</option>
        
    </select>
     </span>
      
          <textarea name="besked" cols="30" rows="10" placeholder="Besked"></textarea>
      
      
        <!-- your other form fields go here -->
        <button class="green-button" type="submit">Send besked</button>
      </form>
      </div>
    </div>
  </div>
</div>
