<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="contact-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contact-modal">Kontakt Copenhagen Coaching Center</h5>
        <button type="button" class="close close-modal-button" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
        action="https://formspree.io/moqllqyp"
        method="POST" class="contact-form"
      >
      <span>
      
         
          <input type="text" name="navn" placeholder="Navn">
          <input type="text" name="email" placeholder="Email">
      </span>
      
          <textarea name="besked" cols="30" rows="10" placeholder="Besked"></textarea>
      
      
        <!-- your other form fields go here -->
        <button class="green-button" type="submit">Send besked</button>
      </form>
      </div>
    </div>
  </div>
</div>
