<div class="modal fade" id="edu-modal" tabindex="-1" aria-labelledby="edu-modal-heading" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h4 class="modal-title" id="edu-modal-heading">Vælg hold</h4>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>

      </div>
      <div class="modal-body">
        <a href="https://copenhagencoachingcenter.thinkific.com/enrollments" target="_blank"
          class="btn dark-border-button w-100 mb-3">Uddannelsesstart efter januar 2021</a>

        <a href="https://edu.copenhagencoaching.dk/login/index.php" target="_blank"
          class="btn dark-border-button w-100">Uddannelsesstart før januar 2021</a>
      </div>

    </div>
  </div>
</div>