<footer>
    <div class="row">
        <div class="footer-row col-md-4 col-xs-12">
            <p>Copenhagen Coaching</p>
            <p class="footer-text">Copenhagen Coaching Center blev dannet i 2004 og er et partnerejet selskab, der
                udbyder åbne uddannelser.</p>
            <span>
                <a href="https://www.facebook.com/copenhagencoachingdk-169785200063933/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/company/copenhagen-coaching-center" target="_blank" data-proofer-ignore><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.instagram.com/explore/tags/copenhagencoachingcenter/" target="_blank"><i class="fab fa-instagram"></i></a>
            </span>
        </div>
        <!-- {% if site.fundament.size == 0 %}
        
        {% else %}
        <div class="footer-row col-md-4 col-xs-12">
            <p>Fundament</p>
            {% for fundament in site.fundament %}
            <a href="/fundament/#{{ fundament.title }}">{{ fundament.title }}</a>
            {% endfor %}
        </div>
        {% endif %}-->
        <div class="footer-row col-md-4 col-xs-12 articles">
            <p>Forum</p>
            {% for post in site.posts limit:3 %}
            <a class="footer-stories" href="{{ post.url }}">{{ post.title }}</a>
            {% endfor %}
        </div>
        <div class="footer-row col-md-4 col-xs-12">
            <p>Kontakt</p>
            <a data-proofer-ignore href="tel:+4539201020">+45 39 20 10 20</a>
            <a href="#" data-toggle="modal" data-target="#contact-modal">Skriv til os</a>
            <p class="empty-anchor"> Blegdamsvej 104 A, 2. Sal</p>
            <p class="empty-anchor"> 2200 Kbh Ø</p>
            <a href="https://goo.gl/maps/a2Tb1RTMDKQ3G8Vz5" target="_blank">Rutevejledning</a>
        </div>
    </div>
</footer>
<div class="bottom-bar">
    <!-- <a href="#">Privatlivspolitik |</a> -->
    <p>&nbsp;Powered by</p><a href="https://www.prolike.io/" target="_blank">&nbsp;Prolike</a>
</div>