<div class="footer justify-content-center">

    <div class="row">

        <div class="col-lg-3 col-md-12 col-sm-12 col-12 kontakt">
            <h3>Copenhagen Coaching</h3>
            <p>Copenhagen Coaching Center blev dannet i 2004 og er et partnerejet selskab, der udbyder åbne uddannelser.
            </p>
            <p><a href="https://www.facebook.com/copenhagencoaching.dk" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a></p>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <h3>Vores ydelser</h3>
            <ul>
                <li><a href="/educations">Uddannelser</a></li>
                <li><a href="/consulting">Konsulentydelser</a></li>
                <li><a href="/conversations/">Coachingsamtaler</a></li>
                <li><a href="/registration">Tilmelding</a></li>
            </ul>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <h3>Seneste Historier</h3>
            <ul>
                {% for post in site.posts %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <h3>Kontakt os</h3>
            <ul>
                <li><a href="tel:+4539201020">+45 39 201 020</a></li>
                <li><a href="mailto: info@copenhagencoaching.dk">info@copenhagencoaching.dk</a></li>
                <li>Blegdamsvej 104 A, 2. Sal</li>
                <li>2200 København Ø</li>
            </ul>
        </div>
    </div>
</div>