<nav class="navbar fixed-top navbar-light bg-light">
  <div>
    <a class="navbar-brand" href="/">Copenhagen Coaching Center</a>
  </div>
  <div>
    <a data-proofer-ignore href="/#home">Home</a>
    <a data-proofer-ignore href="/#education">Education</a>
    <a data-proofer-ignore href="/#testimonial">Testimonial</a>
    <a data-proofer-ignore href="/#news">News</a>
    <a data-proofer-ignore href="/#signup">Sign up</a>
    <a data-proofer-ignore href="/#footer">Footer</a>
    <a data-proofer-ignore href="/employees">Medarbejdere</a>
    <a data-proofer-ignore href="/stories">Nyheder</a>
  </div>
</nav>