{% include contact-modal.html %}


  <nav class="navbar navbar-expand-xl">
    <div class="container-fluid narrow-container">
    <a class="navbar-brand" href="/"><img src="/images/logo/ccc-logo-new.png" alt="Copenhagen Coaching Center Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {% assign sorted_nodes = site.pages | sort: "order" %}
        {% for node in sorted_nodes %}
        {% if node.show %}
        {% if page.url == node.url %}
        <li class="nav-item">
          <a class="nav-link active-page" href="{{node.url}}">{{ node.title | truncatewords: 2, "" | remove: "Tilmelding" | remove: "Search" }}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{node.url}}">{{ node.title | truncatewords: 2, "" | remove: "Tilmelding" | remove: "Search" }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <li class="nav-item">
          <a class="nav-link" href="/nyhedsbrev/">Nyhedsbrev</a>
        </li>
        <li class="nav-item nav-icon">
          <a class="contact-link nav-link" data-proofer-ignore href="#contact" data-toggle="modal" data-target="#contact-modal"><i class="fas fa-envelope"></i></a>
        </li>
        <li class="nav-item nav-icon">
          <a href="https://www.edu.copenhagencoaching.dk/login/index.php" target="_blank"><i class="fas fa-user-graduate"></i></a>
        </li>

         

      </ul>

    </div>
  </nav>

  <!-- <button class="green-button newsletter">Tilmeld nyhedsbrev</button> -->
</div>
</nav>
 <!-- <button class="nl-btn large hightlighted" onclick="window.location.href='/nyhedsbrev/'">Tilmeld nyhedsbrev</button> -->

<script>
  $('.contact-link').on('click', function () {
    $('.navbar-toggler').click();
  });
</script>