{% include contact-modal.html %}
{% include community-modal.html %}
{% include bf-modal.html %}
{% include pfp-contact-modal.html %}
{% include pfp-modal.html %}
{% include pfp-pdf-modal.html %}
{% include thanks-modal.html %}
{% include edu-modal.html %}



<div class="mega-nav">
  <div class="container-fluid narrow-container no-up-n-down">
    <div class="inner-nav">

      <div class="nav-brand">
        <img src="/images/logo/ccc-logo-new.png" alt="">
      </div>

      <a href="javascript:void(0);" class="bars">
        <i class="fa fa-bars"></i>
      </a>

      <div class="inner-inner-nav">
        <div class="nav-list small-nav">

          <div class="navigation-link drop">
            <a class="highlighted main-nav-link" href="#">Kontakt os</a>
            <div class="dd-container">
              {% include dropdowns/kontakt-os.html %}
            </div>
          </div>

          <div class="navigation-link drop only-big">
            <a class="main-nav-link" href="#">Om os</a>
            <div class="dd-container">
              {% include dropdowns/om-os.html %}
            </div>
          </div>

          <div class="navigation-link drop">
            <a class="main-nav-link" href="#">Mød os</a>
            <div class="dd-container">
              {% include dropdowns/mod-os.html %}
            </div>
          </div>

          <div class="navigation-link drop">
            <a class="main-nav-link" href="#">Mit CCC</a>
            <div class="dd-container dd-small">
              <div class="container-fluid narrow-container no-up-n-down">
                <div class="navigation-link"><a href="https://edu.copenhagencoaching.dk/login/index.php">CCC Studerende</a></div>
                <div class="navigation-link"><a href="https://edu.copenhagencoaching.dk/login/index.php">CCC Ansatte</a></div>
              </div>
            </div>
          </div>

          <div class="navigation-link">
            <button class="btn btn-sm" data-toggle="modal" data-target="#newsletter-modal">Tilmeld
              nyhedsbrev</button>
          </div>

        </div>

        <div class="nav-list big-nav">

          <div class="navigation-link drop">
            <a class="main-nav-link" href="#">Coaching</a>
            <div class="dd-container">
              {% include dropdowns/coaching.html %}
            </div>
          </div>

          <div class="navigation-link drop">
            <a class="main-nav-link" href="#">Kompetenceudvikling</a>
            <div class="dd-container">
              {% include dropdowns/kompetenceudvikling.html %}
            </div>
          </div>

          <div class="navigation-link drop">
            <a class="main-nav-link" href="#">Konsulentydelser</a>
            <div class="dd-container">
              
                {% include dropdowns/konsulentydelser.html %}
            
            </div>
          </div>

 <!--          <div class="navigation-link drop">
            <a class="main-nav-link" href="#">Frirum</a>
            <div class="dd-container dd-small">
              <div class="container-fluid narrow-container no-up-n-down">
                <div class="navigation-link"><a href="/inspiration/protreptik-i-naturen/">Protreptik i Naturen</a></div>
                <div class="navigation-link"><a href="/academy/ledelseskurses-på-lesbos/">Lesbos</a></div>
              </div>
            </div>
          </div> -->

          <div class="navigation-link drop">
            <a class="main-nav-link" href="#">Resonans</a>
            <div class="dd-container">
              
                {% include dropdowns/resonans.html %}
            
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>