{% include modals/contact-modal.html %}
{% include modals/community-modal.html %}
{% include modals/pfp-contact-modal.html %}
{% include modals/pfp-pdf-modal.html %}
{% include modals/thanks-modal.html %}
{% include modals/edu-modal.html %}

<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-gainsboro">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img class="logo" src="/images/logo/ccc-logo-new.png" alt="" height="65">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-column" id="main_nav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown has-megamenu text-slate-gray small">
          <a class="nav-link dropdown-toggle text-slate-gray small" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Kontakt os</a>
          <div class="dropdown-menu megamenu text-slate-gray bg-gainsboro" role="menu">
            {% include dropdowns/kontakt-os.html %} 
          </div> <!-- dropdown-mega-menu.// -->
        </li>
        <li class="nav-item dropdown has-megamenu text-slate-gray small">
          <a class="nav-link dropdown-toggle text-slate-gray small" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Om os</a>
          <div class="dropdown-menu megamenu text-slate-gray bg-gainsboro" role="menu">
            {% include dropdowns/om-os.html %} 
          </div> <!-- dropdown-mega-menu.// -->
        </li>
        <li class="nav-item dropdown has-megamenu text-slate-gray small">
          <a class="nav-link dropdown-toggle text-slate-gray small" href="#" data-bs-toggle="dropdown">Mød os</a>
          <div class="dropdown-menu megamenu text-slate-gray bg-gainsboro" role="menu">
            This is content of megamenu. <br>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </div> <!-- dropdown-mega-menu.// -->
        </li>
        <li class="nav-item dropdown has-megamenu text-slate-gray small">
          <a class="nav-link dropdown-toggle text-slate-gray small" href="#" data-bs-toggle="dropdown">Mit CCC</a>
          <div class="dropdown-menu megamenu text-slate-gray bg-gainsboro" role="menu">
            This is content of megamenu. <br>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </div> <!-- dropdown-mega-menu.// -->
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown has-megamenu text-slate-gray small">
          <a class="nav-link dropdown-toggle text-slate-gray fw-light fs-6" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Coaching</a>
          <div class="dropdown-menu megamenu text-slate-gray bg-gainsboro" role="menu">
          {% include dropdowns/coaching.html %} 
          </div> <!-- dropdown-mega-menu.// -->
        </li>
        <li class="nav-item dropdown has-megamenu text-slate-gray small">
          <a class="nav-link dropdown-toggle text-slate-gray fw-light fs-6" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Kompetenceudvikling</a>
          <div class="dropdown-menu megamenu text-slate-gray bg-gainsboro" role="menu">
            {% include dropdowns/kompetenceudvikling.html %} 
          </div> <!-- dropdown-mega-menu.// -->
        </li>
        <li class="nav-item dropdown has-megamenu text-slate-gray small">
          <a class="nav-link dropdown-toggle text-slate-gray fw-light fs-6" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Konsulentydelser</a>
          <div class="dropdown-menu megamenu text-slate-gray bg-gainsboro" role="menu">
            {% include dropdowns/konsulentydelser.html %} 
          </div> <!-- dropdown-mega-menu.// -->
        </li>
        <li class="nav-item dropdown has-megamenu text-slate-gray small">
          <a class="nav-link dropdown-toggle text-slate-gray fw-light fs-6" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Resonans</a>
          <div class="dropdown-menu megamenu text-slate-gray bg-gainsboro" role="menu">
            {% include dropdowns/resonans.html %} 
          </div> <!-- dropdown-mega-menu.// -->
        </li>
      </ul>
    </div> <!-- navbar-collapse.// -->
  </div> <!-- container-fluid.// -->
  </nav>