<nav class="navbar fixed-top">
    <a class="navbar-brand" href="#">Cpenhagen Coaching Center</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      Menu <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" data-proofer-ignore href="/#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-proofer-ignore href="/#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-proofer-ignore href="/#testimonial">Testimonial</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-proofer-ignore href="/#news">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-proofer-ignore href="/#signup">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-proofer-ignore href="/#footer">Footer</a>
          </li>
      </ul>
      <span class="navbar-text">
        Navbar text with an inline element
      </span>
    </div>
  </nav>