<!-- <section class="partners">
    <div class="container-fluid narrow-container">
    <h3>Hvem arbejder vi med?</h3>
    <div class="wrapper">
        <img src="/images/about/partners/dong.png" alt="Dong Energy Logo" draggable="false">
        <img src="/images/about/partners/nordea.png" alt="Nordea Logo" draggable="false">
        <img src="/images/about/partners/tdc.png" alt="TDC Logo" draggable="false">
        <img src="/images/about/partners/lif.png" alt="LIF Logo" draggable="false">
        <img src="/images/about/partners/metropol.png" alt="Metropol Logo" draggable="false">
        <img src="/images/about/partners/horten.png" alt="Horten Logo" draggable="false">
        <img src="/images/about/partners/region-hovedstaden.png" alt="Region Hovedstaden Logo" draggable="false">
        <img src="/images/about/partners/danfoss.png" alt="Danfoss Logo" draggable="false">
        <img src="/images/about/partners/finansministeriet.png" alt="Finansministeriet Logo" draggable="false">
    </div>
</div>
</section> -->

<div class="bg-faded py-5">
    <div class="container-fluid py-5">
        <h1 class="mb-3">Hvem arbejder vi med?</h1>
        <div class="partner-slider">
            <div class="d-flex justify-content-center align-items-center align-content-center p-3">
                <img src="/images/about/partners/dong.png" class="w-100" alt="Dong Energy Logo" draggable="false">
            </div>

            <div class="d-flex justify-content-center align-items-center align-content-center p-3">
                <img src="/images/about/partners/nordea.png" class="w-100" alt="Nordea Logo" draggable="false">
            </div>

            <div class="d-flex justify-content-center align-items-center align-content-center p-3">
                <img src="/images/about/partners/tdc.png" class="w-100" alt="TDC Logo" draggable="false">
            </div>

            <div class="d-flex justify-content-center align-items-center align-content-center p-3">
                <img src="/images/about/partners/lif.png" class="w-100" alt="LIF Logo" draggable="false">
            </div>

            <div class="d-flex justify-content-center align-items-center align-content-center p-3">
                <img src="/images/about/partners/metropol.png" class="w-100" alt="Metropol Logo" draggable="false">
            </div>

            <div class="d-flex justify-content-center align-items-center align-content-center p-3">
                <img src="/images/about/partners/horten.png" class="w-100" alt="Horten Logo" draggable="false">
            </div>

            <div class="d-flex justify-content-center align-items-center align-content-center p-3">
                <img src="/images/about/partners/region-hovedstaden.png" class="w-100" alt="Region Hovedstaden Logo"
                    draggable="false">
            </div>

            <div class="d-flex justify-content-center align-items-center align-content-center p-3">
                <img src="/images/about/partners/danfoss.png" class="w-100" alt="Danfoss Logo" draggable="false">
            </div>

            <div class="d-flex justify-content-center align-items-center align-content-center p-3">
                <img src="/images/about/partners/finansministeriet.png" class="w-100" alt="Finansministeriet Logo"
                    draggable="false">
            </div>
        </div>

    </div>
</div>