<section class="partners">
    <h1>Hvem arbejder vi med?</h1>
    <div class="wrapper">
        <img src="/images/about/partners/dong.png" alt="Dong Energy Logo" draggable="false">
        <img src="/images/about/partners/nordea.png" alt="Nordea Logo" draggable="false">
        <img src="/images/about/partners/tdc.png" alt="TDC Logo" draggable="false">
        <img src="/images/about/partners/lif.png" alt="LIF Logo" draggable="false">
        <img src="/images/about/partners/metropol.png" alt="Metropol Logo" draggable="false">
        <img src="/images/about/partners/horten.png" alt="Horten Logo" draggable="false">
        <img src="/images/about/partners/region-hovedstaden.png" alt="Region Hovedstaden Logo" draggable="false">
        <img src="/images/about/partners/danfoss.png" alt="Danfoss Logo" draggable="false">
        <img src="/images/about/partners/finansministeriet.png" alt="Finansministeriet Logo" draggable="false">
        <img src="/images/about/partners/trafikstyrelsen.png" alt="Trafikstyrelsen Logo" draggable="false">
    </div>
</section>