<div class="modal fade" id="pfp-pdf-modal" tabindex="-1" aria-labelledby="pfp-pdf-modal-heading" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h4 class="modal-title" id="pfp-pdf-modal-heading">Ønsker du mere information om uddannelsen? Få tilsendt vores
          brochure.</h4>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>

      </div>
      <div class="modal-body">

        <div class="row">
          <div class="offset-md-1 col-md-10 col-12">

            <form action="https://formspree.io/f/mnqoyjlq" method="POST">



              <input class="form-control mb-3" type="text" name="name" placeholder="Navn" id="name">

              <input type="text" class="form-control mb-3" form name="email" id="email" placeholder="Email">


              <div class="form-check mb-3">
                <input class="form-check-input" name="_optin" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Jeg vil gerne modtage CCC's nyhedsbrev
                </label>
              </div>


              <!-- your other form fields go here -->
              <button class="btn-dust-green w-100" type="submit">Send besked</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>