

  <div class="modal fade" id="pfp-c-modal" tabindex="-1" aria-labelledby="pfp-contact-modal-heading" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content p-3">
        <div class="modal-header">
          <h4 class="modal-title" id="pfp-contact-modal-heading">Har du spørgsmål til uddannelsen?</h4>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body">
          <p> <b>Vi sidder klar til at besvare dine spørgsmål.</b> <br>
            Udfyld formularen og så kontakter vi dig hurtigst muligt. Vi glæder os til at høre fra dig!</p>
      <form
      action="https://formspree.io/f/moqllqyp"
      method="POST"
    >
    <span>
    
       
        <input class="form-control mb-3" type="text" name="name" placeholder="Navn" id="name">
        
        <input type="text" class="form-control mb-3" form name="email" id="email" placeholder="Email">
        <input type="hidden" name="spørgsmål" value="Spørgsmål omkring PFP">
    </span>
    
        <textarea class="form-control mb-3" name="besked" cols="30" rows="10" placeholder="Besked"></textarea>
    
        <div class="form-check mb-3">
          <input class="form-check-input" name="_optin" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Jeg vil gerne modtage CCC's nyhedsbrev
          </label>
        </div>

       
      <!-- your other form fields go here -->
      <button class="btn-dust-green w-100" type="submit">Send besked</button>
    </form>
        </div>
      </div>
    </div>
  </div>
  