<h2>Opbygning</h2>

<p>Uddannelsen er modul-opbygget, og begynder med et 2-dages introducerende internat. Hvert år består derudover af 6
    grundmoduler af fire-dages varighed uden overnatning. Uddannelsen er 4-årig, og hvert halve år slutter med en
    skriftlig/mundtlig og/eller praktisk prøve og/eller eksamen.

    Det første år er mildere og bredere ift arbejdet med sig selv, og egne færdigheder. Som årene skrider frem bliver
    det mere og mere dybdegående og specialiseret. Det er en forudsætning for gennemførsel, at hver deltager opfylder
    det antal timer, som skal bruges på egen terapi, terapeutisk praksis og øve-timer, samt feedback og supervision på
    egen praksis.</p>
<br>


<div id="accordion1">

    <div id="år-1"></div>

    <div class="panel">
        <div id="headingOne" class="align-center grid-1 white align-content-center"
            style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/pfp/14.png'); background-position: center; background-size: cover; height: 200px;">
            <h2 class="mb-0">
                <a href="#" role="button" data-toggle="collapse" data-target="#collapseOne" data-parent="#accordion1">
                    Oversigt <i class="fas fa-chevron-down"></i>
                </a>
            </h2>
        </div>

        <div id="collapseOne" class="collapse modul-collapse" aria-labelledby="headingOne" data-parent="#accordion1">


            <table class="soft-table align-center bg-dust-green white">
                <tr class="bg-dust-green white">
                    <td><b>Tispunkt</b></td>
                    <td colspan="2"><b>Struktur</b></td>

                </tr>
                <tr>
                    <td style="min-width: 100px;"><b>SOMMER</b>
                    </td>
                    <td><b> Modul 1 <br></b>
                        Grundmodul på 4 dages eksternat
                    </td>

                </tr>
                <tr>
                    <td style="min-width: 100px;"><b>EFTERÅR</b>
                    </td>
                    <td><b>Modul 2<br></b>
                        Grundmodul på 4 dages eksternat
                    </td>

                </tr>

                <tr>
                    <td style="min-width: 100px;"><b>VINTER</b>
                    </td>
                    <td><b>Modul 3<br></b>
                        Grundmodul på 4 dages eksternat
                    </td>

                </tr>

                <tr>
                    <td style="min-width: 100px;"><b>VINTER</b>
                    </td>
                    <td><b>Modul 4<br></b>
                        Grundmodul på 4 dages eksternat

                    </td>

                </tr>

                <tr>
                    <td style="min-width: 100px;"><b>FORÅR</b>
                    </td>
                    <td><b>Modul 5<br></b>
                        Grundmodul på 4 dages eksternat
                    </td>

                </tr>


                <tr>
                    <td style="min-width: 100px;"><b>SOMMER</b>
                    </td>
                    <td><b>Modul 6<br></b>
                        Grundmodul på 4 dages eksternat
                    </td>

                </tr>

                <tr>
                    <td style="min-width: 100px;"><b>AFSLUTNING</b>
                    </td>
                    <td><b>Eksamen</b>
                    </td>

                </tr>

            </table>






            <table class="soft-table bg-light-brown">
                <tr>
                    <td colspan="5">
                        <h3>Egen-terapi-aktivitet:</h3>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <p>Selv-bestaltet i minimum triader. Når året er slut skal dokumentet afleveres med
                            underskrifter for at kunne gå til eksamen.
                            Supervision koster 1200 kr ex moms pr. time</p>
                    </td>
                </tr>
                <tr>
                    <td>Supervision koster 1200 kr ex moms pr. time</td>
                </tr>
                <tr>
                    <td>Aktivitet/År</td>
                    <td>1. År</td>
                    <td>2. År</td>
                    <td>3. År</td>
                    <td>4. År</td>

                </tr>
                <tr>
                    <td>Give terapi</td>
                    <td>25</td>
                    <td>25</td>
                    <td>25</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>Modtage terapi</td>
                    <td>25</td>
                    <td>25</td>
                    <td>25</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>Observere terapi</td>
                    <td>25</td>
                    <td>25</td>
                    <td>25</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>Supervision - psyko-terapi</td>
                    <td>6 timers psyko-terapi</td>
                    <td>6 timers psyko-terapi + 2 timers supervision</td>
                    <td>6 timers psyko-terapi + 4 timers supervision</td>
                    <td>6 timers psyko-terapi + 4 timers supervision</td>
                </tr>
            </table>




        </div>
    </div>
    <br>
    <div class="panel">
        <div id="heading1" class="align-center grid-1 white align-content-center"
            style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/pfp/31.png'); background-position: center; background-size: cover; height: 200px;">
            <h2 class="mb-0">
                <a href="#" role="button" data-toggle="collapse" data-target="#collapse1" data-parent="#accordion1">
                    ÅR 1 <i class="fas fa-chevron-down"></i>
                </a>
            </h2>
        </div>

        <div id="collapse1" class="collapse modul-collapse year-one-collapse" aria-labelledby="heading1"
            data-parent="#accordion1">


            <table class="soft-table align-center">
                <tr class="bg-platinum-2">
                    <td><b>Start</b></td>
                    <td colspan="2"><b>År 1</b></td>
                </tr>
                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>SOMMER 2021 <br>
                            (10-11.6)</b>
                    </td>
                    <td><b> INTRO-MODUL <br>
                            En indføring i uddannelsens grundlæggende teori- og arbejdsramme </b>
                    </td>
                    <td class="bg-platinum-2" style="width: 500px;">
                        <p>På dette internat arbejdes der grundlæggende på to spor; 1) at styrke tilegnelsen af hele
                            uddannelsens teoretiske arbejds-ramme, gennem øvelser og refleksioner, og 2) at understøtte
                            holdets modningsproces og dermed etableringen af tryghed og gruppe-identitet. Med andre ord
                            handler det her om det faglige og det sociale, hvorved udfordringer og tilegnelse,
                            læringsstil og læringsplan samt individuelle forskelle vil blive tydelige og integreret med
                            henblik på de kommende moduler på uddannelsen.</p>
                    </td>
                </tr>
                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>SOMMER 2021 <br>
                            (12-15.8)</b>
                    </td>
                    <td><b>Modul 1<br>
                            Professionelle samtaler; <br>
                            Grundmodul - 4 dages eksternat <br>
                            (2-dages intro-forløb påkrævet) </b>
                    </td>
                    <td class="bg-platinum-2" style="width: 500px;">
                        <p>På dette modul arbejder vi med dialogisk grundtræning, fx at skabe kontakt, lave og evt
                            genforhandle psykologisk kontrakt, bryde ind, holde form og struktur, eller slippe og følge
                            det dynamiske flow, lytte, og stille åbne og lukkede spørgsmål, m.m. Der vil også blive
                            præsenteret og arbejdet med en dialogisk grundmodel som kursisterne øver sig i at integrere
                            i deres praksisrelaterede kontekst. Vi arbejder endvidere med at blive klarere over hvad vi
                            hver især bringer med os ind i samtalen af mere psykologiske forudsætninger. Kort sagt
                            sigter dette modul på at kunne etablere sam-syn og konstant tilstræbe at have den anden som
                            mål og formål for samtalen.</p>
                    </td>
                </tr>

                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>EFTERÅR 2021<br>
                            (7-10.10)</b>
                    </td>
                    <td><b>Modul 2<br>
                            Følelsesmæssige ubalancer; <br>
                            Grundmodul - 4 dages eksternat</b>
                    </td>
                    <td class="bg-platinum-2" style="width: 500px;">
                        <p>På dette modul arbejder vi gennemgående med at balancere og dosere den
                            terapeutiske kritik og åbenhed, 1) dels gennem at koble fire grundfølelser med
                            menneskets kognitive skemata og herved undersøge en række neurokemiske pointer
                            (jvf. fx Amygdala og det limbiske system), 2) dels gennem at tale om følelser og
                            øve os i at kunne skille rollen fra det menneske, som vi i bund og grund er,
                            hver især samt udforske og registrere egne og andres beskyttelseslag og
                            forsvarsmekanismer, og 3) dels gennem at besøge og udforske forskellige
                            arrangementer og set-ups mhp at træne positions- og perspektiv-skift (her vil
                            der også komme en række inspirationer fra den systemiske familie-terapi a la
                            Laing og Bateson (double-bind, skizoiditet og ontologisk sikkerhed)).</p>
                    </td>
                </tr>

                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>VINTER 2021<br>
                    (9-12.12)</b>
                    </td>
                    <td><b>Modul 3<br>
                            Stresshåndtering; <br>
                            Grundmodul - 4 dages eksternat
                            inkl. eksamen</b>
                    </td>
                    <td class="bg-platinum-2" style="width: 500px;">
                        <p>
                            På dette modul arbejder vi med bl.a. low- & high arousal, og med hvordan man skaber ro i
                            nervesystemet. Således arbejdes der med bl.a. mentalisering, flow-teori, det sympatiske og
                            para-sympatiske (det autonome) nervesystem. Vi dyrker i det hele taget varsomheden og
                            nænsomheden ift at spore de fysiologiske stress-symptomer samt håndtering af egen og andres
                            stress (stressorer ift fx work-life-balance, m.m.). Vi arbejder endvidere med at reflektere
                            egne og organisatoriske narrativer op imod fx Big Five personligheds-psykologien og det
                            systemiske krydspres, og med at vende tilbage til arbejdsmarkedet efter at have været “gået
                            ned med stress”.</p>
                    </td>
                </tr>

                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>VINTER 2022<br>
                    (3-6.2)</b>
                    </td>
                    <td><b>Modul 4<br>
                            Filosofisk terapi; <br>
                            Grundmodul - 4 dages eksternat</b>
                    </td>
                    <td class="bg-platinum-2" style="width: 500px;">
                        <p>På dette modul arbejder vi gennemgående med at etablere pusterum, fristeder, hvor intensitet
                            og betydning kan tydeliggøre, de værdier, der er blevet ramt, og på den baggrund styrke
                            færdigheden i at kunne trække en værdi ud af den psykologiske samtale og reflektere denne op
                            imod livstemaer og eksistentielle mønstre. Med andre ord bliver den filosofiske
                            samtaledisciplin; protreptik, introduceret, og modulet gennemgår de respektive greb, metoder
                            og forholdemåder herfra, som øves, trænes og perspektiveres ift mere psykologiske
                            samtaleteknikker og indstillinger. Således sigter dette modul på at få deltagerne til at
                            kunne støtte sig selv og sine klienter i at opnå klarhed, være i inderlighed og skabe
                            åbenhed.</p>
                    </td>
                </tr>


                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>FORÅR 2022<br>
                    (21-24.4)</b>
                    </td>
                    <td><b>Modul 5<br>
                            Traume-forebyggelse; <br>
                            Grundmodul - 4 dages eksternat</b>
                    </td>
                    <td class="bg-platinum-2" style="width: 500px;">
                        <p>På dette modul arbejder vi noget mere dybdegående med bl.a. tab af betydningsfulde forhold,
                            skader på sjælen og invaliderende krænkelser. Der fokuseres primært på fx hvad der
                            forårsager traumet, fysiske såvel som psykiske, mhp at finde en struktur herfor; og
                            undersøger spørgsmål som, hvordan sætter de sig, er der nogle særlige kendetegn; hvordan kan
                            vi identificere traumet? Således arbejdes der med perifert at berøre løsningen, og dog måske
                            endda åbne lidt op herfor. Generelt sigter modulet efter at lære at være med traumet, både
                            ift sine egne, andres, en andens og/eller i relationen ved bl.a. at udforske, hvordan
                            hjernen fungerer, når den er traume-styret.</p>
                    </td>
                </tr>

                <tr class="bg-platinum-2">
                    
                    <td style="min-width: 100px;"><b>SOMMER 2022<br>
                        (9-12.6)</b>
                    </td>
                    <td><b>Modul 6<br>
                            Klinisk praksis; <br>
                            Grundmodul - 4 dages eksternat</b>
                    </td>
                    <td class="bg-platinum-2" style="width: 500px;">
                        <p>På dette modul arbejder vi med at integrere indhold og metoder fra modul 1-5 med særligt
                            fokus på at praktisere dette i kombinerede varianter. Således er dette modul primært
                            praksis-nært hvad angår at træne og øve sig og få feedback herpå fra deltagere og
                            modul-lederne. På dette workshops-lignende modul vil der derfor både være tips og tricks
                            samt erfaringsbaserede refleksioner, og specielt setting, kontekst og ikke mindst etiske
                            retningslinjer i rollen som terapeut vil være specielt betonet. Mere specifikt vil der også
                            blive trænet i at kunne give klienten/borgeren æren for egne erkendelser og arbejde, og i
                            det hele taget vil der blive fokuseret på, hvordan man runder af, og sender “bolden” videre
                            eller tilbage til klienten/borgeren. Halvdelen af modulet vil udgøre en praktisk
                            eksamensform i plenum.</p>
                    </td>
                </tr>

            </table>





        </div>
    </div>



    <br>
    <div class="panel">
        <div id="heading2" class="align-center grid-1 white align-content-center"
            style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/pfp/23.png'); background-position: center; background-size: cover; height: 200px;">
            <h2 class="mb-0">
                <a role="button" href="#år-2" class="btn-link" data-toggle="collapse" data-target="#collapse2"
                    aria-expanded="true" aria-controls="collapse2">
                    År 2 <i class="fas fa-chevron-down"></i>
                </a>
            </h2>
        </div>

        <div id="collapse2" class="collapse modul-collapse" aria-labelledby="heading2" data-parent="#accordion1">
            <table class="soft-table align-center bg-platinum-2 mb-0">
                <tr>
                    <td class="pt-20">
                        <p>På andet år får man flere redskaber til at dyrke og<br>udforske egen position i samtalen mhp
                            at
                            få sat dét til side, der evt står i vejen.<br>
                            Man træner sin egen tilstedeværelse, og fagligt set er modul 1, 4 og 6 en videreførelse fra
                            1. år. <br>
                            Nye fag bliver således mentalisering, tilknytning og sexologi.<br>På modul 6 træner vi og
                            forholder os også til parterapi.<br>
                            Modul 4 dyrker mere den eksistensfilosofiske prægning af psyko-terapien (jvf. Fx Yalom,
                            Frankl og dialogfilosofien (jvf. Buber, Marcel og Levinas, m.fl.), og modul 3 vil fokusere
                            på udviklings-psykologien via Freud, Bowlby og Stern.</p>
                    </td>
                </tr>
            </table>


            <table class="soft-table align-center">
                <tr class="bg-platinum-2">
                    <td><b>Start</b></td>
                    <td colspan="2"><b>År 2</b></td>
                </tr>
                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>SOMMER 2022</b>
                    </td>
                    <td><b> Modul 1 <br>
                            Grundmodul - 4 dages eksternat</b>
                    </td>
                    <td style="width: 300px;">
                        <p>Professionelle samtaler</p>
                    </td>
                </tr class="bg-platinum-2">
                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>EFTERÅR 2022</b>
                    </td>
                    <td><b>Modul 2<br>
                            Grundmodul - 4 dages eksternat</b>
                    </td>
                    <td style="width: 300px;">
                        <p>Mentalisering</p>
                    </td>
                </tr>

                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>VINTER 2022</b>
                    </td>
                    <td><b>Modul 3<br>
                            Grundmodul - 4 dages eksternat</b>
                    </td>
                    <td style="width: 300px;">
                        <p> Tilknytning, pt. 1</p>
                    </td>
                </tr>

                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>VINTER 2022</b>
                    </td>
                    <td><b>Modul 4<br>
                            Grundmodul - 4 dages eksternat</b>
                    </td>
                    <td style="width: 300px;">
                        <p> Filosofisk terapi</p>
                    </td>
                </tr>

                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>FORÅR 2023</b>
                    </td>
                    <td><b>Modul 5<br>
                            Grundmodul - 4 dages eksternat</b>
                    </td>
                    <td style="width: 300px;">
                        <p> Sexologi</p>
                    </td>
                </tr>


                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>SOMMER 2023</b>
                    </td>
                    <td><b>Modul 6<br>
                            Grundmodul - 4 dages eksternat,<br>
                            samt eksamen</b>
                    </td>
                    <td style="width: 300px;">
                        <p>Klinisk praksis</p>
                    </td>
                </tr>


            </table>









        </div>
    </div>
    <br>
    <div id="år-3"></div>
    <div class="panel">
        <div id="heading3" class="align-center grid-1 white align-content-center"
            style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/pfp/20.png'); background-position: center; background-size: cover; height: 200px;">
            <h2 class="mb-0">
                <a role="button" href="#år-3" class="btn-link" data-toggle="collapse" data-target="#collapse3"
                    aria-expanded="true" aria-controls="collapse3">
                    År 3 <i class="fas fa-chevron-down"></i>
                </a>
            </h2>
        </div>

        <div id="collapse3" class="collapse modul-collapse" aria-labelledby="heading3" data-parent="#accordion1">
            <table class="soft-table align-center bg-platinum-2 mb-0">
                <tr>
                    <td class="pt-20">
                        <p>På tredje år dyrkes etikken, moralen og ansvaret ift magt og manipulation; gennem at rumme
                            og favne sin viden, såvel som opsamlende træning på modul 1, hvor udfordringer og mønstre i
                            egen praksis, position og indstilling udforskes. <br>
                            Modul 2 fokuserer på at tangere psykiatriske diagnose-systemer med en sund og kritisk
                            opmærksomhed på stigmatiseringer gennem bl.a. Inspiration fra Foucault, m.fl. <br>
                            Modul 3 arbejder dybere via bl.a. Stern og tilbyder flere terapeutiske redskaber ift egen
                            tilknytnings-mønstre i det indre spor. <br>
                            Modul 4 udfolder den eksistensfilosofiske tematisering af de menneskelige vilkår via
                            Kierkegaard, Nietzsche og Sartre via temaer som angst, ensomhed, meningsløshed, døden,
                            friheden, valget, etc. <br>
                            Modul 5 genoptager tråden fra 1. år ift bl.a krisehjælp, chok og re-traumatisering
                            (gæsteunderviser). <br>
                            Modul 6 sigter på at udforske gruppedynamikker (teams), m.m.</p>
                    </td>
                </tr>
            </table>

            <table class="soft-table align-center">
                <tr class="bg-platinum-2">
                    <td><b>Start</b></td>
                    <td colspan="2"><b>År 3</b></td>
                </tr>
                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>SOMMER 2023</b>
                    </td>
                    <td><b> Modul 1 <br>
                            Grundmodul - 4 dages eksternat </b>
                    </td>
                    <td style="width: 300px;">
                        <p>Professionelle samtaler</p>
                    </td>
                </tr>
                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>EFTERÅR 2023</b>
                    </td>
                    <td><b>Modul 2<br>
                            Grundmodul - 4 dages eksternat</b>
                    </td>
                    <td style="width: 300px;">
                        <p>Diagnoser og patologier</p>
                    </td>
                </tr>

                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>VINTER 2023</b>
                    </td>
                    <td><b>Modul 3<br>
                            Grundmodul - 4 dages eksternat</b>
                    </td>
                    <td style="width: 300px;">
                        <p> Tilknytning, pt. 2</p>
                    </td>
                </tr>

                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>VINTER 2023</b>
                    </td>
                    <td><b>Modul 4<br>
                            Grundmodul - 4 dages eksternat</b>
                    </td>
                    <td style="width: 300px;">
                        <p> Filosofisk terapi</p>
                    </td>
                </tr>

                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>FORÅR 2024</b>
                    </td>
                    <td><b>Modul 5<br>
                            Grundmodul - 4 dages eksternat</b>
                    </td>
                    <td style="width: 300px;">
                        <p>Traume-forebyggelse, pt. 2.</p>
                    </td>
                </tr>


                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>DOMMER 2024</b>
                    </td>
                    <td><b>Modul 6<br>
                            Grundmodul - 4 dages eksternat,<br>
                            samt eksamen</b>
                    </td>
                    <td style="width: 300px;">
                        <p>Klinisk praksis</p>
                    </td>
                </tr>


            </table>



        </div>
    </div>
    <br>
    <div id="år-4"></div>
    <div class="panel">
        <div id="heading4" class=" align-center grid-1 white align-content-center"
            style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/pfp/21.png'); background-position: center; background-size: cover; height: 200px;">
            <h2 class="mb-0">
                <a role="button" href="#år-4" class="btn-link" data-toggle="collapse" data-target="#collapse4"
                    aria-expanded="true" aria-controls="collapse4">
                    År 4 <i class="fas fa-chevron-down"></i>
                </a>
            </h2>
        </div>

        <div id="collapse4" class="collapse modul-collapse" aria-labelledby="heading4" data-parent="#accordion1">

            <table class="soft-table align-center bg-platinum-2 mb-0">
                <tr>
                    <td class="pt-20">
                        <p>På fjerde år trænes og udvikles egen stil og varemærke ift modul 1 (som også sigter på
                            specialet og dermed modul 6). <br>
                            Modul 2 fokuserer på den krops-terapeutiske tradition (fra Reich og Lowen) og frem, og
                            inddrager yoga, meditations-teknikker og åndedrætsøvelser (samt mindfullness) til at
                            understøtte dette. <br>
                            Modul 3 dyrker mere specifikt voksen-traumer. <br>
                            Modul 4 åbner op for en ekskursion a la fire dages internat (nærmere info følger herom).
                            <br>
                            Modul 5 sigter på den familie-terapeutiske praksis.
                        </p>
                    </td>
                </tr>
            </table>


            <table class="soft-table align-center mb-0">
                <tr class="bg-platinum-2">
                    <td><b>Start</b></td>
                    <td colspan="2"><b>År 4</b></td>
                </tr>
                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>SOMMER 2024</b>
                    </td>
                    <td><b> Modul 1 <br>
                            Grundmodul - 4 dages eksternat</b>
                    </td>
                    <td style="width: 300px;">
                        <p>Professionelle samtaler</p>
                    </td>
                </tr>
                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>EFTERÅR 2024</b>
                    </td>
                    <td><b>Modul 2<br>
                            Grundmodul - 4 dages eksternat</b>
                    </td>
                    <td style="width: 300px;">
                        <p>Krops-terapi og meditation, m.m.</p>
                    </td>
                </tr>

                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>VINTER 2024</b>
                    </td>
                    <td><b>Modul 3<br>
                            Grundmodul - 4 dages eksternat</b>
                    </td>
                    <td style="width: 300px;">
                        <p>Traume-forebyggelse, pt. 3.</p>
                    </td>
                </tr>

                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>VINTER 2024</b>
                    </td>
                    <td><b>Modul 4<br>
                            Grundmodul - 4 dages eksternat</b>
                    </td>
                    <td style="width: 300px;">
                        <p> Filosofisk terapi</p>
                    </td>
                </tr>

                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>FORÅR 2025</b>
                    </td>
                    <td><b>Modul 5<br>
                            Grundmodul - 4 dages eksternat</b>
                    </td>
                    <td style="width: 300px;">
                        <p>Familie-praksis</p>
                    </td>
                </tr>


                <tr class="bg-platinum-2">
                    <td style="min-width: 100px;"><b>SOMMER 2025</b>
                    </td>
                    <td><b>Modul 6<br>
                            Grundmodul - 4 dages eksternat,<br>
                            samt eksamen</b>
                    </td>
                    <td style="width: 300px;">
                        <p>Klinisk praksis</p>
                    </td>
                </tr>


            </table>


        </div>
    </div>

</div>