<div class="modal fade" id="pfp-modal" tabindex="-1" role="dialog" aria-labelledby="pfp-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="pfp-modal">Tilmelding</h2>

          <button type="button" class="close close-modal-button" data-dismiss="modal" aria-label="Close">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
<p><b>Tilmelding på info@copenhagencoaching.dk</b></p>
<p>Du er også meget velkommen til at ringe til os på xx xx xx xx – eller sende os en sms om, hvornår det passer dig, at vi ringer dig op. Vi glæder os til at høre fra dig. </p>

<p>Første hold starter den 23. marts 2021
</p>
            <br>
            <form class="white-form"
            action="https://formspree.io/f/mvovyqez"
            method="POST"
          >
           
              
              <input type="text" name="name" placeholder="Navn" required>
              <input type="text" name="email" placeholder="E-mail" required>

              <input type="text" name="tlf" placeholder="Tlf">
              <input type="text" name="virksomhed" placeholder="Virksomhed">
                <textarea name="besked" cols="30" rows="10" placeholder="Evt. kommentar"></textarea>
         
          
            <!-- your other form fields go here -->
          
            <button class="dust-green-btn" type="submit">Tilmeld</button>
          </form>

        </form>
    </div>
  </div>
</div>
</div>
