<div class="modal fade" id="pfp-c-modal" tabindex="-1" role="dialog" aria-labelledby="pfp-c-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
           
          <h2>Har du spørgsmål til uddannelsen?</h2>
          <button type="button" class="close close-modal-button" data-dismiss="modal" aria-label="Close">
            <span>&times;</span>
          </button>
        </div>
        
        <div class="modal-body">
            <p>Vi sidder klar til at besvare dine spørgsmål. <br>
                Udfyld formularen og så kontakter vi dig hurtigst muligt. Vi glæder os til at høre fra dig!</p>
          <form
          action="https://formspree.io/f/mnqoyjlq"
          method="POST"
        >
        <span>
        
           
            <input type="text" name="navn" placeholder="Navn">
            <input type="text" name="email" placeholder="Email">
            <input type="hidden" name="Emne" value="Spørgsmål omkring PFP">
        </span>
        
            <textarea name="besked" cols="30" rows="10" placeholder="Besked"></textarea>
        
        
          <!-- your other form fields go here -->
          <button class="green-button" type="submit">Send besked</button>
        </form>
        </div>
      </div>
    </div>
  </div>
  