<img src="/images/plu/waves.png" alt="" class="img-fluid mb-4">
<h2>Derfor skal du uddanne dig til procesleder hos Copenhagen Coaching Center</h2>
<p>af Christina Sonne, <a href="https://www.finduddannelse.dk" target="_blank">finduddannelse.dk</a>
</p>
<p class="fs-6"><b>Du er leder med faciliteringsansvar. Eller du er måske blevet valgt som
        frontfigur i en større
        forandringsproces. Du kan også være iværksætter med store visioner. Humlen ved det hele
        er,
        at du skal lede en proces. Det betyder, at du skal finde den mest effektive og
        hensigtsmæssige måde at lede organisationen fra A til B, C og D på.</b></p>
<p>Derfor er en uddannelse til procesleder det helt rigtige for dig. Her lærer du nemlig at
    navigere
    i alle processens dimensioner, så slutresultatet bliver en succes. <span class="bg-gainsboro">Samtidig bliver du
    hjemmevant
    i at være lydhør og empatisk over for og samskabende med dem, der er en del af processen.</span>
    Sagt
    anderledes, så bliver du dén, der får orkestret til at spille rent, når organisationen står
    over
    for både store og små forandringer. Men, hvordan definerer man så egentlig en proces?
    <span class="bg-gainsboro">Hvordan
    optræder man som den ideelle procesleder, og hvordan arbejder man bedst med målsætning i en
    proces? Netop det har vi mødt konsulent, Frederikke Winther, og direktør, Andreas Bering, i
    Copenhagen Coaching Center til en snak om.</span></p>
<h3>En proces er uforudsigelig ligesom havet</h3>
<p>Deres procesbegreb tager udgangspunkt i, at mennesker på en eller anden måde skal gøre noget
    anderledes end de plejer. Der er altså tale om en adfærdsændring, der kan komme i
    forlængelse af
    en procedureændring, et matrikelskifte, en implementerings- eller rekrutteringsproces med
    videre. <span class="bg-gainsboro">Processen er altså det, der er omkring noget, og da en sådan ofte kan være snørklet
    og
    umulig at kortlægge, advokerer Frederikke og Andreas samstemmende for, at man skal turde
    være et
    med processen:</span></p>

<div class="row py-3">
    <div class="col-12 offset-lg-3 col-lg-6">
        <figure>
            <blockquote class="blockquote mb-4">
                <p>
                    <i class="fas fa-quote-left fa-lg opacity-50 me-2"></i>
                    <em><span>Man kan sammenligne en proces med havet; Hvis du stiller dig i
                            vandkanten, når bølgerne kommer ind, så vil du ikke altid være i
                            stand
                            til at sige, hvornår og hvordan den næste rammer. Én vil komme
                            længere
                            ind end en anden, og man kan tit blive overrasket over, at to
                            bølger,
                            der kommer lige efter hinanden, hverken har samme effekt eller
                            længde.
                            Det samme gør sig gældende for processer. Det er derfor vigtigt, at
                            man
                            er bevidst om og åben over for, at man ikke altid kan forudsige
                            processer.</span></em>
                </p>
            </blockquote>

        </figure>
    </div>
</div>

<p>I arbejdet med processer er der derfor en indlejret accept af, at ting kan ændre sig og tage
    sig
    anderledes ud en først planlagt. Det kan både være strukturelle eller menneskelige faktorer,
    der
    spiller ind, hvorfor det altså er vigtigt, at du - som procesleder - både er lydhør,
    modtagelig
    og åben over for forandring, forklarer Frederikke:</p>
<div class="row py-3">
    <div class="col-12 offset-lg-3 col-lg-6">
        <figure>
            <blockquote class="blockquote mb-4">
                <p>
                    <i class="fas fa-quote-left fa-lg opacity-50 me-2"></i>
                    <em><span>Man kan sige, at du som procesleder fungerer som dit eget
                            vigtigste
                            redskab. Ved at være modtagelig, åben og opmærksom har du de bedste
                            muligheder for at lede og facilitere en proces.</span></em>
                </p>
            </blockquote>

        </figure>
    </div>
</div>

<p>Det er således ved at følge processens flow, at du kan lede et godt resultat i hus. Som
    procesleder er du den, der både kan sætte en proces på hold eller speede den lidt op, hvis
    du
    fornemmer, at det er det, der skal til.</p>

<h3>Den ideelle procesleder er en lydhør og samskabende strateg</h3>

<p><span class="bg-gainsboro">Hos Copenhagen Coaching Center sættes der en ære i, at undervisningen på
    proceslederuddannelsen
    afspejler det reelle arbejde med processer ude i organisationen.</span> Det betyder, at du helt
    praktisk lærer, hvordan du skal arbejde med de forskellige dimensioner af en proces -
    undervisningen er således delt i tre dele, der hver dedikerer sig til én af dimensionerne
    forklarer Andreas:</p>

<div class="row py-3">
    <div class="col-12 offset-lg-3 col-lg-6">
        <figure>
            <blockquote class="blockquote mb-4">
                <p>
                    <i class="fas fa-quote-left fa-lg opacity-50 me-2"></i>
                    <em><span>Vi arbejder med tre dimensioner, når vi taler om at arbejde med
                            processer: Vi har en strategisk, en emotionel og en samskabende
                            dimension. Det er fuldstændig nødvendigt, at du - som procesleder -
                            mestrer at arbejde på de her tre forskellige niveauer.</span></em>
                </p>
            </blockquote>

        </figure>
    </div>
</div>

<p>Som procesleder skal du altså både kunne tænke strategisk og dermed sørge for, at I når i mål
    med
    den forandringsproces, I nu engang har sat i værk. Du skal så at sige være katalysatoren for
    forandring. <span class="bg-gainsboro">For at kunne være det på bedste vis, er du nødt til at være emotionelt tilstede
    og
    menneskeligt rummelig.</span> I en forandringsproces af den ene eller anden slags kan der komme
    mange
    forskellige følelser og reaktioner på spil. I nogle tilfælde kan det være en generel
    usikkerhed
    omkring eller frygt for forandring, mens det andre gange handler om helt specifikke dele af
    processen. Hvad end det er, så er du nødt til at imødekomme modstanden på en empatisk og
    forstående måde. <span class="bg-gainsboro">Viden om dynamikker, andre mennesker og en stor selvindsigt er derfor
    altafgørende for dit arbejde med processer.</span></p>

<p>Endeligt er du nødt til at have en samskabende og kollektiv orienteret tilgang til
    forandringsprocessen. Du kan styre en proces nok så meget, men nogle gange er det nødvendigt
    at
    sætte processen fri og gå med udviklingen. <span class="bg-gainsboro">Som procesleder må du således have mod til at
    hvile i
    det forudsigelige og være kreativ og innovativ.</span> Frederikke pointerer, at det samtidig er
    nødvendigt, at du formår at skabe en proces, der tager højde for de involverede og deres
    bekymringer, holdninger og idéer:</p>

<div class="row py-3">
    <div class="col-12 offset-lg-3 col-lg-6">
        <figure>
            <blockquote class="blockquote mb-4">
                <p>
                    <i class="fas fa-quote-left fa-lg opacity-50 me-2"></i>
                    <em><span>Lydhørhed er én af de vigtigste dyder i procesledelse. Lydhørhed
                            over
                            for den flerstemmighed, der måtte være i det miljø, der skal
                            forandres.
                            Det er i den tredje dimension, at man bliver kollektivt orienteret
                            og
                            skaber noget nyt - måske endda ovenpå uenighederne, og det der
                            tidligere
                            har skabt modstand. Man kan sige, at det er her, at integrationen af
                            de
                            forskellige interesser finder sted.</span></em>
                </p>
            </blockquote>

        </figure>
    </div>
</div>

<p>Heri spiller sproget en vigtig rolle. Sproget skaber nemlig holdninger, og det positive
    sprogbrug
    kan være med til at sikre en nemmere proces, mens et negativt sprog kan gøre det modsatte.
 <span class="bg-gainsboro">Nogle
    gange kan sproget endda komme til at gå foran forandringen i form af rygter eller andet
    internt
    i organisationen fortæller Andreas:</span>   </p>

<div class="row py-3">
    <div class="col-12 offset-lg-3 col-lg-6">
        <figure>
            <blockquote class="blockquote mb-4">
                <p>
                    <i class="fas fa-quote-left fa-lg opacity-50 me-2"></i>
                    <em><span>Nogle gange kan der så at sige gå vira i organisationen. Der kan
                            blive
                            skabt nogle fortællinger, der ikke er hensigtsmæssige i forhold til
                            processen. I så fald må man så sætte ind med antivirus og få skabt
                            nogle
                            genfortællinger eller en helt ny én, så der kan komme en modstemme
                            og
                            føre processen tilbage på sporet igen. Den sproglige håndtering er
                            derfor ret så afgørende.</span></em>
                </p>
            </blockquote>

        </figure>
    </div>
</div>

<p>Som procesleder er det dig, der navigerer rundt i processen og dens cyklus. Med den opgave er
    det
    alfa omega at holde sig for øje, at en proces ikke bliver for stringent.</p>

<h3>Den gode proces er adaptiv</h3>

<p><span class="bg-gainsboro">Det vigtige i procesledelse er, at huske på, at processen skal være iterativ eller adaptiv.</span>
    Der
    skal så at sige kunne bremses og speedes op på de rigtige tidspunkter. I skal altså fra A
    til B,
    C og D på den mest hensigtsmæssige måde, hvorfor de procesmål der nu en gang sættes for at
    kunne
    monitorere processen skal kunne gradbøjes forklarer Andreas:</p>

<div class="row py-3">
    <div class="col-12 offset-lg-3 col-lg-6">
        <figure>
            <blockquote class="blockquote mb-4">
                <p>
                    <i class="fas fa-quote-left fa-lg opacity-50 me-2"></i>
                    <em><span>Grundlæggende skal man passe på med at gøre processen al for
                            lineær,
                            da det jo næsten er umuligt at foregribe alting. Det er derfor klogt
                            at
                            tænke den lidt mere cirkulær, fordi der kan være ting man ikke lige
                            har
                            tænkt på. Det kan derfor være godt lige at have de der små
                            time-outs. En
                            gang imellem kan det dog være nødvendigt bare er bedst at holde fast
                            i
                            en eller anden grundstruktur, så alting ikke er til evig
                            debat.</span></em>
                </p>
            </blockquote>

        </figure>
    </div>
</div>

<p>Samtidig er det vigtigt, at man husker, at der er et før og efter, når en given proces
    afsluttes.
    <span class="bg-gainsboro">Det at forberede en proces ordentligt ved at tale med interessenter og afstemme
    forventninger
    sikrer, at I får en ordentligt start med forhåbentligt færre bump på vejen.</span> Når processen så
    er
    afsluttet opfordrer Andreas og Frederikke til at debriefe og tage ved læring:</p>

<div class="row py-3">
    <div class="col-12 offset-lg-3 col-lg-6">
        <figure>
            <blockquote class="blockquote mb-4">
                <p>
                    <i class="fas fa-quote-left fa-lg opacity-50 me-2"></i>
                    <em><span>Generelt kan man sige, at det giver ret god mening at kigge på,
                            hvad
                            der lykkedes og ikke lykkedes i processen. Og måske endda prøve at
                            lave
                            en proces omkring det også, og spørge: “Hvad har vi lært, og hvordan
                            kan
                            vi samle erfaringer fra det vi har gjort til en anden
                            gang?</span></em>
                </p>
            </blockquote>

        </figure>
    </div>
</div>

<p>Det at lave en proces om processen gavner det videre arbejde, ligesom det er nødvendigt at
    man
    sætter sig realistiske forventninger i forhold til forandringen. Det er jo en proces, og
    derfor
    ikke noget, der bare sker på tre timer eller en dag</p>

<h3>Derfor skal du være procesleder</h3>

<p>Du er sikkert allerede vant til at arbejde med udviklingen af og implementeringen af større
    projekter. <span class="bg-gainsboro">Du kan eksekvere strategi og handlings- og kommunikationsplaner, men måske føler
    du,
    at du mangler nogle ekstra gear at køre i - hvordan sikrer du dig for eksempel, at alle
    føler
    sig inddraget, og at I er kommet godt og grundigt rundt om projektet.</span> Det gør du ved at
    uddanne
    dig til procesleder. Frederikke og Andreas er enige om, at du - med uddannelsen får et
    fagligt
    og menneskeligt beredskab, der sikrer sunde processer</p>

<div class="row py-3">
    <div class="col-12 offset-lg-3 col-lg-6">
        <figure>
            <blockquote class="blockquote mb-4">
                <p>
                    <i class="fas fa-quote-left fa-lg opacity-50 me-2"></i>
                    <em><span>Du får udviklet et strategisk, et emotionelt og et samskabende
                            gear.
                            Du lærer altså at tilpasse din måde at facilitere og lede en proces,
                            hvad enten de er enormt konfliktfyldte eller enormt ambitiøse. Når
                            du
                            har et fagligt beredskab til faktisk at facilitere en proces, så kan
                            du
                            blive faglig nysgerrig og sætte nye initiativer i gang. En del af
                            beredskabet er jo også at turde, og at have det der metablik og de
                            der
                            gear at køre i</span></em>
                </p>
            </blockquote>

        </figure>
    </div>
</div>
<p>Du skal uddanne dig til procesleder hos Copenhagen Coaching Center, hvis du ønsker at mestre
    den
    sunde og veldesignede proces. Du skal have et ønske om at være den, der sikrer, at
    orkesteret
    spiller rent, finder mening i deres arbejde og føler sig som et del af et fællesskab.</p>

<h3>
    Procesledelsens tre dimensioner
</h3>

<p class="mb-0"><em>Den strategiske dimension - at styre processe</em></p>
<p>Mange processer skal man kontrollere og have styr på, fordi man har et klart mål. Måske vil
    man
    øge produktiviteten, effektivisere møderne eller implementere tiltag systematisk.</p>

<p class="mb-0"><em>Den emotionelle dimension - at fornemme og rumme processer</em></p>
<p>Ved processtart eller når processerne kører, kan der dukke følelser og stemninger op, der
    virker
    forvirrende og eller ødelæggende for processen. Disse stemninger skal du kunne rumme og
    arbejde
    med på en konstruktiv måde.</p>

<p class="mb-0"><em>Den samskabende dimension - at kreere processer</em></p>
<p>Mange procesforløb er uforudsigelige – og nogen processer skal føre gruppen et uforudset sted
    hen. Du skal altså evne at sætte processen fri og følge med udviklingen – også når den fører
    til
    noget uventet eller ikke planlagt.</p>