.community {
    width: 100%;
    height: auto;
    padding: 0 20vh 10vh 20vh;

    .wrapper {
        grid-gap: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            'contents contents events'
            'inspiration inspiration inspiration';
    }


    .content-section {
        grid-area: contents;
        background-color: #fde1e1af;
        padding: 3vh;

        ul {
            padding-left: 2vh;
            margin: 0;
        }

        h2 {
            font-weight: 600;
            padding-bottom: 2.5vh;
        }
    }

    .event-section {
        grid-area: events;

        h1 {
            margin-bottom: 2vh;
        }

        p {
            word-break: break-word;
        }

    }

    .inspiration-section {
        grid-area: inspiration;
        text-align: center;

        h2 {
            padding-top: 5vh;

            a {
                color: $black;
                line-height: 4vh;
                margin-bottom: 0;
                opacity: .7;
                transition: .2s all ease-in;
                text-transform: uppercase;
                font-weight: 500;

                &:hover {
                    text-decoration: none;
                    opacity: 1;
                    color: inherit;
                }
            }
        }

        h1 {
            color: #000;
            grid-area: header;
            line-height: 12.5vh;
            margin: 5vh 0;
            font-weight: 500;
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
        }

        .inspirations-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 15px;

            a:hover {
                text-decoration: none;
            }

            .post-box {
                height: 50vh;
                background-size: cover;
                display: flex;
                align-items: flex-end;
                text-align: left;
                position: relative;
                padding: 2vh;

                .post-box-text {
                    z-index: 100;

                    h2 {
                        color: #fff;
                        font-weight: 500;
                        padding: 0;
                        margin: 0;
                        font-family: 'Oswald', sans-serif;
                        text-transform: uppercase;

                    }

                    p {
                        color: #fff;
                        font-weight: 500;
                        padding: 0;
                        margin: 0;
                        font-family: 'Oswald', sans-serif;
                        text-transform: uppercase;
                    }
                }
            }

            .post-box::before {
                content: ' ';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 50vh;
                z-index: 0;
                opacity: .2;
                background: $black;
                background-size: cover;
            }


        }
    }
}



@media (max-width: 1500px) {
    .community {


        .wrapper {
            .inspiration-section {
                .inspirations-wrapper {
                    display: grid;
                    grid-template-columns: 1fr 1fr;

                }
            }
        }
    }
}

@media (max-width: 900px) {
    .community {
        padding: 0 0 10vh 0;
        .wrapper {
            grid-template-columns: 1fr;
            grid-template-areas:
                'contents'
                'events'
                'inspiration';

            .inspiration-section {


                .inspirations-wrapper {
                    display: grid;
                    grid-template-columns: 1fr;

                }
            }
        }
    }
}