.content {
  width: 100%;
  height: auto;
  padding: 0 20vh 10vh 20vh;

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10vh 0;

    img {
      height: 55vh;
      width: 55vh;
      object-fit: cover;
    }

    span {
      display: flex;
      flex-direction: column;
      width: 100%;

      h1 {
        color: $black;
        font-size: 11.5vh;
        line-height: 12.5vh;
        font-weight: 500;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
      }

      p {
        width: 100%;
        line-height: 4vh;
        color: $black;
        font-size: 2vh;
      }

      h2 {
        font-size: 2vh;
        font-weight: 600;
        padding-bottom: 2.5vh;
      }

      img {
        height: 5vh;
        width: 5vh;
        margin-bottom: 2.5vh;
      }

      a {
        text-decoration: none;
        color: $black;
        font-weight: 400;
        font-size: 2vh;
        line-height: 4vh;
      }
    }
  }

  .wrapper:nth-child(even) {
    direction: rtl;
  }
}

/* Large devices (laptops/desktops, 1024px and down) */

@media (max-width: 1024px) {
  .content {
    padding: 0 3vh 15vh 3vh;

    .wrapper {
      display: grid;
      grid-template-columns: 1fr;
      padding: 10vh 0 0 0;
      grid-auto-flow: column-reverse;

      img {
        width: 100%;
        height: auto;
        grid-column-end: -1;
      }

      span {

        h1 {
          font-size: calc(44.22188px + 1.54083vw);
          line-height: calc(50.22188px + 1.54083vw);
          padding-top: 7.5vh;
          font-weight: 500;
          word-break: break-all;
        }

        img {
          height: 5vh;
          width: 5vh;
          margin-bottom: 2.5vh;
        }

        h2 {
          font-size: 18px;
          line-height: 27px;
        }

        p {
          font-size: 14px;
          line-height: 35px;
        }

        a {
          font-size: 14px;
          line-height: 35px;
        }
      }
    }
  }
}