.content {
  width: 100%;
  height: auto;
  padding: 0 20vh 10vh 20vh;


  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10vh 0 0 0;



    .content-img {
      height: 55vh;
      width: 55vh;
      object-fit: cover;
      place-self: start start;
    }

    span {
      display: flex;
      flex-direction: column;
      width: 100%;

      h1 {
        @include header-1;
      }

      p {
        @include paragraph;

      }

      h2 {
        font-weight: 600;
      }

      ul {
        li {
          padding: .5vh 0;
        }
      }

      a {
        text-decoration: none;
        color: $black;
        font-weight: 400;
      }
      .contact-box {
        background-color: #F6F5F3;
        padding: 2vh;

        
        h5 {
          font-weight: 500;
          font-family: 'Oswald', sans-serif;
          text-transform: uppercase;
          opacity: .5;
          user-select: none;

        }

      .contact {
        width: 100%;
        img {
          width:10vh;
          height:10vh;
          object-fit: scale-down;
          float: left;
          object-position: top;
        }

        div {
          display: grid;
          grid-area: div;
          padding: 1vh;
          font-family: 'Oswald', sans-serif;
          text-transform: uppercase;
          opacity: .5;
          user-select: none;
        }
      }

    }
    }
  }

  .wrapper:nth-child(even) {
    direction: rtl;
    p {
      direction: ltr;
    }
    a {
      direction: ltr;
    }
    span {
      direction: ltr;
    }
  }
}

.fundament-link {
  text-decoration: none;
  color: #000;
  font-weight: 600 !important;
}



/* Large devices (laptops/desktops, 1024px and down) */

@media (max-width: 1250px) {
  .page {
  
  }
  .content {
    padding: 0 20vh 20vh 20vh;

    .wrapper {
      display: grid;
      grid-template-columns: 1fr;
      padding: 10vh 0 0 0;
      grid-auto-flow: column-reverse;

      .content-img {
        width: 100%;
        grid-column-end: -1;
        height: 30vh;
      }


      span {

      

        h1 {
          padding-top: 7.5vh;
          font-weight: 500;
          word-break: break-all;
        }

        @media only screen and (max-width: 480px) {
          h1 {
            line-height: 40px !important;
          }
        }


        h2 {
          word-break: break-all;
          line-height: 32px;
        }

        p, ul li {
          line-height: 3.5vh;
        }
      }

     
    }
  }
}

@media (max-width: 1024px) {
  .content {

    padding: 0 3vh 5vh 3vh;
    .wrapper {
      span {

        .contact-box {
          .contact {
            img {
              float: none;
            }

            div {
              padding-left: 0;
            }
  
          }
        }

        h1 {
          line-height: 5vh;
    
        }
      }
     
    }

   
  }
  
}