.consulting-container {
  h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 100px;
    text-align: center;
  }

  hr {
    margin-top: 50px;
    border: 1px solid #e1e4e8;
  }

  .row-one {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .row-two {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .row-three {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  * {
    box-sizing: border-box;
  }

  .column {
    flex: 33.33%;
  }

  .consulting-text {
    h5 {
      margin-top: 50px;
      text-align: left;
      margin-left: 25px;
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
    }

    p {
      margin-top: 20px;
      text-align: left;
      margin-left: 25px;
      margin-right: 25px;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
    }

    .green-button {
      margin-top: 75px;
      text-align: center;
      margin-left: 25px;
      width: 125px;
      height: 40px;
      font-size: 18px;
      border: none;
      font-weight: 400;
      text-transform: none;
    }
  }

  .col-12.col-lg-12 {
    h2 {
      margin-top: 75px;
    }
  }

  .col-lg-4 {
    margin-bottom: 50px;
    padding: 0;
    max-width: 375px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 80px;
  }

  .img-cons {
    margin: 10px auto;
    width: 355px;
    height: 225px;
    background-size: cover;
    background-position: center;
  }

  .card:hover {
    transform: scale(1.075);
  }

  .card {
    text-align: left;
    -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.16);
    -moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.16);
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.16);
    border: none;
    transition: all ease-in-out .3s;
    height: 500px;
    width: 375px;
  }

  .card-body {
    padding: 0 10px 10px;

    h5 {
      font-size: 20px;
      font-weight: 600;
      margin-top: 53px;
      font-weight: bold;
      text-align: center;
      line-height: 30px;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      margin: 0 0 10px;
      line-height: 27px;
      text-align: center;
    }

    a {
      // center virker ikke og det gør margin-top heller ikke
      font-size: 18px;
      color: #1ABC9C;
      margin-top: 32px;
      line-height: 27px;
      text-align: center;
      text-decoration: none;
    }

  }

  .moreBtn {
    text-align: center;
    margin-top: 50px;

    .green-button {
      width: 373px;
      height: 50px;
      font-size: 20px;
      text-align: center;
      line-height: 30px;
      text-transform: none;
      font-weight: 500;
    }
  }

}
