.content {
  width: 100%;
  height: auto;
  padding: 0 20vh 10vh 20vh;

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10vh 0;

    img {
      height: 55vh;
      width: 55vh;
      object-fit: cover;
    }

    span {
      display: flex;
      flex-direction: column;
      width: 100%;

      h1 {
        @include header-1;
      }

      p {
        @include paragraph;
      }

      h2 {
        font-size: 2vh;
        font-weight: 600;
        padding-bottom: 2.5vh;
      }

      ul {
        li {
          font-size: auto;
        }
      }

      img {
        height: 5vh;
        width: 5vh;
        margin-bottom: 2.5vh;
      }

      a {
        text-decoration: none;
        color: $black;
        font-weight: 400;
        font-size: 2vh;
        line-height: 4vh;
      }
    }
  }

  .wrapper:nth-child(even) {
    direction: rtl;
    p {
      direction: ltr;
    }
    a {
      direction: ltr;
    }
  }
}

.fundament-link {
  text-decoration: none;
  color: #000;
  font-size: 2vh;
  font-weight: 600 !important;
}

/* Large devices (laptops/desktops, 1024px and down) */

@media (max-width: 1024px) {
  .content {
    padding: 0 3vh 15vh 3vh;

    .wrapper {
      display: grid;
      grid-template-columns: 1fr;
      padding: 10vh 0 0 0;
      grid-auto-flow: column-reverse;

      img {
        width: 100%;
        height: auto;
        grid-column-end: -1;
      }

      span {

        h1 {
          font-size: calc(42.22188px + 1.54083vw);
          line-height: calc(48.22188px + 1.54083vw);
          padding-top: 7.5vh;
          font-weight: 500;
          word-break: break-all;
        }

        img {
          height: 5vh;
          width: 5vh;
          margin-bottom: 2.5vh;
        }

        h2 {
          font-size: 16px;
          line-height: 32px;
        }

        p, a {
          font-size: 13px;
          line-height: 35px;
        }
      }
    }
  }
}