
.grid-auto-5 {
    grid-template-columns: 1fr 578px;
   

    @include for-ipad-pro {
        grid-template-columns: 1fr;
    }
}

    .education-content {
        padding-left: 0;
        padding-right: 50px !important;
        @include for-cont {
           
        }
       
    }

    .facta-column {
        height: auto;
        padding: 0;
        width: 578px;
        margin-bottom: 50px;
/*         @include for-cont {
            width: 400px;
          } */
          @include for-bot {
              width: 100%;
          }

        h3 {
            display: block;
            border-bottom: 2px solid rgba(255, 255, 255, 0.25);
            margin: 20px 0 20px 0;
            padding-bottom: 20px;
            font-size: 1.2rem;
            
           
        }
        h1, h2, h3, h4, h5 {
            color: white !important;
        }
        a {
            display: block;
        }

        .collapse-dates {
            height: 0;
            overflow: hidden;
            transition: all 5s ease-in-out;
        }

        .collapse-dates.show-dates {
            height: auto;
        }

        .facta-box {
            background: $black;
            color: #ffffff;
            transition: all 5s ease-in-out;
            padding: 25px;
            z-index: 100;

            i {
                padding: 0;
            }

            .contact {
                width: 100%;
                img {
                  width:10vh;
                  height:10vh;
                  object-fit: cover;
                }
        
                div {
                    a {
                        color: $green;
                        font-size: .8rem;
                    }
                    padding-top: 5px;
                  font-family: 'Oswald', sans-serif;
                  text-transform: uppercase;
                  user-select: none;
                }
              }

            .date-box {

                .date-links {
                    display: flex;
                    align-items: center;
                    color: #ffffff;
                    justify-content: space-between;
                    padding-bottom: 10px;
                    margin-bottom: 7px;
                    cursor: pointer;
                }

                ul {
                    li {
                        padding: 0;
                    }
                }
            }

            span {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-top: 20px;

                a {
                    padding: 10px 0;
                }
            }

            p {
                @include paragraph;
                color: white;
                margin: 10px 0;
            }
        }
    }

    .education-title {
        display: none;
    }

    h1 {
        padding-bottom: 20px;
        padding-top: 25px;
    }


    p {
        @include paragraph;
    }



    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 50px 0;
    }

    

    a {
        color: $green;
        text-decoration: none;
    }

    a.reg-link,
    a.pdf-link {
        color: #ffffff;
        font-weight: 500;
    }

    a.reg-link {
        margin-bottom: 10px;
    }

    .muted {
        opacity: 0.5;
        pointer-events: none;
        cursor: default;
    }

    .hidden {
        display: none !important;
    }

    .dates:hover,
    .sign-up-button:hover,
    .pdf-download:hover {
        opacity: 1;
    }


// Medium devices (landscape tablets, 768px and down)

@media (max-width: 768px) {

    .education {
        width: 100%;

        .wrapper {
            padding: 0 5vh 0 5vh;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;

            .education-content {
                grid-column-start: unset;
                grid-column-end: unset;
            }
        }

        .facta-column {
            grid-column-start: unset;
            padding-bottom: 5vh;
        }

        .col-12 {
            padding: 40px 0;
        }

        img {
            width: 100%;
            height: auto;
        }

        .dates {
            height: 70px;
        }

        .pdf-download {
            margin: 0;
            margin-top: 20px;
        }

        .education-content {
            padding-right: 0px !important;
        }
    }
}

/* Large devices (laptops/desktops, 1290px and down) */

@media (max-width: 1290px) {

    .education {
        .wrapper {
            grid-template-columns: 1fr;
        }
        .row {
            width: 90%;
        }
    }
}

@media (max-width: 468px) {
   
}