
@media print {
    body * {
      visibility: hidden;
    }


    #section-to-print, #section-to-print * {
      visibility: visible;
      a, button {
          visibility: hidden;
      }
    }
    #section-to-print {
      position: absolute;
      left: 0;
      top: -600px;
      
    }

    .education-title {
        font-size: 35px;
        padding-top: 0;
    }

    h1, h2, h3 {
        font-size: 27px;
        padding-top: 0;
        color: $green;
    }
  }
  
.education {

    .row {
        width: 1230px;
    }

    padding: 0;

    .education-title {
        display: none;
    }

    h1 {
        font-size: 20px;
        padding-bottom: 20px;
        padding-top: 25px;
    }

    p {
        font-size: 18px;
    }

    img {
        height: 500px;
        padding: 50px 0px;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 50px 0;
    }

    .col-12 {
        padding: 0;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    a {
        color: $green;
        text-decoration: none;
        font-size: inherit;
    }

    .education-bottom {
        display: block;
        width: 100%;

        .read-more {
            padding-bottom: 0;
            width: 100%;
        }
    }

    .dates {
        height: 50px;
        width: auto;
        padding: 0 20px;
        font-size: 18px;
        font-weight: 600;
        background: $green;
        border: none;
        color: #ffffff;
        opacity: .9;
    }

    .sign-up-button {
        margin: 25px 0 0 0;
        height: 50px;
        width: auto;
        padding: 0 20px;
        font-size: 18px;
        font-weight: 600;
        background: $green;
        border: none;
        color: #ffffff;
        opacity: .9;
    }

    .pdf-download {
        height: 50px;
        width: auto;
        padding: 0 20px;
        font-size: 18px;
        font-weight: 600;
        background: transparent;
        color: $black;
        border: 2px solid $black;
        margin-top: 0;
        flex-wrap: wrap;
        margin-left: 10px;
        opacity: .9;
    }

    .dates:hover,
    .sign-up-button:hover,
    .pdf-download:hover {
        opacity: 1;
    }

}

// Medium devices (landscape tablets, 768px and down)

@media (max-width: 768px) {

    .education {
        width: 100%;

        .col-12 {
            padding: 75px 0;
        }

        img {
            width: 100%;
            height: auto;
        }

        .dates {
            height: 70px;
        }

        .pdf-download {
            margin: 0;
            margin-top: 20px;
        }
    }

}

@media (max-width: 1290px) {

    .education {
        .row {
            width: 90%;
        }
    }

}