.education {

    padding: 0;

    .row {
        width: 1230px;
    }

    .education-content {
        padding-left: 0;
        padding-right: 50px !important;
    }

    .facta-column {
        height: auto;
        padding: 0;

        h3 {
          display: block;
          border-bottom: 2px solid #ffffff;
          margin: 20px 0 0 0;
        }

        a {
            display: block;
        }

        .collapse-dates {
          display: none;

        }

        .collapse-dates.show-dates {
          display: inline-block;
        }

        .facta-box {
            background: $black;
            color: #ffffff;
            padding: 25px;
            z-index: 100;

            i {
              font-size: 25px;
              padding:0;
            }
            .date-box {

              // background-color: $green;
              // padding: 3px 10px 0px 10px;
              // margin-bottom: 7px;

              .date-links {
                display: flex;
                align-items: center;
                color: #ffffff;
                justify-content: space-between;
                padding: 0;
                margin-bottom: 7px;
                cursor: pointer;

              }

              ul {
                li {
                  padding: 0;
                }
              }





            }

            span {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-top: 20px;
            }

            p {
                font-size: 16px;
                margin: 10px 0;
            }
        }
    }

    .education-title {
        display: none;
    }

    h1 {
        font-size: 25px;
        padding-bottom: 20px;
        padding-top: 25px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 15px;
    }


    p {
        font-size: 16px;
    }

    img {
        height: 500px;
        padding: 50px 0px;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 50px 0;
    }

    .col-12 {
        padding: 0;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    a {
        color: $green;
        text-decoration: none;
        font-size: inherit;
    }

    // Bruger vi dates classen mere??

a.reg-link, a.pdf-link {
    color: #ffffff;
    font-weight: 500;
}

 a.reg-link {
     margin-bottom: 10px;
 }

    .muted {
        opacity: 0.5;
        pointer-events: none;
        cursor: default;
    }

    .hidden {
        display: none !important;
    }



    .dates:hover,
    .sign-up-button:hover,
    .pdf-download:hover {
        opacity: 1;
    }

}

// Medium devices (landscape tablets, 768px and down)

@media (max-width: 768px) {

    .education {
        width: 100%;

        .col-12 {
            padding: 40px 0;
        }

        img {
            width: 100%;
            height: auto;
        }

        .dates {
            height: 70px;
        }

        .pdf-download {
            margin: 0;
            margin-top: 20px;
        }

        .education-content {
            padding-right: 0px !important;
        }
    }


}

@media (max-width: 1290px) {

    .education {
        .row {
            width: 90%;
        }
    }

}
