

.employees {
  text-align: center;

  i {
    font-size: 35px;
    display: inline-block;
    margin: auto;
  }

  .row {
    -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.16);
    -moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.16);
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.16);
    margin-top: 75px;
    padding-top: 20px;
    width: unset !important;
    padding-right: 100px !important;
    height: 400px !important;

    iframe {
      padding: 0;
      margin: 0;
    }

   
  }

  .col-12.col-lg-12 {
    h2 {
      margin-top: 75px;
    }
  }

  .col-lg-6 {
    text-align: left;
    margin:0;
    padding: 0;

    p {
      margin: 0 0 15px 0;
    }
    
  }

  h3 {
    margin: 0 0 20px 0;
    font-size: 18px;
    font-weight: 600;
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 50px;
  }

  p {
    font-size: 16px;
    margin-bottom: 85px;
  }

  .col-lg-4 {
    margin-bottom: 50px;
    padding:0;
    max-width: 375px;
  }

  .card:hover {
    transform:  scale(1.075)
  }

  .card {
    text-align: left;
    -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.16);
    -moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.16);
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.16);
    border: none;
    transition: all ease-in-out .3s;



    a {
      color: #212529;
    }

    a:hover {
      text-decoration: none;
      color:#1ABC9C;
    }

    .showmore-button {
      cursor: pointer;
      border: none;
      background: none;
      margin: 10px 0 0 0;
      font-size: 14px;
      padding: 0;
      background-color: none;
      width: auto;
      display: inline-block;
    }

    .showmore-button:hover {
      color:#1ABC9C;
    }

    .card-title {
      font-size: 16px;
      font-weight: 600;
      margin: 0 0 10px;
    }

    .card-body {
      padding: 0 10px 10px;

      p {
        margin: 10px 0 0;
        font-size: 14px;
      }

      .card-text {
        padding-bottom: 20px;
      }
    }

    .img-empl {
      margin: 10px auto;
      width: 355px;
      height: 290px;
      background-size: cover;
      background-position: center;
    }
  }
}
