.employees {
  text-align: center;
  padding-bottom: 75px;

  .col-lg-4 {
    margin-bottom: 50px;
    padding: 0;
    max-width: 375px;

  }

  .card {
    text-align: left;
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
    border: none;

    a {
      color: #212529;
      font-size: 16px;
    }

    a:hover {
      text-decoration: none;
      color: #1ABC9C;
    }

    .showmore-button {
      cursor: pointer;
      border: none;
      background: none;
      margin: 10px 0 0;
      font-size: 14px;
      padding: 0;
      background-color: none;
      width: auto;
      display: inline-block;
    }

    .card-body {
      text-align: center;
      color: #000000;
    }

    .img-empl {
      margin: 10px auto;
      width: 95%;
      height: 290px;
      background-size: cover;
      background-position: center;
    }

    .card-title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 0;
      padding-bottom: 18px;
      color: #000000;
    }

    .card-subtitle {
      font-size: 18px;
      font-weight: 400;
    }

    .showmore-button:hover {
      color: #1ABC9C;
    }
  }
}

// Information card and iframe

.information-card {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;

  h1 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 75px;
    text-align: center;
  }

  span {
    height: 442px;
    width: 900px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
    display: inline-block;
    margin: auto;
  }
}

.information-card-text {
  height: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 25px;

  h1 {
    font-size: 18px;
    padding-top: 10px;
    font-weight: 500;
    padding-bottom: 0;
    text-align: left;
  }

  p {
    font-size: 16px;
    padding-top: 10px;
    font-weight: 400;
  }

  a {
    font-size: 16px;
    padding-bottom: 15px;
    color: #000000;
    text-decoration: none;
  }

  a:hover {
    color: #1ABC9C;
  }

  button {
    height: 50px;
    width: 175px;
    background: #1ABC9C;
    border: none;
    margin-top: 15px;
    color: #ffffff;
    font-weight: 600;

    a {
      color: #ffffff;
      font-weight: 600;
    }

    :hover {
      color: #ffffff;
    }
  }
}

.tab-pane {
  .iframe-container {
    height: 400px;
    width: 400px;
    float: right;
    margin-top: -400px;
    margin-left: 500px;
  }

  iframe {
    height: 100%;
    width: 100%;
  }
}

.nav-tabs .nav-link.active {
  color: #1ABC9C;
}

.nav-tabs {
  a {
    color: #000000;
  }

  a:hover {
    color: #1ABC9C;
  }
}

// Individual employee pages

.employee {

  a {
    color: #212529;
  }

  a:hover {
    text-decoration: none;
    color: #1ABC9C;
  }

  .empl-info {
    background-color: #1ABC9C;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 35px 30px 30px;
    margin-bottom: 30px;

    .row {
      margin: 0;
    }

    a {
      color: white;
    }

    a:hover {
      color: rgb(165, 190, 185);
    }
  }

  .infobox {
    margin-top: 100px !important;
    margin-bottom: 0px !important;
    text-align: center;
  }

  img {
    margin-right: 20px;
    max-width: 400px;
  }

  i {
    font-size: 50px;
    margin-top: 20px;
  }

}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {

  .employees {

    .img-empl {
      margin: 20px auto;
      width: 90%;
    }

    .end-empl {
      box-shadow: none;
      margin-top: 75px;
      padding-top: 10px;
      width: unset !important;
      padding-right: 0 !important;
      height: unset !important;

      h3 {
        margin-top: 50px;
      }
    }
  }
}

// Medium devices (landscape tablets, 768px and down)

@media (max-width: 768px) {

  .employee {
    img {
      width: 100%;
    }
  }

  .tab-content,
  .tab-pane {
    width: 100%;
  }

  .employee-box {
    margin-bottom: 50px !important;
  }

  .information-card {
    height: auto;
    padding-bottom: 75px;
    padding-top: 0;

    span {
      height: auto;
      width: 90%;
    }

    h1 {
      font-size: 18px;
      padding: 75px 0;
    }

    .iframe-container {
      height: 372px;
      width: 100%;
      margin-top: 0;
    }

    .information-card-text {
      width: 100%;
      padding: 25px;

      h1 {
        padding: 10px 0;
      }
    }

    .information-card-text p,
    .information-card-text a {
      padding-bottom: 5px;
      max-width: 332px;
    }
  }
}

.empl-info .infobox {
  width: 100%;
}

.employee .empl-info a {
  font-size: 20px;
}

/* Large devices (laptops/desktops, 992px and down) */

@media (max-width: 992px) {

  .row {
      width: 90% !important;
  }

  .information-card {
    span {
      width: 90%;
    }
  }

}