.employees {
  height: auto;
  width: 100%;
  background: #E1BCA7;
  padding: 10vh 20vh;

  h1 {
    font-size: 3vh;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 6vh;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 4vh;

    .employee {
      width: 100%;
      height: 55vh;
      color: #000000;
      margin-bottom: 15vh;

      img {
        object-fit: cover;
        width: inherit;
      }

      h5 {
        font-size: 3vh;
        font-weight: 700;
        padding: 3vh 0 0 0;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
      }

      p {
        background: transparent;
        font-weight: 2vh;
        line-height: 4vh;
      }
    }
  }
}

// Information card and iframe

.information-card {
  background: #141B21;
  height: auto;
  width: 100%;
  padding: 10vh 20vh;
  display: flex;
  flex-direction: row;

  span {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;

    h1 {
      color: white;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      font-size: 11.5vh;
      line-height: 12.5vh;
      max-width: 85%;
      padding-bottom: 2.5vh;
    }

    a,
    p {
      color: white;
      display: block;
      font-size: 2.2vh;
      line-height: 4.4vh;
      width: 70%;
      user-select: none;
    }

    ul {
      padding: 0;

      li {
        list-style-type: none;
      }

      a,
      p {
        list-style-type: none;
        margin-bottom: 0;
        line-height: 5vh;
      }
    }
  }

  iframe {
    height: 55vh;
    width: 75vh;
    align-self: center;
    border: none;
  }
}

// Individual employee pages

.employee {
  height: auto;

  margin: 0 auto;

  .row {
    width: 1230px;
  }

  .employee-image {
    padding: 0;

    .information-box {
      width: 100% !important;
      height: auto;
      padding: 20px 0;
      margin: 0;

      .info-column {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $black;
        width: auto;
        margin: 0;
        font-weight: 500;
        padding: 5px 0;


        a {
          font-size: 1rem;
          padding: 0;
          color: $black;
        }

        .linkedin {
          font-size: 1.4rem;
        }
      }
    }

    img {
      width: 100%;
    }
  }

  .employee-text {
    padding: 0 0 0 25px;
  }
}

// Medium devices (landscape tablets, 1024px and down)

@media (max-width: 1024px) {

  .employees {
    padding: 10vh 3vh;

    .wrapper {
      grid-template-columns: 1fr;

      .employee {
        margin-bottom: 32.5vh;
      }
    }
  }

  .information-card {
    padding: 10vh 3vh;
    flex-direction: column;

    span {
      width: 100%;
      padding-bottom: 7.5vh;

      h1 {
        font-size: calc(44.22188px + 1.54083vw);
        line-height: calc(50.22188px + 1.54083vw);
        max-width: 100%;
        padding-bottom: 2.5vh;
      }

      a,
      p {
        font-size: 16px;
        line-height: 32px;
        width: 100%;
      }
    }

    iframe {
      height: 55vh;
      width: 100%;
    }
  }
}