.expandable {
  .row {
    width: 1230px;
    height: auto;

    .col-12 {
      padding: 0;
    }

    .expandable-pane:nth-of-type(1) {
      padding-top: 0;
    }
  
    .expandable-pane:nth-of-type(4){
      padding-bottom: 0;
    }

    .expandable-pane {
      height: auto;
      width: 100%;
      margin: 0;
      display: flex;
      flex-direction: row;
      padding:40px 0;
      position: relative;

      .row {
        margin: 0;
      }

      .anchor {
        position: absolute;
        top: -300px;
      }

      .expandable-pane-text {
        order: 2;
        width: 100%;
        padding-left: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
          font-size: 20px;
          font-weight: 600;

        }

        .content {

          font-size: 16px;
          font-weight: 400;
          padding: 10px 0;
          line-height: 24px;
          height: auto;
          padding-top: 10px !important;


          h1,
          h2,
          h3,
          h4,
          h5, strong {

            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
          }

          a {
            color: $black;
          }

          a:hover {
            color:$green;
          }
        }

      


        button {
          height: 50px;
          width: 175px;
          background: $green;
          border: none;
          font-weight: 600;
          opacity: .9;
          color: #ffffff;
          margin-top: 25px;
        }

        button:hover {
          opacity: 1;
        }
      }

      .expandable-pane-text:nth-child(1) {
        padding-left: 0;
        padding-right: 25px;
      }

      .expandable-pane-image {
        height: 400px;
        width: 100%;
        order: 1;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }

    }
  }
}

hr {
  border: 1px solid #e1e4e8;
  margin: 0;
  width: 100% !important;
}

.expandable-pane .row:nth-of-type(1) {
  margin-top: 0 !important;
}

.reverse-pane-img {
  order: 2 !important;
}

.reverse-pane-text {
  order: 1 !important;
  padding-left: 0 !important;
  padding-right: 25px !important;
}

.anchor {
  height: 25px;
  padding: 25px;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {}

/* Large devices (laptops/desktops, 992px and down) */
@media (max-width: 992px) {
  .expandable {
    .col-12 {
      flex: unset;
    }

    .row {
      padding-bottom: 0;
    }

    .expandable-pane {
      height: auto !important;
      flex-direction: column !important;
      justify-content: center !important;
      margin: 0 !important;
      padding: 10px 0 !important;

      .expandable-pane-text {
        padding: 0 !important;

        h1 {
          margin-top: 20px;
        }
      }

      .expandable-pane-image {
        height: 300px !important;
      }

      .content,
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        height: auto;
      }
    }

  }

  .expandable-pane .row:nth-of-type(1) {
    margin-top: 25px !important;
  }

  .expandable-pane:nth-of-type(2) .row {
    flex-direction: column-reverse !important;
  }

  .expandable-pane:nth-of-type(4) .row {
    flex-direction: column-reverse !important;
  }
}

@media (max-width: 1290px) {
  .expandable {
    .row {
      width: 90%;

      .expandable-pane {
        .row {
          width: 100%;
        }
      }
    }
  }
}