.expandable {

  .row {
    width: 1230px;
    height: auto;
    padding-bottom: 50px;

    .col-12 {
      padding: 0px;
    }

    .expandable-pane {
      height: auto;
      width: 100%;
      margin: 0;
      display: flex;
      flex-direction: row;

      .expandable-pane-text {
        order: 2;
        width: 100%;
        padding-left: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
          font-size: 18px;
          font-weight: 600;
        }

        .content {

          h1,
          h2,
          h3,
          h4,
          h5 {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
          }
        }

        .hideContent {
          height: 150px;
          overflow: hidden;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }

        .showContent {
          font-size: 16px;
          font-weight: 400;
          padding: 10px 0;
          line-height: 24px;
          height: auto;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          padding-top: 10px !important;

        }

        .show-less {
          margin-top: 0;
        }

        button {
          height: 50px;
          width: 175px;
          background: #1abc9c;
          border: none;
          font-weight: 600;
          opacity: .9;
          color: #ffffff;
          margin-top: 25px;
        }

        button:hover {
          opacity: 1;
        }
      }

      .expandable-pane-text:nth-child(1) {
        padding-left: 0;
        padding-right: 25px;
      }

      .expandable-pane-image {
        height: 400px;
        width: 100%;
        order: 1;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }


    }
  }
}

hr {
  border: 1px solid #e1e4e8;
  margin: 0;
  width: 100% !important;
}

.expandable-pane:nth-of-type(1) {
  margin-top: 0 !important;
}

.reverse-pane-img {
  order: 2 !important;
}

.reverse-pane-text {
  order: 1 !important;
  padding-left: 0 !important;
}

// Medium devices (landscape tablets, 768px and down)

@media only scren and (max-width: 768px) {

  .expandable {
    .col-12 {
      padding: 0;
    }

    .row {
      width: 90%;
      padding-bottom: 0;
    }

    .introductionText {
      padding-bottom: 0 !important;
    }

    .expandable-pane {
      height: auto !important;
      flex-direction: column !important;
      justify-content: center !important;
      margin: 0 !important;
      padding: 75px 0 !important;

      .expandable-pane-text {
        padding: 0 !important;
        margin-top: 150px;

        h1 {
          margin-top: -75px;
        }
      }

      .expandable-pane-image {
        height: 300px !important;
      }

      p,
      .showContent {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        height: auto;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }

    .expandable-pane:nth-of-type(2) {
      flex-direction: column-reverse !important;
    }

    .expandable-pane:nth-of-type(4) {
      flex-direction: column-reverse !important;
    }

    .expandable-pane:nth-of-type(6) {
      flex-direction: column-reverse !important;
    }

    .expandable-pane:nth-of-type(8) {
      flex-direction: column-reverse !important;
    }
  }

  .expandable-pane:nth-of-type(1) {
    margin-top: 25px !important;
  }
}

// Small devices (landscape phones, less than 768px)

@media (max-width: 768px) {

  .expandable {
    .col-12 {
      padding: 0;
    }

    .row {
      width: 90%;
      padding-bottom: 0;
    }

    .introductionText {
      padding-bottom: 0 !important;
    }

    .expandable-pane {
      height: auto !important;
      flex-direction: column !important;
      justify-content: center !important;
      margin: 0 !important;
      padding: 75px 0 !important;

      .expandable-pane-text {
        padding: 0 !important;
        margin-top: 150px;

        h1 {
          margin-top: -75px;
        }
      }

      .expandable-pane-image {
        height: 300px !important;
      }

      p,
      .showContent {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        height: auto;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }

    .expandable-pane:nth-of-type(2) {
      flex-direction: column-reverse !important;
    }

    .expandable-pane:nth-of-type(4) {
      flex-direction: column-reverse !important;
    }

    .expandable-pane:nth-of-type(6) {
      flex-direction: column-reverse !important;
    }

    .expandable-pane:nth-of-type(8) {
      flex-direction: column-reverse !important;
    }
  }

  .expandable-pane:nth-of-type(1) {
    margin-top: 25px !important;
  }
}

/* Large devices (laptops/desktops, 992px and down) */

@media (max-width: 992px) {

  .expandable {
    width: 100%;

    .row {
      margin: 0 auto;
      width: 90%;
    }

    .expandable-pane {
      margin: 200px 0;
    }
  }

}