.form-control {
    background: none;
    padding: 10px 15px !important;
    border-radius: 0 !important;

    &:focus, &:active {
        box-shadow: none !important;
        border: 1px solid #ced4da !important;
    }
}

input,
label,
select,
textarea {
    font-size: .85rem !important;

}

// Mailchimp

#mailchimp-success-message {
    display: none;
    min-height: 500px;
    &.show {
      display: block;
    }
  }