
.front-slider {
    visibility: hidden;
}
.front-slider.slick-initialized {
    visibility: visible;
}

.big-header {
    height: 500px;

    @include for-bot {
      height: auto;
    }
  
    div.inner-front {
      padding-top: 25px;
      height: 500px;
      display: block;
      width: 100%;
      background-size: cover;

      background-position: 50% 30%;
      @include side-padding;

      @include for-bot {
        height: 600px;
      }
    }
  
  
  
    .front-text {
      position: relative;
      div.front-box {
        background-color: white;
        display: grid;
        align-content: center;
        max-width: 600px;
        padding: 40px;
        position: absolute;
        top: 50px;
        min-height: 350px;
        right: 3vh;
        margin-right: 30px;
        h1 {
          letter-spacing: 4px;
          margin-bottom: 30px;
        }
        @include for-bot {
          margin-right: 0;
          right: 0;
        }
      }
  
      .color-box {
        background-color: $ccc-green;
        width: 600px;
        height: 350px;
        margin-left: auto;

        @include for-bot {
          display: none;
        }
      }
  
    }
  }