//facebook page plugin

div._2lqh {
    display: none !important;
    }

.front-slider {
    visibility: hidden;
}

.front-slider.slick-initialized {
    visibility: visible;
}

.big-header {
    height: 500px;

    @include for-bot {
        height: 550px;
    }

    .inner-front {
        height: 500px;
        display: block;
        width: 100%;
        background-size: cover;
        background-position: 50% 30%;


        @include for-bot {
            height: 550px;
        }
        .container-fluid {
            display: grid;
            justify-content: end;
            align-content: center;
            align-items: center;
            height: 100%;

            .front-box {
                background-color: rgba(255, 255, 255, 0.849);
                max-width: 700px;
                padding: 40px;
                height: 300px;

                h1 {
                    margin-bottom: 30px;
                }

            }
        }


    }




}

// facebook event container

.facebool-event-container {
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    .fb-page {
        width: 100% !important;
    }
}