.international {

  .row {

    width: 1230px;
    height: auto;
    padding-bottom: 50px;

    .col-12 {
      padding: 0px;
    }

    .international-pane {
      height: 400px;
      width: 100%;
      margin: 100px 0;
      display: flex;
      flex-direction: row;

      .international-pane-text {
        height: inherit;
        width: 100%;
        padding-left: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
          font-size: 18px;
          font-weight: 600;
        }

        p {
          font-size: 16px;
          font-weight: 400;
          padding: 25px 0;
        }

        button {
          height: 50px;
          width: 175px;
          background: #1abc9c;
          border: none;
          color: #ffffff;
          font-weight: 600;
          opacity: .9;
        }
        button:hover {
          opacity: 1;
        }
      }

      .international-pane-text:nth-child(1) {
        padding-left: 0;
        padding-right: 25px;
      }

      .international-pane-image {
        height: 400px;
        width: 100%;
        background-image: url(/img/international/1.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
      .international-pane-image:nth-child(2) {
        background-image: url(/img/international/2.png);
      }
      .third {
        background-image: url(/img/international/3.png) !important;
      }
    }
  }
}

hr {
  border: 1px solid #e1e4e8;
  margin: 0;
  width: 100% !important;
}

.international-pane:nth-of-type(1) {
  margin-top: 0 !important;
}