.international-container {

  .pic-one {
    background-image: url(/img/international/1.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .pic-two {
    background-image: url(/img/international/2.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .pic-three {
    background-image: url(/img/international/3.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  
  h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 100px;
    text-align: center;
  }

  hr {
    margin-top: 50px;
    border: 1px solid #e1e4e8;
  }

  .row-one {
    margin-top: 50px;
    margin-bottom: 50px;

  
  }

  .row-two {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .row-three {
    margin-top: 50px;
    margin-bottom: 50px;

  }

  * {
    box-sizing: border-box;
  }

  .column {
    flex: 33.33%;
  }

  .international-text {
    h5 {
      margin-top: 50px;
      text-align: left;
      margin-left: 25px;
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
    }

    p {
      margin-top: 20px;
      text-align: left;
      margin-left: 25px;
      margin-right: 25px;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
    }

    .green-button {
      margin-top: 75px;
      text-align: center;
      margin-left: 25px;
      width: 125px;
      height: 40px;
      font-size: 18px;
      border: none;
      font-weight: 400;
      text-transform: none;
    }
  }

  .col-12.col-lg-12 {
    h2 {
      margin-top: 75px;
    }
  }

}
