// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .page {
    .row {
      padding: 0;
      width: 90%;
      margin: 0 auto;
    }

    .introductionText {
      width: 100%;
      margin: 0 auto;
      padding: 50px 0;

      h1 {
        font-size: 18px;
        font-weight: 600;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0;
        width: 90% !important;
      }
    }
  }

  .employees {
    .img-empl {
      margin: 20px auto;
      width: 90%;
    }

    .end-empl {
      box-shadow: none;
      margin-top: 75px;
      padding-top: 10px;
      width: unset !important;
      padding-right: 0 !important;
      height: unset !important;

      h3 {
        margin-top: 50px;
      }
    }
  }

  // Mobile footer

  footer {
    height: auto;
    padding: 50px 0;

    .row {
      width: 90%;
      display: normal;
    }

    .col-xs-6 {
      width: 50%;
    }

    .col-xs-6:nth-child(1),
    .col-xs-6:nth-child(2) {
      padding-bottom: 50px;
    }

    .col-xs-6:nth-child(2),
    .col-xs-6:nth-child(4) {
      padding-left: 20px;
    }

    p,
    a {
      font-size: 16px;
    }

    .footer-text {
      font-size: 14px;
      width: 150px;
    }
  }
}

// Small devices (landscape phones, less than 768px)

@media (max-width: 767.98px) {
  .page {
    .row {
      padding: 0;
      width: 90%;
    }
  }

  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }

  .testimonial {
    .col-lg-12 {
      padding: 0 30px;

      h1 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
      }

      p {
        font-size: 15.5px;
        margin-bottom: 10x;
        line-height: 20px;
      }
    }
  }

  .home {

    background-image: url("/img/graphic/desk.jpg");
    background-size: cover;
    background-position: center;

    .col-lg-12 {
      color: white;
      padding: 0 30px;

      h1 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
      }

      p {
        font-size: 15.5px;
        margin-bottom: 10x;
        line-height: 20px;
      }
    }
  }

  #fp-nav {
    display: none;
  }

  // Information card component on Employees page

  .information-card {
    height: auto;
    padding-bottom: 75px;
    padding-top: 0;

    span {
      height: auto;
      width: 90%;
    }

    h1 {
      font-size: 18px;
      padding: 75px 0;
    }

    .iframe-container {
      height: 372px;
      width: 100%;
      margin-top: 0;
    }

    .information-card-text {
      width: 100%;
      padding: 25px;

      h1 {
        padding: 10px 0;
      }
    }

    .information-card-text p,
    .information-card-text a {
      padding-bottom: 5px;
      max-width: 332px;
    }
  }
}

// Medium devices (tablets, less than 992px)

@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) {}