.navbar {
  width: 100% !important;
  display: flex;
  width: 1230px;
  font-size: 20px;
  position: absolute;
  top: 0;
  z-index: 10;
  font-weight: 400;
  flex-direction: row;
  height: 65px;
  padding: 0 345px;
  font-size: 16px;

  .navbar-brand {
    height: 50px;
    width: 50px;

    img {
      height: inherit;
      width: inherit;
    }
  }

  .nav-link {
    padding: 0 !important;
    margin-left: 10px;
  }

  .navbar-menu a,
  a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    padding: 0;
  }

  .active-page {
    border-bottom: 5px solid #1ABC9C;
  }

  .navbar-brand {
    margin-left: -10px !important; // This styling needs solving at some point or another, as it really isn't the most semantic solution!
    padding: 0 !important;
  }

  .fas {
    color: #ffffff;
  }
}

.solid {
  background: #FFFFFF;
  position: fixed;
  transition: all ease-in-out .25s;
  border-bottom: 1px solid #e8eaed;

  a {
    color: #000000;
  }
}

.form {
  display: flex;
  align-items: center;

  input {
    min-width: 206px !important;
  }

  .green-search-button {
    border-radius: 2.5px;
    background-color: #1ABC9C;
    font-weight: 400;
    color: white;
    max-width: 70px !important;
    text-transform: uppercase;
    border: none;
    font-size: 20px;
    margin-left: 5px;
  }
}