nav {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 100;
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: -70px; // Not the best solution, fix at a later date.
}

.navbar {
  width: 1230px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  font-weight: 400;
  flex-direction: row;
  height: inherit;
  padding: 0;

  .navbar-brand {
    height: 50px;
    width: 50px;

    img {
      height: inherit;
      width: inherit;
    }
  }

  .nav-link {
    padding: 0 !important;
  }

  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
  }

  .navbar-nav-wider {
    width: 900px;
  }

  .navbar-menu a,
  a {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
  }

  .active-page {
    color: #1ABC9C;
  }

  .fas {
    color: #000000;
  }
}

.form {
  display: flex;
  align-items: center;

  input {
    margin-left: 7.5px;
    min-width: 206px !important;
  }

  .green-search-button {
    border-radius: 2.5px;
    background-color: #1ABC9C;
    font-weight: 400;
    color: white;
    max-width: 70px !important;
    text-transform: uppercase;
    border: none;
    font-size: 20px;
    margin-left: 5px;
  }
}

.contact-button {
  height: 30px;
  width: auto;
  padding: 0 10px;
  background: #1ABC9C;
  border: none;
  color: #ffffff;
  font-weight: 500;
}

.nav-icon {
  height: inherit;
  text-align: center;
  width: 20px;

  .fas {
    font-size: 16px;
  }
}

.show {
  display: inline-block !important;
}

.hide {
  display: none !important;
}

#search-button {
  cursor: pointer;
}

#search {
  position: relative;
  display: none;

  input {
    width: 50px;


  }
  .search-cross {
    position: absolute;
    right: 7.5px;
    top: 2.5px;
    display: none;
    border: none;
    background: transparent;

    .fas {
      color: #000000
    }
  }
}

.green-search-button {
  display: none;
}

.modal-open {
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 0 !important;
}