
.page {
    margin-bottom: 50px;

    .hero-image {
        height: 400px;
        width: 100%;
        background-image: url(../../img/graphic/apple-desk.jpg);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px 100px;
        color: white;
        background-position: center;
        background-size: cover;
    }

    .container {
        margin-top: 50px;
    }
}