body {
  width: 100%;
  margin-top: 70px;
}

.page {
  .row {
    margin: 75px auto;
  }

  .intro {
    margin-bottom: 65px;

    h2 {
      margin:0;
      font-size: 22px;
    }
    ul {
      li {
        padding-bottom: 10px;
      }
    }
  }
}

.hero-image {
  height: 500px;
  width: 100%;
  background-color: #1abc9c;
  color: white;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  span {
    height: inherit;
    width: 1230px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    font-size: 60px;
    line-height: 70px;
    max-width: 740;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    
  }

  p,
  a {
    width: 60%;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
  }
}

.read-more {
  color: #1abc9c;
  display: flex;
  justify-content: left;
  width: 1230px;
  padding: 30px 0 0 0;
  margin: 0;
}

// Button animations

.information-card,
.sign-up-banner {
  button {
    opacity: .9;
  }

  button:hover {
    opacity: 1;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

// Medium devices (landscape tablets, 768px and down)
@media (max-width: 768px) {
  body {
    margin: 0;
  }

  .hero-image {
    height: auto;
    width: 100% !important;
    margin-top: 70px;
    background-image: none;
    background-color: transparent;
    color: #212529;
    text-shadow: none;
    



    span {
      width: 90% !important;
      padding: 50px 0 0 0;
      text-align: center;
      
    }

    h1 {
      font-size: 30px;
      line-height: 35px;
      font-weight: 500;
      margin: 0;
    }

    p,
    a {
      font-size: 14px;
      width: 100%;
      color: #212529;
      text-shadow: none;
      
    }

    p {
      margin: 20px 0 0 0;
    }

  }

}

/* Large devices (laptops/desktops, 992px and down) */
@media (max-width: 992px) {

  #fp-nav {
    display: none;
  }

}

@media (max-width: 1290px) {

  .page {

    .row {
      margin: 50px auto;
    }
  }

  .hero-image {
    width: 100%;

    span {
      width: 90%;
    }
  }
}