body {
    width: 100%;
    margin: auto;
}

.hero-image {
    height: 500px;
    width: 100%;
    background-image: url(/img/graphic/highfive.jpg);
    color: white;
    background-position: center;
    background-size: cover;
    span {
        height: inherit;
        width: 1230px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    h1 {
        font-size: 60px;
        line-height: 70px;
        max-width: 740;
    }
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    padding: 135px 0 0 0;


    .row {
        width: 1230px;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    .introductionText {

        text-align: center;
        height: auto;
        width: 1230px;
        margin-bottom: 100px;

        h1 {
            text-align: center;
            font-size: 22.5px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            text-align: center;
            line-height: 32px;
        }
    }
}