.registration_container {

  .justify-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .col-12 {
    margin: 0;
    padding: 0;
  }
  
  .input-form {
    margin: 25px 0 0;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 20px;
    color: #818181;
    box-sizing: border-box;
    width: 605px;
    height: 45px;
  } 

  .input-area-form {
    margin: 25px 0 0;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 20px;
    color: #818181;
    box-sizing: border-box;
    width: 605px;
  } 

  textarea {
    resize: none;
  }

  .checkbox {
    margin-bottom: 25px;
  }

  button {
    display: flex;
    flex-direction: column;
  }

}
