.registration {

  .row {
    width: 1230px;
    justify-content: center;

    .form-section {
      .row {
        margin: 0 auto;
        width: 1230px;
        justify-content: center;

        form {
          width: 100%;

          input,
          select,
          textarea {
            width: 100%;
          }
        }
      }
    }
  }

  .col-12 {
    margin: 0;
    padding: 0;
  }

  .input-form {
    margin: 25px 0 0;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 20px;
    color: #818181;
    box-sizing: border-box;
    width: 605px;
    height: 45px;
  }

  .input-area-form {
    margin: 25px 0 0;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 20px;
    color: #818181;
    box-sizing: border-box;
    width: 605px;
  }

  textarea {
    resize: none;
  }

  .checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;

    .checkbox-box {
      width: auto !important;
    }

    p {
      margin-top: -5px;
      margin-left: 15px;
      width: auto;
    }
  }

  button {
    display: flex;
    flex-direction: column;
  }

  .green-button {
    height: 50px;
    width: 175px;
    background: $green;
    border: none;
    color: #ffffff;
    font-weight: 600;
    opacity: .9;
    margin: 50px 0;
  }

  .green-button:hover {
    opacity: 1;
  }
}

/* Large devices (laptops/desktops, 1290px and down) */

@media (max-width: 1290px) {

  .registration {

    .row {
      width: 90%;

      .form-section {
        .row {
          justify-content: center;
          width: 100%;
          margin: 0 auto;

          form {
            width: 100%;

            input,
            select,
            textarea {
              width: 100%;
            }
          }
        }
      }
    }
  }
}