.stories {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  .hidden {
    display: none!important;
    visibility: hidden!important;
  }

  .row {
    width: 1230px;
    padding-top: 50px !important;
    padding-bottom: 100px !important;
  }

  .col-lg-12,
  .col-lg-4 {
    padding: 0 10px !important;
  }

  .story {
    width: 100%;
    height: 425px;
    margin: 10px 0;
    position: relative;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
    background-size: cover;
  }

  p {
    padding: 50px 0 50px 10px;
    font-weight: 600;
    font-size: 18px;
  }

  .large-article-text {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 75%;
    color: #ffffff;
    font-weight: 400 !important;
    pointer-events: none;

    h1 {
      font-weight: 600;
      font-size: 20px;
    }

    h2,
    p {
      font-size: 20px;
      font-weight: 400;
      text-shadow: 1px 1px #C0C0C0;
    }

    p {
      padding: 10px 0;
      width: 75%;
    }
  }

  .small-article-text {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 75%;
    color: #ffffff;
    font-weight: 400 !important;
    pointer-events: none;

    h1 {
      font-weight: 600;
      font-size: 20px;
    }

    h2,
    p {
      font-size: 20px;
      font-weight: 400;
      text-shadow: 1px 1px #C0C0C0;
    }

    p {
      padding: 10px 0;
      width: 75%;
    }
  }

}

// Styling for the individual stories

.individual-stories {
  height: 100%;
  width: 1230px;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .row {
    width: 750px !important;
    height: auto;
    padding: 100px 0;

    h1 {
      font-size: 20px;
      margin: 0;
      padding: 0;
      text-transform: capitalize;
    }

    p {
      font-size: 18px;
    }

    a {
      color: #1abc9c;
    }
  }
}

.stories-information {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 15px 0;
  flex-wrap: wrap;

  a {
    padding: 0;
    color: #1abc9c;
  }

}

.share-icons {
  width: auto;
  margin: 0;
  padding: 0 0 15px;

  .fab {
    color: #606060;
    padding-right: 10px;
    font-size: 15px;
  }

  .fab:hover {
    color: #1abc9c;
  }
}

.read-more {
  margin-top: 50px;
}

// Medium devices (landscape tablets, 768px and down)
@media (max-width: 768px) {
  .stories {
    padding-bottom: 50px;

    .col-lg-12,
    .col-lg-4 {
      padding: 0 !important;
    }

    p {
      padding: 25px 0;
    }

    .story {
      height: 350px;
    }
  }

  .large-article-text,
  .small-article-text {
    position: absolute;
    top: 50%;
    left: 45% !important;
    transform: translate(-50%, -50%);
    height: auto;
    width: 75%;
    color: #ffffff;
    font-weight: 400;
    pointer-events: none;

    h1,
    h2,
    p {
      font-size: 15px !important;
    }

    p {
      padding: 10px 0;
      width: 100% !important;
    }
  }
}

.individual-stories {
  width: 90%;
  padding: 50px 0;

  .row {
    width: 90% !important;
    height: auto;
    padding: 100px 0;

  }
}

/* Large devices (laptops/desktops, 992px and down) */
@media (max-width: 992px) {
  .stories {
    .row {
      width: 95% !important;

      .col-lg-12,
      .col-lg-4 {
        margin: 10px 0;
      }
    }
  }

}

// All posts

.hidden {
  display: none!important;
  visibility: hidden!important;
}

.all-posts {

  .row { justify-content: left !important;}
  span {
    margin: 0;
  }

  #showAllBtn, .blog-tag-item {
    color: white;
    background-color: #1abc9c;
    padding: 3px 10px;
    border-radius: 3px;
    margin: 5px;
    text-transform: uppercase;

    .tags {
      color: white;
    }
  }

  .blog-tags-list {
    margin: 100px 0;

  }

  .card-img-top {
    height: 200px;
    background-position: center;
    background-size: cover;
  }

  #row_all,
  .blog-list-container {

    .col-lg-4 {
      margin: 20px 0;
    .card-body {
      padding:0;
      .post-info {
        font-size: 12px;
        color: #606060;
      }
    }
    .card-title {
      color: black;
      font-size: 17px;
      font-weight: 500;
    }
  }
    .blog-tag-item {
      font-size: 12px;
      background-color: transparent;
      padding: 0;
      border-radius: 0;
      margin: 0;
      text-transform: uppercase;
      font-weight: 600;

      .tags {
        color: #1abc9c;
      }
    }

  }

  .card-img-top::after {
    content: '';
    flex: auto;
  }
}
