.stories {

  .row {
    width: 1260px;
  }
  
  .blog-list-container {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .blog-tags-list {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    margin: 20px 0 0 0 !important;
    text-transform: uppercase;

   

    .blog-tag-item, #showAllBtn {
      font-weight: 500;
      margin: 5px;
      padding: 5px 10px;
      background-color: #1abc9c;
      border-radius: 3px;
      color: white;
      a {
        color: white;
      }
  
      a:hover {
        color: white;
      }
      
    }
  }

  a,
  a:hover {
    color: white;
  }

  .hidden {
    display: none!important;
    visibility: hidden!important;
  }

  #row_all {
    margin-top: 50px;
  }

  .story-box{
    height: auto;
    margin: 20px 0;

  }

  .story {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
    background-size: cover;
    padding: 20px;
    min-height: 350px;

  }
.show-all-post {
  display: flex;
  justify-content: center;
  .show-more-btn {
    height: 50px;
    width: 175px;
    background: #1abc9c;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 30px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;

  }
}

  p {
    padding: 50px 0 50px 10px;
    font-weight: 600;
    font-size: 18px;
  }

  .large-article-text {
    h1 {
      font-weight: 600;
      font-size: 22px;
      text-shadow: 1px 1px #C0C0C0;
    }

    h2,
    p {
      font-size: 18px;
      font-weight: 400;
      text-shadow: 1px 1px #C0C0C0;
    }

    p {
      padding: 10px 0;
      width: 75%;
    }
  }

  .small-article-text {
    h1 {
      font-weight: 600;
      font-size: 22px;
      text-shadow: 1px 1px #C0C0C0;
    }

    h2,
    p {
      font-size: 15px;
      font-weight: 400;
      text-shadow: 1px 1px #C0C0C0;
    }

    p {
      padding: 10px 0;
      width: 75%;
    }

  }

}

// Styling for the individual stories

.individual-stories {
  height: 100%;
  width: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .row {
    width: 750px !important;
    height: auto;
    padding: 100px 0;

    h1 {
      font-size: 20px;
      margin: 0;
      padding: 0;
      text-transform: capitalize;
    }

    p {
      font-size: 18px;
    }

    a {
      color: #1abc9c;
    }
  }
}

.stories-information {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 15px 0;
  flex-wrap: wrap;

  a {
    padding: 0;
    color: #1abc9c;
  }

}

.share-icons {
  width: auto;
  margin: 0;
  padding: 0 0 15px;

  .fab {
    color: #606060;
    padding-right: 10px;
    font-size: 15px;
  }

  .fab:hover {
    color: #1abc9c;
  }
}

.read-more {
  margin-top: 50px;
}

// Medium devices (landscape tablets, 768px and down)

@media (max-width: 768px) {

  
  
  .stories {
    padding-bottom: 50px;

    #row_all {
      width: 100%;
      .story-row {
        width: 100%;
        margin: 0 auto;
        .row {
          padding-left: 0;
          padding-right: 0;
          width: 90%;
        }
      }
      .collapse {
        .row {
          .row {
            padding-left: 0;
            padding-right: 0;
            width: 90%;
          }
        }
      }
    }

    .tag-section {
      margin: 20px auto 30px auto;
      width: 90%;
      p {
      text-align: center;
    }
    }
   

    .show-all-post {
      width:100%;
    }

    .row {
      width: 90%;
    }

    .col-lg-12,
    .col-lg-4 {
      padding: 0 !important;
    }

    p {
      padding: 25px 0;
    }

    .story {
      height: 350px;
    }
  }


    h1,
    h2,
    p {
      font-size: 15px !important;
    }

    p {
      padding: 10px 0;
      width: 100% !important;
    }
  
}

.individual-stories {
  width: 90%;
  padding: 50px 0;

  .row {
    height: auto;
    padding: 100px 0;

  }
}

/* Large devices (laptops/desktops, 992px and down) */

@media (max-width: 992px) {
  .stories {
    .row {
      width: 90%;

      .col-lg-12,
      .col-lg-4 {
        margin: 10px 0;
      }
    }
  }

}
