.stories {
  width: 100%;

  .intro {
    margin-bottom: 50px !important;
  }

  .row {
    
    margin: 100px auto 0 auto;
  }

  .tag-section {
    width: 1260px;
    margin: 50px auto 0 auto;
    text-align: center;
  }

  .collapse {
    width: 100%;

    .row {
      margin-top: 0;
    }
  }

  .story-row {
    margin-bottom: 30px;
    .row {
      margin: 0 auto;

      
    }
  }

  @include for-bot {
    .green-button {
      margin-top: 100px;
    }
  }

  .blog-list-container {
    margin: 30px auto 50px auto !important;
    padding: 0;
  }

  .blog-tags-list {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    margin: 0;
    text-transform: uppercase;

    #showAllBtn,
    .blog-tag-item {
      font-weight: 500;
      margin: 5px;
      padding: 5px 10px;
      background-color: $green;
      border-radius: 3px;
      color: $white;

      a {
        color: $white;
      }

      a:hover {
        color: $white;
      }
    }
  }

  .collapse {
    .row {
      margin-bottom: 0;
    }
  }

  a,
  a:hover {
    color: $white;
  }

  .hidden {
    display: none !important;
    visibility: hidden !important;
  }

  #row_all {
    margin-top: 50px;
  }

  .story-box {
    height: auto;
    margin: 20px 0;

  }

  .story {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
    background-size: cover;
    text-align: left;
    padding: 20px;
    height: 350px;
    position: relative;
    background-position: 0 40%;
  }

  .story::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 350px;
    z-index: 0;
    opacity: .3;
    background: $black;
    background-size: cover;
  }

  .show-all-post {
    display: flex;
    justify-content: center;

    .show-more-btn {
      height: 50px;
      width: 175px;
      background: $green;
      border: none;
      color: #ffffff;
      font-weight: 600;
      margin: 30px 0 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  p {
    padding: 0;
    font-weight: 600;
    margin-bottom: 50px;
  }

  .large-article-text {
    position: relative;

    h1 {
      font-weight: 600;
      color: white;

    }

    h2,
    p {
      font-weight: 400;
    }

    p {
      padding: 10px 0;
      width: 75%;
    }
  }

  .small-article-text {
    position: relative;

    h1 {
      font-weight: 600;
      color: white;
    }

    h2,
    p {
      font-weight: 400;
    }

    p {
      padding: 10px 0;
      width: 75%;
    }
  }
}

// Styling for the individual stories



.individual-stories {
  height: 100%;
  margin: 0 auto !important;
  display: flex;
  justify-content: center;
  height: auto;

  .col-sm-12, .col-lg-8 {
    margin: 0;
    padding: 0;
  }
  .col-lg-8 {
    padding-right: 3vh;
  }


  

    a {
      color: $green;
    }
  

    .facta-box {
      margin-top: 30px;
      background-color: #F6F5F3;
      padding: 2vh;
      h4 {
        padding:0;
        margin: 1vh 0 2vh 0;
      }
      .kontakt {
        margin-top: 2vh;
      }

      a {
        display: block;

      }
    }
}

.stories-information {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 15px 0;
  flex-wrap: wrap;

  a {
    padding: 0;
    color: $green;
  }
}

.share-icons {
  width: auto;
  margin: 0;
  padding: 0 0 15px;

  .fab {
    color: $grey;
    padding-right: 10px;
  }

  .fab:hover {
    color: $green;
  }


  
}



.hideContent {
  overflow: hidden;
  height: 375px;
}

.showContent {
  height: auto;
}

// Post share links

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0 5px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 20px;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: $ccc-green;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: $ccc-green;
  border-color: $ccc-green;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: $ccc-dark-green;
  border-color: $ccc-dark-green;
}

.resp-sharing-button--twitter {
  background-color: $ccc-green;
  border-color: $ccc-green;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: $ccc-dark-green;
  border-color: $ccc-dark-green;
}

.resp-sharing-button--email {
  background-color: $ccc-green;
  border-color: $ccc-green;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: $ccc-dark-green;
  border-color: $ccc-dark-green;
}

.resp-sharing-button--linkedin {
  background-color: $ccc-green;
  border-color: $ccc-green;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: $ccc-dark-green;
  border-color: $ccc-dark-green;
}
