.stories {
  width: 100%;

  .intro {
    margin-bottom: 50px !important;
  }

  .row {
    
    margin: 100px auto 0 auto;
  }

  .tag-section {
    width: 1260px;
    margin: 50px auto 0 auto;
    text-align: center;
  }

  .collapse {
    width: 100%;

    .row {
      margin-top: 0;
    }
  }

  .story-row {
    margin-bottom: 30px;
    .row {
      margin: 0 auto;

      
    }
  }

  @include for-bot {
    .green-button {
      margin-top: 100px;
    }
  }

  .blog-list-container {
    margin: 30px auto 50px auto !important;
    padding: 0;
  }

  .blog-tags-list {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    margin: 0;
    text-transform: uppercase;

    #showAllBtn,
    .blog-tag-item {
      font-weight: 500;
      margin: 5px;
      padding: 5px 10px;
      background-color: $green;
      border-radius: 3px;
      color: $white;

      a {
        color: $white;
      }

      a:hover {
        color: $white;
      }
    }
  }

  .collapse {
    .row {
      margin-bottom: 0;
    }
  }

  a,
  a:hover {
    color: $white;
  }

  .hidden {
    display: none !important;
    visibility: hidden !important;
  }

  #row_all {
    margin-top: 50px;
  }

  .story-box {
    height: auto;
    margin: 20px 0;

  }

  .story {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
    background-size: cover;
    text-align: left;
    padding: 20px;
    height: 350px;
    position: relative;
    background-position: 0 40%;
  }

  .story::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 350px;
    z-index: 0;
    opacity: .3;
    background: $black;
    background-size: cover;
  }

  .show-all-post {
    display: flex;
    justify-content: center;

    .show-more-btn {
      height: 50px;
      width: 175px;
      background: $green;
      border: none;
      color: #ffffff;
      font-weight: 600;
      margin: 30px 0 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  p {
    padding: 0;
    font-weight: 600;
    margin-bottom: 50px;
  }

  .large-article-text {
    position: relative;

    h1 {
      font-weight: 600;
      color: white;

    }

    h2,
    p {
      font-weight: 400;
    }

    p {
      padding: 10px 0;
      width: 75%;
    }
  }

  .small-article-text {
    position: relative;

    h1 {
      font-weight: 600;
      color: white;
    }

    h2,
    p {
      font-weight: 400;
    }

    p {
      padding: 10px 0;
      width: 75%;
    }
  }
}

// Styling for the individual stories



.individual-stories {
  height: 100%;
  margin: 0 auto !important;
  display: flex;
  justify-content: center;
  height: auto;

  .col-sm-12, .col-lg-8 {
    margin: 0;
    padding: 0;
  }
  .col-lg-8 {
    padding-right: 3vh;
  }


  

    a {
      color: $green;
    }
  

    .facta-box {
      margin-top: 30px;
      background-color: #F6F5F3;
      padding: 2vh;
      h4 {
        padding:0;
        margin: 1vh 0 2vh 0;
      }
      .kontakt {
        margin-top: 2vh;
      }

      a {
        display: block;

      }
    }
}

.stories-information {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 15px 0;
  flex-wrap: wrap;

  a {
    padding: 0;
    color: $green;
  }
}

.share-icons {
  width: auto;
  margin: 0;
  padding: 0 0 15px;

  .fab {
    color: $grey;
    padding-right: 10px;
  }

  .fab:hover {
    color: $green;
  }


  
}



.hideContent {
  overflow: hidden;
  height: 375px;
}

.showContent {
  height: auto;
}