// Media querries

body {
  font-size: 14px;
}

@mixin for-phone-only() {
    @media (max-width: 550px) {
      @content;
    }
  }
  
  @mixin for-tablet() {
    @media (max-width: 768px) {
      @content;
    }
  }
  
  @mixin for-ipad-pro() {
    @media (max-width: 1024px) {
      @content;
    }
  }
  
  
  @mixin for-laptop() {
    @media (max-width: 1300px) {
      @content;
    }
  }

// Basic links

  a {
    opacity: 0.9;
    text-decoration: none;
    font-size: 14px;
    color: $black;
    &:hover {
      color: $green !important;
      text-decoration: none;
      opacity: 1;
    }
  }

  .date-box {
    font-size: 14px;
  }

// Header

@mixin header-1 {
    color: $black;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

@mixin paragraph {
    color: $black;
}

@mixin basic-padding {
    padding: 30px 20vh ;
    @include for-ipad-pro {
        padding: 80px 3vh 5vh 3vh;
    }
}

@mixin side-padding {
  padding-left: 20vh;
  padding-right: 20vh;
  @include for-ipad-pro {
    padding-left: 3vh;
    padding-right: 3vh;
  }
}

.newsletter {
position: fixed;
top: 15px;
right: 20vh;
@include for-ipad-pro {
    right: 3vh;
    
}
}



@media only screen and (max-width: 1200px) {
    .newsletter {
        top: 30px;
    }
}


.green-button {
    background: $green;
    border: none;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: 600;
    opacity: .9;
    margin: 50px 0;
  }

  .green-button:hover {
    opacity: 1;
  }


.title {
    font-size: 5em;

}

@media only screen and (max-width: 900px) {
    .newsletter {
        display:none;
        }
}

@media only screen and (max-width: 1800px) {

    

    .title {
        font-size: 3em;
    }
    
    .banner-title {
        font-size: 3.5em;
    }

}

.banner-title {
    font-size: 4em;
}

@media only screen and (max-width: 680px) {

    .title {
        font-size: 2em;
    }
    
    .banner-title {
        font-size: 3em;
    }

}

p, ul {
    font-size: 14px;
}