@mixin header-1 {
    color: $black;
    font-size: 11.5vh;
    line-height: 12.5vh;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

@mixin paragraph {
    width: 100%;
    line-height: 4vh;
    color: $black;
    font-size: 2vh;
}