@mixin header-1 {
    color: $black;
    font-size: 7.5vh;
    line-height: 8.5vh;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

@mixin paragraph {
    width: 100%;
    line-height: 3.5vh;
    color: $black;
    font-size: 1.9vh;
}