// Colors

$black: #000000 !default;
$white: #FFFFFF !default;

$green: #1ABC9C !default;
$grey: #696969 !default;

$ccc-green: #1ABC9C !default;

$light-grey: #F4F4F4 !default;
$dark-grey: #707070 !default;
$faded-grey: rgb(230, 230, 230) !default;


$side-padding-big: 30vh !default;
$side-padding-laptop: 10vh !default;
$side-padding-tablet: 5vh !default;
$side-padding-phone: 3vh !default;