<div class="container-fluid narrow-container no-up">
    <div class="only-for-bot">
        <div>
          <h4 class="dd-over-header only-big">Konsulentydelser</h4>
          {% for cat in site.consultation-categories %}
          <h5 class="list-header">{{ cat.name }}</h5>
          {% for cons in site.consultations %}
          {% for cate in cons.cat %}
          {% if cate == cat.title %}
    
          <a class="navigation-link got-icon" href="{{ cons.url }}"><i class="fas fa-chevron-right"></i>
            {{ cons.title }}</a>
          {% endif %}
          {% endfor %}
          {% endfor %}
          {% endfor %}
        </div>
      </div>
      <div class="grid-2 grid-20-80 left r-gap-90 only-big">
    
        <div>
       
     {% assign orderedcats = site.consultation-categories | sort: "order" %}
    
     {% for cat in orderedcats %}
    
          <h4 class="list-header">{{ cat.title }}</h4>
    
          {% endfor %}
     </div>
    
    
    
        <!-- {% capture grid-length %}{% for cat in site.consultation-categories %}{% if forloop.first %}{{ forloop.length}}{% endif %}{% endfor %}{% endcapture %} -->
    
    
        <div class="grid-1">
    
          <div class="grid-2">
            <div class="border-left grid-2">
              <div>
                <h5>Privat</h5>
                <p>Magna labore ipsum nostrud velit eiusmod ullamco laboris id sint exercitation fugiat Lorem
                  consectetur.</p>
                <a href="/inspiration" class="navigation-link got-icon"><i class="fas fa-chevron-right"></i> Læs
                  mere</a>
              </div>
              <div>
                <h5>Offentlig</h5>
                <p>Magna labore ipsum nostrud velit eiusmod ullamco laboris id sint exercitation fugiat Lorem
                  consectetur.</p>
                <a href="/inspiration" class="navigation-link got-icon"> <i class="fas fa-chevron-right"></i> Læs
                  mere</a>
              </div>
            </div>
            <div class="border-left">
              <h5>Lær os bedre at kende</h5>
              <a href="/inspiration" class="navigation-link got-icon"><i class="fas fa-chevron-right"></i> Tilmeld nyhedsbrev</a>
              <a href="/inspiration" class="navigation-link got-icon"><i class="fas fa-chevron-right"></i> Har du læst?</a>
              <br>
              <a href="#contact" data-toggle="modal" data-target="#contact-modal"
                class="navigation-link got-icon highlighted blue"><i class="fas fa-chevron-right"></i> Vores dør
                er altid åben -
                book
                en samtale</a>
            </div>
    
          </div>
    
    
    
    
    
    
      </div>
    </div>
    </div>