<div class="container-fluid">
    <div class="row">
        <div class="offset-lg-2 col-12 col-lg-8">
            <h2>Moduler</h2>

            <br>

            <div class="accordion clean white-arrow" id="accordionmoduls">

                <div class="accordion-item mb-4">

                    <button
                        style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/dol/img-1.png'); background-position: center; background-size: cover; height: 200px;"
                        class="accordion-button collapsed d-inline-block text-center p-5 fs-3 text-white"
                        type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
                        aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Det Personlige Lederskab og Forandring
                    </button>
                    </p>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body p-0">

                            <div class="row">
                                <div class="col-8">
                                    <p>Det Personlige Lederskab og Forandring</p>
                                </div>
                                <div class="col-3">
                                    <p>Standardmodul</p>
                                </div>
                                <div class="col-1">
                                    <p>10 ECTS</p>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>

                <div class="accordion-item mb-4">

                    <button
                        style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/dol/img-2.png'); background-position: center; background-size: cover; height: 200px;"
                        class="accordion-button collapsed d-inline-block text-center p-5 fs-3 text-white"
                        type="button" data-bs-toggle="collapse" data-bs-target="#yearOne" aria-expanded="true"
                        aria-controls="heading-yearOne">
                        Ledelse af Medarbejdere og Faglig Udvikling
                    </button>

                    <div id="yearOne" class="accordion-collapse collapse" aria-labelledby="yearOne">
                        <div class="accordion-body p-0">
                            

                            <div class="row">
                                <div class="col-8">
                                    <p>Ledelse af Medarbejdere og Faglig Udvikling</p>
                                </div>
                                <div class="col-3">
                                    <p>Standardmodul</p>
                                </div>
                                <div class="col-1">
                                    <p>10 ECTS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item mb-4">

                    <button
                        style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/dol/img-3.png'); background-position: center; background-size: cover; height: 200px;"
                        class="accordion-button collapsed d-inline-block text-center p-5 fs-3 text-white"
                        type="button" data-bs-toggle="collapse" data-bs-target="#yearTwo" aria-expanded="true"
                        aria-controls="heading-yearTwo">
                        Ledelse af forandrings- og udviklingsprocesser i offentlige organisationer
                    </button>

                    <div id="yearTwo" class="accordion-collapse collapse" aria-labelledby="yearTwo">
                        <div class="accordion-body p-0">
                            <div class="row">
                                <div class="col-8">
                                    <p>Ledelse af forandrings- og udviklingsprocesser i offentlige organisationer</p>
                                </div>
                                <div class="col-3">
                                    <p>Valgmodul</p>
                                </div>
                                <div class="col-1">
                                    <p>5 ECTS</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="accordion-item mb-4">

                    <button
                        style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/dol/img-4.png'); background-position: center; background-size: cover; height: 200px;"
                        class="accordion-button collapsed d-inline-block text-center p-5 fs-3 text-white"
                        type="button" data-bs-toggle="collapse" data-bs-target="#yearThree" aria-expanded="true"
                        aria-controls="heading-yearThree">
                        Coaching
                    </button>

                    <div id="yearThree" class="accordion-collapse collapse" aria-labelledby="yearThree">
                        <div class="accordion-body p-0">
                            <div class="row">
                                <div class="col-8">
                                    <p>Coaching</p>
                                </div>
                                <div class="col-3">
                                    <p>Valgmodul</p>
                                </div>
                                <div class="col-1">
                                    <p>5 ECTS</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="accordion-item mb-4">

                    <button
                        style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/dol/img-5.png'); background-position: center; background-size: cover; height: 200px;"
                        class="accordion-button collapsed d-inline-block text-center p-5 fs-3 text-white"
                        type="button" data-bs-toggle="collapse" data-bs-target="#yearFour" aria-expanded="true"
                        aria-controls="heading-yearFour">
                        Projektledelse
                    </button>

                    <div id="yearFour" class="accordion-collapse collapse" aria-labelledby="yearFour">
                        <div class="accordion-body p-0">
                            <div class="row">
                                <div class="col-8">
                                    <p>Projektledelse</p>
                                </div>
                                <div class="col-3">
                                    <p>Valgmodul</p>
                                </div>
                                <div class="col-1">
                                    <p>5 ECTS</p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="accordion-item mb-4">

                    <button
                        style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/dol/img-6.png'); background-position: center; background-size: cover; height: 200px;"
                        class="accordion-button collapsed d-inline-block text-center p-5 fs-3 text-white"
                        type="button" data-bs-toggle="collapse" data-bs-target="#acc-five" aria-expanded="true"
                        aria-controls="heading-acc-five">
                        Ledelse og Filosofi
                    </button>

                    <div id="acc-five" class="accordion-collapse collapse" aria-labelledby="heading-acc-five">
                        <div class="accordion-body p-0">
                            <div class="row">
                                <div class="col-8">
                                    <p>Ledelse og Filosofi</p>
                                </div>
                                <div class="col-3">
                                    <p>Valgmodul</p>
                                </div>
                                <div class="col-1">
                                    <p>5 ECTS</p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="accordion-item mb-4">

                    <button
                        style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/dol/img-7.png'); background-position: center; background-size: cover; height: 200px;"
                        class="accordion-button collapsed d-inline-block text-center p-5 fs-3 text-white"
                        type="button" data-bs-toggle="collapse" data-bs-target="#acc-six" aria-expanded="true"
                        aria-controls="heading-acc-six">
                        Specialemodul
                    </button>

                    <div id="acc-six" class="accordion-collapse collapse" aria-labelledby="heading-acc-six">
                        <div class="accordion-body p-0">
                            <div class="row">
                                <div class="col-11">
                                    <p>Specialemodul</p>
                                </div>

                                <div class="col-1">
                                    <p>15 ECTS</p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>