<h2>FAQ</h2>
<div class="accordion clean" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <p class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button collapsed py-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                <b>Er uddannelsen 1-årig, 2-årig eller 4-årig?</b>
            </button>
        </p>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <p><i>Tager du alle fire års undervisning, bliver du uddannet til Psykologisk Filosofisk
                        Psykoterapeut.</i>
                </p>
                <p>Du kan også vælge kun at tage år et eller år to og dermed kvalificerere dig til at kunne tage lettere
                    terapeutiske samtaler på et relativt højt teknisk niveau.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <p class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed py-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseTwo">
                <b>Hvornår starter næste hold?</b>
            </button>
        </p>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                <p><i>11. november</i><br><br>
                    Vi starter d. 11. november. Skriv gerne til os på <a
                        href="mailto:info@copenhagencoaching.dk">info@copenhagencoaching.dk</a> og hør om
                    der er pladser tilbage på holdet. Du kan finde datoerne for det næste hold lige <b><a
                            class="btn-link no-padding year-one-link" role="button">her</a></b>.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <p class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed py-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseThree">
                <b> Hvordan og hvornår foregår undervisningen?</b>
            </button>
        </p>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">

                <p><i>Et uddannelsesår består af seks moduler. Hvert modul er af 4 dages varighed.</i></p>
                <p>Alle dage er fra kl. 9-16.00. På hvert modul vil du møde mindst to forskellige lærere, og
                    undervisningen
                    vil være en dynamisk vekselvirkning mellem teori, selvrefleksion og træning for at sikre optimal
                    læring.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <p class="accordion-header" id="panelsStayOpen-headingFour">
            <button class="accordion-button collapsed py-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-four" aria-expanded="true" aria-controls="panelsStayOpen-four">
                <b> Hvor foregår undervisningen?</b>
            </button>
        </p>
        <div id="panelsStayOpen-four" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
            <div class="accordion-body">

                <p><i>Al undervisning afvikles som dagskurser hos Copenhagen Coaching Center, Blegdamsvej 104A, 2. sal,
                        2100
                        København K. Dog med undtagelse af det todages intromodul, der afvikles som internat med én
                        overnatning. Mere info om tid og sted følger snarest.</i></p>

            </div>
        </div>
    </div>

    <div class="accordion-item">
        <p class="accordion-header" id="panelsStayOpen-headingFive">
            <button class="accordion-button collapsed py-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-five" aria-expanded="false" aria-controls="panelsStayOpen-five">
                <b>Hvad koster uddannelsen?</b>
            </button>
        </p>
        <div id="panelsStayOpen-five" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
            <div class="accordion-body">

                <p><i>Uddannelsen koster kr. 42.000,- (ekskl. moms) første år, efterfølgende år kr. 40.000,- (ekskl.
                        moms).</i></p>

                <p>Et års uddannelse koster 42.500,- kr. (ekskl. moms)<br>
                    To års uddannelse koster 82.000,- kr. (ekskl. moms)<br>
                    Tre års uddannelse koster 122.000,- kr. (ekskl. moms)<br>
                    Fire års uddannelse koster 162.000,- kr. (ekskl. moms)
                </p>
                <p>
                    Du betaler for et år ad gangen.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <p class="accordion-header" id="panelsStayOpen-headingSix">
            <button class="accordion-button collapsed py-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-six" aria-expanded="false" aria-controls="panelsStayOpen-six">
                <b>Skal jeg betale for hele uddannelsen på én gang?</b>
            </button>
        </p>
        <div id="panelsStayOpen-six" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
            <div class="accordion-body">

                <p><i>Det behøver du ikke, vi tilbyder forskellige betalingsmuligheder – Kontakt os venligst for aftale.</i>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <p class="accordion-header" id="panelsStayOpen-headingSeven">
            <button class="accordion-button collapsed py-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-Seven" aria-expanded="false" aria-controls="panelsStayOpen-Seven">
                <b>Kan jeg få økonomisk støtte til uddannelsen?</b>
            </button>
        </p>
        <div id="panelsStayOpen-Seven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
            <div class="accordion-body">

                <p><i>Uddannelsen er ikke SU-berettiget og er ikke en diplom-uddannelse. Men skriv eller ring til os, for
                    der er mange andre muligheder ift økonomi.</i></p>
            <p>Hvis du er ansat, kan du spørge din arbejdsgiver om du kan betale for uddannelsen via
                bruttolønsordningen. Du kan læse om bruttolønsordningen på <a target="_blank"
                    href="https://skat.dk/skat.aspx?oid=2234833">Skats hjemmeside</a>.</p>
            <p>Er du medlem af et fagforbund, kan du kontakte dem og spørge om, det er muligt at søge midler via
                forbundets kompetencefond.</p>
            <p>Grunduddannelsens første og andet år er relevant på de fleste arbejdspladser. Den kan bl.a. hjælpe jer
                med at mindske stress, håndtere konflikter og øge trivslen. Hvis din arbejdsgiver vil betale helt eller
                delvist for din uddannelse, kan vi hjælpe med at dele betalingen op.</p>
            <p>Du er meget velkommen til at ringe eller skrive til os, hvis du vil vide mere eller vende dine muligheder
                med os. </p>
            <p>Send os en mail på:<br>
                <a href="mailto:info@copenhagencoaching.dk">info@copenhagencoaching.dk</a><br>

            </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <p class="accordion-header" id="panelsStayOpen-headingEight">
            <button class="accordion-button collapsed py-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-Eight" aria-expanded="false" aria-controls="panelsStayOpen-Eight">
                <b>Hvor meget tid skal jeg regne med at bruge mellem modulerne?</b>
            </button>
        </p>
        <div id="panelsStayOpen-Eight" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEight">
            <div class="accordion-body">

                <p><i>Som udgangspunkt er uddannelsen lavet, så du kan have både fuldtidsarbejde og familie samtidig med, at
                    du studerer.</i></p>
            <p>Når du tilmelder dig uddannelsen, får du en litteraturliste som består af forskellige fagbøger.</p>



            <p>Du er velkommen til at kontakte os på <a
                    href="mailto:info@copenhagencoaching.dk">info@copenhagencoaching.dk</a>, hvis du har brug for at
                vende, hvordan uddannelsen kan harmonere med dit familie- og arbejdsliv.</p>

            </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <p class="accordion-header" id="panelsStayOpen-headingNine">
            <button class="accordion-button collapsed py-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-Nine" aria-expanded="false" aria-controls="panelsStayOpen-Nine">
                <b>Hvor mange deltagere er der på hvert hold?</b>
            </button>
        </p>
        <div id="panelsStayOpen-Nine" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingNine">
            <div class="accordion-body">

                <p><i>Vi bestræber os på at have max 16 deltagere på hvert hold</i></p>

            
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <p class="accordion-header" id="panelsStayOpen-headingTen">
            <button class="accordion-button collapsed py-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-Ten" aria-expanded="false" aria-controls="panelsStayOpen-Ten">
                <b>Hvordan bliver man optaget på uddannelsen?</b>
            </button>
        </p>
        <div id="panelsStayOpen-Ten" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTen">
            <div class="accordion-body">

                <p><i>Man sender en ansøgning eller en tilkendegivelse via vores tilmeldingsformular på siden med reference
                    til den gruppe man søger i (§1, §2, §3).</i></p>

            <p>Du kan læse mere om optagelseskrav <b><a href="/pfp/adgangskrav/">her på siden</a></b>. Når vi har
                modtaget din ansøgning indkalder vi dig til en realkompetencevurdering, samt forventningsafstemmende
                samtale (det gør alle) Først herefter får du besked om du er optaget på uddannelsen.</p>

            
            </div>
        </div>
    </div>


    <div class="accordion-item">
        <p class="accordion-header" id="panelsStayOpen-headingElleven">
            <button class="accordion-button collapsed py-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-Elleven" aria-expanded="false" aria-controls="panelsStayOpen-Elleven">
                <b> Er der krav om, hvor længe jeg må være om at tage uddannelsen?</b>
            </button>
        </p>
        <div id="panelsStayOpen-Elleven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingElleven">
            <div class="accordion-body">

                <p><i>Ja, det er der.</i></p>
                <p>Som udgangspunkt skal du færdiggøre uddannelsens 4 år inden for 6 år fra din studiestart. Dispensation
                    for dette krav og dermed muligheden for et længere studieforløb kan gives i særlige tilfælde og vurderes
                    individuelt.</p>

            
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <p class="accordion-header" id="panelsStayOpen-headingTwelve">
            <button class="accordion-button collapsed py-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-Twelve" aria-expanded="false" aria-controls="panelsStayOpen-Twelve">
                <b>Hvem er underviserne på uddannelsen?</b>
            </button>
        </p>
        <div id="panelsStayOpen-Twelve" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwelve">
            <div class="accordion-body">

                <p><i>Udover at du vil møde et meget kompetent underviserteam fra CCC, bruger vi også veluddannede og
                    dygtige, eksterne undervisere i forskellige temaer.</i></p>

            
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <p class="accordion-header" id="panelsStayOpen-headingThirteen">
            <button class="accordion-button collapsed py-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-Thirteen" aria-expanded="false" aria-controls="panelsStayOpen-Thirteen">
                <b>Kan jeg møde jer, før jeg tilmelder mig uddannelsen?</b>
            </button>
        </p>
        <div id="panelsStayOpen-Thirteen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThirteen">
            <div class="accordion-body">

                <p><i>Ja, det kan du!</i></p>
            
            <p>Vi holder løbende online infomøder. Tilmeld dig <b><a
                        class="btn-link no-padding info-event-link" role="button">her</a></b></p>
            <p>På infomødet vil vi fortælle om uddannelsens indhold og du vil få en smagsprøve på det, du vil lære på
                uddannelsen, samt høre om de krav, der stilles til dig i løbet af uddannelsen.</p>
            <p>Du kan også altid skrive til os på <a
                    href="mailto:info@copenhagencoaching.dk">info@copenhagencoaching.dk</a> eller bede om at blive
                ringet op for en personlig samtale. Skriv eller ring gerne med ethvert spørgsmål, stort som småt.</p>

            
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <p class="accordion-header" id="panelsStayOpen-headingFourteen">
            <button class="accordion-button collapsed py-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-Fourteen" aria-expanded="false" aria-controls="panelsStayOpen-Fourteen">
                <b> Hvornår er næste informationsaften?</b>
            </button>
        </p>
        <div id="panelsStayOpen-Fourteen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFourteen">
            <div class="accordion-body">

                <p><i>Se mere om vores næste informationsaften, og tilmeld dig lige <b><a
                    class="btn-link no-padding info-event-link" role="button">her</a></b></i></p>

            
            </div>
        </div>
    </div>


</div>

