<h2 class="mb-4">Moduler og dage</h2>
<div class="row gx-0">
    <div class="col-1 bg-black-coral p-3">
        <p class="text-white mb-0">Dag</p>
    </div>
    <div class="col bg-black-coral p-3">
        <p class="text-white mb-0">Semester 1</p>
    </div>
    <div class="col bg-black-coral p-3">
        <p class="text-white mb-0">Semester 2</p>
    </div>
    <div class="col bg-black-coral p-3">
        <p class="text-white mb-0">Semester 3</p>
    </div>
    <div class="col bg-black-coral p-3">
        <p class="text-white mb-0">Semester 4</p>
    </div>
</div>

<div class="row gx-0">
    <div class="col-1 p-3">
        <p class="mb-0">Dag 1</p>
    </div>
    <div class="col p-3">
        <p class="mb-0">Coaching og syntesemodellen</p>
    </div>
    <div class="col p-3">
        <p class="mb-0">Kognitiv 3</p>
    </div>
    <div class="col p-3">
        <p class="mb-0">Intro til protreptik</p>
    </div>
    <div class="col p-3">
        <p class="mb-0">Introduktion</p>
    </div>
</div>
<div class="row gx-0">
    <div class="col-1 p-3 bg-platinum">
        <p class="mb-0">Dag 2</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p class="mb-0">Kognitiv 1</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p class="mb-0">Psyko-dynamisk 3</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p class="mb-0">Protreptik 1</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p class="mb-0">Kognitionsfilosofi</p>
    </div>
</div>
<div class="row gx-0">
    <div class="col-1 p-3">
        <p class="mb-0">Dag 3</p>
    </div>
    <div class="col p-3">
        <p class="mb-0">Psyko-dynamisk 1</p>
    </div>
    <div class="col p-3">
        <p class="mb-0">Systemisk-narrativ 3 del 1</p>
    </div>
    <div class="col p-3">
        <p class="mb-0">Protreptik 2</p>
    </div>
    <div class="col p-3">
        <p class="mb-0">Kropsfilosfi</p>
    </div>
</div>

<div class="row gx-0">
    <div class="col-1 p-3 bg-platinum">
        <p class="mb-0">Dag 4</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p class="mb-0">Systemisk-narrativ 1</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p class="mb-0">Kognitiv 4 og Psyko-dynamisk 4</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p class="mb-0">Protreptik 3</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p class="mb-0">Eksistensfilosofi</p>
    </div>
</div>

<div class="row gx-0">
    <div class="col-1 p-3">
        <p class="mb-0">Dag 5</p>
    </div>
    <div class="col p-3">
        <p class="mb-0">Kognitiv 2</p>
    </div>
    <div class="col p-3">
        <p class="mb-0">Team coaching</p>
    </div>
    <div class="col p-3">
        <p class="mb-0">Syntese og træning</p>
    </div>
    <div class="col p-3">
        <p class="mb-0">Dialogfilosofi</p>
    </div>
</div>

<div class="row gx-0 bg-platinum">
    <div class="col-1 p-3">
        <p class="mb-0">Dag 6</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p class="mb-0">Psyko-dynamisk 2</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p class="mb-0">Team coaching</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p class="mb-0">Øvelser og træning</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p class="mb-0">Differensfilosofi</p>
    </div>
</div>

<div class="row gx-0">
    <div class="col-1 p-3">
        <p class="mb-0">Dag 7</p>
    </div>
    <div class="col p-3">
        <p class="mb-0">Systemisk-narrativ 2</p>
    </div>
    <div class="col p-3">
        <p class="mb-0">Tredje generations coaching</p>
    </div>
    <div class="col p-3">
        <p class="mb-0">Øvelser og træning</p>
    </div>
    <div class="col p-3">
        <p class="mb-0">Eksperimentel pragmatik</p>
    </div>
</div>

<div class="row gx-0">
    <div class="col-1 p-3 bg-platinum">
        <p class="mb-0">Dag 8</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p class="mb-0">Syntesedag</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p class="mb-0">Træning og syntese</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p class="mb-0">Opsamling</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p class="mb-0">Syntese</p>
    </div>
</div>



