<h2 class="mb-4">Moduler og dage</h2>
<div class="row gx-0">
    <div class="col bg-black-coral p-3">
        <p class="text-white mb-0">Semester</p>
    </div>
    <div class="col bg-black-coral p-3">
        <p class="text-white mb-0">Dag 1</p>
    </div>
    <div class="col bg-black-coral p-3">
        <p class="text-white mb-0">Dag 2</p>
    </div>
    <div class="col bg-black-coral p-3">
        <p class="text-white mb-0">Dag 3</p>
    </div>
    <div class="col bg-black-coral p-3">
        <p class="text-white mb-0">Dag 4</p>
    </div>
    <div class="col bg-black-coral p-3">
        <p class="text-white mb-0">Dag 5</p>
    </div>
    <div class="col bg-black-coral p-3">
        <p class="text-white mb-0">Dag 6</p>
    </div>
    <div class="col bg-black-coral p-3">
        <p class="text-white mb-0">Dag 7</p>
    </div>
    <div class="col bg-black-coral p-3">
        <p class="text-white mb-0">Dag 8</p>
    </div>

</div>

<div class="row gx-0">
    <div class="col p-3">
        <p>Semester 1</p>
    </div>
    <div class="col p-3">
        <p>Coaching og syntesemodellen</p>
    </div>
    <div class="col p-3">
        <p>Kognitiv 1</p>
    </div>
    <div class="col p-3">
        <p>Psyko-dynamisk 1</p>
    </div>
    <div class="col p-3">
        <p>Systemisk-narrativ 1</p>
    </div>
    <div class="col p-3">
        <p>Kognitiv 2</p>
    </div>
    <div class="col p-3">
        <p>Psyko-dynamisk 2</p>
    </div>
    <div class="col p-3">
        <p>Systemisk-narrativ 2</p>
    </div>
    <div class="col p-3">
        <p>-</p>
    </div>
</div>

<div class="row gx-0">
    <div class="col p-3 bg-platinum">
        <p>Semester 2</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p>Kognitiv 3</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p>Psyko-dynamisk 3</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p>Systemisk-narrativ 3 del 1</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p>Kognitiv 4 og Psyko-dynamisk 4</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p>Team coaching</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p>Team coaching</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p>Tredje generations coaching</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p>Træning og syntese</p>
    </div>

</div>

<div class="row gx-0">
    <div class="col p-3">
        <p>Semester 3</p>
    </div>
    <div class="col p-3">
        <p>Intro til protreptik</p>
    </div>
    <div class="col p-3">
        <p>Protreptik 1</p>
    </div>
    <div class="col p-3">
        <p>Protreptik 2</p>
    </div>
    <div class="col p-3">
        <p>Protreptik 3</p>
    </div>
    <div class="col p-3">
        <p>Syntese og træning</p>
    </div>
    <div class="col p-3">
        <p>Øvelser og træning</p>
    </div>
    <div class="col p-3">
        <p>Øvelser og træning</p>
    </div>
    <div class="col p-3">
        <p>Opsamling</p>
    </div>
</div>

<div class="row gx-0">
    <div class="col p-3 bg-platinum">
        <p>Semester 4</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p>Introduktion</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p>Kognitionsfilosofi</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p>Kropsfilosfi</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p>Eksistensfilosofi</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p>Dialogfilosofi</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p>Differensfilosofi</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p>Eksperimentel pragmatik</p>
    </div>
    <div class="col p-3 bg-platinum">
        <p>Syntese</p>
    </div>

</div>