<div class="container-fluid narrow-container pt-50">
    <div class="align-center">
        <h1 class="mb-50">Kalender</h1>
    </div>
    <div class="grid-4 gap-40 r-gap-60">

        {% assign orderedPosts = site.posts | sort: order %}
        {% for post in orderedPosts %}
        {% for tag in post.tags %}

        {% if tag == "community" %}

        <div class="card transparent">
            {% capture alldates %}
            {% assign orderposts = site.tags.event | order: "date" | reverse %}
            {% for item in orderposts %}

            {% for tag in item.tags %}
            {% if tag == post.sub-pages %}

            {% assign postmonth = item.date | date: "%m" %}


            {% if postmonth == "01" %}
            {% assign monthName = "Januar" %}
            {% elsif postmonth == "02" %}
            {% assign monthName = "Februar" %}
            {% elsif postmonth == "03" %}
            {% assign monthName = "Marts" %}
            {% elsif postmonth == "04" %}
            {% assign monthName = "April" %}
            {% elsif postmonth == "05" %}
            {% assign monthName = "Maj" %}
            {% elsif postmonth == "06" %}
            {% assign monthName = "Juni" %}
            {% elsif postmonth == "07" %}
            {% assign monthName = "Juli" %}
            {% elsif postmonth == "08" %}
            {% assign monthName = "August" %}
            {% elsif postmonth == "09" %}
            {% assign monthName = "September" %}
            {% elsif postmonth == "10" %}
            {% assign monthName = "Oktober" %}
            {% elsif postmonth == "11" %}
            {% assign monthName = "November" %}
            {% elsif postmonth == "12" %}
            {% assign monthName = "December" %}
            {% endif %}


            {{ monthName }},

            {% endif %}
            {% endfor %}
            {% endfor %}
            {% endcapture %}
            {% assign alldatessplit = alldates | split: "," %}
            <div>
                {% for date in alldatessplit %}
                {% if forloop.last %}

                {% else %}
                <div class="label invert pointy small">
                    {{ date }}
                </div>
                {% endif %}
                {% endfor %}
            </div>


            <div class="card-img-top short position-relative">
                {% if post.community %}
                <div class="overlay-label">{{ post.community }}</div>
                {% endif %}
                <img src="{{ post.image }}" alt="">
            </div>
            <div class="card-body">
                <h3 class="card-title thin">{{ post.title }}</h3>


                <p class="card-text">{{ post.description }}</p>
                <!-- price -->
                {% capture allprices %}
                {% assign orderposts = site.posts | order: "date" | reverse %}
                {% for item in orderposts %}
                {% for tag in item.tags %}
                {% if tag == post.sub-pages %}
                {% if item.price %}
                {% if item.community-free == true %}
                <b>Pris:</b><br>
                Medlemmer: 0 kr. <br>
                Ikke medlemmer: {{ item.price }} {% if item.ex-moms %} (ekskl. moms){% endif %} |
                {% else %}
                {% if item.community-price %}
                <b>Pris:</b><br>
                Medlemmer: {{ item.community-price }} {% if item.ex-moms %} (ekskl. moms){% endif %}<br>
                Ikke medlemmer: {{ item.price }} {% if item.ex-moms %} (ekskl. moms){% endif %} |
                {% else %}
                <b>Pris: {{ item.price }} {% if item.ex-moms %} (ekskl. moms){% endif %}</b>|
                {% endif %}
                {% endif %}
                {% endif %}
                {% endif %}
                {% endfor %}
                {% endfor %}
                {% endcapture %}
                {% assign allpricesplit = allprices | split: "|" %}
                {% for price in allpricesplit limit: 1 %}
                <p>{{ price }}</p>
                {% endfor %}
                <!-- price -->

                <div class="grid-2">
                    <div>
                        <!-- time -->
                        {% capture alltime %}
                        {% assign orderposts = site.posts | order: "date" | reverse %}
                        {% for item in orderposts %}
                        {% for tag in item.tags %}
                        {% if tag == post.sub-pages %}
                        {{ item.time }},
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                        {% endcapture %}
                        {% assign alltimesplit = alltime | split: "," %}
                        {% for time in alltimesplit limit: 1 %}
                        <p><b>{{ time }}</b></p>
                        {% endfor %}
                        <!-- time -->
                    </div>
                    <div class="align-right">
                        <!-- place -->
                        {% capture allplaces %}
                        {% assign orderposts = site.posts | order: "date" | reverse %}
                        {% for item in orderposts %}
                        {% for tag in item.tags %}
                        {% if tag == post.sub-pages %}
                        {{ item.place }}.
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                        {% endcapture %}
                        {% assign allplacesplit = allplaces | split: "." %}
                        {% for place in allplacesplit limit: 1 %}
                        <p><b>{{ place }}</b></p>
                        {% endfor %}
                        <!-- place -->
                    </div>

                </div>



            </div>
            <div class="card-footer">
                {% if post.ready == true %}
                <a href="{{ post.url }}" class="brown-btn thin white">Læs mere</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}



    </div>
</div>