<div class="bg-dust-green">

    <div class="white">

        <div class="grid-2 gap-40 r-gap-20">
            <div>
                <div class="video-container mb-0"><video controls autoplay muted>
                        <source src="/videos/noeddesbo-ccc.mp4" type="video/mp4">
                        Your browser does not support HTML video.
                    </video></div>
            </div>
            <div class="pt-50">

                <div class="testimonial-quote group right">
                    <div class="quote-container">
                        <div>
                            <blockquote>
                                <p>Det er fantastisk</p>
                            </blockquote>

                        </div>
                    </div>
                </div>



                <h4>Det startede som mentale udfordringer. Med tiden har det udviklet sig til en ny passion.</h4>
                <p class="small">Nu uddanner Bjerringbro-Silkeborg Håndbolds Jesper Nøddesbo sig gennem Copenhagen
                    Coaching Center. Og
                    uddannelsen gør, at han nogle gange ligefrem glæder sig til livet efter håndbold.</p>

                <a target="_blank"
                    href="https://4-player.dk/uddannelse-og-udvikling/online-uddannelse/international-master-of-business-coaching/"><button
                        class="black-coral-btn">Se mere på 4Player</button></a>
            </div>
        </div>





        <div class="clearfix"></div>
    </div>
</div>