<div class="dark-green-background">

    <div class="container-fluid narrow-container small-t small-b">
        <div class="video-container"><video controls>
                <source src="/videos/noeddesbo-ccc.mp4" type="video/mp4">
                Your browser does not support HTML video.
            </video></div>
        <div>
            <div class="testimonial-quote group right">
                <div class="quote-container">
                    <div>
                        <blockquote>
                            <p>Det er fantastisk</p>
                        </blockquote>

                    </div>
                </div>
            </div>


            <h4>Det startede som mentale udfordringer. Med tiden har det udviklet sig til en ny passion</h4>
            <p>Nu uddanner Bjerringbro-Silkeborg Håndbolds Jesper Nøddesbo sig gennem Copenhagen Coaching Center. Og
                uddannelsen gør, at han nogle gange ligefrem glæder sig til livet efter håndbold.</p>
        </div>
        <a target="_blank"
            href="https://4-player.dk/uddannelse-og-udvikling/online-uddannelse/international-master-of-business-coaching/"><button
                class="btn">Se mere på 4Player</button></a>
        <div class="clearfix"></div>
    </div>
</div>