<div class="container-fluid extra-narrow-container pt-50">
    <div class="grid-2 gap-40 r-gap-60">
        <div class="align-center">
            <h2>Bliv ven af huset</h2>
            <p>Modtag information og tilbud om vores kommende uddannelser, kurser og events, samt andre inspirerende
                nyheder fra CCC.</p>
            <a href="/nyhedsbrev" class="brown-btn thin white">Tilmeld nyhedsbrev</a>
        </div>
        <div class="align-center">
            <h2>FØLG OS HER</h2><br>
            <div class="social-a">
                <a data-proofer-ignore href="https://www.facebook.com/copenhagencoachingdk-169785200063933/"
                    target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a data-proofer-ignore href="https://www.linkedin.com/company/copenhagen-coaching-center"
                    target="_blank" data-proofer-ignore><i class="fab fa-linkedin-in"></i></a>
                <a data-proofer-ignore href="https://www.instagram.com/explore/tags/copenhagencoachingcenter/"
                    target="_blank"><i class="fab fa-instagram"></i></a>
            </div>

            <br>

        </div>
    </div>
</div>