

<div class="container-fluid py-5">
    <div class="row gy-5 w-50 responsive mx-auto">
        <div class="col-12 col-md-6 text-center">
            <h3 class="text-white text-center text-uppercase">Bliv ven af huset</h3>
            <p class="text-white text-center">Modtag information og tilbud om vores kommende uddannelser, kurser og events, samt andre inspirerende
                nyheder fra CCC.</p>
            <a href="/nyhedsbrev" class="text-center btn btn-outline-light white-border-button">Tilmeld nyhedsbrev</a>
        </div>
        <div class="col-12 col-md-6 text-center">
            <h3 class="text-white text-center text-uppercase">Følg os her</h3><br>
            
                <a class="text-white text-center me-3" data-proofer-ignore href="https://www.facebook.com/copenhagencoachingdk-169785200063933/"
                    target="_blank"><i class="fab fa-facebook-f fs-3"></i></a>
                <a class="text-white text-center me-3" data-proofer-ignore href="https://www.linkedin.com/company/copenhagen-coaching-center"
                    target="_blank" data-proofer-ignore><i class="fab fa-linkedin-in fs-3"></i></a>
                <a class="text-white text-center" data-proofer-ignore href="https://www.instagram.com/explore/tags/copenhagencoachingcenter/"
                    target="_blank"><i class="fab fa-instagram fs-3"></i></a>
           
        </div>
    </div>
</div>