<div class="container-fluid narrow-container normal-top-mobile">
    <div class="align-center">
        <h3>Interesseret i vores andre uddannelser?</h3>
    </div>
    <br>
    <div class="grid-5 slow-grid gap-40 r-gap-40 white">
        {% assign educations = site.educations | where_exp:"item",
        "item.url != include.url" %}
        {% for edu in educations limit: 5 %}

        <a href="{{ edu.url }}">

            <div class="card no-border h-200 right-bottom"
                style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('{{ edu.image }}'); background-position: center; background-size: cover;">

                <h4 class="capped medium card-title">{{ edu.title }}</h3>

            </div>
        </a>

        {% endfor %}
    </div>
</div>
<br><br>