<div class="full-banner-small grid-1 align-items-center align-content-center bg-deep-taupe">
<div class="container-fluid extra-narrow-container white">
    <div>
        <p class="large thin max-500">Her kan du søge om optagelse på CCC’s 4 årige uddannelse til Psykologisk Filosofisk
            Psykoterapeut.</p>
        <br>
        <p>
            <a class="copper-red-btn large" data-proofer-ignore href="#pfp" data-toggle="modal"
                data-target="#pfp-modal">START DIN TILMELDING HER</a>
        </p>
        <br>

       



    </div>


</div>
</div>