<div
    style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/graphic/PSBOL.jpg'); background-attachment: fixed; background-size: cover;">
    <div class="container-fluid extra-narrow-container pt-100 pb-100 white">
        <p class="large">Ny antologi på vej</p>
        <h2>Protreptik som behandlingsform og ledelsesdisciplin</h2>
        <p class="large thin capped">Udkommer September 2021</p>
        <br>
        <a class="copper-red-btn" href="/protrptik-som-behandlingsform-og-ledelsesdisciplin/">Læs mere</a>
    </div>
</div>