<div class="container-fluid extra-narrow-container pt-50 normal-top-mobile">

    <div class="align-center">
        <h1 class="mb-50">CCC Vision</h1>
    </div>

    <div class="align-justify grid-2 gap-40 r-gap-10">
        <p>CCCs vision er at løfte niveauet for coaching og ledelse i erhvervslivet. Det gør vi dels gennem vores
            uddannelser og kurser, hvor vi altid tilstræber at være foran de trends, der viser sig i markedet.</p>
        <p>

            Dels gennem vores coaching, sparring og rådgivning, som altid har til formål at hjælpe det enkelte menneske
            til
            at lykkes med det, der er væsentligt for vedkommende selv og for de vigtige fællesskaber, vedkommende indgår
            i.</p>
        <p>
            Værdierne frihed og værdighed er helt grundlæggende for vores daglige arbejde og den røde tråd i
            understøttelse af udvikling hos vores studerende, kunder og kursister.
        </p>
        <p>
            Vi mener, at man kommer længst ved at
            værne om den andens værdighed og se mennesket i mennesket med de forskelligheder der viser sig. </p>
    </div>
  
</div>