.cal {
    background-color: #ffffffc5;
}


.striped-platinum:nth-child(odd) {
    background-color: $platinum;
}

.g-recaptcha {
    transform: scale(0.77);
    transform-origin: 0 0;
}

// Heights on inspiration

.blog-height {
    min-height: 250px;

    // `sm` applies to x-small devices (portrait phones, less than 576px)
    @media (max-width: 575.98px) {}

    // `md` applies to small devices (landscape phones, less than 768px)
    @media (max-width: 767.98px) {}

    // `lg` applies to medium devices (tablets, less than 992px)
    @media (max-width: 991.98px) {}

    // `xl` applies to large devices (desktops, less than 1200px)
    @media (max-width: 1199.98px) {}

    // `xxl` applies to x-large devices (large desktops, less than 1400px)
    @media (max-width: 1399.98px) {}
}


.kons {
    position: absolute;
    top: 100px;
    width: 60%;
    -webkit-box-shadow: 10px 10px 27px 8px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 10px 10px 27px 8px rgba(0, 0, 0, 0.22);
    box-shadow: 10px 10px 27px 8px rgba(0, 0, 0, 0.22);

    ul {
        list-style: unset;
    }

}

.d-hidden {
    opacity: 0;
}

header {
    height: 400px;
    width: 100%;
    background: black;
    overflow: hidden;
    position: relative;

    img {
        object-fit: cover;
        width: 100%;
        opacity: 0.4;
     }

     .hero-header-text {
        position: absolute;
        top:0;
     }
     
}

