
// Backgrounds

.bg-dark-black {
    background-color: rgb(34, 34, 34);
}

.bg-platinum-2 {
    background-color: #E9E4E2;
}

.bg-platinum {
    background-color: #E4E3DD;
}

.bg-deep-taupe {
    background-color: #846E6D;
}

.bg-dust-blue {
    background-color: #606a75;
}

.bg-dust-green {
    background-color: #949C9B;
}

.bg-light-brown {
    background-color: #E1DCD8;
}

.bg-faded {
    background-color: #F6F5F3;
}

.bg-dark {
    background-color: #222222;
}

.bg-beaver {
    background-color: #A4836B;
}

.bg-gray-blue {
    background-color: #B1C5CA;
}

.bg-coral-blue {
    background-color: #DBE4E6;
}

// text colors

.dust-blue {
    color: #606a75 !important;
}

.bg-dark-blue-2 {
    background-color: #9dacb2;
}