.small-image {

    object-fit: cover;

    height: 100px;
    width: 100px;


    &.responsive {
        @media (min-width: 1200px) {
            height: 100px;
            width: 100px;
        }

        @media (max-width: 1399.98px) {
            height: 70px;
            width: 70px;
        }

        @media (max-width: 991.98px) {
            height: 100px;
            width: 100px;
        }
    }
}

.small-image-148 {

    object-fit: cover;

    height: 148px;
    width: 148px;


    &.responsive {
        @media (min-width: 1200px) {
            height: 148px;
            width: 148px;
        }

        @media (max-width: 1399.98px) {
            height: 70px;
            width: 70px;
        }

        @media (max-width: 991.98px) {
            height: 100px;
            width: 100px;
        }
    }
}

.object-fit {
    object-fit: cover;
}

.medium-image {

    object-fit: cover;

    height: 150px;
    width: 150px;
}

.large-image {
    object-fit: cover;

    height: 352px;
    width: 352px;
}

// Vidoes

video {
    width: 100%;
    height: auto;
}

.object-fit {
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.responsive-lg-img {
    min-height: 350px;
    @media (max-width: 991.98px) {
        height: 250px;
        margin-bottom: 1rem;
    }
}

.responsive-xlg-img {
    min-height: 1000px;
}

.img-md-200 {
    @media (max-width: 767.98px) { 
        height: 200px;
     }
}

.small-md {
    @media (max-width: 991.98px) { 
        height: 90px;
        width: 90px;
     }
}

.responsive-card-12 {
    @media (max-width: 1500px) { 
       min-height: 450px;
     }

      @media (max-width: 1200px) { 
        min-height: 500px;
      } 

      @media (max-width: 991.98px) { 
        min-height: 0px;
      } 
}


// Video responsive

.video-container {
	position:relative;
	padding-top: 15px;
	height:56.25%;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}