.small-image {

    object-fit: cover;

    height: 100px;
    width: 100px;


    &.responsive {
        @media (min-width: 1200px) {
            height: 100px;
            width: 100px;
        }

        @media (max-width: 1399.98px) {
            height: 70px;
            width: 70px;
        }

        @media (max-width: 991.98px) {
            height: 100px;
            width: 100px;
        }
    }
}

.small-image-148 {

    object-fit: cover;

    height: 148px;
    width: 148px;


    &.responsive {
        @media (min-width: 1200px) {
            height: 148px;
            width: 148px;
        }

        @media (max-width: 1399.98px) {
            height: 70px;
            width: 70px;
        }

        @media (max-width: 991.98px) {
            height: 100px;
            width: 100px;
        }
    }
}

.object-fit {
    object-fit: cover;
}

.medium-image {

    object-fit: cover;

    height: 150px;
    width: 150px;
}

.large-image {
    object-fit: cover;

    height: 352px;
    width: 352px;
}

// Vidoes

video {
    width: 100%;
    height: auto;
}

.object-fit {
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.responsive-lg-img {
    min-height: 350px;
    @media (max-width: 991.98px) {
        height: 250px;
        margin-bottom: 1rem;
    }
}