.a, a {
    color: unset !important;
    text-decoration: none !important;
}

// for buttons to look like links

.a {
    padding: unset !important;
    font-size: .85rem !important;
}

a.color-hover:hover {
    color: $black-coral !important;
}

// thin underline hover

.link--metis {
    cursor: pointer;
    position: relative;
}

.link--metis::before,
.link--metis::after {
    position: absolute;
    width: 100%;
    height: 2px;
    background: $black-coral;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link--metis::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
    content: '';
}

.link--metis:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

a.underlined-hover {
    transition: background-size .4s ease;
    background: linear-gradient(to bottom, transparent 62%, $black-coral 0) center center/0% 10% no-repeat;
    padding: 0 6px 2px 0;
    cursor: pointer;
    display: inline-block;
    color: rgba(80, 89, 113, 0.7);

    &:hover {
        background-size: 100% 100%;
    }

    &:active {
        background-size: 80% 100%;
    }
}

a.bg-hover {
    position: relative;
}

a.bg-hover:hover {
    color: white !important;
}

a.bg-hover::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

a.bg-hover:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a.bg-hover:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: $black-coral;
    z-index: -1;
    transition: transform .3s ease;
}

// Underlined

a.underlined {
    border-bottom: 4px solid #707070;
    color: #707070 !important;
    &.yellow {
        border-bottom: 4px solid #cbcc8c;
        color: #cbcc8c !important;
    }
  }

  //hover underlined

  .hover-underlined-white {
      &:hover {
        border-bottom: 2px solid #ffffff;
      }
  }

  .tab-links {
    opacity: .8;

    &:hover {
        opacity: 1;
    }
  } 

  .link-under {
    a {
        text-decoration: underline !important;
    }
  }

  @media print {
	.print {visibility:visible;}
	.none-print {visibility:hidden;}
}

// zoom boks

.zoom {


    transition: transform .2s; /* Animation */

  }
  
  .zoom:hover {

    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }