.soft-table {
    border: 1px solid #c9c9c9;
    width: 100%;
    color: #707070;
    font-size: .85rem;
    td {
        padding: 10px;
        border: 1px solid #c9c9c9;
        
    }
}

.table-green-striped>tbody>tr:nth-of-type(odd) {
    background-color: #F2FAF5;
}

.table-green-striped-2>tbody>tr:nth-of-type(odd) {
    background-color: #F8FDF9;
}

.table-blue-striped>tbody>tr:nth-of-type(odd) {
    background-color: $gainsboro;
}

