h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #707070 !important;
}

h1,
h2 {
    text-transform: uppercase;
}

p,
li,
i {
    font-family: 'Montserrat', sans-serif;
    font-size: .85rem;
    font-weight: 400;
    color: #707070;
}

.form-check-label,
.form-select {
    font-family: 'Montserrat', sans-serif;
    color: #707070;
}

a.color-base {
    color: #707070;
}

.l-text {

    p,
    li,
    i {
        font-size: 17px !important;
    }

}

hr.short-hr {
    max-width: 477px;
}

hr.white {
    border: 1px solid #fff;
    opacity: 1;
}

.w-50.responsive {

    @media (max-width: 1199.98px) {
        width: 100% !important;
    }

}

.w-75.responsive {

    @media (max-width: 1199.98px) {
        width: 100% !important;
    }

}

.w-25.responsive {

    @media (max-width: 1199.98px) {
        width: 100% !important;
    }

}

p.large {
    font-size: 1.0625rem;
}

.text-justify {
    text-align: justify;
}

body {
    font-size: .85rem;
}

.cursor-pointer {
    cursor: pointer;
}

.text-small {
    font-size: .7rem !important;
    line-height: 1.6;
}

//speach bubble

.speech {
    position: relative;
    &:after {
        transform: skewX(45deg);
      content: "";
      position: absolute;
      top: -25px;
      left: 20px;
      border-width: 0 0 30px 30px;
      border-style: solid;
      border-color: $black-coral transparent;
    }
  }


  // first p in div bold

  .first-p-bold p:first-of-type{
    
        font-weight: bold;
    
  }

  .anchor-delay {
      position: absolute;
      top: -150px;
      z-index: 0;
  }

  span.text-white {
      p, h1, h2, h3, h4, h5, h6 {
          color: white !important;
      }
  }

  // Block quote

  blockquote {
    /* Negate theme styles */
    border: 0;
    margin: 0;
    padding: 0;

    background: none;
    color: gray;
    line-height: 1.4 !important;
    margin: 0;
    position: relative;
    text-shadow: 0 1px white;
    z-index: 600;

    p {
        padding-left: 20px;
        text-align: center;
        font-size: 25px !important;
    }
}

blockquote p:first-child:before {
    content: '\201C';
    color: $quick-silver;
    font-size: 7.5em !important;
    font-weight: 700;
    opacity: .3;
    position: absolute;
    top: -.4em;
    left: -10px;    
    text-shadow: none;
    z-index: -300;
}

.w-300 {
    max-width: 200px;
}


.color-bg {
    background-color: $black-coral;
    display: block;
    color: white !important;
    line-height: 1.7;
}