// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .introductionText {
    margin: 20px;
  }

  .pic-one {
    height: 300px;
  }

  .pic-two {
    height: 300px;
    margin-top: 40px !important;

  }

  .pic-three {
    height: 300px;
  }

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .introductionText {
    margin: 20px;
  }

  .pic-one {
    height: 300px;
  }

  .pic-two {
    height: 300px;
  }

  .pic-three {
    height: 300px;
  }

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .introductionText {
    margin-top: 150px;
  }

  .pic-one {
    height: 300px;
    margin-top: 0 !important;
  }

  .pic-two {
    height: 300px;
    margin-top: 0 !important;
  }

  .pic-three {
    height: 300px;
  }

  .international-text {
    h5 {
      margin-top: 0 !important;
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) {}