// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  img {
    width: 300px;
    height: 300px;
  }

  .introductionText {
    margin: 20px;
  }

  .right-pic {
    margin-top: 40px;
  }

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  img {
    width: 300px;
    height: 300px;
  }

  .introductionText {
    margin: 20px;
  }

  .right-pic {
    margin-top: 40px;
  }

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  img {
    width: 300px;
    height: 300px;
  }

  .introductionText {
    margin-top: 150px;
  }

  .right-pic {
    margin-top: 40px;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) {}