// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .page {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .hero-image {
    height: 150px !important;
    width: 100% !important;
    padding: 0;

    h1 {
      font-size: 15px;
      line-height: 35px;
      max-width: 740;
      padding-left: 10px;
    }

  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .page {
    margin: 0;
    padding: 0;
  }

  .hero-image {
    height: 300px !important;
    width: 100% !important;

    h1 {
      font-size: 25px;
      line-height: 35px;
      max-width: 740;
      padding-left: 10px;
    }

  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .page {
    margin: 0;
    padding: 0;
  }

  .hero-image {
    height: 300px !important;
    width: 100% !important;

    h1 {
      font-size: 25px;
      line-height: 35px;
      max-width: 740;
      padding-left: 10px;
    }

  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) {}