.card {
    border: 0 !important;
    background-color: transparent !important;
    .card-title {
        text-transform: uppercase;
    }
    .outer-img-top {
        img {
            object-fit: cover;
            height: 200px;
            width: 100%;
        }
    
    }
    .card-body {
        background-color: transparent !important;
    }
}

.card.card-large {
    border: 0;
    
    @media (min-width: 1200px) { 
        height: 570px !important;
     }

}

.card-medium {
    height: 200px !important;
}

.card-min-400 {
    min-height: 400px !important;
}

// image

.h-100p {
    height: 100px;
    width: auto;
}