footer {
  height: auto;
  width: 100%;
  color: $white;
  background-color: #222222;
  margin: 0;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  display: -ms-flexbox;
  column-gap: 20px;
  -ms-flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 4px;
  @include side-padding;

  .footer-col {

    @include for-laptop {
      margin-bottom: 30px;
    }
  h2 {
    font-size: 1.3rem;
  }

  ul {
    margin:0;
    list-style-type: none;
    padding: 0;
  }

  p {
    color: white !important;
    opacity: .8;
  }

  hr {
    border-color: white;
    opacity: 0.2;
    width: 100px;
    margin: 10px 0;
  }

  a {
    color: white;
  }
  

  .stories-date {
    opacity: 0.6;
  }

  .social {
    padding: 15px 0;
    a {
      margin: 0 10px 0 0;
    }
  }
}

}