footer {
  background-color: $platinum;

/*   .row {
    margin-left: -13px !important;
    margin-right: -13px !important;
} */

  a:hover {
    opacity: .8;
  }

  h4 {
    margin-bottom: 10px;
  }

  hr {
    
    opacity: 0.2;
    width: 100px;
    margin: 0 0 15px 0;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      
      margin-bottom: 5px;
    }
  }

}

footer .container-fluid .row p,
footer .container-fluid .row h4,
footer .container-fluid .row i {

}

footer i {
  margin-right: 20px;
}

/* .row {
  overflow: hidden;
  margin-right: -3vh !important;
  margin-left: -3vh !important;
} */