footer {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly !important;
  border-top: 1px solid rgba(0, 0, 0, 0.15);

  .row {
    width: 1230px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .footer-row {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .stories-date {
    font-size: 14px;
    color: $grey;
  }

  .footer-text {
    width: 275px;
    font-weight: 400;
    font-size: 14px;
    color: $grey;
  }

  .footer-more {
    font-weight: 400;
    font-size: 14px;
    color: $grey;
    padding-bottom: 2.5vh;
  }

  .fab {
    opacity: 1;
  }

  p {
    font-size: 14px;
    font-weight: 600;
    color: $black;
  }

  a,
  .empty-anchor {
    font-size: 16px;
    font-weight: 400;
    color: $grey;
    text-decoration: none;
  }

  .empty-anchor {
    margin: 0;
  }
}

a:hover {
  color: $green;
  text-decoration: none;
}

span {
  width: 100px;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.bottom-bar {
  height: 50px;
  width: 100%;
  background: #F8F9FA;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);

  p,
  a {
    font-size: 12px;
    color: $grey;
    margin: 0;
    opacity: .5;
  }

  a:hover {
    color: $green;
    text-decoration: none;
  }
}

// Medium devices (landscape tablets, 1024px and down)

@media (max-width: 1024px) {
  footer {
    .row {
      .footer-row {
        width: 100% !important;
      }
    }
  }
}