.information {
    background: #141B21;
    height: auto;
    width: 100%;
    padding: 10vh 20vh;
    display: flex;
    flex-direction: row;

    span {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;

        h1 {
            color: $white;
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
            max-width: 85%;
            padding-bottom: 2.5vh;
        }

        a,
        p {
            color: $white;
            display: block;
            width: 70%;
            user-select: none;
        }

        ul {
            padding: 0;

            li {
                list-style-type: none;
            }

            a,
            p {
                list-style-type: none;
                margin-bottom: 0;
            }
        }
    }

    iframe {
        height: 55vh;
        width: 75vh;
        align-self: center;
        border: none;
    }
}

// Medium devices (landscape tablets, 1024px and down)

@media (max-width: 1024px) {

    .information {
        padding: 10vh 3vh;
        flex-direction: column;

        span {
            width: 100%;
            padding-bottom: 7.5vh;

            h1 {
                line-height: calc(50.22188px + 1.54083vw);
                max-width: 100%;
                padding-bottom: 2.5vh;
            }

            a,
            p {
                line-height: 35px;
                width: 100%;
            }
        }

        iframe {
            height: 55vh;
            width: 100%;
        }
    }
}