
.modal-content {
    height: auto;
    width: 750px;
    padding: 25px 50px;
    &.black {
        background-color: #464646;
    }

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: none;

        span {
            display: unset;
        }

        .close:focus {
            outline: 0;
        }
    }

    .modal-body {
        &.black {
            color: #464646 !important;
        }
        form {
            &.full-width {
                input {
                    width: 100%;
                    margin-bottom: 20px;
                    height: 50px;
                }
            }
            &.round {
                input, textarea {
                    border-radius: 5px;
                }
            }

            span {

                width: 100%;
                display: flex;
                justify-content: space-between;
                padding-top: 25px;

                input {
                    width: 47%;
                    border: 1px solid #dee2e6;
                    margin-bottom: 10px;
                    padding: 5px;
                }
                

                input::placeholder {
                    opacity: .5;
                }

                select {
                    border: 1px solid #dee2e6;
                    padding: 5px;

                    width: 100%;
                    color:  #acacac;
                    height: 30px;
                    margin-bottom: 30px;
                }
            }

            textarea {
                width: 100%;
                height: 125px;
                resize: none;
                padding: 5px;
                border: 1px solid #dee2e6;
            }

            textarea::placeholder {
                opacity: .5;
            }

            input:focus,
            textarea {
                outline: none !important;
            }
        }
    }

    .modal-footer {
        border-top: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        button,
        .button {
            height: 50px;
            width: 175px;
            background: $green;
            border: none;
            color: #ffffff;
            font-weight: 600;
            opacity: .85;
        }

        button:hover,
        .button:hover {
            opacity: 1;
        }

        p {
            margin-top: 20px;
        }
    }
}

// Medium devices (landscape tablets, 768px and down)

@media (max-width: 768px) {

    .modal-content {
        padding: 25px 0;
    }
}