nav {
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 10000;
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: -7vh; // Not the best solution, fix at a later date.
  padding: 0 20vh;
}

.navbar {
  width: inherit;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  font-weight: 400;
  flex-direction: row;
  height: inherit;
  padding: 0;

  .navbar-brand {
    height: 5vh;
    width: auto;

    img {
      height: inherit;
      width: inherit;
    }
  }

  .nav-link {
    padding: 0 !important;
  }

  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vh;
  }

  .navbar-nav-wider {
    width: 90vh;
  }

  .navbar-menu a,
  a {
    color: $black;
    font-size: 1.6vh;
    font-weight: 500;
    padding: 0;
  }

  .active-page {
    color: $green;
  }

  .fas {
    color: $black;
  }
}

.form {
  display: flex;
  align-items: center;

  input {
    margin-left: 7.5px;
    min-width: 206px !important;
  }

  .green-search-button {
    border-radius: 2.5px;
    background-color: $green;
    font-weight: 400;
    color: $white;
    max-width: 70px !important;
    text-transform: uppercase;
    border: none;
    font-size: 20px;
    margin-left: 5px;
  }
}

.contact-button {
  height: 30px;
  width: auto;
  padding: 0 10px;
  background: $green;
  border: none;
  color: #ffffff;
  font-weight: 500;
}

.nav-icon {
  height: inherit;
  text-align: center;
  width: 2vh;

  .fas {
    font-size: 1.6vh;
  }
}

.show {
  display: inline-block !important;
}

.hide {
  display: none !important;
}

#search-button {
  cursor: pointer;
}

#search {
  position: relative;
  display: none;

  input {
    width: 50px;
  }

  .search-cross {
    position: absolute;
    right: 7.5px;
    top: 2.5px;
    display: none;
    border: none;
    background: transparent;

    .fas {
      color: $black
    }
  }
}

.green-search-button {
  display: none;
}

.modal-open {
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 0 !important;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {

  nav {
    width: 100% !important;
    height: 70px !important;
    z-index: 3000;
    margin-top: 0;
    padding: 0 !important;
  }

  .navbar {

    background: #ffffff;
    border-bottom: 1px solid #a9a9a9;
    padding: 0 !important;

    .navbar-nav {
      height: 100vh;
      width: inherit;
      background: #ffffff;
      align-content: center;
      align-items: center;
      padding: 50px 0;
    }

    .navbar-brand {
      height: 45px;
      width: auto;
    }

    .fas {
      color: $black;
    }

    .contact-button {
      background: none;
      font-size: 25px;
      color: $black;
    }
  }

  .navbar .navbar-menu a,
  .navbar a {
    font-size: 25px;
  }

  .nav-icon {
    height: auto;
  }

  .navbar-toggler:active,
  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }

  .navbar-collapse {
    margin-top: 10px;
  }
}

// Medium devices (landscape tablets, 768px and down)

@media (max-width: 768px) {

  .navbar-toggler,
  .navbar-nav {
    padding-right: 5% !important;
  }

  .navbar-brand {
    margin-left: 5% !important;
  }
}

/* Large devices (laptops/desktops, 992px and down) */

@media (max-width: 992px) {

  nav {
    width: 100% !important;
    height: 70px !important;
    z-index: 3000;
  }

  .navbar {

    background: #ffffff;
    border-bottom: 1px solid #a9a9a9;
    padding: 0 !important;
    padding-left: 20px;
    padding-right: 20px;

    .navbar-nav {
      height: 100vh;
      width: inherit;
      background: #ffffff;
      align-content: center;
      align-items: center;
      padding-top: 100px;
      padding-bottom: 100px;
    }

    .navbar-brand {
      height: 45px;
      width: auto;
      position: absolute;
      z-index: 9999;
    }

    .navbar-toggler {
      font-size: 20px;
      line-height: 1;
      background-color: transparent;
      border: 1px solid transparent;
      position: absolute;
      z-index: 9999;
      right: 0;
      text-align: right;

      .fas {
        font-size: 20px;
      }
    }

    .contact-button {
      background: none;
      font-size: 30px;
      color: $black;
    }
  }

  .navbar .navbar-menu a,
  .navbar a {
    font-size: 30px;
  }

  .nav-icon {
    height: auto;
  }

  .navbar-toggler:active,
  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }

  .navbar-collapse {
    margin-top: 10px;
    height: 10vh;
  }
}

@media (max-width: 1290px) {

  .navbar-toggler,
  .navbar-nav {
    padding-right: 5%;
  }

  .navbar-brand {
    margin-left: 5%;

  }
}