
nav.navbar.fixed-top {
  background-color: $light-grey;

  
  .navbar-brand {
    height: 70px;
    img {
      object-fit: cover;
      height: 100%;
    }
  } 

  ul.social-bar {
   

  }

  

/* 
  div.collapse {


    div.social-bar {
      margin: 5px;
      @include for-bot {
        justify-content: center;
        position: fixed;
        bottom: 0;
      }

      a {
        margin: 5px;
      }
    }

    .social-bar, ul.navbar-brand {
      flex: 1 100%;
      display:flex;
      justify-content: flex-end;
      li.nav-item {
       
      }
    }
  }
 */
  
}