.partners {
    height: auto;
    width: 100%;
    background: #F6F5F3;
    padding: 12.5vh 20vh;

    h1 {
        font-size: 2vh;
        font-weight: 500;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        opacity: .5;
        user-select: none;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 5vh;
        grid-row-gap: 10vh;

        img {
            width: 100%;
            justify-self: center;
            align-self: center;
        }
    }
}

/* Large devices (laptops/desktops, 1024px and down) */

@media (max-width: 1024px) {

    .partners {
        padding: 10vh 3vh;

        h1 {
            padding-bottom: 7.5vh;
        }

        .wrapper {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}

@media (max-width: 768px) {
    .partners {
        .wrapper {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
 }