.contact-banner {
    height: 400px;
    width: 100%;
    background-color: rgb(37, 37, 37);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    p {
       // font-size: 20px;
        color: $white;
        font-weight: 600;
    }

    h2 {
        color: $white;
        max-width: 600px;
        font-weight: 500;
       // font-size: 25px;
        margin-bottom: 50px;
    }

    span {
        height: 25px;
    }

    button {
        height: 40px;
        width: 120px;
        background: transparent;
        border: $white solid 2px;
        color: $white;
        font-weight: 400;
        text-transform: uppercase;
    }
}

// Medium devices (landscape tablets, 768px and down)

@media (max-width: 768px) {

    .contact-banner {
        height: 300px;
        padding: 0 45px;

        p {
          //  font-size: 20px;
            margin: 0 auto;
            max-width: 85%;
            text-align: center;
        }

        span {
            height: 35px;
        }

        h2 {
           // font-size: 15px;
        }
    }
}