.big-header .inner-front {
    height: 500px;
    display: block;
    width: 100%;
    background-size: cover;
    background-position: 50% 30%;

    @media (max-width: 991.98px) {
        height: 550px;
        padding-top: 100px !important;
    }
}

.big-header .inner-front .container-fluid .front-box {
    background-color: rgba(255, 255, 255, 0.849);
    max-width: 700px;
    padding: 40px;
}

.big-header .inner-front .container-fluid {
    display: grid;
    justify-content: end;
    align-content: center;
    align-items: center;
    height: 100%;
}

.big-header {

    .slick-next {
        @media (max-width: 991.98px) {
            right: 20px !important;
            top: 57% !important;
        }

        right: 50px !important;

        &::before {
            color: rgb(255, 255, 255) !important;
        }

    }



    .slick-prev {
        @media (max-width: 991.98px) {
            left: 10px !important;
            top: 57% !important;
        }

        left: 50px !important;

        &::before {
            color: rgb(255, 255, 255) !important;
        }
    }
}



.person-slider {

    .slick-next {
        right: 10px !important;


    }

    .slick-prev {
        left: -40px !important;


    }
}

.person-slider-two {

    .slick-next {
        right: 10px !important;


    }

    .slick-prev {
        left: -50px !important;


    }
}

.testimonials-slider {

    .slick-next {
        right: 10px !important;


    }

    .slick-prev {
        left: -40px !important;


    }
}


.partner-slider {

    div {
        height: 200px;
    }
}

/* .partner-slider:after {
    box-shadow: -20px 0 20px -20px #001f9c inset;
    content: " ";
    height: 100%;
    left: -20px;
    position: absolute;
    top: 0;
    width: 20px;
}

.partner-slider:after {
    box-shadow: 20px 0 20px -20px #001f9c inset;
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    right: -20px;
    width: 20px;
} */


.custom-arrow-right,
.custom-arrow-left {
    display: inline-block;
    width: 55px;
    height: 55px;
    position: absolute;
    z-index: 1000;
    cursor: pointer;
    top: 35%;
    opacity: .7;

    &:hover {
        opacity: 1;
    }

}

.custom-arrow-right {
    background-image: url("/images/graphic/arrow-next.png");
    background-position: center;
    background-size: cover;
    right: 0;
}

.custom-arrow-left {
    background-image: url("/images/graphic/arrow-prev.png");
    background-position: center;
    background-size: cover;
    left: 0;
}


// Accordion slider

ul.calendar-gallery {
    display: flex;
    min-height: 100vh;
    width: 100%;;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;

    li.calendar-section {
        display: flex;
        flex: 1;
        align-items: stretch;
        background: #E74C3C;
        padding: 200px 0 100px 0;
        cursor: pointer;
        transition: all .5s ease;

        &:hover {
            background: darken(#E74C3C, 3);
        }

        &.active {
            flex: 5;
            background: rgb(110, 110, 110);
            cursor: default;
            transform: scaleX(1);
       

            h2 {
                color: #E74C3C;
            }

            .section-content {
                flex: 4;
                transform: scaleX(1);
                color: #E74C3C;
                display: block;
            }
        }

        .section-title {
            flex: 1;
            display: flex;
            align-items: flex-start;
            width: 100%;
            margin: 0;
            padding: 0;
            text-align: center;
            color: white;

            h3 {
                margin: 0;
                transform: rotate(-90deg);
                white-space: nowrap;
            }
        }

        .section-content {
            flex: 1;
            display: flex;
            align-items: flex-start;
            margin: 0;
            padding: 0;
            transition: all .25s .1s ease-out;
            display: none;
        }
    }
}