// pallets

.nav-tabs.gray-pallette {
    border: none;
    justify-items: center;
    justify-content: center;
    column-gap: 5px;
    display: flex;

    .nav-link.active {
        background-color: #A5ABAF;
        border: none;
        color: #444444 !important;
    }
    .nav-link {
        background-color: #B1C5CA;
        border-radius: 0;
        color: #444444 !important;
        @media (max-width: 1199.98px) {
            margin-bottom: 5px;
        }
    }
}

// fade-pallette

.nav-tabs.fade-pallette {
    border: none;
    justify-items: center;
    justify-content: space-between;
    column-gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    @media (max-width: 1199.98px) {
        display: flex !important;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.nav-tabs.fade-pallette .nav-link.active {
    background-color: #846E6D;
    border: none;
    color: white !important;
}

.nav-tabs.fade-pallette .nav-link {
    background-color: #A4836B;
    color: white !important;
    border-radius: 0;
    border: none;
    width: 100%;
    text-align: center;

    @media (max-width: 1199.98px) {
        width: unset !important;
        margin-bottom: 5px;
    }
}

.nav-tabs.fade-color .nav-link.active {
    background-color: #846E6D;
    border: none;
    color: white !important;
}

.nav-tabs.fade-color .nav-link {
    background-color: #A4836B;
    
    color: white !important;
    border-radius: 0;
    border: none;
    text-align: center;

    @media (max-width: 1199.98px) {
        width: unset !important;
        margin-bottom: 5px;
    }
}

.nav-tabs.fade-color {
    border: none;
}