// pallets




// green pallette

.nav-tabs.green-pallette {
    border: none;
    justify-items: center;
    justify-content: space-between;
    column-gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    @media (max-width: 1399.98px) {
        display: flex !important;
        justify-content: center;
        flex-wrap: wrap;
    }

    .nav-link.active {
        background-color: $xanadu;
        border: none;
        color: #ffffff !important;
    }
    .nav-link {
        background-color: $artichoke;
        border-radius: 0;
        color: #ffffff !important;
        width: 100%;
        @media (max-width: 1399.98px) {
            width: unset !important;
            margin-bottom: 5px;
        }
    }
}



// gray pallette 

.nav-tabs.gray-pallette {
    border: none;
    justify-items: center;
    justify-content: space-between;
    column-gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    &.only-seven {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    @media (max-width: 1399.98px) {
        display: flex !important;
        justify-content: center;
        flex-wrap: wrap;
    }

    .nav-link.active {
        background-color: $slate-gray;
        border: none;
        color: #ffffff !important;
    }
    .nav-link {
        background-color: $cadet-gray;
        border-radius: 0;
        color: #ffffff !important;
        width: 100%;
        @media (max-width: 1399.98px) {
            width: unset !important;
            margin-bottom: 5px;
        }
    }
}

// fade-pallette

.nav-tabs.fade-pallette {
    border: none;
    justify-items: center;
    justify-content: space-between;
    column-gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    &.seven-tabs {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    @media (max-width: 1199.98px) {
        display: flex !important;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.nav-tabs.fade-pallette .nav-link.active {
    background-color: $deep-taupe;
    border: none;
    color: white !important;
}

.nav-tabs.fade-pallette .nav-link {
    background-color: $beaver;
    color: white !important;
    border-radius: 0;
    border: none;
    width: 100%;
    text-align: center;

    @media (max-width: 1199.98px) {
        width: unset !important;
        margin-bottom: 5px;
    }
}

.nav-tabs.fade-color .nav-link.active {
    background-color: #846E6D;
    border: none;
    color: white !important;
}

.nav-tabs.fade-color .nav-link {
    background-color: #A4836B;
    
    color: white !important;
    border-radius: 0;
    border: none;
    text-align: center;

    @media (max-width: 1199.98px) {
        width: unset !important;
        margin-bottom: 5px;
    }
}

.nav-tabs.fade-color {
    border: none;
}