<div id="accordion2" class="faq-accordion">
    <h2>FAQ</h2>
    <br>
    <div class="panel faq-panel">
        <div id="headingA" class="panel-heading">
            <h5>
                <a class="accordion-toggle collapsed" href="#" role="button" data-toggle="collapse"
                    data-target="#collapseA" data-parent="#accordion2">
                    Er uddannelsen 1-årig, 2-årig eller 4-årig?
                </a>
            </h5>
        </div>
        <div id="collapseA" class="collapse" aria-labelledby="headingA" data-parent="#accordion2">

            <p><i>Tager du alle fire års undervisning, bliver du uddannet til Psykologisk Filosofisk Psykoterapeut.</i>
            </p>
            <p>Du kan også vælge kun at tage år et eller år to og dermed kvalificerere dig til at kunne tage lettere
                terapeutiske samtaler på et relativt højt teknisk niveau.</p>

        </div>
    </div>
    <br>
    <div class="panel faq-panel">
        <div id="headingB" class="panel-heading">
            <h5>
                <a class="accordion-toggle collapsed" href="#" role="button" data-toggle="collapse"
                    data-target="#collapseB" data-parent="#accordion2">
                    Hvornår starter næste hold?
                </a>
            </h5>
        </div>
        <div id="collapseB" class="collapse collapse-dates" aria-labelledby="headingB" data-parent="#accordion2">

            <p><i>10. juni 2021</i><br><br>
                Vi starter d. 10. juni. Skriv gerne til os på <a
                    href="mailto:info@copenhagencoaching.dk">info@copenhagencoaching.dk</a> og hør om
                der er pladser tilbage på holdet. Du kan finde datoerne for det næste hold lige <b><a
                        class="btn-link no-padding year-one-link" role="button">her</a></b>.</p>

        </div>
    </div>
    <br>
    <div class="panel faq-panel">
        <div id="headingC" class="panel-heading">
            <h5>
                <a class="accordion-toggle collapsed" href="#" role="button" data-toggle="collapse"
                    data-target="#collapseC" data-parent="#accordion2">
                    Hvordan og hvornår foregår undervisningen?
                </a>
            </h5>
        </div>
        <div id="collapseC" class="collapse" aria-labelledby="headingC" data-parent="#accordion2">

            <p><i>Et uddannelsesår består af seks moduler. Hvert modul er af 4 dages varighed.</i></p>
            <p>Alle dage er fra kl. 9-16.00. På hvert modul vil du møde mindst to forskellige lærere, og undervisningen
                vil være en dynamisk vekselvirkning mellem teori, selvrefleksion og træning for at sikre optimal læring.
            </p>

        </div>
    </div>
    <br>
    <div class="panel faq-panel">
        <div id="headingD" class="panel-heading">
            <h5>
                <a class="accordion-toggle collapsed" href="#" role="button" data-toggle="collapse"
                    data-target="#collapseD" data-parent="#accordion2">
                    Hvor foregår undervisningen?
                </a>
            </h5>
        </div>
        <div id="collapseD" class="collapse" aria-labelledby="headingD" data-parent="#accordion2">

            <p><i>Al undervisning afvikles som dagskurser hos Copenhagen Coaching Center, Blegdamsvej 104A, 2. sal, 2100
                    København K. Dog med undtagelse af det todages intromodul, der afvikles som internat med én
                    overnatning. Mere info om tid og sted følger snarest.</i></p>

        </div>
    </div>
    <br>
    <div class="panel faq-panel">
        <div id="headingE" class="panel-heading">
            <h5>
                <a class="accordion-toggle collapsed" href="#" role="button" data-toggle="collapse"
                    data-target="#collapseE" data-parent="#accordion2">
                    Hvad koster uddannelsen?
                </a>
            </h5>
        </div>
        <div id="collapseE" class="collapse" aria-labelledby="headingE" data-parent="#accordion2">

            <p><i>Uddannelsen koster kr. 42.000,- første år, efterfølgende år kr. 40.000,-.</i></p>

            <p>Et års uddannelse koster 42.500,- kr. <br>
                To års uddannelse koster 82.000,- kr. <br>
                Tre års uddannelse koster 122.000,- kr. <br>
                Fire års uddannelse koster 162.000,- kr.
            </p>
            <p>
                Du betaler for et år ad gangen.
            </p>

        </div>
    </div>
    <br>
    <div class="panel faq-panel">
        <div id="headingF" class="panel-heading">
            <h5>
                <a class="accordion-toggle collapsed" href="#" role="button" data-toggle="collapse"
                    data-target="#collapseF" data-parent="#accordion2">
                    Skal jeg betale for hele uddannelsen på én gang?
                </a>
            </h5>
        </div>
        <div id="collapseF" class="collapse" aria-labelledby="headingF" data-parent="#accordion2">

            <p><i>Det behøver du ikke, vi tilbyder forskellige betalingsmuligheder – Kontakt os venligst for aftale.</i>
            </p>

        </div>
    </div>

    <br>
    <div class="panel faq-panel">
        <div id="headingG" class="panel-heading">
            <h5>
                <a class="accordion-toggle collapsed" href="#" role="button" data-toggle="collapse"
                    data-target="#collapseG" data-parent="#accordion2">
                    Kan jeg få økonomisk støtte til uddannelsen?
                </a>
            </h5>
        </div>
        <div id="collapseG" class="collapse" aria-labelledby="headingG" data-parent="#accordion2">

            <p><i>Uddannelsen er ikke SU-berettiget og er ikke en diplom-uddannelse. Men skriv eller ring til os, for
                    der er mange andre muligheder ift økonomi.</i></p>
            <p>Hvis du er ansat, kan du spørge din arbejdsgiver om du kan betale for uddannelsen via
                bruttolønsordningen. Du kan læse om bruttolønsordningen på <a target="_blank"
                    href="https://skat.dk/skat.aspx?oid=2234833">Skats hjemmeside</a>.</p>
            <p>Er du medlem af et fagforbund, kan du kontakte dem og spørge om, det er muligt at søge midler via
                forbundets kompetencefond.</p>
            <p>Grunduddannelsens første og andet år er relevant på de fleste arbejdspladser. Den kan bl.a. hjælpe jer
                med at mindske stress, håndtere konflikter og øge trivslen. Hvis din arbejdsgiver vil betale helt eller
                delvist for din uddannelse, kan vi hjælpe med at dele betalingen op.</p>
            <p>Du er meget velkommen til at ringe eller skrive til os, hvis du vil vide mere eller vende dine muligheder
                med os. </p>
            <p>Send os en mail på:<br>
                <a href="mailto:info@copenhagencoaching.dk">info@copenhagencoaching.dk</a><br>

            </p>

        </div>
    </div>

    <br>
    <div class="panel faq-panel">
        <div id="headingH" class="panel-heading">
            <h5>
                <a class="accordion-toggle collapsed" href="#" role="button" data-toggle="collapse"
                    data-target="#collapseH" data-parent="#accordion2">
                    Hvor meget tid skal jeg regne med at bruge mellem modulerne?
                </a>
            </h5>
        </div>
        <div id="collapseH" class="collapse" aria-labelledby="headingH" data-parent="#accordion2">

            <p><i>Som udgangspunkt er uddannelsen lavet, så du kan have både fuldtidsarbejde og familie samtidig med, at
                    du studerer.</i></p>
            <p>Når du tilmelder dig uddannelsen, får du en litteraturliste som består af forskellige fagbøger.</p>



            <p>Du er velkommen til at kontakte os på <a
                    href="mailto:info@copenhagencoaching.dk">info@copenhagencoaching.dk</a>, hvis du har brug for at
                vende, hvordan uddannelsen kan harmonere med dit familie- og arbejdsliv.</p>


        </div>
    </div>

    <br>
    <div class="panel faq-panel">
        <div id="headingI" class="panel-heading">
            <h5>
                <a class="accordion-toggle collapsed" href="#" role="button" data-toggle="collapse"
                    data-target="#collapseI" data-parent="#accordion2">
                    Hvor mange deltagere er der på hvert hold?
                </a>
            </h5>
        </div>
        <div id="collapseI" class="collapse" aria-labelledby="headingI" data-parent="#accordion2">

            <p><i>Vi bestræber os på at have max 16 deltagere på hvert hold</i></p>


        </div>
    </div>

    <br>
    <div class="panel faq-panel">
        <div id="headingJ" class="panel-heading">
            <h5>
                <a class="accordion-toggle collapsed" href="#" role="button" data-toggle="collapse"
                    data-target="#collapseJ" data-parent="#accordion2">
                    Hvordan bliver man optaget på uddannelsen?
                </a>
            </h5>
        </div>
        <div id="collapseJ" class="collapse" aria-labelledby="headingJ" data-parent="#accordion2">

            <p><i>Man sender en ansøgning eller en tilkendegivelse via vores tilmeldingsformular på siden med reference
                    til den gruppe man søger i (§1, §2, §3).</i></p>

            <p>Du kan læse mere om optagelseskrav <b><a href="/pfp/adgangskrav/">her på siden</a></b>. Når vi har
                modtaget din ansøgning indkalder vi dig til en realkompetencevurdering, samt forventningsafstemmende
                samtale (det gør alle) Først herefter får du besked om du er optaget på uddannelsen.</p>


        </div>
    </div>


    <br>
    <div class="panel faq-panel">
        <div id="headingK" class="panel-heading">
            <h5>
                <a class="accordion-toggle collapsed" href="#" role="button" data-toggle="collapse"
                    data-target="#collapseK" data-parent="#accordion2">
                    Er der krav om, hvor længe jeg må være om at tage uddannelsen?
                </a>
            </h5>
        </div>
        <div id="collapseK" class="collapse" aria-labelledby="headingK" data-parent="#accordion2">

            <p><i>Ja, det er der.</i></p>
            <p>Som udgangspunkt skal du færdiggøre uddannelsens 4 år inden for 6 år fra din studiestart. Dispensation
                for dette krav og dermed muligheden for et længere studieforløb kan gives i særlige tilfælde og vurderes
                individuelt.</p>


        </div>
    </div>

    <br>
    <div class="panel faq-panel">
        <div id="headingL" class="panel-heading">
            <h5>
                <a class="accordion-toggle collapsed" href="#" role="button" data-toggle="collapse"
                    data-target="#collapseL" data-parent="#accordion2">
                    Hvem er underviserne på uddannelsen?
                </a>
            </h5>
        </div>
        <div id="collapseL" class="collapse" aria-labelledby="headingL" data-parent="#accordion2">

            <p><i>Udover at du vil møde et meget kompetent underviserteam fra CCC, bruger vi også veluddannede og
                    dygtige, eksterne undervisere i forskellige temaer.</i></p>

        </div>
    </div>

    <br>
    <div class="panel faq-panel">
        <div id="headingM" class="panel-heading">
            <h5>
                <a class="accordion-toggle collapsed" href="#" role="button" data-toggle="collapse"
                    data-target="#collapseM" data-parent="#accordion2">
                    Kan jeg møde jer, før jeg tilmelder mig uddannelsen?
                </a>
            </h5>
        </div>
        <div id="collapseM" class="collapse" aria-labelledby="headingM" data-parent="#accordion2">

            <p><i>Ja, det kan du!</i></p>
            <p>1. marts 2021 fra kl. 20-21.00 holder vi online infomøde. Tilmeld dig <b><a
                        class="btn-link no-padding info-event-link" role="button">her</a></b></p>
            <p>På infomødet vil vi fortælle om uddannelsens indhold og du vil få en smagsprøve på det, du vil lære på
                uddannelsen, samt høre om de krav, der stilles til dig i løbet af uddannelsen.</p>
            <p>Du kan også altid skrive til os på <a
                    href="mailto:info@copenhagencoaching.dk">info@copenhagencoaching.dk</a> eller bede om at blive
                ringet op for en personlig samtale. Skriv eller ring gerne med ethvert spørgsmål, stort som småt.</p>

        </div>
    </div>

    <br>
    <div class="panel faq-panel">
        <div id="headingN" class="panel-heading">
            <h5>
                <a class="accordion-toggle collapsed" href="#" role="button" data-toggle="collapse"
                    data-target="#collapseN" data-parent="#accordion2">
                    Hvornår er næste informationsaften?
                </a>
            </h5>
        </div>
        <div id="collapseN" class="collapse" aria-labelledby="headingN" data-parent="#accordion2">

            <p><i>Se mere om vores næste informationsaften, og tilmeld dig lige <b><a
                            class="btn-link no-padding info-event-link" role="button">her</a></b></i></p>
        </div>
    </div>

</div>