---
layout: page
title: About
---

{% include partners.html %}

<section class="content">
  {% assign orderedfundament = site.fundament | sort: "order" %}
  {% for fundament in orderedfundament %}
  <div class="wrapper">
      <img src="{{ fundament.image }}" alt="metodik og vision billeder">
      <span>
          <h1>{{ fundament.title }}</h1>
          <p>{{ fundament.content | truncatewords: 60, "" }}...</p>
        <a class="fundament-link" href="{{ fundament.url }}">Læs mere om {{ fundament.title }} her ⟶</a>
      </span>
  </div>
  {% endfor %}
</section>

{% include employees.html %}

<!-- Placer EMCC-akkreditering her -->

{% include information.html %}