---
layout: page
title: About
---
<div id="team" class="employees">
  <div class="container-fluid narrow-container no-up">
  <h1>Mød teamet</h1>
  <div class="wrapper">
      {% assign sorted_empl = site.employees | sort: "order" %}
      {% for employee in sorted_empl %}
      <a class="{{ employee.title }}" href="{{ employee.url }}">
          <img class="emp-image" src="{{ employee.portrait-image }}" alt="{{ employee.title }}">
          <h5>{{ employee.title }}</h5>
          <p>{{ employee.description }}<br>{{ employee.email }}<br>{{ employee.call }}</p>
      </a>
      {% endfor %}
  </div>
</div>
</div>


{% include partners.html %}

<div class="container-fluid narrow-container">
<section class="content">
  {% assign orderedfundament = site.fundament | sort: "order" %}
  {% for fundament in orderedfundament %}
  <div class="wrapper">
      <img class="content-img" src="{{ fundament.image }}" alt="{{ fundament.title }}">
      <span>
          <h1 class="title">{{ fundament.title }}</h1>
          <p>{{ fundament.content | truncatewords: 60, "" }}...</p>
        <a class="fundament-link" href="{{ fundament.url }}">Læs mere om {{ fundament.title }} her ⟶</a>
      </span>
  </div>
  {% endfor %}
</section>

</div>



<!-- Placer EMCC-akkreditering her -->

{% include information.html %}