---
layout: page
title: About
---

{% include partners.html %}

<section class="content">
  {% assign orderedfundament = site.fundament | sort: "order" %}
  {% for fundament in orderedfundament %}
  <div class="wrapper">
      <img src="{{ fundament.image }}" alt="metodik og vision billeder">
      <span>
          <h1>{{ fundament.title }}</h1>
          <p>{{ fundament.content | truncatewords: 60, "" }}...</p>
        <a class="fundament-link" href="{{ fundament.url }}">Læs mere om {{ fundament.title }} her ⟶</a>
      </span>
  </div>
  {% endfor %}
</section>


<div id="team" class="employees">
  <h1>Mød teamet</h1>
  <div class="wrapper">
      {% assign sorted_empl = site.employees | sort: "order" %}
      {% for employee in sorted_empl %}
      <a class="{{ employee.title }}" href="{{ employee.url }}">
          <img src="{{ employee.portrait-image }}" alt="image of {{ employee.title }}">
          <h5>{{ employee.title }}</h5>
          <p>{{ employee.description }}<br>{{ employee.email }}<br>{{ employee.call }}</p>
      </a>
      {% endfor %}
  </div>
</div>

<!-- Placer EMCC-akkreditering her -->

{% include information.html %}