---
layout: default
---
<div
    style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/academy/coaching-uddannelser.jpg'); background-size: cover; background-position: center;">
    <div class="py-5">
      <div class="container-fluid text-center py-5">
        <h1 class="text-white mb-3">{{ page.title }}</h1>
        <p class="w-75 mx-auto text-white lead">{{ page.description }}</p>
      </div>
    </div>
   
</div>

<div class="container-fluid py-5">
  <div class="row gy-5 gx-5">
    {% assign sorted_edu = site.educations | sort: "order" %}
    {% for edu in sorted_edu %}
    {% if edu.special == false %}

    <div class="col-12 col-md-6 col-xl-3">

      <a href="{{ edu.url }}">
        <div class="card border-0">
          <div class="outer-img-top">
            <img src="{{ edu.image }}" alt="...">
          </div>
          <div class="card-body px-0 py-2">
            <h4 class="text-uppercase">{{ edu.title }}</h4>
            <p>{{ edu.description }}</p>
          </div>

        </div>

      </a>
    </div>
    {% endif %}
    {% endfor %}
    <div class="col-12 col-md-6 col-xl-3">

      <a href="/academy/skraeddersyde-uddannelser/">
        <div class="card border-0">
          <div class="outer-img-top">
            <img src="/images/academy/b6.png" alt="...">
          </div>
          <div class="card-body px-0 py-2">
            <h4 class="text-uppercase">Skræddersyede uddannelser</h4>
            <p>CCC tilbyder åbne uddannelser, lederuddannelser og kurser til dig der ønsker høj faglig kvalitet og virkelighedsnære læreprocesser i samspillet mellem teori og praksis.</p>
          </div>

        </div>

      </a>
    </div>
  </div>
</div>


{% include sections/pip-banner.html %}
{% include /sections/contact.html %}
