---
layout: page
---

<div class="introductionText">
  <h1>Incredibly generic introdutionary title</h1>
</div>

<div class="row category">
  {% for education in site.educations %}
  {% if education.category == page.name %}

  <div class="col-lg-3 col-sm-12">
    <div class="card">
      <div class="education-image" style="background-image: url('{{ education.image }}')"></div>
      <div class="card-body d-flex justify-content-center align-items-center flex-column">
        <h5 class="card-title">{{ education.title }}</h5>
        <div class="card-text" id="content">
        </div>
        <a class="showmore-button" href="{{ education.url }}">Læs mere</a>
      </div>
    </div>
  </div>

  {% endif %}
  {% endfor %}

</div>

<a class="read-more" href="/educations/">← Se flere uddannelser</a>

{% include signup.html %}