---
layout: page
---

<section class="content">
    {% assign orderedcoaching = site.coachings | sort: "order" %}
    {% for coaching in orderedcoaching %}
    <div class="wrapper">
        <img src="{{ coaching.image }}" alt="#">
        <span>
            <h1>{{ coaching.title }}</h1>
            <p>{{ coaching.content }}</p>
            <h2>Ineresseret i at høre mere? Ring eller skriv og få en snak med</h2>
            {% for employee in site.employees %}
            {% if employee.data-id == coaching.contact-person %}
            <!-- <img src="{{ employee.small-portrait-image }}" alt="{{ employee.title }}, {{ employee.description }}"> -->
            <a data-proofer-ignore href="{{ employee.url }}">{{ employee.title }}</a>
            <a data-proofer-ignore href="{{ employee.call }}">{{ employee.call }}</a>
            <a data-proofer-ignore href="mailto:{{ employee.email }}">{{ employee.email }}</a>
            {% endif %}
            {% endfor %}
        </span>
    </div>
    {% endfor %}
</section>