---
layout: default
---

<div class="blue-bg">
    <div class="container-fluid narrow-container">
        <div class="white">{{ page.content }}</div>

        <div class="long-grey-banner">
          
        </div>
       
        <form action="https://formspree.io/f/xpzokkyl" method="POST">
          <input class="input-form" type="text" placeholder="Fornavn" name="fornavn">
          <input class="input-form" type="text" placeholder="Efternavn" name="efternavn">
          <input class="input-form" type="email" placeholder="Email" name="email">
          <textarea class="input-area-form" name="kommentarer" type="textarea" cols="40" rows="10"
              placeholder="Evt. kommentarer"></textarea>
          <div class="checkbox">
           <p><b>Accept af vores privatlivspolitik</b></p>
           <p>Jeg accepterer, at mine informationer gemmes og lagres i CCC’s interne GDPR register, og at jeg fremover modtager information på mail omkring CCC Community og andre relevante nyheder. </p>
              <input class="checkbox-box" type="checkbox" value="GDPR-check">

          </div>
          <input class="green-button" type="submit" value="Tilmeld">
      </form>
      
        <!-- your other form fields go here -->
      
  


    </div>
</div>