---
layout: page
---

<div class="container-fluid narrow-container no-up">
<div class="community">
  <div class="wrapper">
    <section class="content-section">

      {{ page.content }}
      <br>
      <br>
      
      <a class="blue-button" href="/registration/?n=community-medlemsskab">Tilmeld dig her</a>


    </section>
    <section class="event-section">
      
      <h1>Kommende arrangementer</h1>

      {% for post in site.categories.community %}
      <h3>{{ post.title }}</h3>
      <span class="thin">{{ post.date | date: "%B %d, %Y" }} | {{ post.time }}</span>
      {{ post.content }}
      {% endfor %}
      <hr class="no-m-up">
    </section>
    <section class="inspiration-section">

      <h1 class="banner-title">Inspiration</h1>

      <div class="inspirations-wrapper">
        {% assign ordered_posts = site.categories.blog | sort: 'order' %}
        {% for post in ordered_posts limit:6  %}
        {% if post.category != "community" %}
        <a href="{{ post.url }}"><div class="post-box" style="background-image: url('{{ post.image }}');">
          <div class="post-box-text">
            <h1>{{ post.title }}</h1>
            <p>{% for tag in post.tags %}
            #{{ tag }}
            {% endfor %}</p>
          </div>
        </div>
      </a>
      {% endif %}
        {% endfor %}

      </div>
      <h2><a data-proofer-ignore href="/inspiration/">Få mere inspiration ⟶</a></h2>
    </section>
  </div>

 

</div>
</div>