---
layout: default
---
<div class="hero-image d-flex align-content-center align-items-center" style="background: linear-gradient(rgba(19, 19, 19, 0.7), rgba(19, 19, 19, 0.7)), url('/images/graphic/community-3.png'); background-size: cover; background-position: center;">

  <div class="container-fluid text-center">

    <div class="editable">
      <h1 class="text-white mb-1">Community</h1>
    </div>

    <div class="row">
      <div class="col-12 offset-lg-3 col-lg-6">
        <hr class="white short-hr mx-auto" />
        <div class="editable">
          <p class="text-white mb-4">Et fællesskab for vedvarende læring og udvikling af dit lederskab.</p>
        </div>

      </div>

    </div>
    <a class="btn-opal btn text-uppercase w-310 btn-bold fs-6 me-md-5" data-proofer-ignore href="#community" data-toggle="modal" data-target="#community-modal">Tilmeld</a>
    <a class="btn-light-brown text-white btn text-uppercase w-310 btn-bold fs-6" href="#ring-til-mig">Hør mere</a>
  </div>


</div>

<div class="container-fluid my-5">

  <div class="row gx-5">
    <div class="col-12 col-md-6">
      <div class="h-100" style="background-image: url('/images/community/community-banner.png'); background-position: top; background-size: cover;">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="editable">
        <h3>ØNSKER DU ET FÆLLESSKAB FOR VEDVARENDE LÆRING OG UDVIKLING AF DIT LEDERSKAB?</h3>
        <p>Formålet med CCC Community er, at er at løfte den dialogiske ledelseskvalitet – og kapacitet i Danmark. Vi udvikler og uddanner ledere via rådgivning, coaching, sparring, netværk, kurser og testværktøjer. Sammen skaber vi rammerne for, hvordan du som leder skaber værdi for dig selv, din organisation og for samfundet.</p>
        <p>Rigtig mange af vores tidligere og nuværende studerende, samt kunder efterspørger flere tilbud om netværk, efteruddannelse, faglig inspiration og supervision. Derfor har vi slået dørene op for CCC Community, et fysisk og virtuelt fælleskab. Det er vores ønske at skabe et netværk, der kan styrke vitaliteten i dit lederskab og stimulere til faglige udvikling og nysgerrighed på egen og andres ledelsesmæssige praksis.</p>
      </div>

    </div>
  </div>

  <div class="row mt-lg-5 mt-3 gx-5 gy-5 gy-lg-0">
    <div class="col-12 col-lg-6">
      <div class="p-5 bg-light-brown w-100 text-white h-100 d-flex align-content-center align-items-center">
        <div>
          <div class="editable">
            <h2>Fordele</h2>
            <p>Som medlem får du gratis adgang til en lang række gå-hjem møder og arrangementer hos os, samt adgang til:
            </p>
            <ul>
              <li>Netværk, inspiration og supervison på min. 3 årlige træningsaftener</li>
              <li>Min. to faglige arrangementer årligt</li>
              <li>1 gratis eksemplar af nye CCC-udgivelser</li>
              <li>Op til 10 årlige nyhedsbreve</li>
              <li>15% rabat på events, eksklusive arrangementer og udvalgte kurser</li>
            </ul>
            <p><b>Årligt kontingent: Kr. 2500,- ekskl. moms</b></p>
          </div>
        </div>

      </div>

    </div>
    <div class="col-12 col-lg-6">
      <div class="p-5 bg-cadet-gray w-100 text-white text-center h-100">
        <h2 class="text-white">Tilmeld dig vores nyhedsbrev</h2>
        <p class="fs-6 text-white">Og modtag information og tilbud om vores kommende uddannelser, kurser og events, samt
          andre inspirerende nyheder fra CCC.</p>

        <form id="newsletter-form" action="https://formspree.io/f/xlezwlkg" method="POST">
          <div class="row mt-3 gy-md-0 gy-3" id="inner-form">
            <div class="col-md-6 col-12">
              <input type="text" class="form-control" placeholder="Navn" aria-label="Navn" name="name" required />
            </div>

            <div class="col-md-6 col-12">
              <input type="text" class="form-control" placeholder="E-mail" aria-label="Email" name="email" required />
            </div>
            <div class="col-12 pt-4">
              <div class="form-check form-check-inline">
                <input class="form-check-input mt-1" type="checkbox" name="_optin" id="gridCheck" required />
                <label class="form-check-label text-white" for="gridCheck">
                  Jeg giver hermed samtykke til at CCC må overøføre mine angivede oplysninger til
                  Mailchimp.
                </label>
              </div>
            </div>
            <div class="col-12 text-center pt-4">
              <div class="g-recaptcha text-center" data-sitekey="6Lfi__EcAAAAABOscNdrKzqeLNu2vbuTM_5VlANy"></div>
              <!-- replace with your recaptcha SITE key not secret key -->
              <br />
            </div>

            <div class="col-12">
              <button class="btn btn-beaver w-310 my-0 text-white btn-bold">Tilmeld nyhedsbrev</button>
            </div>


          </div>
          <p id="newsletter-mes" class="text-white mt-3 bg-xanadu p-2 d-none text-center"></p>
        </form>
      </div>

    </div>
  </div>


</div>

<div class="mb-4 position-relative">
  <div id="ring-til-mig" class="anchor-delay"></div>
  {% include sections/call-no-background.html %}
</div>

{% include sections/inspiration.html %}

<div class="container-fluid text-center mt-5">
  <h2>Kommende arrangementer</h2>
  <div class="d-md-none">
    <hr />
  </div>
</div>
<div class="pt-3"></div>
{% include sections/events-2.html %}



<script>
  var form = document.getElementById("newsletter-form");
  var inner_form = document.getElementById("inner-form");

  async function handleSubmit(event) {
    event.preventDefault();
    var status = document.getElementById("newsletter-mes");
    var data = new FormData(event.target);
    fetch(event.target.action, {
      method: form.method,
      body: data,
      headers: {
        'Accept': 'application/json'
      }
    }).then(response => {
      if (response.ok) {
        status.innerHTML = "Tak for din tilmelding til vores nyhedsbrev. Du vil snarrest modtage en e-mail med link til bekræftelse af din tilmelding.";
        inner_form.className = "d-none"
        status.classList.remove("d-none")
        form.reset()
      } else {
        response.json().then(data => {
          if (Object.hasOwn(data, 'errors')) {
            status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
          } else {
            status.innerHTML = "Oops! There was a problem submitting your form"
          }
        })
      }
    }).catch(error => {
      status.innerHTML = "Oops! There was a problem submitting your form"
    });
  }
  form.addEventListener("submit", handleSubmit)
</script>