---
layout: default
---

<div class="pt-5"
  style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/community/community.jpg'); background-size: cover; background-position: center;">
  <div class="py-5">
    <div class="container-fluid text-center py-5">
      <p class="text-white bold">Bliv medlem af</p>
      <h1 class="text-white mb-3">{{ page.title }}</h1>

      <div class="row">
        <div class="col-12 offset-lg-3 col-lg-6">
          <hr class="white">
          <p class="text-white lead mb-4">{{ page.description }}</p>
          <a class="btn-navy-blue fs-5 text-white btn text-uppercase" data-proofer-ignore href="#community" data-toggle="modal"
            data-target="#community-modal"><b>Tilmeld</b></a>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="container-fluid my-5">

  <div class="row gx-5">
    <div class="col-12 col-md-6">
      <div class="h-100"
        style="background-image: url('/images/consulting/c4.jpg'); background-position: center; background-size: cover;">
      </div>
    </div>
    <div class="col-12 col-md-6">
      {{ page.content }}

    </div>
  </div>


</div>

<div class="container-fluid">
  <h2>Kommende arrangementer</h2>
  <div class="d-md-none">
    <hr>
  </div>
</div>

<div class="container-fluid my-5">

  <div class="row gx-5">
    <div class="col-12 col-md-6">
      <div class="h-100"
        style="background-image: url('/images/events/foror.png'); background-position: center; background-size: cover;">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <h3>Kom med til forårskur og bogreception, samt eksklusivt foredrag med Rasmus Kragh nu på tirsdag</h3>
      <p>Det glæder os meget, at vi endelig kan åbne dørene for jer alle til en forårsbuket af spændende aktiviteter allerede nu på tirsdag den 26.04 fra kl. 16-20.</p>
      <a href="/events/forårskur/" class="btn btn-black-coral text-white">Se mere her</a>
    </div>
  </div>


</div>

<div class="bg-platinum">
  <div class="container-fluid py-5">

    <h2>Fordele</h2>
    <p class="large">Som medlem får du gratis adgang til en lang række gå-hjem møder og arrangementer hos os, samt
      adgang til:</p>

    <ul>
      <li>Netværk, inspiration og supervison på min. 3 årlige træningsaftener</li>
      <li>Min. to faglige arrangementer årligt</li>
      <li>1 gratis eksemplar af nye CCC-udgivelser</li>
      <li>Op til 10 årlige nyhedsbreve</li>
      <li>15% rabat på events, eksklusive arrangementer og udvalgte kurser</li>
    </ul>
    <p class="large"><b>Årligt kontingent: Kr. 2500,- ekskl. moms</b></p>
  </div>

</div>