---
layout: page
---

<div class="container-fluid grid-side-menu consultation container-narrow min-height">
    <div class="container-body">
        <h1>{{ page.title }}</h2>
            {{ page.content }}

            {% for emp in site.employees %}
            {% if emp.title == page.contact-person %}
            <div class="contact-box">
              <div class="contact-img">
                  <img src="{{ emp.small-portrait-image }}" alt="{{ emp.title}}">
              </div>
              <div class="contact-body">
                  <h6>Ring og få en snak med {{ emp.title }}</h6>
                  <span><i class="fas fa-phone"></i> <a href="phone:{{ emp.call }}">{{ emp.call }}</a></span>
                <span><i class="far fa-envelope"></i> <a href="mailto:{{ emp.email }}">{{ emp.email }}</a></span>
              </div>
            </div>
            {% endif %}
            {% endfor %}
    </div>
    <div >

        <div class="hero-banner-image">
            <div class="color-box"></div>
            <div class="hero-image">
                <img src="{{ page.image }}" alt="" class="image-fluid"></div>

        </div>

    


    </div>


</div>

<script>
    $(document).ready(function () {
        var numb = $('.tag-number').text() /* get tag length from div */
        var x = $('#demo'); /* write the number in a div */
        $('#demo').text(+ Math.floor((Math.random() * parseInt(numb)) + 1)); /* tak that variation of numbers and pick a random one */
    });
</script>