---
layout: default
---
{% assign orderedcoaching = site.consultings | sort: "order" %}
<div class="hero-image d-flex align-content-center align-items-center"
  style="background: linear-gradient(rgba(19, 19, 19, 0.7), rgba(19, 19, 19, 0.7)), url('/images/graphic/community-3.png'); background-size: cover; background-position: center;">

    <div class="container-fluid text-center">

      <h1 class="text-white mb-1">{{ page.title }}</h1>

      <div class="row">
        <div class="col-12 offset-lg-3 col-lg-6">
          <hr class="white short-hr mx-auto">

        </div>

      </div>
      </div>
  

</div>

<div class="bg-platinum">
    <div class="container-fluid small-container py-5">
        <div class="bg-white p-5">
            {{ page.content }}  
        </div>
 
    </div>
</div>
<div class="bg-black-coral">
    <div class="container-fluid small-container py-5">
        <div class="row gy-5">
            {% for coaching in orderedcoaching %}
            {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
            <div class="col-12">
                
                <div class="row position-relative {% if thecycle == 'odd' %}flex-row-reverse{% endif %}">
                    <div class="col-6">
                        <div class="d-hidden py-5 my-5">
                            <h3>{{ coaching.title }}</h3><h3>{{ coaching.title }}</h3>
                            {{ coaching.content }}
                        </div>
                       
                        <div class="kons p-5 bg-white {% if thecycle == 'odd' %}end-0{% else %}start-0{% endif %}">
                            <h4>{{ coaching.title }}</h4>
                            {{ coaching.content | markdownify | hilightify }}
                            
                        </div>
                        
                    </div>
                    <div class="col-6" style="background-image: url('{{ coaching.image }}'); background-position: center; background-size: cover;">
                
                    </div>
                    
                </div>
                
                
                
            </div>
            {% endfor %}
        </div>
    
    </div>
</div>

{% include sections/coffee.html %}