---
layout: default
---

<div class="container-fluid narrow-container pt-20 no-down">
    <div class="full-width-of"><img class="object-fit" src="/images/graphic/kontakt-header.png" alt=""></div>
</div>

<div class="container-fluid narrow-container no-up">
    <div class="grid-2 r-gap-20 gap-90 fast-grid">
        <div>
            <h2>Copenhagen Coaching Center</h2>
            <p>+45 39 20 10 20<br>
                Blegdamsvej 104 A, 2. Sal <br>
                2100 Kbh Ø</p>
            <br>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2248.530443220061!2d12.571174951490706!3d55.697150980442906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465252fc41a2fdff%3A0x5cffffd334cabc42!2sBlegdamsvej%20104A%2C%202100%20K%C3%B8benhavn!5e0!3m2!1sda!2sdk!4v1612362940181!5m2!1sda!2sdk"
                width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
        <div class="grid-1 justify-center bg-platinum">
            <br>
            <h2>Skriv til os</h2>
            
            <form class="smooth-form" action="https://formspree.io/moqllqyp" method="POST">



                <input type="text" name="navn" placeholder="Navn">
                <input type="text" name="email" placeholder="Email">

                <select class="input-form udd" name="spørgsmål">
                    <option value="emne">Vælg emne</option>

                    <option value="admin@copenhagencoaching.dk Jeg-har-spørgsmål-til-admin/bogholderi">Jeg har spørgsmål
                        til admin/bogholderi</option>
                    <option value="ab@copenhagencoaching.dk Jeg-har-spørgsmål-til-valg-af-uddannelse">Jeg har spørgsmål
                        til valg af uddannelse</option>
                    <option value="fw@copenhagencoaching.dk Jeg-har-spørgsmål-til-min-nuværende-uddannelse">Jeg har
                        spørgsmål til min nuværende uddannelse</option>
                    <option
                        value="ab@copenhagencoaching.dk Vi-er-interesserede-i-skræddersyet-kursus-til-vores-virksomhed">
                        Vi er interesserede i skræddersyet kursus til vores virksomhed</option>
                    <option value="community@copenhagencoaching.dk Jeg-er/eller-vil-gerne-være-medlem-af-Community">Jeg
                        er/eller vil gerne være medlem af Community</option>
                    <option value="kontakt@copenhagencoaching.dk Jeg-har-andre-spørgsmål">Jeg har andre spørgsmål
                    </option>

                </select>


                <textarea name="besked" cols="30" rows="10" placeholder="Besked"></textarea>


                <!-- your other form fields go here -->
                <button class="green-button" type="submit">Send besked</button>
            </form>
        </div>
    </div>
</div>