<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

{% include head.html %}

<body>

    {{ content }}

    {% include scripts/plugin.html %}

    <!-- Makes the navbar-nav longer in order to accomidate for the search input field -->

    <script>
        $('#search-button').on('click', function () {
            $('.navbar-nav').addClass('navbar-nav-wider');
        });
        $('.search-cross').on('click', function () {
            $('.navbar-nav').removeClass('navbar-nav-wider');
        });
    </script>


</body>

</html>