<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

{% include head.html %}

<body>

    {{ content }}

    {% include scripts/plugin.html %}

    <!-- Expands and collapses the divs on Consulting, Coaching and International pages -->

    <script>
        $(".show-more").on("click", function () {
            var $this = $(this);
            var $content = $this.prev(".content");
            var linkText = $this.text().toUpperCase();


            if (linkText === "VIS MERE") {
                linkText = "Vis mindre";
                $content.attr("class", "content showContent"), 400;
                $this.attr("class", "show-less");
            } else {
                linkText = "Vis mere";
                $content.attr("class", "content hideContent"), 400;
                $this.attr("class", "show-more");
            };

            $this.text(linkText);
        });
    </script>

    <!-- Makes the navbar-nav longer in order to accomidate for the search input field -->

    <script>
        $('#search-button').on('click', function () {
            $('.navbar-nav').addClass('navbar-nav-wider');
        });
        $('.search-cross').on('click', function () {
            $('.navbar-nav').removeClass('navbar-nav-wider');
        });
    </script>

    <!-- Functionality for sharing articles on social media -->

    <div id="fb-root"></div>

    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>
        $(".expandable-pane-image:odd").addClass("reverse-pane-img")
        $(".expandable-pane-text:odd").addClass("reverse-pane-text")
    </script>

<script>
$(".stories .row div:nth-child(2)").attr("class", "col-lg-12");
$(".stories .row div:nth-child(6)").attr("class", "col-lg-12");
$(".stories .row div:nth-child(2) a div div").attr("class", "large-article-text");
$(".stories .row div:nth-child(6) a div div").attr("class", "large-article-text");
</script>

</body>

</html>
