<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

{% include head.html %}

<body>

    {{ content }}

    {% include scripts/plugin.html %}

    <!-- Changes the navigation from transparent to a sold White color -->

    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 50) {
                    $('nav').addClass('solid');
                } else {
                    $('nav').removeClass('solid');
                }
            });
        });
    </script>

    <!-- Changes the navigation logo from a White color to a Black color -->

    <script>
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 50) {
                    $('.navbar .navbar-brand img').attr('src', '/img/ccc-logo-dark.png');
                } else {
                    $('.navbar .navbar-brand img').attr('src', '/img/ccc-logo.png');
                }
            })
        });
    </script>

    <!-- Makes the navbar-nav longer in order to accomidate for the search input field -->

    <script>
        $('#search-button').on('click', function () {
            $('.navbar-nav').addClass('navbar-nav-wider');
        });
        $('.search-cross').on('click', function () {
            $('.navbar-nav').removeClass('navbar-nav-wider');
        });
    </script>


</body>

</html>