---
layout: default
---

<div class="pt-5"
    style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('{{ page.image }}'); background-size: cover; background-position: center;">
    <div class="container-fluid text-center py-5">
        <div class="pt-5">
            <div class="row py-5 gy-5">
                <div class="offset-md-2 col-12 col-md-8">
                    <h1 class="text-white mb-3">{{ page.title }}</h1>
                    <hr class="white w-50 responsive mx-auto">

                    <a class="btn-gray-blue btn" data-proofer-ignore href="#plu-c-modal" data-toggle="modal"
                        data-target="#plu-c-modal">Hør mere</a>
                    <br>

                    <a class="btn-dark-blue-2 btn" data-proofer-ignore href="#plu-pdf-modal" data-toggle="modal"
                        data-target="#plu-pdf-modal">Hent brochure</a>
                    <br>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="container-fluid text-center py-3">
    <div class="row">
        <div class="offset-lg-2 col-12 col-lg-8">
            <div class="nav nav-tabs fade-pallette my-4 seven-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab"
                    aria-controls="nav-coaching" aria-selected="false">Overblik</a>
                <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab"
                    aria-controls="nav-2" aria-selected="false">Moduler</a>
                <a class="nav-item nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab"
                    aria-controls="nav-3" aria-selected="false">Deltagerprofil</a>
                <a class="nav-item nav-link" id="nav-4-tab" data-toggle="tab" href="#nav-4" role="tab"
                    aria-controls="nav-4" aria-selected="false">Anbefalinger</a>
                <a class="nav-item nav-link" id="nav-5-tab" data-toggle="tab" href="#nav-5" role="tab"
                    aria-controls="nav-5" aria-selected="false">Undervisere</a>
                <a class="nav-item nav-link" id="nav-6-tab" data-toggle="tab" href="#nav-6" role="tab"
                    aria-controls="nav-6" aria-selected="false">Praktisk</a>
                <a class="nav-item nav-link" href="/tilmelding?n={{ page.title }}">Tilmelding</a>
            </div>
        </div>
    </div>
</div>

<div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
        <div class="container-fluid pb-3">
            <div class="row">
                <div class="offset-lg-2 col-12 col-lg-8">
                    {{ page.content }}

                </div>
            </div>
        </div>

        <div class="bg-platinum">
            <div class="container-fluid py-5">
                <div class="row">
                    <div class="offset-lg-2 col-12 col-lg-8">
                        <p class="fw-bold">Hos CCC kan du tage følgende DOL-moduler:</p>
                        <ul>
                            <li>Det Personlige Lederskab og Forandring (Standardmodul, 10 ECTS)</li>
                            <li>Ledelse af Medarbejdere og Faglig Udvikling (Standardmodul, 10 ECTS)</li>
                            <li>Ledelse af forandrings- og udviklingsprocesser i offentlige organisationer (Valgmodul, 5
                                ECTS)</li>
                            <li>Coaching (valgmodul, 5 ECTS)</li>
                            <li>Projektledelse (valgmodul, 5 ECTS)</li>
                            <li>Ledelse og Filosofi (valgmodul, 5 ECTS)</li>
                            <li>Specialemodul (15 ECTS)</li>
                        </ul>
                        <p>De forskellige DOL-moduler har forskellige form og varighed – Gå til Moduler her på siden for at læse nærmere omrking de forskellige moduler.</p>
                    </div>
                </div>
            </div>
        </div>





    </div>

    <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
        {% include dol/dol-moduls.html %}
    </div>

    <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
        <div class="container-fluid py-3">
            <div class="row">
                <div class="offset-lg-2 col-12 col-lg-8">
                    <h2>Deltagerprofil</h2>
                    <h4>Enim nulla ut incididunt incididunt eiusmod minim reprehenderit irure.</h4>
                    <p>Ex exercitation ad ea esse labore consequat. Esse aute eu ad ipsum occaecat. Exercitation
                        cupidatat nisi proident et dolor id fugiat tempor cupidatat excepteur. Enim proident anim
                        deserunt voluptate mollit amet sint anim do dolor commodo. Ut in magna minim veniam anim velit
                        magna.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="nav-4" role="tabpanel" aria-labelledby="nav-4-tab">
        <div class="container-fluid py-3">
            <div class="row">
                <div class="offset-lg-2 col-12 col-lg-8">
                    <h2>Anbefalinger</h2>
                    <h4>Enim nulla ut incididunt incididunt eiusmod minim reprehenderit irure.</h4>
                    <p>Ex exercitation ad ea esse labore consequat. Esse aute eu ad ipsum occaecat. Exercitation
                        cupidatat nisi proident et dolor id fugiat tempor cupidatat excepteur. Enim proident anim
                        deserunt voluptate mollit amet sint anim do dolor commodo. Ut in magna minim veniam anim velit
                        magna.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="tab-pane fade" id="nav-5" role="tabpanel" aria-labelledby="nav-5-tab">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-lg-2 col-12 col-lg-8">
                    <h2 class="mb-4">Undervisere</h2>
                    <div class="bg-cultured p-3">

                        <div>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img class="medium-image" src="/images/about/employees/mette-mejlhede.png"
                                        alt="Mette Mejlhede">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h4 text->Mette Mejlhede</h4>
                                    <p>Cand.merc HRM Copenhagen Business School<br>
                                        Master i Business Coaching, EIA Master Akkrediteret Coach</p>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div>
                        <div class="py-3 ps-3">

                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 me-3 text-end">
                                    <h4>Frederikke Winther</h4>
                                    <p>Ph.d., Cand. Mag i retorik fra Københavns Universitet<br>
                                        Master i Business Coaching</p>
                                </div>
                                <div class="flex-shrink-0">
                                    <img class="medium-image"
                                        src="/images/about/medarbejdere-sort-hvid/frederikke-winther-sort-hvid.png"
                                        alt="Frederiikke Winther">
                                </div>

                            </div>

                        </div>


                    </div>
                    <div class="bg-cultured p-3">
                        <div>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img class="medium-image" src="/images/graphic/placeholder-profile.png"
                                        alt="Camilla Ingwersen">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h4 text->Camilla Ingwersen</h4>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-6" role="tabpanel" aria-labelledby="nav-6-tab">
        <div class="container-fluid py-3">
            <div class="row">
                <div class="offset-lg-2 col-12 col-lg-8">
                    <h2>Praktisk</h2>
                    <h4>Optagelseskrav</h4>
                    <p>For at deltage i modulerne skal du have en gymnasial uddannelse + 2 års erhvervserfaring. Det er
                        dog også
                        muligt at få foretaget en realkompetencevurdering, hvis du ikke opfylder de formelle krav

                        CCC samarbejder med Københavns Professionshøjskole, og via dette samarbejde kan du kombinere
                        dine fag, så du
                        opnår en fuld diplom. Du kan se hvilke fag de har <a
                            href="https://www.phmetropol.dk/videreuddannelser/diplomuddannelser/diplom+i+ledelse">her</a>.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="nav-8" role="tabpanel" aria-labelledby="nav-8-tab">
        <h2>Tilmelding</h2>
        <h4>Enim nulla ut incididunt incididunt eiusmod minim reprehenderit irure.</h4>
        <p>Ex exercitation ad ea esse labore consequat. Esse aute eu ad ipsum occaecat. Exercitation
            cupidatat nisi proident et dolor id fugiat tempor cupidatat excepteur. Enim proident anim
            deserunt voluptate mollit amet sint anim do dolor commodo. Ut in magna minim veniam anim velit
            magna.</p>
    </div>
</div>

{% for employee in site.employees %}
{% if employee.title == page.contact-person %}
<div class="container-fluid my-5">
    <div class="row">
        <div class="offset-xl-2 col-12 col-xl-8">
            <div class="row gy-3">
                <div class="col-md-7 col-12">



                    <div class="d-flex h-100 justify-content-center align-items-center bg-quick-silver rounded p-3">
                        <div>

                            <p class="large text-white"><b>Har du spørgsmål til
                                    uddannelsen?</b> Kontakt {{ employee.title }} nedenfor. Vi glæder os til at
                                besvare
                                dine
                                spørgsmål.</p>

                            <div class="d-flex justify-content-end">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <p class="text-end mb-0 text-white"><b><a href="{{ employee.url }}"
                                                    data-proofer-ignore>{{
                                                    employee.title }}</a></b><br>

                                            <a href="tel:{{ employee.call }}" data-proofer-ignore>+45 {{
                                                employee.call
                                                }}</a><br>
                                            <a href="mailto:{{ employee.email }}" data-proofer-ignore>{{
                                                employee.email
                                                }}</a>
                                        </p>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <img class="small-image rounded-circle"
                                            src="{{ employee.small-portrait-image }}"
                                            alt="{{ employee.title }}, {{ employee.description}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-5 col-12">
                    <div class="d-flex h-100 justify-content-center align-items-center text-center rounded p-5"
                        style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/graphic/mennesker.jpg'); background-position: center; background-size: cover;">
                        <div>
                            <h4 class="text-white text-center">Interesseret i andre uddannelser?</h4>
                            <br>
                            <b><a class="btn-deep-taupe text-white text-center text-white btn mt-0 mx-auto"
                                    href="/academy/">Se
                                    mere <i class="fas fa-arrow-right text-white"></i></a></b>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>

{% endif %}
{% endfor %}








{% capture reg-url %}?n={{ page.title | uri_escape }}{% endcapture %}


{% assign page-contact = page.contact-person %}



{% assign pageurl = page.url %}






<div class="bg-beaver">
    {% include sections/newsletter.html %}
</div>


<!-- end -->