---
layout: default
---

<div class="pt-5"
  style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('{{ page.image }}'); background-size: cover; background-position: center;">
  <div class="py-5">
    <div class="py-5">
      <div class="container-fluid text-center py-5">
        <h1 class="text-white mb-1">{{ page.title }}</h1>
        <div class="row">
          <div class="offset-lg-3 col-lg-6 col-12">
            <hr class="white w-50 mx-auto">
            <p class="w-5 mx-auto text-white">{{ page.description }}</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-5 overflow-hidden">
  <div class="row gy-4">
    <div class="col-12 col-lg-8 pe-5">
      {{ page.content }}
    </div>
    <div class="col-12 col-lg-4 bg-eerie-black p-4">
      <div class="d-grid gap-2 mb-3">
        <a class="btn btn-beaver mt-0 text-uppercase text-white fs-5" href="/tilmelding/?n={{ page.title }}"><b>Tilmeld dig her</b></a>
      </div>
      {% if page.price %}
      <p class="text-white"><b>Pris: </b><br>{{ page.price }} </p>
      {% endif %}
      {% if page.location %}
      <p class="text-white"><b>Sted: </b><br>{{ page.location }} </p>
      {% endif %}
      <!-- datoer -->
      {% if page.hold_eller_begivenheder == true %}
      <b>
        <p class="text-white mb-2">{{page.event-title}}:</p>
      </b>

      {% for event in page.events %}

      {% if event.subcategory == true %}


      <p class="text-white">{{ event.overskrift }}</p>
      <div class="accordion clean white-arrow" id="accordionExample">
        {% for subcat in event.subcat %}
        <div class="accordion-item">
          <p class="accordion-header" id="heading{{ forloop.index }}">
            <button class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse{{ forloop.index }}" aria-expanded="false"
              aria-controls="collapse{{ forloop.index }}">
              {{ subcat.sub-cat-title }}
            </button>
          </p>
          <div id="collapse{{ forloop.index }}" class="accordion-collapse collapse"
            aria-labelledby="heading{{ forloop.index }}" data-bs-parent="#accordionExample">
            <div class="accordion-body p-0">
              <ul>
                {% for dato in subcat.datoer %}
                <li class="text-white">{{ dato }}</li>
                {% endfor %}
              </ul>

            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}

      {% if event.dato %}
      <div class="accordion clean white-arrow" id="accordionExample">
        <div class="accordion-item">
          <p class="accordion-header" id="heading{{ forloop.index }}">
            <button class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse{{ forloop.index }}" aria-expanded="false"
              aria-controls="collapse{{ forloop.index }}">
              {{ event.overskrift }}
            </button>
          </p>
          <div id="collapse{{ forloop.index }}" class="accordion-collapse collapse"
            aria-labelledby="heading{{ forloop.index }}" data-bs-parent="#accordionExample">
            <div class="accordion-body p-0">
              <ul>
                {% for dato in event.dato %}
                <li class="text-white">{{ dato }}</li>
                {% endfor %}
              </ul>

            </div>
          </div>
        </div>
      </div>
      {% else %}
      <p class="text-white">{{ event.overskrift }}</p>

      {% endif %}


      {% endif %}


      {% endfor %}


      {% else %}
      <!--1-->
      {{ page.hold_information }}
      {% endif %}
      <!--1-->

      <!-- datoer end -->
      {% if page.contact-person %}
      <p class="text-white mt-3 mb-1"><b>Kontakt:</b></p>

      {% for employee in site.employees %}
      {% if employee.title == page.contact-person %}

      <div class="ml-2 float-start">
        <img class="small-image responsive" src="{{ employee.small-portrait-image }}" alt="">
      </div>


      <p><a class="text-white px-3" href="{{ employee.url }}" data-proofer-ignore>{{ employee.title }}</a><br>
        <a class="text-white px-3" href="tel:{{ employee.call }}" data-proofer-ignore>{{ employee.call }}</a><br>
        <a class="text-white small px-3" href="mailto:{{ employee.email }}" data-proofer-ignore>{{ employee.email }}</a>
      </p>
      <div class="clearfix">
      </div>

      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>






<!--         {% for post in site.categories.class %}
        {% for tag in post.tags %}
        {% if tag == page.classes %}
        <p></p>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ post.title | remove: " " }}">
  {{ post.title }}
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
        {% endif %}
        {% endfor %}
        {% endfor %} -->