---
layout: page
---

<div class="education">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-8 education-content">
            {{ page.content }}

            {% capture reg-url %}?n={{ page.title | uri_escape }}{% endcapture %}

        </div>
        <div class="col-12 col-md-4 col-lg-4 facta-column">
            <div class="facta-box">
                <b>
                    <p>Pris:</p>
                </b>
                <p> {{ page.price }} </p>
                <b>
                    <p>Start datoer:</p>
                </b>
                {% for date in page.dates %}
                <p> {{ date }}</p>
                {% endfor %}
                {% if page.udates %}
                <b>
                    <p>Undervisningsdatoer:</p>
                </b>
                {% for udate in page.udates %}
                <p>{{ udate }}</p>
                {% endfor %}
                {% endif %}

                <span>

                    {% if page.contact-person %}
                    <b>
                        <p>Kontaktperson:</p>
                    </b>
                    {% for employee in site.employees %}
                    {% if employee.data-id == page.contact-person %}



                    <a href="{{ employee.url }}" data-proofer-ignore>{{ employee.title }}</a>
                    <a href="tel:{{ employee.call }}" data-proofer-ignore>{{ employee.call }}</a>
                    <a href="mailto:{{ employee.email }}" data-proofer-ignore>{{ employee.email }}</a>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </span>
                <br>
                <a class="reg-link" href="/registration/{{ reg-url }}">Tilmeld dig her</a>

                {% unless page.pdf %}

                {% capture pdfvar %}
                muted
                {% endcapture %}

                {% capture pdfmes %}
                Pdf kommer snart
                {% endcapture %}

                {% capture pdfurl %}
                #
                {% endcapture %}

                {% endunless %}


                {% if page.pdf == 'false' %}

                {% capture pdfvar %}
                hidden
                {% endcapture %}

                {% capture pdfmes %}
                #
                {% endcapture %}

                {% capture pdfurl %}
                #
                {% endcapture %}

                {% endif %}

                {% if page.pdf %}

                {% capture pdfurl %}
                {{ page.pdf }}
                {% endcapture %}

                {% capture pdfmes %}
                PDF om {{ page.title }}
                {% endcapture %}

                {% endif %}

                <a data-proofer-ignore target="_blank" alt="{{ pdfmes | strip_newlines | strip }}"
                    href="{{ pdfurl | strip_newlines | strip }}" class="pdf-link {{ pdfvar | strip_newlines | strip }}">Download
                 PDF</a>
            </div>
        </div>
    </div>
</div>

{% include testimonial.html %}