---
layout: page
---

<div class="education">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-8 education-content">
      {{ page.content }}
      {% capture reg-url %}?n={{ page.title | uri_escape }}{% endcapture %}
    </div>
    <div class="col-12 col-md-4 col-lg-4 facta-column">
      <div class="facta-box">
        <b>
          <p>Pris:</p>
        </b>
        <p> {{ page.price }} </p>
        {% if page.location %}
        <b>
          <p>Sted:</p>
        </b>
        <p> {{ page.location }} </p>
        {% endif %}

        <!-- Datoer  -->

        {% if page.hold_eller_begivenheder == true %}
        <b><p>{{page.event-title}}:</p></b>
  
        {% for event in page.events %}

        {% if event.subcategory == true %}
       
        
          <h3>{{ event.overskrift }}</h3>
    
        {% for subcat in event.subcat %}
        <div class="date-box">
          <a class="date-links" role="button">
            {{ subcat.sub-cat-title }}<i class="fas fa-caret-down"></i>
          </a>
          <div id="dateCollapse" class="collapse-dates">
            <ul>
              {% for dato in subcat.datoer %}
              <li>
                {{ dato }}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}

        {% else %}

        {% if event.dato %}
        <div class="date-box">
          <a class="date-links" role="button">
            {{ event.overskrift }}<i class="fas fa-caret-down"></i>
          </a>
          <div id="dateCollapse" class="collapse-dates">
            <ul>
              {% for dato in event.dato %}
              <li>
                {{ dato }}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% else %}
        <div class="date-box">{{ event.overskrift }}</div>

        {% endif %}


        {% endif %}


        {% endfor %}


        {% else %}
        <!--1-->
        {{ page.hold_information }}
        {% endif %}
        <!--1-->




        {% if page.contact-person %}
        <b>
          <p>Kontakt:</p>
        </b>
        {% for employee in site.employees %}
        {% if employee.title == page.contact-person %}
        <a href="{{ employee.url }}" data-proofer-ignore>{{ employee.title }}</a>
        <a href="tel:{{ employee.call }}" data-proofer-ignore>{{ employee.call }}</a>
        <a href="mailto:{{ employee.email }}" data-proofer-ignore>{{ employee.email }}</a>
        {% endif %}
        {% endfor %}
        {% endif %}
        </span>
        <br>
        <a class="reg-link" href="/registration/{{ reg-url }}">Tilmeld dig her</a>
        {% unless page.pdf %}
        {% capture pdfvar %}
        muted
        {% endcapture %}
        {% capture pdfmes %}
        Pdf kommer snart
        {% endcapture %}
        {% capture pdfurl %}
        #
        {% endcapture %}
        {% endunless %}
        {% if page.pdf == 'false' %}
        {% capture pdfvar %}
        hidden
        {% endcapture %}
        {% capture pdfmes %}
        #
        {% endcapture %}
        {% capture pdfurl %}
        #
        {% endcapture %}
        {% endif %}
        {% if page.pdf %}
        {% capture pdfurl %}
        {{ page.pdf }}
        {% endcapture %}
        {% capture pdfmes %}
        PDF om {{ page.title }}
        {% endcapture %}
        {% endif %}
        <a data-proofer-ignore target="_blank" alt="{{ pdfmes | strip_newlines | strip }}"
          href="{{ pdfurl | strip_newlines | strip }}" class="pdf-link {{ pdfvar | strip_newlines | strip }}">Download
          PDF</a>
      </div>
    </div>
  </div>
</div>