---
layout: default
---

<div class="hero-image d-flex align-content-center align-items-center"
    style="background: linear-gradient(rgba(19, 19, 19, 0.7), rgba(19, 19, 19, 0.7)), url('/images/graphic/community-3.png'); background-size: cover; background-position: center;">

    <div class="container-fluid text-center">

        <h1 class="text-white mb-1">{{ page.heading }}</h1>

        <div class="row">
            <div class="col-12 offset-lg-3 col-lg-6">
                <hr class="white short-hr mx-auto">


            </div>

        </div>

    </div>


</div>

<div class="bg-platinum py-5">
    <div class="container-fluid">
        <div class="small-container">
           {{ page.content}}
        </div>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="small-container">
        <div class="row g-5">
            {% assign ordered_themes = site.educations | sort: "order" %}
            {% for edu in ordered_themes %}
            <div class="col-md-6 col-12">
                <a href="{{ edu.url }}">
                <img src="{{ edu.image }}" alt="" class="object-fit h-150px">
                <h5 class="text-uppercase mt-3">{{ edu.title }}</h5>
                <p>{{ edu.description }}</p>
            </a>
            </div>
            {% endfor %}
        </div>
    </div>
    
</div>