---
layout: default
---

<div class="bg-black-coral">
    <div class="container-fluid py-5">
        <div class="pt-5">
            <div class="small-container pt-5">
                <div class="row gx-5">
                    <div class="col-sm-6 col-12 text-end text-xl-start position-relative">
                        <img src="{{ page.portrait-image }}" class="img-fluid rounded-circle"
                            alt="Billede af {{ page.title }}, {{ employee.description}}">
                            
                                <a data-proofer-ignore href="{{ page.linkedin }}" target="_blank"><i
                                        class="fab fa-linkedin text-white linkedin-position"></i></a>
                            
                    </div>
                    <div class="col-sm-6 col-12 d-sm-flex align-items-center text-center text-sm-start mt-4 mt-sm-0">
                        <div>
                            <h1 class="mb-1 text-white">{{ page.title }}</h1>
                            <div class="l-text">
                                <p class="mb-3 text-white">{{ page.description }}</p>
                            </div>
                           
                            {% if page.call %}

                            <p class="fs-6 text-white text-center text-sm-start"> <a data-proofer-ignore class="d-md-flex align-items-center text-center text-md-start"
                                    href="tel:+45{{ page.call }}"
                                    onclick="gtag('event','click', { 'event_category':'tlf klik', 'event_label':'tlf medarbejder' })">
                                    <i class="fa-solid fa-phone fs-5 text-white me-3"></i> {{
                                    page.call
                                    }}</a> </p>

                            {% endif %}
                            <p class="fs-6 text-white text-center text-sm-start"><a data-proofer-ignore class="d-md-flex align-items-center text-center text-md-start"
                                    href="mailto:{{ page.email }}"><i class="fa-solid fa-envelope fs-5 text-white me-3"></i>
                                    {{
                                    page.email
                                    }}</a> </p>



                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




    <div class="container-fluid py-5">
        
            <div class="small-container">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="l-text first-p-bold">
                            {{ page.content }}
                        </div>
                    </div>

                  {% if page.edu %}
                    <div class="col-12 col-md-4">
                        <div class="bg-platinum p-4">
                            <h5 class="mb-4">Uddannelse</h5>
                            {% for e in page.edu %}
                            <p>{{ e }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    
                </div>

                

                <a class='animated-arrow' href='/about/'>
                    <span class='the-arrow -left rotated'>
                        <span class='shaft'></span>
                    </span>
                    <span class='main'>
                        <span class='text'>
                            <p class="pt-4">
                                Tilbage til Om os
                            </p>
                        </span>
                        <span class='the-arrow -right rotated'>
                            <span class='shaft'></span>
                        </span>
                    </span>
                </a>
            </div>
        
    </div>


{% include sections/coffee.html %}
{% include sections/vision.html %}
{% include sections/newsletter.html %}