---
layout: page
---
<section class="employee">
    <div class="row">
        <div class="information-box">
            <p>{{ page.description }}</p>
            <p><a data-proofer-ignore href="tel:+45{{ page.call }}">{{ page.call }}</a></p>
            <p><a href="mailto:{{ page.email }}">{{ page.email }}</a></p>
        </div>
        <div class="employee-content">
            <div class="employee-image col-lg-4 col-sm-12 col-xs-12">
                <img src="{{ page.portrait-image }}" alt="{{ page.title }}">
            </div>
            <div class="employee-text col-lg-8 col-sm-12 col-xs-12">
                {{ page.content }}
                <a data-proofer-ignore href="{{ page.linkedin }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
</section>

{% include contact.html %}