---
layout: default
---

<div style="background-color: rgb(97, 114, 140);">

  <div class="container-fluid narrow-container white">
    <div class="overlay-banner">
      <div class="overlay-banner-img"
        style="background: linear-gradient(rgba(19, 19, 19, 0.5), rgba(19, 19, 19, 0.5)), url('{{ page.image }}'); background-size: cover; background-position: center;">
      </div>
      <div class="overlay-banner-text">
        <p class="thin">{{ page.subtitle }}</p>
        <h1 class="h1-l">{{ page.title }}</h1>

        <p class="thin large">{{ page.description }}</p>
      </div>
    </div>
  </div>

  <div class="container-fluid white extra-narrow-container no-up">
    
    
        <p class="xthin">{{ page.price }}{% if page.ex-moms == true %},- (Eksl. moms) {% else %},-{% endif %}</p>
        <p class="xthin">{{ page.time }}</p>
     
        <p class="xthin">{{ page.place }}</p>
    
  
    {{ page.content }}
  </div>
</div>


<div class="container-fluid extra-narrow-container">
  <div class="grid-2 gap-40">

    <div>
      <h2>Bliv medlem</h2>
      <p>Et medlemskab af CCC Community giver dig adgang til et eksklusivt lukket fagligt netværk, samt gratis adgang
        til flere CCC arrangementer året rundt.</p>
    </div>


    <div>
      <h2>Medlemsfordele</h2>
      <p>Som CCC Community-medlem bliver du både klogere på din og andres ledelse og får derudover en lang række
        økonomiske fordele</p>
    </div>
  </div>
  <div class="align-center"><br><a href="/community" class="brown-btn thin white">Se mere</a></div>

</div>



<!-- 
<div class="full-banner grid-1 align-items-center align-content-center" style="background: linear-gradient(rgba(19, 19, 19, 0.5), rgba(19, 19, 19, 0.5)), url('{{ page.image }}'); background-size: cover; background-position: center;">
    <div class="container-fluid narrow-container white">
      <div>
        <h1>{{ page.title }}</h1>
        <hr class="half-margin">
       
        
      </div>
  
    </div>
  </div>

  <div class="container-fluid extra-narrow-container">
      <div class="floating-top white">
          {{ page.content }}
      </div>
  </div> -->