---
layout: page
---

<div class="container-fluid my-5">
    <div class="row g-5" data-masonry='{"percentPosition": true }'>
        {% assign sorted_stories = site.posts | sort: "date" | reverse %}
        {% for post in sorted_stories %}
        {% if post.category contains "blog" %}
        {% if post.category contains "podcast" %}
        {% else %}
        <div class="col-md-3 col-12">
            <a href="{{ post.url }}">
                <div class="card">
                    <div class="outer-img-top">
                        <img src="{{ post.image }}" alt="...">
                    </div>

                    <div class="card-body bg-platinum p-3">
<h4 class="text-uppercase">{{ post.title }}</h4>
                        <p>{{ post.description }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>

