---
layout: page
---

{% assign ordereditems = site.internationals | sort: "order" %}
<div class="container-fluid mt-5 mb-5 d-flex flex-wrap justify-content-center">
    {% for item in ordereditems %}

    <a class="me-3 mb-3 dark-border-button btn" href="#{{ item.title | remove: ' ' | strip_html }}">{{
        item.title }}</a>
    {% endfor %}
</div>

{% for item in ordereditems %}
{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}

<div id="{{ item.title | remove: ' ' | strip_html }}"></div>
{% if thecycle == 'odd' %}<div class="bg-platinum py-5">{% endif %}
    <div class="container-fluid my-5">
        <div class="py-5">
            {% if thecycle == 'even' %}<div class="py-5">{% endif %}
                <div class="row gx-5 {% if thecycle == 'odd' %}flex-row-reverse{% endif %}">
                    <div class="col-12 col-lg-6 responsive-lg-img">

                        {% if forloop.index == 1 or forloop.index == 2 %}
                        <div class="h-100"
                            style="background-image: url('{{ item.image }}'); background-position: top; background-size: cover;">
                            {% else %}
                            <div class="h-100"
                                style="background-image: url('{{ item.image }}'); background-position: center; background-size: cover;">
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <h1>{{ item.title }}</h1>
                            {{ item.content }}
                            {% for employee in site.employees %}
                            {% if item.contact-person == employee.title %}
                            <div class="d-flex align-items-center bg-black-coral rounded p-3">
                                <div>
                                    <p class="text-white large"><b>Are you interested and want to hear more?</b> Give us a call or write us a message.</p>

                                    <div class="d-flex">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0">
                                                <img class="small-image rounded-circle"
                                                    src="{{ employee.small-portrait-image }}"
                                                    alt="{{ employee.title }}, {{ employee.description}}">
                                            </div>
                                            <div class="flex-grow-1 ms-3">


                                                <p class="text-white mb-0"><b><a href="{{ employee.url }}"
                                                            data-proofer-ignore>{{
                                                            employee.title }}</a></b><br>

                                                    <a href="tel:{{ employee.call }}" data-proofer-ignore>+45 {{
                                                        employee.call
                                                        }}</a><br>
                                                    <a href="mailto:{{ employee.email }}" data-proofer-ignore>{{
                                                        employee.email
                                                        }}</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>

                    </div>
                    {% if thecycle == 'even' %}
                </div>{% endif %}
            </div>
        </div>
        {% if thecycle == 'odd' %}
    </div>{% endif %}




    {% endfor %}




