---
layout: page
---

<section id="content-section" class="content">
    {% assign orderedinternational = site.internationals | sort: "order" %}
    {% for international in orderedinternational %}
    <div class="wrapper">
        <img src="{{ international.image }}" alt="#">
        <span>
            <h1>{{ international.title }}</h1>
            <p>{{ international.content }}</p>
            <h2>Please, contact us for further information</h2>
            {% for employee in site.employees %}
            {% if employee.data-id == international.contact-person %}
            <!-- <img src="{{ employee.small-portrait-image }}" alt="{{ employee.title }}, {{ employee.description }}"> -->
            <a data-proofer-ignore href="{{ employee.url }}">{{ employee.title }}</a>
            <a data-proofer-ignore href="{{ employee.call }}">{{ employee.call }}</a>
            <a data-proofer-ignore href="mailto:{{ employee.email }}">{{ employee.email }}</a>
            {% endif %}
            {% endfor %}
        </span>
    </div>
    {% endfor %}
</section>