---
layout: default
---

<div class="pt-3">

    <div class="pt-5"></div>
    <div class="container-fluid pt-5">
        <div class="small-container">
            <div class="row pt-5 gx-5 gy-3">
                <div class="col-12">
                    <img src="/images/graphic/coaching-1.png" alt="" class="object-fit h-100 w-100">

                </div>
                <div class="col-12 text-justify">
                    <div class="pt-4 pb-5">
                        <h2>{{ page.header }}</h2>
                        {% for p in page.paragraphs %}
                        <p>{{ p }}</p>
                        {% endfor %}
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
<div class="bg-platinum">
    <div class="container-fluid py-5">
        <div class="small-container">
            <div class="row pt-5 pb-3 gx-5 gy-4">
                {% assign newcars = site.educations | where: "kategori", "samtaler" %}
                {% for edu in newcars %}
                <div class="col-12 col-md-6">
                    <a href="{{ edu.url }}">
                        <img src="{{ edu.image-2 }}" alt="" class="object-fit h-150px w-100">
                        <h3 class="text-uppercase mt-3">{{ edu.title }}</h3>
                        <p>{{ edu.meta-description }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="small-container">
        <div class="row py-5 gx-5 gy-3">


            <div class="col-12 text-justify">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>




{% include sections/newsletter.html %}
{% include sections/inpiration.html %}