---
layout: default
---
<!-- Modal -->
<div class="modal fade" id="exampleModalTilbud" tabindex="-1" aria-labelledby="exampleModalLabelTilbud"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-platinum rounded-0">
            <div class="modal-header px-5 pt-5">
                <h1 class="modal-title fs-5" id="exampleModalLabelTilbud">Hør mere</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body px-5 pb-5">
                <form action="https://formspree.io/f/xpzneraq" method="POST" enctype="multipart/form-data"
                    class="mx-auto special-form p-md-0 p-5" id="form-tilbud">
                    <div class="row mt-3 gy-4 gx-5 inder-form" id="inner-form">

                        <div class="col-12">
                            <select class="form-select w-100" aria-label="Default select example"
                                name="Jeg er interesseret i">
                                <option value="Intet emne valgt" selected>Jeg er interesseret i at høre mere om...
                                </option>
                                <option value="Master of business coaching">Master of business coaching</option>
                                <option value="Certificering i Big Five">Certificering i Big Five</option>
                                <option value="Ledelseskursus på Lesbos">Ledelseskursus på Lesbos</option>
                                <option value="Andet">Andet</option>

                            </select>
                        </div>

                        <input type="hidden" value="fra tilbud landingside" name="henvendelse fra">
                        <div class="col-12 col-sm-6 col-md-6">

                            <input type="text" class="form-control w-100" placeholder="Fornavn" aria-label="fornavn"
                                name="FNAME" required>

                        </div>
                        <div class="col-12 col-sm-6 col-md-6">
                            <input type="text" class="form-control w-100" placeholder="Efternavn" aria-label="efternavn"
                                name="LNAME" required>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6">
                            <input type="text" class="form-control w-100" placeholder="E-mail" aria-label="email"
                                name="email" required>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6">
                            <input type="text" class="form-control w-100" placeholder="Virksomhed"
                                aria-label="virksomhed" name="virksomhed">
                        </div>
                        <div class="col-12 col-sm-6 col-md-6">
                            <input type="text" class="form-control w-100" placeholder="Telefon" aria-label="telefon"
                                name="telefon">
                        </div>




                       
                        <div class="col-12">

                            <button class="mx-auto d-block maw-200 btn-dark-sienna text-white btn mb-3"
                                type="submit">Send</button>
                        </div>
                    </div>


                </form>


                <div class="d-none text-center" id="stat-info-error">
                    <p>Husk at udfylde alle felter</p>
                </div>
                <div class="d-none message-form-udd" id="form-message-info">
                    <h2>Tak for din henvendelse. Du vil høre fra os snarrest.</h2>
                    <p>En bekræftelse er sendt til din mail</p>
                    <p class="fw-bold">OBS: Vi oplever tit at automatiserede mails bliver markeret som spam, så vi
                        opfordrer til at tjekke spam-indbakken og evt. markere info@copenhagencoaching.dk som sikker
                        afsender i Outlook eller andre mail programmer.</p>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="pt-3">


    <div class="pt-5"></div>

    <div class="container-fluid pt-5">
        <div class="small-container">
            <div class="row pt-5 gx-5 gy-3">
                <div class="col-12">
                    <img src="{{ page.image }}" alt="{{ page.title }}" class="object-fit h-250 w-100">

                </div>
                <div class="col-12 text-justify">
                    <div class="pt-4">
                        <h2 class="text-center">{{ page.header }}</h2>
                       {{ page.bred-kollonne }}
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>

<div class="bg-platinum mt-3">
    <div class="container-fluid">
        <div class="small-container py-5">
            <h2 class="mb-4 text-center">Bliv inspireret</h2>
            <div class="row gx-5 gy-5">
                {% for post in site.educations %}
                {% for edu in page.edus %}
                {% if post.title == edu %}
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="bg-white">
                        <a href="{{ post.url }}">
                            <img src="{{ post.image }}" alt="{{ page.title }}" class="h-150px object-fit w-100">
                            <div class="px-3 pt-3 mh-250">
                                <h5 class="text-uppercase mt-2 text-center">
                                    {{ post.title }}
                                </h5>
                                <p class="mb-0">{{ post.description }}</p>
                            </div>
                            <div class="px-3 pb-4 pt-0 mt-0 row gx-2">
                                <div class="col-6">
                                    <a href="{{ post.url }}"
                                        class="btn btn-black-coral text-white mt-0 fw-bold w-100 rounded-0">Læs
                                        mere</a>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-dark-sienna text-white mt-0 fw-bold w-100 rounded-0"
                                        type="button" data-bs-toggle="modal" data-bs-target="#exampleModalTilbud">Hør
                                        mere</button>
                                </div>


                            </div>

                        </a>
                    </div>

                </div>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="small-container py-5">
        <div class="row gx-5 gy-4">

            {% for ed in site.educations %}
            {% for edu in page.second-edus %}
            {% if ed.title == edu %}


            <div class="col-12 col-md-6">
                <a href="{{ ed.url }}">
                    <img src="{{ ed.image_2 }}" alt="{{ ed.title }}" class="object-fit h-150px w-100">
                    <h3 class="text-uppercase mt-3 text-center">{{ ed.title }}</h3>
                    <p class="mb-0">{{ ed.meta-description }}</p>
                </a>
            </div>

            {% endif %}
                {% endfor %}
                {% endfor %}
        </div>
    </div>
</div>

<div class="bg-platinum" id="bliv-ringet-op">
    <div class="container-fluid">
        <div class="small-container">
            <div class="p-md-5 py-4">
                <div class="row gx-5">
                    <div class="col-12 col-lg-6 position-relative">
                        <div id="kontakt-underviseren" class="anchor-delay"></div>
                        <h4 class="text-uppercase">Skal vi tales ved?</h4>
                        <p>Indtast navn og telefonnummer og en af vores undervisere ringer dig op inden for 24 timer.
                        </p>
                    </div>
                    <div class="col-12 col-lg-6">
                        <form id="tlf-coffee-form" action="https://formspree.io/f/xyyoddyz" method="POST">
                            <div class="row gy-3" id="coffee">
                                <div class="col-md-6 col-12">
                                    <input type="text" class="form-control" placeholder="Navn" aria-label="Navn"
                                        name="navn" required>
                                </div>
                                <input type="hidden" name="I-forbindelse-med" value="{{ page.title }}">
                                <input type="hidden" name="henvendelse" value="Jeg vil gerne ringes op">
                                <div class="col-md-6 col-12">
                                    <input type="text" class="form-control" placeholder="Tlf. nr."
                                        aria-label="telefonnummer" name="tlf. nr." required>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-opal w-100 my-0">Ring mig op</button>
                                </div>

                            </div>
                            <p id="my-form-coffee-status" class="text-white mt-3 bg-xanadu p-2 d-none"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var form_info = document.getElementById("form-tilbud");

    async function handleSubmit(event) {
        event.preventDefault();
        var status = document.getElementById("form-message-info");
        var stat_er = document.getElementById("stat-info-error")
        var data = new FormData(event.target);
        fetch(event.target.action, {
            method: form_info.method,
            body: data,
            headers: {
                'Accept': 'application/json'
            }
        }).then(response => {
            if (!response.ok) {
                stat_er.className = "d-block"

                return;
            } else {
                status.className = "py-3 text-center"
                form_info.className = "d-none"
                stat_er.className = "d-none"
                form_info.reset()

            }
        }).catch(error => {
            status.innerHTML = "Oops! There was a problem submitting your form"
        });
    }
    form_info.addEventListener("submit", handleSubmit)
</script>

<script>
    var form = document.getElementById("tlf-coffee-form");
    var inner_form = document.getElementById("coffee");
  
    async function handleSubmit(event) {
      event.preventDefault();
      var status = document.getElementById("my-form-coffee-status");
      var data = new FormData(event.target);
      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
          'Accept': 'application/json'
        }
      }).then(response => {
        if (response.ok) {
          status.innerHTML = "Tak for din henvendelse, du vil høre fra os snarrest.";
          inner_form.className = "d-none"
          status.classList.remove("d-none")
          form.reset()
        } else {
          response.json().then(data => {
            if (Object.hasOwn(data, 'errors')) {
              status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
            } else {
              status.innerHTML = "Oops! There was a problem submitting your form"
            }
          })
        }
      }).catch(error => {
        status.innerHTML = "Oops! There was a problem submitting your form"
      });
    }
    form.addEventListener("submit", handleSubmit)
  </script>