---
layout: default
---
<div class="full-banner grid-1 align-items-center align-content-center"
    style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('{{ page.image }}'); background-position: center; background-size: cover;">
    <div class="container-fluid extra-narrow-container white">
        <div>
            <h1 class="h1-l">{{ page.header }}</h1>
            <hr class="half-margin">

            {% if page.sub-header %}
            <h3>{{ page.sub-header }}</h3>
            {% endif %}
            {% if page.teaser %}<p class="large">{{ page.teaser }}</p>{% else %}<p class="large">{{ page.description }}
            </p> {% endif %}
            <br>
            <span class="large bg-black-coral p-10 white">Interesseret i at høre mere om vores online muligheder?</span>
            <br><br>
            <br>
            <a class="cinereous-btn large thin" data-proofer-ignore href="#big-five" data-toggle="modal"
                data-target="#bf-modal">Hør mere</a>

        </div>


    </div>
</div>



<div class="container-fluid extra-narrow-container pt-30 no-down">


    <div>
        <div class="nav nav-tabs blu-brown-pallette" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab"
                aria-controls="nav-coaching" aria-selected="false">Overblik</a>
            <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2"
                aria-selected="false">Opbygning</a>
            <a class="nav-item nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab" aria-controls="nav-3"
                aria-selected="false">Deltagerprofil</a>
            <a class="nav-item nav-link" id="nav-4-tab" data-toggle="tab" href="#nav-4" role="tab" aria-controls="nav-4"
                aria-selected="false">Anbefalinger</a>
            <a class="nav-item nav-link" id="nav-5-tab" data-toggle="tab" href="#nav-5" role="tab" aria-controls="nav-5"
                aria-selected="false">Undervisere</a>
            <a class="nav-item nav-link" id="nav-6-tab" data-toggle="tab" href="#nav-6" role="tab" aria-controls="nav-6"
                aria-selected="false">Praktisk</a>
            <a class="nav-item nav-link" id="nav-7-tab" data-toggle="tab" href="#nav-7" role="tab" aria-controls="nav-7"
                aria-selected="false">FAQ</a>
            <a class="nav-item nav-link" id="nav-8-tab" data-toggle="tab" href="#nav-8" role="tab" aria-controls="nav-8"
                aria-selected="false">Tilmelding</a>
        </div>
    </div>
</div>
<div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">

        <div class="container-fluid extra-narrow-container pt-20 pb-50">
            <div class="grid-30-65 r-gap-20">
                <div class="h-300">
                    <img src="/images/mbc/image--003.jpg" alt="" class="object-fit">

                </div>
                <div>
                    <h2>Ønsker du at blive dygtig til at føre produktive og virkningsfulde dialoger?</h2>
                    <p>At kunne flytte både grupper og individer i en mere konstruktiv retning og derved forebygge
                        stress, organisatorisk stagnation og udbrændthed? Så vælg uddannelsen: Master of Business
                        Coaching (MBC).</p>
                    <p>Med en Master of Business Coaching får du en af landets bedste coachinguddannelser, hvor du både
                        kan foretage traditionelle coachingsamtaler og den filosofiske samtale.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid extra-narrow-container no-up">
            
            <div class="grid-2 gap-40 r-gap-40">
                <div>
                    <h2>UDBYTTE OG ANVENDELSE</h2>
                    <p>På uddannelsen trænes du I at være nærværende og ansvarstagende
                        også når vi sammen rammer de svære emner, og hvor du mest af alt
                        har lyst til at afbryde samtalen.</p>
                    <p>På MBC er der derfor også fokus på din egen personlige udvikling
                        og dannelse, hvem du selv er, og hvad netop du betyder for
                        dialogen.</p>
                        <p>MBC'en gør den studerende i stand til at stå og indgå i mange
                            forskellige situationer og samtaler, herunder team- og
                            medarbejderudvikling, konflikt- og krisehåndtering, procesledelse
                            og organisationsudvikling.</p>
                </div>
                <div>
                    <h2 class="capped">Viden på CCC</h2>
                    <p>Master of Business Coaching er mere end en uddannelse. Vi er en platform, hvor ledere fra alle dele af
                        den offentlige og private sektor mødes for at blive klogere på, hvordan ledelse kan skabe værdi for
                        vores samfund. På CCC holder vi os opdateret på udviklingen inden for offentlig ledelse og prioriterer
                        at dele og diskutere den. </p><p>
                        Derfor inviterer vi løbende til debatmøder om aktuelle tematikker på området,
                        og fire gange årligt har du mulighed for at komme til inspirationsmøder, hvor du kan høre om uddannelsen
                        og møde studerende samt repræsentanter fra studieledelsen og sekretariatet.</p>
                </div>
            </div>


           
            

        </div>
        <div
            style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/graphic/mountain.png'); background-size: cover;">
            <div class="container-fluid xs-extra-narrow-container pt-100 pb-100 align-center white">
                <h1>HØJESTE
                    INTERNATIONALE
                    AKKREDITERING</h1>
                <br>
                <p>Med en Master of Business
                    Coaching fra CCC er du
                    garanteret de højeste,
                    internationale standarder via
                    vores akkreditering fra European
                    Mentoring and Coaching Council
                    (EMCC).</p>
                <br>
                <a href="/fundament/emcc-akkreditering/" class="thin capped border-button inline">Læs om vores EMCC
                    akkreditering <i class="fas fa-long-arrow-alt-right"></i></a>

            </div>
        </div>

        <div class="bg-black-coral mb-50">
            <div class="container-fluid extra-narrow-container pt-100 pb-100 white">

                <div class="grid-2 gap-40 r-gap-60">
                    <div>
                        <h3>DK'S FØRENDE
                            LEDERUDDANNELSE
                            MÅLRETTET
                            ERHVERVSLIVET</h3>
                        <p>Med tryk på Business-delen af Coaching, i
                            modsætning til fx life-coaching, er
                            uddannelsen målrettet erhvervslivet med
                            den hensigt at løfte de studerendes
                            dialogiske evner og handlekraft i
                            professionelle kontekster.</p>
                    </div>
                    <div>
                        <h3>MESTRING AF
                            DIALOGISKE
                            PROCESSER</h3>
                        <p>Med en MBC bliver du ekspert i
                            produktive og virkningsfulde
                            dialoger og du får samtidig den
                            bedste uddannelse på markedet i
                            at lede, planlægge og forme
                            mellemmenneskelig
                            kommunikation og individuelle
                            dialoger.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--  <div class="container-fluid extra-narrow-container pt-50 pb-50 align-center">
            <div class="grid-3 slow-grid gap-20 r-gap-40">
                <div><button class="jet-btn full-width">
                        <div class="grid-80-20">
                            <div class="align-left">
                                Tilmeld dig nu
                            </div>
                            <div class="align-right"><i class="fas fa-check"></i></div></i>
                        </div>
                    </button>
                </div>
                <div><button class="cinereous-btn full-width">
                        <div class="grid-80-20">
                            <div class="align-left">
                                Reservér plads
                            </div>
                            <div class="align-right"><i class="fas fa-chair"></i></div></i>
                        </div>

                </div>
                <div><button class="silver-chalice-btn full-width">
                        <div class="grid-80-20">
                            <div class="align-left">
                                Download brochure
                            </div>
                            <div class="align-right"><i class="fas fa-download"></i></div></i>
                        </div>
                    </button></div>

            </div>
        </div> -->
    </div>

    <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">



        <div class="container-fluid medium-narrow-container pt-50 pb-50">
            <div class="grid-2 gap-90">
                <div>
                    <h2>UDDANNELSENS OPBYGNING</h2>
                    <p>Uddannelsen kombinerer et solidt teoretisk fundament med en
                        målrettet træning og udvikling af den enkelte studerendes egen
                        samtalepraksis.</p>
                    <p>Uddannelsen er normeret til et studieårsværk fordelt på fire semestre á
                        et halvt å (15 ECTS), dvs. i alt to år og 60 ECTS. Hvert semester består af
                        ti undervisningsdage fordelt over et halvt år samt fire træningsaftener
                        (på tværs af semesterhold), hvoraf to aftener ligger i direkte forlængelse
                        af undervisningen.</p>

                </div>
                <div>
                    <h2>Semestre</h2>
                    <p>MBC’en består af 4 semestre, som du også kan tage individuelt. Et semester består af ca. 10
                        undervisningsdage med undervisning fra 9.30 – 16.00</p>
                    <p>Hvert semester afsluttes med eksamen og et bevis på gennemførelse.
                        Semestrene kan tages ét ad gangen og/eller forskudt, som det passer i
                        den enkelte studerendes ressourcer og karrieremål. Hvis det måtte
                        ønskes, kan der træffes individuel aftale om en ONLINE løsning.</p>
                    <p>Uddannelsen afsluttes med en masterafhandling og et mundtligt forsvar</p>

                </div>
            </div>

            

        </div>
        <div class="bg-platinum">
            <div class="container-fluid medium-narrow-container pt-50 pb-50">

                <div class="grid-2">
                    <div>
                        <h2>Som MBC studerende får du:</h2>
                        <br>
                        <ul class="mb-0">
                            <li>Adgang til vidensportal, værktøjer, faglitteratur, artikler og cases</li>
                            <li>Big Five personlighedstest med individuel tilbagemelding</li>
                            <li>Mulighed for at blive certificeret i Big Five, så du selv kan anvende personlighedstest</li>
                            <li>Løbende supervision og et stærkt netværk</li>
                            <li>Coachingsamtaler med flere undervisere</li>
                            <li>Forplejning alle dage</li>
                        </ul>
        
                        <br>
                    </div>
                    <div>
                        <div class="w-100 h-300">
                            <img class="object-fit" src="/images/mbc/image--000.jpg" alt="">
                        </div>
                    </div>
                   
                </div>
 


            </div>
        </div>




        <div class="container-fluid medium-narrow-container">
            <h2>Moduler og dage</h2><br>
            <div class="grid-8 grid-8-table">
                <p class="table-header">Semester</p>
                <p class="table-header">Dag 1</p>
                <p class="table-header">Dag 2</p>
                <p class="table-header">Dag 3</p>
                <p class="table-header">Dag 4</p>
                <p class="table-header">Dag 5</p>
                <p class="table-header">Dag 6</p>
                <p class="table-header">Dag 7</p>
                <p>Semester 1</p>
                <p>Coaching og syntesemodellen</p>
                <p>Kognitiv 1</p>
                <p>Psyko-dynamisk 1</p>
                <p>Systemisk-narrativ 1</p>
                <p>Kognitiv 2</p>
                <p>Psyko-dynamisk 2</p>
                <p>Systemisk-narrativ 2</p>

                <p class="table-row">Semester 2</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>

                <p>Semester 3</p>
                <p>Fag</p>
                <p>Fag</p>
                <p>Fag</p>
                <p>Fag</p>
                <p>Fag</p>
                <p>Fag</p>
                <p>Fag</p>

                <p class="table-row">Semester 4</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>

            </div>
 
        </div>


    </div>

    <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
        <div class="container-fluid extra-narrow-container pt-30">
            <h2>Deltagerprofil</h2>
            <h4>Enim nulla ut incididunt incididunt eiusmod minim reprehenderit irure.</h4>
            <p>Ex exercitation ad ea esse labore consequat. Esse aute eu ad ipsum occaecat. Exercitation
                cupidatat nisi proident et dolor id fugiat tempor cupidatat excepteur. Enim proident anim
                deserunt voluptate mollit amet sint anim do dolor commodo. Ut in magna minim veniam anim velit
                magna.</p>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-4" role="tabpanel" aria-labelledby="nav-4-tab">


        <div class="container-fluid narrow-container pt-30">
            <h2>Anbefalinger</h2>
            <br>

            <div class="grid-3 faster-grid gap-40 r-gap-40">
                
                <div class="shadow-round-box grid-100-fr r-gap-20 gap-20">
                    <div class="img-hw100"><img class="small-round-image" src="/images/graphic/placeholder-profile.jpg" alt="">
                    </div>
                        <blockquote class="testi">
                            <div class="pr-50">
                            Eiusmod cupidatat exercitation sint eiusmod consectetur est aliqua do. Magna exercitation minim tempor quis quis fugiat consectetur laborum aute. Voluptate tempor consectetur mollit reprehenderit quis nostrud est exercitation aute sint sint in deserunt consectetur. Enim cillum laborum commodo sunt sint. Voluptate veniam laboris ipsum quis dolor excepteur.</div>
                             <div class="quote-footer">Anders Andersen <br>
                                <p>MBC studerende</p>
                                </div>
                             
                           </blockquote>

                    
                </div>

                <div class="shadow-round-box grid-100-fr r-gap-20 gap-20">
                    <div class="img-hw100"><img class="small-round-image" src="/images/graphic/placeholder-profile.jpg" alt="">
                    </div>
                        <blockquote class="testi">
                            <div class="pr-50">
                            Eiusmod cupidatat exercitation sint eiusmod consectetur est aliqua do. Magna exercitation minim tempor quis quis fugiat consectetur laborum aute. Voluptate tempor consectetur mollit reprehenderit quis nostrud est exercitation aute sint sint in deserunt consectetur. Enim cillum laborum commodo sunt sint. Voluptate veniam laboris ipsum quis dolor excepteur.</div>
                            <div class="quote-footer">Anders Andersen <br>
                                <p>MBC studerende</p>
                                </div>
                           </blockquote>

                    
                </div>

                <div class="shadow-round-box grid-100-fr r-gap-20 gap-20">
                    <div class="img-hw100"><img class="small-round-image" src="/images/graphic/placeholder-profile.jpg" alt="">
                    </div>
                        <blockquote class="testi">
                            <div class="pr-50">
                            Eiusmod cupidatat exercitation sint eiusmod consectetur est aliqua do. Magna exercitation minim tempor quis quis fugiat consectetur laborum aute. Voluptate tempor consectetur mollit reprehenderit quis nostrud est exercitation aute sint sint in deserunt consectetur. Enim cillum laborum commodo sunt sint. Voluptate veniam laboris ipsum quis dolor excepteur.</div>
                            <div class="quote-footer">Anders Andersen <br>
                                <p>MBC studerende</p>
                                </div>
                           </blockquote>

                    
                </div>

                <div class="shadow-round-box grid-100-fr r-gap-20 gap-20">
                    <div class="img-hw100"><img class="small-round-image" src="/images/graphic/placeholder-profile.jpg" alt="">
                    </div>
                        <blockquote class="testi">
                            <div class="pr-50">
                            Eiusmod cupidatat exercitation sint eiusmod consectetur est aliqua do. Magna exercitation minim tempor quis quis fugiat consectetur laborum aute. Voluptate tempor consectetur mollit reprehenderit quis nostrud est exercitation aute sint sint in deserunt consectetur. Enim cillum laborum commodo sunt sint. Voluptate veniam laboris ipsum quis dolor excepteur.</div>
                            <div class="quote-footer">Anders Andersen <br>
                                <p>MBC studerende</p>
                                </div>
                           </blockquote>

                    
                </div>
            </div>
        </div>

        <div class="mb-50 bg-black-coral white">
            <div class="grid-2 gap-40">
                <div id="fourplayer-vidbacking">
                    <video autoplay muted controls class="vidbacking">
                        <source src="/videos/noeddesbo-ccc.mp4" type="video/mp4">
                        Your browser does not support HTML video.
                    </video>
                </div>
                <div class="p-20 pb-50 grid-1 align-content-center align-items-center">
                    
                    <div class="max-w-400">
                       <blockquote class="groucho">
                            Det er fantastisk!
                             <div class="quote-footer">Jesper Nøddesbo</div>
                           </blockquote>
                    </div>
                       
<br><br>
                       <h3>Det startede som mentale udfordringer. Med tiden har det udviklet sig til en ny passion.</h3>
                       <div class="max-700">
                        <p>Nu uddanner Bjerringbro-Silkeborg Håndbolds Jesper Nøddesbo sig gennem Copenhagen
                            Coaching Center. Og
                            uddannelsen gør, at han nogle gange ligefrem glæder sig til livet efter håndbold.</p>
                       </div>
                       
       
                       <a target="_blank"
                           href="https://4-player.dk/uddannelse-og-udvikling/online-uddannelse/international-master-of-business-coaching/"><button
                               class="cinereous-btn">Se mere på 4Player</button></a>
                </div>
            </div>
            
           
        </div>
       <!--  {% include secments/four-player.html %} -->
    </div>

    <div class="tab-pane fade" id="nav-5" role="tabpanel" aria-labelledby="nav-5-tab">
        <div class="container-fluid extra-narrow-container pt-30">
            
            <h2>Undervisere</h2>
            <p>Undervisningen på MBC varetages af erfarne undervisere og forskere fra både Copenhagen Business School,
                Københavns Universitet, Aalborg Universitet, Aarhus Universitet og RUC. Undervisernes tilgang er altid
                nærværende, lokal og relevant for dig og dit arbejdsområde, så du kan overføre undervisningen direkte
                til dine daglige udfordringer som leder.
            </p>
            <p>
                I dele af undervisningen inddrages konsulenter fra forskellige universiteter.</p>
        </div>

        <div class="bg-black-coral mb-50">
            <div class="container-fluid medium-narrow-container pt-50 pb-50">

                <div class="grid-2 gap-40 r-gap-40">

                    {% for emp in site.employees %}
                    {% if emp.mbc %}

                    <div>
                        <a href="{{ emp.url }}">
                        <div class="align-content-center align-items-center grid-150-fr split-phone r-gap-20 white">
                            <div class="img-hw150"><img class="small-round-image" src="{{ emp.grey-portrait }}" alt="">
                            </div>
                            <div class="p-20">
                             <h4>{{ emp.title }}</h4>

                                <p>{{ emp.description }}<br><br>
                                    {% for education in emp.edu %}
                                    {{ education }}<br>
                                    {% endfor %}
                            </div>


                        </div>
                    </a>
                    </div>
                    {% endif %}

                    {% endfor %}


                  

                </div>




            </div>
        </div>




    </div>
    <div class="tab-pane fade" id="nav-6" role="tabpanel" aria-labelledby="nav-6-tab">
        <div class="container-fluid extra-narrow-container pt-30">
            <div class="grid-2 gap-40 r-gap-40">
                <div>
                    <div class="object-fit-full-width h-300">
                        <img src="/images/mbc/praktisk-1.png" alt="" class="object-fit">
                    </div>
                    <br>
                    <h2>Pris og finansiering</h2>
                    <p>Prisen for hele uddannelsen er 183.000,- kr. (ekskl. moms).
    
                        Betalingen inkluderer: Undervisning, supervision, undervisningsmateriale og forplejning på de enkelte kursusdage.
                        
                        Beløbet opkræves forud for semesterstart over fire gange. 45.900 (ekskl. moms) pr. semester. Kontakt os gerne for mere information om finansering.</p>
    
    
                </div>
                <div>
                    <h2>Undervisningssted</h2>
                    <p>Blegdamsvej 104A, 2. sal, 2100 København Ø.</p> <br>
                    <div class="object-fit-full-width h-300">
                        <img src="/images/mbc/praktisk-2.png" alt="" class="object-fit">
                    </div>
                </div>
            </div>

            <div class="grid-2 gap-40 r-gap-20 pt-30">
                <div class="object-fit-full-width h-300">
                    <img src="/images/mbc/image--008.jpg" alt="" class="object-fit">
        <br>
                </div>
                <div>
                    <h2>Adgangskrav</h2>
                    <p>Adgang til uddannelsen er betinget
                        af at ansøgeren har bestået mindst
                        en videregående uddannelse
                        (bachelor el. tilsvarende), har
                        mindst 3 års relevant erhvervserfaring og har sproglige
                        færdigheder i engelsk, der gør det
                        muligt at tilegne sig engelsksproget
                        pensum.</p>
                </div>
            </div>
        </div>

        <div
            style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/graphic/mountain.png'); background-size: cover;">
            <div class="container-fluid xs-extra-narrow-container pt-100 pb-100 align-center white">
                <h1>HØJESTE
                    INTERNATIONALE
                    AKKREDITERING</h1>
                <br>
                <p>Med en Master of Business
                    Coaching fra CCC er du
                    garanteret de højeste,
                    internationale standarder via
                    vores akkreditering fra European
                    Mentoring and Coaching Council
                    (EMCC).</p>
                <br>
                <a href="/fundament/emcc-akkreditering/" class="thin capped border-button inline">Læs om vores EMCC
                    akkreditering <i class="fas fa-long-arrow-alt-right"></i></a>

            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="nav-7" role="tabpanel" aria-labelledby="nav-7-tab">
        <div class="container-fluid extra-narrow-container pt-30">
            {% include mbc/faq.html %}
        </div>
    </div>

    <div class="tab-pane fade" id="nav-8" role="tabpanel" aria-labelledby="nav-8-tab">
        <div class="container-fluid extra-narrow-container pt-30">
            <h2>Tilmelding</h2>
            <h4>Enim nulla ut incididunt incididunt eiusmod minim reprehenderit irure.</h4>
            <p>Ex exercitation ad ea esse labore consequat. Esse aute eu ad ipsum occaecat. Exercitation
                cupidatat nisi proident et dolor id fugiat tempor cupidatat excepteur. Enim proident anim
                deserunt voluptate mollit amet sint anim do dolor commodo. Ut in magna minim veniam anim velit
                magna.</p>
        </div>
    </div>
</div>
{% capture reg-url %}?n={{ page.title | uri_escape }}{% endcapture %}


{% assign page-contact = page.contact-person %}


{% include secments/contact-bar.html contact=page-contact contact-color="deep-taupe" text-1="Interesseret i at høre mere
om MBC? Så kontakt Frederikke nedenfor." text-2="Hør om andres erfaringer med MBC" %}



{% include secments/virtual-text.html container-classes="pt-30 pb-100 extra-narrow-container" %}

{% assign pageurl = page.url %}


<div class="bg-black-coral white">
    {% include secments/other-courses.html url=pageurl %}
</div>

{% include secments/vision.html %}


<div class="bg-platinum">
    {% include secments/newsletter.html %}
</div>

<div class="bg-light-brown">
    {% include secments/events.html container-classes="pt-50 mb-50 mt-50" btn-color="dust-green-btn" %}
</div>
<!-- end -->


