---
layout: default
---
<div class="full-banner grid-1 align-items-center align-content-center"
    style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('{{ page.image }}'); background-position: center; background-size: cover;">
    <div class="container-fluid extra-narrow-container white">
        <div>
            <h1 class="h1-l">{{ page.header }}</h1>
            <hr class="half-margin">

            {% if page.sub-header %}
            <h3>{{ page.sub-header }}</h3>
            {% endif %}
            {% if page.teaser %}<p class="large">{{ page.teaser }}</p>{% else %}<p class="large">{{ page.description }}
            </p> {% endif %}
            <br>
            <span class="large bg-black-coral p-10 white">Interesseret i at høre mere om vores online muligheder?</span>
            <br><br>
            <br>
            <a class="cinereous-btn large thin" data-proofer-ignore href="#big-five" data-toggle="modal"
                data-target="#bf-modal">Hør mere</a>

        </div>


    </div>
</div>



<div class="container-fluid extra-narrow-container pt-30 no-down">


    <div>
        <div class="nav nav-tabs blu-brown-pallette" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab"
                aria-controls="nav-coaching" aria-selected="false">Overblik</a>
            <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2"
                aria-selected="false">Opbygning</a>
            <a class="nav-item nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab" aria-controls="nav-3"
                aria-selected="false">Deltagerprofil</a>
            <a class="nav-item nav-link" id="nav-4-tab" data-toggle="tab" href="#nav-4" role="tab" aria-controls="nav-4"
                aria-selected="false">Anbefalinger</a>
            <a class="nav-item nav-link" id="nav-5-tab" data-toggle="tab" href="#nav-5" role="tab" aria-controls="nav-5"
                aria-selected="false">Undervisere</a>
            <a class="nav-item nav-link" id="nav-6-tab" data-toggle="tab" href="#nav-6" role="tab" aria-controls="nav-6"
                aria-selected="false">Praktisk</a>
            <a class="nav-item nav-link" id="nav-7-tab" data-toggle="tab" href="#nav-7" role="tab" aria-controls="nav-7"
                aria-selected="false">FAQ</a>
            <a class="nav-item nav-link open_modal" href="#ansøgning" data-toggle="modal" data-id="hold"
                data-target="#mbc-application-modal">Ansøg</a>
        </div>
    </div>
</div>
<div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">

        <div class="container-fluid medium-narrow-container pt-20 pb-50">
            <div class="grid-30-65 r-gap-20">
                <div class="h-300">
                    <img src="/images/mbc/image--003.jpg" alt="" class="object-fit">

                </div>
                <div>
                    <h2>Ønsker du at blive dygtig til at føre produktive og virkningsfulde dialoger?</h2>
                    <p>At kunne flytte både grupper og individer i en mere konstruktiv retning og derved forebygge
                        stress, organisatorisk stagnation og udbrændthed? Så vælg uddannelsen: Master of Business
                        Coaching (MBC).</p>
                    <p>Med en Master of Business Coaching får du en af landets bedste coachinguddannelser, hvor du både
                        kan foretage traditionelle coachingsamtaler og den filosofiske samtale.</p>
                </div>
            </div>
        </div>
        <div class="bg-cadet-gray">
            <div class="container-fluid medium-narrow-container only-for-bot white pt-50 pb-75">

                <h2 class="align-center">Kursus oversigt</h2><br><br>
                <div class="grid-1 r-gap-5">
                    {% for semester in page.semesters %}
                    <div>

                        <a class="bg-black-coral semester-heading collapsed" data-toggle="collapse"
                            href="#hold{{ forloop.index}}" role="button" aria-expanded="false" aria-controls="">
                            <div class="grid-1 bg-black-coral p-20 gap-20 r-gap-10 p-left-60">
                                <div>
                                    <p class="mb-0 large"><b>Hold:</b> {{ semester.title }}</p>
                                </div>

                                <div>
                                    <p class="mb-0 faded"><b>Pris:</b> {{ semester.price }}</p>
                                </div>

                            </div>
                        </a>
                        <div class="bg-black-coral collapse" id="hold{{ forloop.index}}">

                            <div class="switching-list">
                                {% for date in semester.dates %}
                                <div class="grid-1 p-20 list-item">
                                    <div>
                                        <p class="mb-0"><b>Dato:</b> {{ date.title }}</p>
                                    </div>
                                    <div>
                                        <p class="mb-0"><b>Dag:</b> {{ date.dag }}</p>
                                    </div>
                                    <div>
                                        <p class="mb-0"><b>Tid:</b> {{ date.time }}</p>

                                    </div>
                                    <div>
                                        <p class="mb-0"><b>Modul:</b> {{ date.modul }}</p>
                                    </div>
                                    <div>
                                        <p class="mb-0"><b>Sted:</b> {{ date.sted }}</p>
                                    </div>
                                </div>




                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
            <div class="container-fluid medium-narrow-container white pt-50 pb-75 only-big">
                <h2 class="align-center">Kursus oversigt</h2><br><br>
                <div class="grid-1 gap-20 r-gap-5">
                    <div class="grid-3 p-20 p-left-60 pb-0 capped">
                        <div>
                            <p class="mb-0"><b>Hold</b></p>
                        </div>
                        <div>
                            <p class="mb-0"><b>Dato</b></p>
                        </div>
                        <div>
                            <p class="mb-0"><b>Pris</b></p>
                        </div>
                        <div></div>
                    </div>
                    {% for semester in page.semesters %}
                    <div>
                        <div class="position-relative">
                            <a class="bg-black-coral semester-heading collapsed" data-toggle="collapse"
                                href="#hold{{ forloop.index}}" role="button" aria-expanded="false" aria-controls="">
                                <div class="grid-3 bg-black-coral p-20 gap-20 p-left-60">
                                    <div>
                                        <p class="mb-0">{{ semester.title }}</p>
                                    </div>
                                    <div>
                                        <p class="mb-0">{{ semester.span }}</p>
                                    </div>

                                    <div>
                                        <p class="mb-0">{{ semester.price }}</p>
                                    </div>


                                </div>
                            </a>
                            <a class="cinereous-btn position-right open_modal" href="#ansøgning"
                                data-id="{{ semester.title }}" data-toggle="modal"
                                data-target="#mbc-application-modal">Ansøg</a>
                        </div>
                        <div class="bg-black-coral collapse" id="hold{{ forloop.index}}">
                            <div class="grid-50-50-50-auto-auto grid-5 p-20 bg-deep-taupe">
                                <div>
                                    <p class="mb-0">Dato</p>
                                </div>
                                <div>
                                    <p class="mb-0">Dag</p>
                                </div>
                                <div>
                                    <p class="mb-0">Tid</p>

                                </div>
                                <div>
                                    <p class="mb-0">Modul</p>
                                </div>
                                <div>
                                    <p class="mb-0">Sted</p>
                                </div>
                            </div>
                            <div class="switching-list">
                                {% for date in semester.dates %}
                                <div class="grid-50-50-50-auto-auto grid-5 p-20 list-item">
                                    <div>
                                        <p class="mb-0">{{ date.title }}</p>
                                    </div>
                                    <div>
                                        <p class="mb-0">{{ date.dag }}</p>
                                    </div>
                                    <div>
                                        <p class="mb-0">{{ date.time }}</p>

                                    </div>
                                    <div>
                                        <p class="mb-0">{{ date.modul }}</p>
                                    </div>
                                    <div>
                                        <p class="mb-0">{{ date.sted }}</p>
                                    </div>
                                </div>




                                {% endfor %}

                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>

            </div>


        </div>
        <div class="container-fluid medium-narrow-container pt-50">

            <div class="grid-2 gap-40 r-gap-40">
                <div>
                    <h2>UDBYTTE OG ANVENDELSE</h2>
                    <p>På uddannelsen trænes du I at være nærværende og ansvarstagende
                        også når vi sammen rammer de svære emner, og hvor du mest af alt
                        har lyst til at afbryde samtalen.</p>
                    <p>På MBC er der derfor også fokus på din egen personlige udvikling
                        og dannelse, hvem du selv er, og hvad netop du betyder for
                        dialogen.</p>
                    <p>MBC'en gør den studerende i stand til at stå og indgå i mange
                        forskellige situationer og samtaler, herunder team- og
                        medarbejderudvikling, konflikt- og krisehåndtering, procesledelse
                        og organisationsudvikling.</p>
                </div>
                <div>
                    <h2 class="capped">Viden på CCC</h2>
                    <p>Master of Business Coaching er mere end en uddannelse. Vi er en platform, hvor ledere fra alle
                        dele af
                        den offentlige og private sektor mødes for at blive klogere på, hvordan ledelse kan skabe værdi
                        for
                        vores samfund. På CCC holder vi os opdateret på udviklingen inden for offentlig ledelse og
                        prioriterer
                        at dele og diskutere den. </p>
                    <p>
                        Derfor inviterer vi løbende til debatmøder om aktuelle tematikker på området,
                        og fire gange årligt har du mulighed for at komme til inspirationsmøder, hvor du kan høre om
                        uddannelsen
                        og møde studerende samt repræsentanter fra studieledelsen og sekretariatet.</p>
                </div>
            </div>





        </div>
        <div
            style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/graphic/mountain.png'); background-size: cover;">
            <div class="container-fluid xs-extra-narrow-container pt-100 pb-100 align-center white">
                <h1>HØJESTE
                    INTERNATIONALE
                    AKKREDITERING</h1>
                <br>
                <p>Med en Master of Business
                    Coaching fra CCC er du
                    garanteret de højeste,
                    internationale standarder via
                    vores akkreditering fra European
                    Mentoring and Coaching Council
                    (EMCC).</p>
                <br>
                <a href="/fundament/emcc-akkreditering/" class="thin capped border-button inline">Læs om vores EMCC
                    akkreditering <i class="fas fa-long-arrow-alt-right"></i></a>

            </div>
        </div>

        <div class="bg-black-coral mb-50">
            <div class="container-fluid extra-narrow-container pt-100 pb-100 white">

                <div class="grid-2 gap-40 r-gap-60">
                    <div>
                        <h3>DK'S FØRENDE
                            LEDERUDDANNELSE
                            MÅLRETTET
                            ERHVERVSLIVET</h3>
                        <p>Med tryk på Business-delen af Coaching, i
                            modsætning til fx life-coaching, er
                            uddannelsen målrettet erhvervslivet med
                            den hensigt at løfte de studerendes
                            dialogiske evner og handlekraft i
                            professionelle kontekster.</p>
                    </div>
                    <div>
                        <h3>MESTRING AF
                            DIALOGISKE
                            PROCESSER</h3>
                        <p>Med en MBC bliver du ekspert i
                            produktive og virkningsfulde
                            dialoger og du får samtidig den
                            bedste uddannelse på markedet i
                            at lede, planlægge og forme
                            mellemmenneskelig
                            kommunikation og individuelle
                            dialoger.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--  <div class="container-fluid extra-narrow-container pt-50 pb-50 align-center">
            <div class="grid-3 slow-grid gap-20 r-gap-40">
                <div><button class="jet-btn full-width">
                        <div class="grid-80-20">
                            <div class="align-left">
                                Tilmeld dig nu
                            </div>
                            <div class="align-right"><i class="fas fa-check"></i></div></i>
                        </div>
                    </button>
                </div>
                <div><button class="cinereous-btn full-width">
                        <div class="grid-80-20">
                            <div class="align-left">
                                Reservér plads
                            </div>
                            <div class="align-right"><i class="fas fa-chair"></i></div></i>
                        </div>

                </div>
                <div><button class="silver-chalice-btn full-width">
                        <div class="grid-80-20">
                            <div class="align-left">
                                Download brochure
                            </div>
                            <div class="align-right"><i class="fas fa-download"></i></div></i>
                        </div>
                    </button></div>

            </div>
        </div> -->
    </div>

    <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">



        <div class="container-fluid medium-narrow-container pt-50 pb-50">
            <div class="grid-2 gap-90">
                <div>
                    <h2>UDDANNELSENS OPBYGNING</h2>
                    <p>Uddannelsen kombinerer et solidt teoretisk fundament med en
                        målrettet træning og udvikling af den enkelte studerendes egen
                        samtalepraksis.</p>
                    <p>Uddannelsen er normeret til et studieårsværk fordelt på fire semestre á
                        et halvt å (15 ECTS), dvs. i alt to år og 60 ECTS. Hvert semester består af
                        ti undervisningsdage fordelt over et halvt år samt fire træningsaftener
                        (på tværs af semesterhold), hvoraf to aftener ligger i direkte forlængelse
                        af undervisningen.</p>

                </div>
                <div>
                    <h2>Semestre</h2>
                    <p>MBC’en består af 4 semestre, som du også kan tage individuelt. Et semester består af ca. 10
                        undervisningsdage med undervisning fra 9.30 – 16.00</p>
                    <p>Hvert semester afsluttes med eksamen og et bevis på gennemførelse.
                        Semestrene kan tages ét ad gangen og/eller forskudt, som det passer i
                        den enkelte studerendes ressourcer og karrieremål. Hvis det måtte
                        ønskes, kan der træffes individuel aftale om en ONLINE løsning.</p>
                    <p>Uddannelsen afsluttes med en masterafhandling og et mundtligt forsvar</p>

                </div>
            </div>



        </div>
        <div class="bg-platinum">
            <div class="container-fluid medium-narrow-container pt-50 pb-50">

                <div class="grid-2">
                    <div>
                        <h2>Som MBC studerende får du:</h2>
                        <br>
                        <ul class="mb-0">
                            <li>Adgang til vidensportal, værktøjer, faglitteratur, artikler og cases</li>
                            <li>Big Five personlighedstest med individuel tilbagemelding</li>
                            <li>Mulighed for at blive certificeret i Big Five, så du selv kan anvende personlighedstest
                            </li>
                            <li>Løbende supervision og et stærkt netværk</li>
                            <li>Coachingsamtaler med flere undervisere</li>
                            <li>Forplejning alle dage</li>
                        </ul>

                        <br>
                    </div>
                    <div>
                        <div class="w-100 h-300">
                            <img class="object-fit" src="/images/mbc/image--000.jpg" alt="">
                        </div>
                    </div>

                </div>



            </div>
        </div>




        <div class="container-fluid medium-narrow-container">
            <h2>Moduler og dage</h2><br>
            <div class="grid-8 grid-8-table">
                <p class="table-header">Semester</p>
                <p class="table-header">Dag 1</p>
                <p class="table-header">Dag 2</p>
                <p class="table-header">Dag 3</p>
                <p class="table-header">Dag 4</p>
                <p class="table-header">Dag 5</p>
                <p class="table-header">Dag 6</p>
                <p class="table-header">Dag 7</p>
                <p>Semester 1</p>
                <p>Coaching og syntesemodellen</p>
                <p>Kognitiv 1</p>
                <p>Psyko-dynamisk 1</p>
                <p>Systemisk-narrativ 1</p>
                <p>Kognitiv 2</p>
                <p>Psyko-dynamisk 2</p>
                <p>Systemisk-narrativ 2</p>

                <p class="table-row">Semester 2</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>

                <p>Semester 3</p>
                <p>Fag</p>
                <p>Fag</p>
                <p>Fag</p>
                <p>Fag</p>
                <p>Fag</p>
                <p>Fag</p>
                <p>Fag</p>

                <p class="table-row">Semester 4</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>
                <p class="table-row">Fag</p>

            </div>

        </div>


    </div>

    <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
        <div class="container-fluid extra-narrow-container pt-30">
            <h2>Deltagerprofil</h2>
            <h4>Enim nulla ut incididunt incididunt eiusmod minim reprehenderit irure.</h4>
            <p>Ex exercitation ad ea esse labore consequat. Esse aute eu ad ipsum occaecat. Exercitation
                cupidatat nisi proident et dolor id fugiat tempor cupidatat excepteur. Enim proident anim
                deserunt voluptate mollit amet sint anim do dolor commodo. Ut in magna minim veniam anim velit
                magna.</p>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-4" role="tabpanel" aria-labelledby="nav-4-tab">


        <div class="container-fluid narrow-container pt-30">
            <h2>Anbefalinger</h2>
            <br>

            <div class="grid-3 faster-grid gap-40 r-gap-40">

                <div class="shadow-round-box grid-100-fr r-gap-20 gap-20">
                    <div class="img-hw100"><img class="small-round-image" src="/images/graphic/placeholder-profile.jpg"
                            alt="">
                    </div>
                    <blockquote class="testi">
                        <div class="pr-50">
                            Eiusmod cupidatat exercitation sint eiusmod consectetur est aliqua do. Magna exercitation
                            minim tempor quis quis fugiat consectetur laborum aute. Voluptate tempor consectetur mollit
                            reprehenderit quis nostrud est exercitation aute sint sint in deserunt consectetur. Enim
                            cillum laborum commodo sunt sint. Voluptate veniam laboris ipsum quis dolor excepteur.</div>
                        <div class="quote-footer">Anders Andersen <br>
                            <p>MBC studerende</p>
                        </div>

                    </blockquote>


                </div>

                <div class="shadow-round-box grid-100-fr r-gap-20 gap-20">
                    <div class="img-hw100"><img class="small-round-image" src="/images/graphic/placeholder-profile.jpg"
                            alt="">
                    </div>
                    <blockquote class="testi">
                        <div class="pr-50">
                            Eiusmod cupidatat exercitation sint eiusmod consectetur est aliqua do. Magna exercitation
                            minim tempor quis quis fugiat consectetur laborum aute. Voluptate tempor consectetur mollit
                            reprehenderit quis nostrud est exercitation aute sint sint in deserunt consectetur. Enim
                            cillum laborum commodo sunt sint. Voluptate veniam laboris ipsum quis dolor excepteur.</div>
                        <div class="quote-footer">Anders Andersen <br>
                            <p>MBC studerende</p>
                        </div>
                    </blockquote>


                </div>

                <div class="shadow-round-box grid-100-fr r-gap-20 gap-20">
                    <div class="img-hw100"><img class="small-round-image" src="/images/graphic/placeholder-profile.jpg"
                            alt="">
                    </div>
                    <blockquote class="testi">
                        <div class="pr-50">
                            Eiusmod cupidatat exercitation sint eiusmod consectetur est aliqua do. Magna exercitation
                            minim tempor quis quis fugiat consectetur laborum aute. Voluptate tempor consectetur mollit
                            reprehenderit quis nostrud est exercitation aute sint sint in deserunt consectetur. Enim
                            cillum laborum commodo sunt sint. Voluptate veniam laboris ipsum quis dolor excepteur.</div>
                        <div class="quote-footer">Anders Andersen <br>
                            <p>MBC studerende</p>
                        </div>
                    </blockquote>


                </div>

                <div class="shadow-round-box grid-100-fr r-gap-20 gap-20">
                    <div class="img-hw100"><img class="small-round-image" src="/images/graphic/placeholder-profile.jpg"
                            alt="">
                    </div>
                    <blockquote class="testi">
                        <div class="pr-50">
                            Eiusmod cupidatat exercitation sint eiusmod consectetur est aliqua do. Magna exercitation
                            minim tempor quis quis fugiat consectetur laborum aute. Voluptate tempor consectetur mollit
                            reprehenderit quis nostrud est exercitation aute sint sint in deserunt consectetur. Enim
                            cillum laborum commodo sunt sint. Voluptate veniam laboris ipsum quis dolor excepteur.</div>
                        <div class="quote-footer">Anders Andersen <br>
                            <p>MBC studerende</p>
                        </div>
                    </blockquote>


                </div>
            </div>
        </div>
        <div class="mb-50 bg-black-coral white">
            <div class="grid-2 grid-65-5-30 faster-grid gap-40">
                <div class="vidback-video">
                    <video muted controls class="vidbacking object-fit">
                        <source src="/videos/noeddesbo-ccc.mp4" type="video/mp4">
                        Your browser does not support HTML video.
                    </video>
                </div>
                <div class="p-20 pb-50 grid-1 align-content-center align-items-center">

                    <div class="max-w-400">
                        <blockquote class="groucho">
                            Det er fantastisk!
                            <div class="quote-footer">Jesper Nøddesbo</div>
                        </blockquote>
                    </div>

                    <br><br>
                    <h3>Det startede som mentale udfordringer. Med tiden har det udviklet sig til en ny passion.</h3>
                    <div class="max-700">
                        <p>Nu uddanner Bjerringbro-Silkeborg Håndbolds Jesper Nøddesbo sig gennem Copenhagen
                            Coaching Center. Og
                            uddannelsen gør, at han nogle gange ligefrem glæder sig til livet efter håndbold.</p>
                    </div>


                    <a target="_blank"
                        href="https://4-player.dk/uddannelse-og-udvikling/online-uddannelse/international-master-of-business-coaching/"><button
                            class="cinereous-btn">Se mere på 4Player</button></a>
                </div>
            </div>


        </div>
        <!--  {% include secments/four-player.html %} -->
    </div>

    <div class="tab-pane fade" id="nav-5" role="tabpanel" aria-labelledby="nav-5-tab">
        <div class="container-fluid extra-narrow-container pt-30">

            <h2>Undervisere</h2>
            <p>Undervisningen på MBC varetages af erfarne undervisere og forskere fra både Copenhagen Business School,
                Københavns Universitet, Aalborg Universitet, Aarhus Universitet og RUC. Undervisernes tilgang er altid
                nærværende, lokal og relevant for dig og dit arbejdsområde, så du kan overføre undervisningen direkte
                til dine daglige udfordringer som leder.
            </p>
            <p>
                I dele af undervisningen inddrages konsulenter fra forskellige universiteter.</p>
        </div>

        <div class="bg-black-coral mb-50">
            <div class="container-fluid medium-narrow-container pt-50 pb-50">

                <div class="grid-2 gap-40 r-gap-40">

                    {% for emp in site.employees %}
                    {% if emp.mbc %}

                    <div>
                        <a href="{{ emp.url }}">
                            <div class="align-content-center align-items-center grid-150-fr split-phone r-gap-20 white">
                                <div class="img-hw150"><img class="small-round-image" src="{{ emp.grey-portrait }}"
                                        alt="">
                                </div>
                                <div class="p-20">
                                    <h4>{{ emp.title }}</h4>

                                    <p>{{ emp.description }}<br><br>
                                        {% for education in emp.edu %}
                                        {{ education }}<br>
                                        {% endfor %}
                                </div>


                            </div>
                        </a>
                    </div>
                    {% endif %}

                    {% endfor %}




                </div>




            </div>
        </div>




    </div>
    <div class="tab-pane fade" id="nav-6" role="tabpanel" aria-labelledby="nav-6-tab">
        <div class="container-fluid extra-narrow-container pt-30">
            <div class="grid-2 gap-40 r-gap-40">
                <div>
                    <div class="object-fit-full-width h-300">
                        <img src="/images/mbc/praktisk-1.png" alt="" class="object-fit">
                    </div>
                    <br>
                    <h2>Pris og finansiering</h2>
                    <p>Prisen for hele uddannelsen er 183.000,- kr. (ekskl. moms).

                        Betalingen inkluderer: Undervisning, supervision, undervisningsmateriale og forplejning på de
                        enkelte kursusdage.

                        Beløbet opkræves forud for semesterstart over fire gange. 45.900 (ekskl. moms) pr. semester.
                        Kontakt os gerne for mere information om finansering.</p>


                </div>
                <div>
                    <h2>Undervisningssted</h2>
                    <p>Blegdamsvej 104A, 2. sal, 2100 København Ø.</p> <br>
                    <div class="object-fit-full-width h-300">
                        <img src="/images/mbc/praktisk-2.jpg" alt="" class="object-fit">
                    </div>
                </div>
            </div>

            <div class="grid-2 gap-40 r-gap-20 pt-30">
                <div class="object-fit-full-width h-300">
                    <img src="/images/mbc/image--008.jpg" alt="" class="object-fit">
                    <br>
                </div>
                <div>
                    <h2>Adgangskrav</h2>
                    <p>Adgang til uddannelsen er betinget
                        af at ansøgeren har bestået mindst
                        en videregående uddannelse
                        (bachelor el. tilsvarende), har
                        mindst 3 års relevant erhvervserfaring og har sproglige
                        færdigheder i engelsk, der gør det
                        muligt at tilegne sig engelsksproget
                        pensum.</p>
                </div>
            </div>
        </div>

        <div
            style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/graphic/mountain.png'); background-size: cover;">
            <div class="container-fluid xs-extra-narrow-container pt-100 pb-100 align-center white">
                <h1>HØJESTE
                    INTERNATIONALE
                    AKKREDITERING</h1>
                <br>
                <p>Med en Master of Business
                    Coaching fra CCC er du
                    garanteret de højeste,
                    internationale standarder via
                    vores akkreditering fra European
                    Mentoring and Coaching Council
                    (EMCC).</p>
                <br>
                <a href="/fundament/emcc-akkreditering/" class="thin capped border-button inline">Læs om vores EMCC
                    akkreditering <i class="fas fa-long-arrow-alt-right"></i></a>

            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="nav-7" role="tabpanel" aria-labelledby="nav-7-tab">
        <div class="container-fluid extra-narrow-container pt-30">
            {% include mbc/faq.html %}
        </div>
    </div>


    <div class="modal fade" id="mbc-application-modal" tabindex="-1" role="dialog"
        aria-labelledby="mbc-application-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="mbc-application">Ansøgning</h2>

                    <button type="button" class="close close-modal-button" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Hvis du har spørgsmål omkring uddannelsen, din ansøgning eller andet er du velkommen til at ringe
                        til Frederikke Winther på

                        <a href="tel:21 19 47 57">21 19 47 57</a> – eller sende os en sms om, hvornår det passer dig at
                        blive ringet
                        op. Du kan også altid skrive til <a
                            href="mailto:info@copenhagencoaching.dk">info@copenhagencoaching.dk</a>
                        for mere info.

                        Din ansøgning nedenfor er ikke bindende. Din optagelse vil udover nedenstående oplysninger, også
                        bero på en
                        personlig samtale.

                        Vi glæder os til at høre fra dig.
                    </p>


                    <br>
                    <form class="white-form" action="https://formspree.io/f/mzbyzbyg" method="POST" enctype="multipart/form-data">




                        <select class="input-form udd mbc-hold" id="mbc-hold" name="mbc-hold">
                            <option value="hold">Vælg hold</option>
                            {% for h in page.semesters %}
                            <option value="{{ h.title }}">{{ h.title }}</option>
                            {% endfor %}

                        </select>

                        <input type="hidden" name="uddannelse" value="{{ page.title }}" />
                        <input type="text" name="FNAME" placeholder="Fornavn*" required>
                        <input type="text" name="LNAME" placeholder="Efternavn*" required>
                        <input type="text" name="virksomhed" placeholder="Virksomhed">
                        <label><b>Hvem skal betale?</b></label>
                        <br>
                        <label>
                            <input type="radio" class="checkbox privat" checked id="privat" name="betaling"
                                value="privat">
                            Privat</label>
                        <br>
                        <label class="mb-20">
                            <input type="radio" class="checkbox virksomhed" id="virksomhed" name="betaling"
                                value="virksomhed">
                            Virksomhed</label>
                        <br>
                        <div id="virksomhed-box">

                            
                        </div>

                        <input type="text" name="adress" placeholder="Fakturerings adresse*" required>
                        <div class="grid-2">
                            <input type="text" name="zip-code" placeholder="Postnummer*" required>
                            <input type="text" name="town" placeholder="By*">
                        </div>



                        <input type="tel" name="arb-tlf" pattern="[0-9]{8}" placeholder="Arb. tlf.*" required>
                        <input type="tel" name="mobile" pattern="[0-9]{8}" placeholder="Mobil">
                        <input type="email" name="email" placeholder="E-mail*" required>


                        
                        <textarea name="besked" cols="30" rows="10" placeholder="Evt. kommentar"></textarea>
                        <label><b>Uddannelsesmæssig baggrund:</b><br>
                            <i>Skriv venligst dine formelle uddannelser</i></label>
                        <textarea name="uddannelses-baggrund" cols="30" rows="10"></textarea>

                        <label><b>Relevante kurser og efteruddannelser:</b><br>
                            <i>Herunder registrerede alternative uddannelser</i></label>
                        <textarea name="relevante-kurser" cols="30" rows="10"></textarea>

                        <label><b>Relevant livs- og erhvervserfaring:</b></label>
                        <textarea name="livs-erhvervserfaring" cols="30" rows="10"></textarea>


                        <label><b>Personlig motivation for at søge optagelse:</b></label>
                        <textarea name="motivation" cols="30" rows="10"></textarea>

                        <!--      <label><b>Jeg søger optagelse via:</b><br>
                <input class="checkbox" type="radio" id="male" name="kvote" value="§1"> §1 <br><input class="checkbox" type="radio" id="male" name="kvote" value="§2"> §2 <br><input class="checkbox" type="radio" id="male" name="kvote" value="§3"> §3</label>
                <br><a href="/pfp/adgangskrav/" target="_blank" class="small">Læs om kvoter og adgangskrav her</a> -->

                        <!--  <label><b>Merit:</b><br>
        <input class="checkbox" type="checkbox" name="merit"/>
        Jeg søger meritoverførsel fra anden tilsvarende psykoterapeutuddannelse</label><br>
      <br> -->

                        <br>
                        <label class="mb-0" id="file-upload">
                            <b>Vedhæft relevante dokumenter:</b>
                            <input type="file" name="upload"
                                accept=".doc,.docx,.pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                        </label>
                        <br>
                        <label>
                            <a href="#flere" class="black-coral-btn faded small thin add-more-files">Tilføj flere</a>
                        </label>
                        <br><br>
                        <label><b>Hvor har du hørt om os?:</b></label><br>
                        <label><input class="checkbox" type="checkbox" name="hoert-om-os" value="Google" />
                            Google</label>
                        <br>
                        <label><input class="checkbox" type="checkbox" name="hoert-om-os" value="facebook" />
                            Facebook</label>
                        <br>
                        <label>
                            <input class="checkbox" type="checkbox" name="hoert-om-os" value="instagram" />
                            Instagram
                        </label>
                        <br>
                        <label><input class="checkbox" type="checkbox" name="hoert-om-os" value="linkedin" />
                            LinkedIn</label>
                        <br>
                        <label><input class="checkbox" type="checkbox" name="hoert-om-os" value="anbefaling" />
                            Anbefaling
                            fra andre</label>
                        <br>
                        <label><input class="checkbox" type="checkbox" name="hoert-om-os" value="andet" /> Andet</label>




                        <br><br>
                        <label>
                            <input class="checkbox" type="checkbox" name="_optin" /> Jeg vil gerne modtage
                            CCC's nyhedsbrev via mail.
                        </label>
                        <br>
                        <br>
                        <label>
                            <b>Samtykkeerklæring*</b><br>
                            <input class="checkbox" type="checkbox" name="samtykke" required /> <span
                                class="small inline">Jeg giver samtykke til, at CCC må bruge
                                mine oplysninger til at behandle min ansøgning. Derudover giver jeg samtykke til, at CCC
                                opbevarer og
                                behandler mine persondata som er beskrevet i CCC's <a
                                    href="/privatlivspolitik/">privatlivspolitik</a>.</span>
                        </label>
                        <input type="hidden" name="ansvarlig"
                            value="{% for email in page.emails %}{% if forloop.last %}{{ email }}{% else %}{{ email }},{% endif %}{% endfor %}" />

                        <br>


                        <br>


                        <!-- your other form fields go here -->

                        <button class="black-coral-btn w-100 large thin capped" type="submit">Ansøg</button>

                    </form>


                    <br>
                </div>
            </div>
        </div>
    </div>

    {% capture reg-url %}?n={{ page.title | uri_escape }}{% endcapture %}


    {% assign page-contact = page.contact-person %}


    {% include secments/contact-bar.html contact=page-contact contact-color="deep-taupe" text-1="Interesseret i at høre
    mere
    om MBC? Så kontakt Frederikke nedenfor." text-2="Hør om andres erfaringer med MBC" %}



    {% include secments/virtual-text.html container-classes="pt-30 pb-100 extra-narrow-container" %}

    {% assign pageurl = page.url %}


    <div class="bg-black-coral white">
        {% include secments/other-courses.html url=pageurl %}
    </div>

    {% include secments/vision.html %}


    <div class="bg-black-coral white">
        {% include secments/newsletter.html %}
    </div>

    <div class="bg-light-brown">
        {% include secments/events.html container-classes="pt-50 mb-0 mt-0" btn-color="dust-green-btn" %}
    </div>
    <!-- end -->

    <script>
        $(document).on("click", ".open_modal", function () {
            var product = $(this).data('id');
            console.log(product);
            var selecter = document.getElementById('mbc-hold');
            console.log(selecter);
            selecter.value = product;
        });

        var numner = 1;
        $(document).on("click", ".add-more-files", function () {
            var new_num = 1;
            var boxx = document.getElementById('file-upload');
            var close_box = document.createElement('a');
            close_box.innerHTML = "<i class='fas fa-times'></i>";
            close_box.className = "close-button-file"
            close_box.href = "#close"
            var the_div = document.createElement("div");
            the_div.className = "position-relative";
            var elements = document.createElement("input");

            elements.type = "file";
            elements.name = "upload-" + new_num + 1;
            elements.accept = ".doc,.docx,.pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document";
            the_div.appendChild(elements);
            the_div.appendChild(close_box);
            boxx.appendChild(the_div);
        });

        $(document).on("click", ".close-button-file", function () {
            var cross = $(this)
            cross.parent().remove()
        });

        $(document).on("click", "#privat", function () {
            var hehe = $("#cvr")
            hehe.parent().remove();

        });


        $(document).on("click", "#virksomhed", function () {
            $('#virksomhed-box').html('<div><input type="text" name="cvr" id="cvr" placeholder="CVR nummer"><input type="text" name="ean" placeholder="EAN"></div>')

        });

    </script>