---
layout: default
---
<div class="full-banner grid-1 align-items-center align-content-center"
    style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('{{ page.image }}'); background-position: center; background-size: cover;">
    <div class="container-fluid extra-narrow-container white">
        <div>
            <h1 class="h1-l">{{ page.header }}</h1>
            <hr class="half-margin">

            {% if page.sub-header %}
            <h3>{{ page.sub-header }}</h3>
            {% endif %}
            {% if page.teaser %}<p class="large">{{ page.teaser }}</p>{% else %}<p class="large">{{ page.description }}
            </p> {% endif %}
            <br>
            <a class="cinereous-btn large thin" data-proofer-ignore href="#big-five" data-toggle="modal"
                data-target="#bf-modal">Hør mere</a>

        </div>

        
    </div>
</div>

{% include secments/four-player.html %}

<div class="container-fluid extra-narrow-container">


    <div>
        <div class="nav nav-tabs fade-pallette" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab"
                aria-controls="nav-coaching" aria-selected="false">Overblik</a>
            <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2"
                aria-selected="false">Opbygning</a>
            <a class="nav-item nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab" aria-controls="nav-3"
                aria-selected="false">Deltagerprofil</a>
            <a class="nav-item nav-link" id="nav-4-tab" data-toggle="tab" href="#nav-4" role="tab" aria-controls="nav-4"
                aria-selected="false">Anbefalinger</a>
            <a class="nav-item nav-link" id="nav-5-tab" data-toggle="tab" href="#nav-5" role="tab" aria-controls="nav-5"
                aria-selected="false">Undervisere</a>
            <a class="nav-item nav-link" id="nav-6-tab" data-toggle="tab" href="#nav-6" role="tab" aria-controls="nav-6"
                aria-selected="false">Praktisk</a>
            <a class="nav-item nav-link" id="nav-8-tab" data-toggle="tab" href="#nav-8" role="tab" aria-controls="nav-8"
                aria-selected="false">Tilmelding</a>
            <a class="nav-item nav-link" id="nav-9-tab" data-toggle="tab" href="#nav-9" role="tab" aria-controls="nav-9"
                aria-selected="false">Seminarer</a>
        </div>
    </div>
    <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
            {{ page.content }}
            <div class="grid-3 slow-grid gap-20 r-gap-40">
                <div><button class="jet-btn full-width">
                        <div class="grid-80-20">
                            <div class="align-left">
                                Tilmeld dig nu
                            </div>
                            <div class="align-right"><i class="fas fa-check"></i></div></i>
                        </div>
                    </button>
                </div>
                <div><button class="cinereous-btn full-width">
                        <div class="grid-80-20">
                            <div class="align-left">
                                Reservér plads
                            </div>
                            <div class="align-right"><i class="fas fa-chair"></i></div></i>
                        </div>
                </div>
                <div><button class="silver-chalice-btn full-width">
                        <div class="grid-80-20">
                            <div class="align-left">
                                Download brochure
                            </div>
                            <div class="align-right"><i class="fas fa-download"></i></div></i>
                        </div>
                    </button></div>

            </div>
        </div>
        <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
            <h2>Hvordan er uddannelsen bygget op?</h2>

            <p> Dialoger der forandrer både dig selv og den anden, handler ikke blot om at stille de rigtige spørgsmål.
                Forskning viser at den værdiskabende samtale i højere grad handler om at coachen skal være nærværende i
                samtalen – også når temaerne bliver udfordrende.</p>

            <p>På uddannelsen trænes du I at være nærværende og ansvarstagende også når vi sammen rammer de svære emner,
                og
                hvor du mest af alt har lyst til at afbryde samtalen. På MBC er der derfor også fokus på din personlige
                udvikling og dannelse, hvem du selv er, og hvad netop du betyder for dialogen.</p>

            <p><b> MBC er en anerkendt international master. Uddannelsen er normeret til et studieårsværk, og
                    uddannelsen
                    afsluttes med en 60 siders masterafhandling med mundtligt forsvar.</b></p>

            
        </div>

        <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
            <h2>Deltagerprofil</h2>
            <h4>Enim nulla ut incididunt incididunt eiusmod minim reprehenderit irure.</h4>
            <p>Ex exercitation ad ea esse labore consequat. Esse aute eu ad ipsum occaecat. Exercitation
                cupidatat nisi proident et dolor id fugiat tempor cupidatat excepteur. Enim proident anim
                deserunt voluptate mollit amet sint anim do dolor commodo. Ut in magna minim veniam anim velit
                magna.</p>
        </div>
        <div class="tab-pane fade" id="nav-4" role="tabpanel" aria-labelledby="nav-4-tab">
            <h2>Anbefalinger</h2>
            <h4>Enim nulla ut incididunt incididunt eiusmod minim reprehenderit irure.</h4>
            <p>Ex exercitation ad ea esse labore consequat. Esse aute eu ad ipsum occaecat. Exercitation
                cupidatat nisi proident et dolor id fugiat tempor cupidatat excepteur. Enim proident anim
                deserunt voluptate mollit amet sint anim do dolor commodo. Ut in magna minim veniam anim velit
                magna.</p>
        </div>

        <div class="tab-pane fade" id="nav-5" role="tabpanel" aria-labelledby="nav-5-tab">
            <h2>Undervisere</h2>
            <h4>Enim nulla ut incididunt incididunt eiusmod minim reprehenderit irure.</h4>
            <p>Ex exercitation ad ea esse labore consequat. Esse aute eu ad ipsum occaecat. Exercitation
                cupidatat nisi proident et dolor id fugiat tempor cupidatat excepteur. Enim proident anim
                deserunt voluptate mollit amet sint anim do dolor commodo. Ut in magna minim veniam anim velit
                magna.</p>
        </div>
        <div class="tab-pane fade" id="nav-6" role="tabpanel" aria-labelledby="nav-6-tab">
            <h2>Hvad får du ud af uddannelsen?</h2>
            <p>MBC’en består af 4 semestre, som du også kan tage individuelt. Et semester består af ca. 10
                undervisningsdage med undervisning fra 9.30 – 16.00</p>
            <p><b>Som MBC studerende får du:</b></p>
            <ul>
                <li>Adgang til vidensportal, værktøjer, faglitteratur, artikler og cases</li>
                <li>Big Five personlighedstest med individuel tilbagemelding</li>
                <li>Mulighed for at blive certificeret i Big Five, så du selv kan anvende personlighedstest</li>
                <li>Løbende supervision og et stærkt netværk</li>
                <li>Coachingsamtaler med flere undervisere</li>
                <li>Forplejning alle dage</li>
            </ul>
            <h3>Finansering</h3>
            <h4>Enim nulla ut incididunt incididunt eiusmod minim reprehenderit irure.</h4>
            <p>Ex exercitation ad ea esse labore consequat. Esse aute eu ad ipsum occaecat. Exercitation
                cupidatat nisi proident et dolor id fugiat tempor cupidatat excepteur. Enim proident anim
                deserunt voluptate mollit amet sint anim do dolor commodo. Ut in magna minim veniam anim velit
                magna.</p>
        </div>

        <div class="tab-pane fade" id="nav-8" role="tabpanel" aria-labelledby="nav-8-tab">
            <h2>Tilmelding</h2>
            <h4>Enim nulla ut incididunt incididunt eiusmod minim reprehenderit irure.</h4>
            <p>Ex exercitation ad ea esse labore consequat. Esse aute eu ad ipsum occaecat. Exercitation
                cupidatat nisi proident et dolor id fugiat tempor cupidatat excepteur. Enim proident anim
                deserunt voluptate mollit amet sint anim do dolor commodo. Ut in magna minim veniam anim velit
                magna.</p>
        </div>
        <div class="tab-pane fade" id="nav-9" role="tabpanel" aria-labelledby="nav-9-tab">
            <h2>Seminarer</h2>
            <h4>Enim nulla ut incididunt incididunt eiusmod minim reprehenderit irure.</h4>
            <p>Ex exercitation ad ea esse labore consequat. Esse aute eu ad ipsum occaecat. Exercitation
                cupidatat nisi proident et dolor id fugiat tempor cupidatat excepteur. Enim proident anim
                deserunt voluptate mollit amet sint anim do dolor commodo. Ut in magna minim veniam anim velit
                magna.</p>
        </div>
    </div>
    {% capture reg-url %}?n={{ page.title | uri_escape }}{% endcapture %}

</div>

{% assign pageurl = page.url %}


<div class="bg-black-coral white">
    {% include secments/other-courses.html url=pageurl %}
</div>

{% include secments/vision.html %}


<div class="bg-platinum">
    {% include secments/newsletter.html %}
</div>

{% include secments/events.html %}

<!-- end -->