---
layout: default
---


{% if page.header %}

<div class="wb-hero-banner clear-background">
    <div class="container-fluid narrow-container grid-2 gap-40 align-items-center">
        <div class="hero-banner-text">
            <h1 class="banner-title">{{ page.header }}</h1>
            {% if page.sub-header %}
            <h2>{{ page.sub-header }}</h2>
            {% endif %}
            {% if page.teaser %}<h3>{{ page.teaser }}</h3>{% else %}<p class="xlarge">{{ page.description }}</p> {% endif %}
        </div>



        <div class="hero-image">
            <img src="{{ page.image }}" data-proofer-ignore alt="{{ page.title }}"></div>
    </div>
</div>
<div class="container-fluid narrow-container no-up">
    <!--     <div class="hero-banner wide udd">

        <div class="hero-banner-text">
            <h1 class="banner-title">{{ page.header }}</h1>
            {% if page.sub-header %}
            <h2>{{ page.sub-header }}</h2>
            {% endif %}
            {% if page.teaser %}<p>{{ page.teaser }}</p>{% else %}<p>{{ page.description }}</p> {% endif %}
        </div>
        <div class="hero-banner-image m-bottom">

            <div class="color-box"></div>
            <div class="hero-image">
                <img src="{{ page.image }}" data-proofer-ignore alt="{{ page.title }}"></div>
        </div>



    </div> -->

    {% endif %}
    
    <div class="with-padding">

        <div class="video-container"><video controls>
                <source src="/videos/noeddesbo-ccc.mp4" type="video/mp4">
                Your browser does not support HTML video.
            </video></div>
        <div>
            <div class="testimonial-quote group right">
                <div class="quote-container">
                    <div>
                        <blockquote>
                            <p class="black">Det er fantastisk</p>
                        </blockquote>

                    </div>
                </div>
            </div>


            <h4>Det startede som mentale udfordringer. Med tiden har det udviklet sig til en ny passion</h4>
            <p>Nu uddanner Bjerringbro-Silkeborg Håndbolds Jesper Nøddesbo sig gennem Copenhagen Coaching Center. Og
                uddannelsen gør, at han nogle gange ligefrem glæder sig til livet efter håndbold.</p>
        </div>
        <a target="_blank"
            href="https://4-player.dk/uddannelse-og-udvikling/online-uddannelse/international-master-of-business-coaching/"><button
                class="btn">Se mere på 4Player</button></a>
        <div class="clearfix"></div>
    </div>
    <br><br>
    <div class="grid-2 justify-content-between grid-auto-5 r-gap-40">
        <div class="education-content">
            {{ page.content }}
            {% capture reg-url %}?n={{ page.title | uri_escape }}{% endcapture %}
        </div>
        <div class="facta-column">
            <div class="facta-box">

                {% if page.extern-event %}
                {% for post in site.posts %}
                {% if post.title == page.extern-event %}
                <div class="card">
                    <div class="card-body">
                        <a href="{{ post.url }}">
                            <h4>{{ post.title }}</h4>

                            <p>{{ page.extern-event-text}}</p>

                        </a>
                    </div>
                </div>

                {% endif %}
                {% endfor %}
                {% endif %}
                <b>
                    <p>Pris:</p>
                </b>
                <p> {{ page.price }} </p>
                {% if page.location %}
                <b>
                    <p>Sted:</p>
                </b>
                <p> {{ page.location }} </p>
                {% endif %}

                <!-- Datoer  -->

                {% if page.hold_eller_begivenheder == true %}
                <b>
                    <p>{{page.event-title}}:</p>
                </b>

                {% for event in page.events %}

                {% if event.subcategory == true %}


                <h3>{{ event.overskrift }}</h3>

                {% for subcat in event.subcat %}
                <div class="date-box">
                    <a class="date-links" role="button">
                        {{ subcat.sub-cat-title }}<i class="fas fa-caret-down"></i>
                    </a>
                    <div id="dateCollapse" class="collapse-dates">
                        <ul>
                            {% for dato in subcat.datoer %}
                            <li>
                                {{ dato }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}

                {% else %}

                {% if event.dato %}
                <div class="date-box">
                    <a class="date-links" role="button">
                        {{ event.overskrift }}<i class="fas fa-caret-down"></i>
                    </a>
                    <div id="dateCollapse" class="collapse-dates">
                        <ul>
                            {% for dato in event.dato %}
                            <li>
                                {{ dato }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% else %}
                <div class="date-box">{{ event.overskrift }}</div>

                {% endif %}


                {% endif %}


                {% endfor %}


                {% else %}
                <!--1-->
                {{ page.hold_information }}
                {% endif %}
                <!--1-->




                {% if page.contact-person %}
                <b>
                    <p>Kontakt:</p>
                </b>
                {% for employee in site.employees %}
                {% if employee.title == page.contact-person %}
                <div class="contact">
                    <img class="contact-img" src="{{ employee.small-portrait-image }}"
                        alt="{{ employee.title }}, {{ employee.description}}">
                    <div>
                        <a href="{{ employee.url }}" data-proofer-ignore>{{ employee.title }}</a>
                        <a href="tel:{{ employee.call }}" data-proofer-ignore>{{ employee.call }}</a>
                        <a href="mailto:{{ employee.email }}" data-proofer-ignore>{{ employee.email }}</a></div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                </span>
                {% if page.emails %}
                <div class="modal fade black" id="{{ page.title | remove: " " }}-modal" tabindex="-1" role="dialog" aria-labelledby="pfp-c-modal" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg black" role="document">
                    <div class="modal-content black">
                      <div class="modal-header">
                         
                        <h2 class="modal-title" id="pfp-modal">Tilmeld dig {{ page.title }}</h2>
                        <button type="button" class="close close-modal-button" data-dismiss="modal" aria-label="Close">
                          <span>&times;</span>
                        </button>
                      </div>
                      
                      <div class="modal-body">
                        <form
                        action="https://formspree.io/f/mjvpqjbq" class="full-width round"
                        method="POST"
                      >
                      <span>
                      
                         
                        
                        <input type="text" name="_fname" placeholder="Fornavn*" required/>
                        <input type="hidden" name="emails" value="{% for email in page.emails %}{% if forloop.last %}{{ email }}{% else %}{{ email }},{% endif %}{% endfor %}"/>
                        <input type="hidden" name="uddannelse" value="{{ page.title }}"/>
                        <input type="text" name="_lname" placeholder="Efternavn*" required/>
                        <input type="email" name="email" placeholder="Email*" required>
                        <input type="tel" name="mobil" pattern="[0-9]{8}" placeholder="Mobil*" required>
                        <input type="text" name="virksomhed" placeholder="Virksomhed"/>
                        <input type="text" name="EAN" placeholder="EAN*" required/>
                        <input type="text" name="fakturaadresse" placeholder="Faktura adresse" required/>
                        <div class="grid-2">
                          <input type="text" name="postnummer" placeholder="Postnummer*" required>
                          <input type="text" name="by" placeholder="By*" required>
                        </div>
                        <input type="text" name="cvr" placeholder="CVR*" required/>
                          
                      </span>
                      
                          <textarea name="besked" cols="30" rows="10" placeholder="Evt. kommentarer"></textarea>
                      <br><br>
                          <label class="white"> 
                            <b>Nyhedsbrev</b><br>
                            <input class="checkbox" type="checkbox" name="_optin"/> Ja tak, jeg vil gerne modtage CCC's nyhedsbrev
                          </label><br><br>
                          <label class="white">
                            <b>Samtykkeerklæring*</b><br>
                            <input class="checkbox" type="checkbox" name="samtykke" required /> <span class="small inline white">Jeg giver samtykke til, at CCC må bruge
                            mine oplysninger til at behandle min tilmleding. Derudover giver jeg samtykke til, at CCC opbevarer og
                            behandler mine persondata som er beskrevet i CCC's privatlivspolitik.</span>
                          </label>
                        <!-- your other form fields go here -->
                        <button class="green-button w-100 capped" type="submit">Tilmeld</button>
                      </form>
                      </div>
                    </div>
                  </div>
                </div>
                
                <a class="reg-link" href="#" data-toggle="modal" data-target="#{{ page.title | remove: " " }}-modal">Tilmeld dig her</a>
                {% else %}
                <a class="reg-link" href="/registration/{{ reg-url }}">Tilmeld dig her</a>
              {% endif %}

                {% if page.pdf %}
                {% if page.pdf != "" %}
                <a data-proofer-ignore target="_blank" alt="pdf {{ page.title }}" href="{{ page.pdf }}"
                    class="pdf-link">Download
                    PDF</a>
                {% endif %}



                {% endif %}
<br>
                <p>Du kan trygt melde dig til vores næste hold. Vi følger situationen og de løbende retningslinjer nøje for at undgå spredningen af covid-19.</p>
            </div>
        </div>

    </div>
</div>