---
layout: default-2
---

<div class="container-fluid py-5">
    <div class="pt-5">
        <div class="row pt-5">
            <div class="col-12 offset-xl-2 col-xl-8">
                <div class="row gy-4">
                    <div class="col-md-6 col-12">
                        <img class="img-fluid w-100" src="{{ page.image }}" alt="">
                    </div>
                    <div class="col-md-6 col-12">
                        <h3>{{ page.title }}</h3>
                        <p class="fw-bold fs-6">{{ page.price }}</p>
                        {{ page.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>