---
layout: default
---

<div class="container-fluid py-5">
    <div class="small-container pt-3">
        <div class="pt-5">
            <div class="row pt-5 gy-5">
                <div class="col-md-6 col-12 h-100">
                    <img src="{{ page.image }}" alt="{{ page.title }}" class="img-fluid shadow">
                </div>
                <div class="col-md-6 col-12">
                    <h3>{{ page.title }}</h3>
                    {% if page.post-title %}
                    <h5>{{ page.post-title }}</h5>
                    {% endif %}

                    {% if page.e-price %}
                    <span class="dark-border mb-3 mt-2">Bog: {{ page.price }} kr.

                    </span>
                    <span class="dark-border mb-3 mt-2">E-bog: {{ page.e-price }} kr.

                    </span>
                    {% else %}
                    <span class="dark-border mb-3 mt-2">{{ page.price }} kr.

                    </span>
                    {% endif %}
                    {{ page.content }}

                    <a href="{{ page.link }}" target="_blank" class="btn btn-black-coral d-block text-white">Køb her</a>
                </div>

                <a class='animated-arrow mt-5' href='/udgivelser/'>
                    <span class='the-arrow -left rotated'>
                        <span class='shaft'></span>
                    </span>
                    <span class='main'>
                        <span class='text'>
                            <p class="pt-4">
                                Tilbage til udgivelser
                            </p>
                        </span>
                        <span class='the-arrow -right rotated'>
                            <span class='shaft'></span>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>