---
layout: default
---

{% include navigation.html %}

<div class="hero-image">
    <span>
        <h1>{{ page.title }}</h1>
        {% if page.hero-description %}
        <p>{{ page.hero-description }}</p>
        {% endif %}
    </span>
</div> 

<!-- This block of code will be reworked, once we've decided what we're going to do with the hero images on the entire page -->

<!-- 
{% if page.image %}
    <div class="hero-image" style="background-image: url('{{ page.image }}')">
    <span>
        <h1>{{ page.title }}</h1>
    </span>
</div> 

{% else %}

<div class="hero-image">
    <span>
        <h1>{{ page.title }}</h1>
    </span>
</div>

{% endif %}
-->

<div class="page">
    {{ content }}
</div>

{% include footer.html %}