---
layout: default
---



{% if page.header %}
<div class="hero-banner">
   
    <div class="hero-banner-text">
        <h1 class="banner-title">{{ page.header }}</h1>
        {% if page.sub-header %}	
        <h2>{{ page.sub-header }}</h2>	
        {% endif %}
        <p>{{ page.description }}</p>
    </div>
    <div class="hero-banner-image">

    <div class="color-box"></div>
    <div class="hero-image">
        <img src="{{ page.image }}" data-proofer-ignore alt="Copenhagen Coaching Center"></div>
</div>

</div>
{% endif %}

<div class="page">
    {{ content }}
</div>