---
layout: default
---

<div
    style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('{{ page.image }}'); background-size: cover; background-position: center;">
    <div class="py-5">
        <div class="container-fluid text-center py-5">
            {% if page.pre-title %}
            <p class="large text-white">{{ page.pre-title }}</p>
            {% endif %}
            <h1 class="text-white">{{ page.title }}</h1>

        </div>
    </div>

</div>

<div class="container-fluid py-5">
    <div class="row">
        <div class="offset-lg-2 col-lg-8 col-12">
            <p><a href="/academy/psykologisk-filosofisk-psykoterapi/" class="thin capped"><i
                class="fas fa-long-arrow-alt-left"></i> Tilbage til Psykologisk filosofisk psykoterapi</a></p>


        {{ page.content }}
        </div>
    </div>
</div>

{% assign kontakt = "Camilla Ingwersen" %}
<div class="container-fluid mb-5 mt-2">
    {% for employee in site.employees %}
    {% if employee.title == kontakt %}
        <div class="row">
            <div class="offset-xl-2 col-12 col-xl-8">
                <div class="row gy-3">
                    <div class="col-md-7 col-12">



                        <div class="d-flex h-100 justify-content-center align-items-center bg-dust-blue rounded p-3">
                            <div>

                                <p class="text-white large"><b>Har du spørgsmål til
                                        uddannelsen?</b> Kontakt {{ employee.title }} nedenfor. Vi glæder os til at
                                    besvare
                                    dine
                                    spørgsmål.</p>

                                <div class="d-flex justify-content-end">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <p class="text-white text-end mb-0"><b><a href="{{ employee.url }}"
                                                        data-proofer-ignore>{{
                                                        employee.title }}</a></b><br>

                                                <a href="tel:{{ employee.call }}" data-proofer-ignore>+45 {{
                                                    employee.call
                                                    }}</a><br>
                                                <a href="mailto:{{ employee.email }}" data-proofer-ignore>{{
                                                    employee.email
                                                    }}</a>
                                            </p>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <img class="small-image rounded-circle"
                                                src="{{ employee.small-portrait-image }}"
                                                alt="{{ employee.title }}, {{ employee.description}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-5 col-12">
                        <div class="d-flex h-100 justify-content-center align-items-center text-center rounded p-5"
                            style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/graphic/download.png'); background-position: center; background-size: cover;">
                            <div>
                                <h4 class="text-white text-center">Vil du vide mere om uddannelsen?</h4>
                                <br>
                                <a class="btn-dust-green" href="#" data-toggle="modal" data-target="#pfp-pdf-modal">Hent brochure</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </div>


    {% endif %}
    {% endfor %}
</div>


<!-- <div class="bg-platinum-2 mt-50">
    <div class="container-fluid extra-narrow-container pt-50">
        <div class="grid-2 gap-40 r-gap-40">
            <div class="object-fit-full-width">
                <img class="object-fit" src="/images/pfp/17.jpg" alt="">
            </div>

            {% assign kontakt = "Kim Gørtz" %}


            <div>
                <a href="#" class="border-button w-100 capped dark large">Download brouchure</a>
                <br>
                <h3>I tvivl om uddannelsen er den rette for dig?</h3>
                <p>Kontakt Kim nedenfor på <a href="mailto:kgcopenhagencoaching.dk">kg@copenhagencoaching.dk</a></p>

            </div>
        </div>
    </div>
</div>
 -->

{% include sections/pip-banner.html %}



{% include sections/pfp-tilmelding.html %}

<div class="bg-platinum">
    <div class="container-fluid py-5">
        <h3 class="mb-4">Interesseret i vores andre uddannelser?</h3>
        <div class="row gx-5">
            {% assign educations = site.educations | where_exp:"item",
            "item.title != 'Psykologisk filosofisk psykoterapi'" %}
            {% for edu in educations limit: 4 %}
            <div class="col-lg-4 col-xl-3 col-12 col-sm-6">
                <a href="{{ edu.url }}">
                    <div class="card">
                        <div class="outer-img-top">
                            <img src="{{ edu.image }}" alt="...">
                        </div>
    
                        <div class="card-body bg-platinum py-2 px-0">
    <h4 class="text-uppercase">{{ edu.title }}</h4>
                            
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<div class="bg-beaver">
    {% include sections/newsletter.html %}
</div>

