---
layout: default
---
<div class="full-banner grid-1 align-items-center align-content-center"
    style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('{{ page.image }}'); background-position: center; background-size: cover;">
    <div class="container-fluid extra-narrow-container white">
        <div>
            <h1 class="h1-l">{{ page.header }}</h1>
            <hr class="half-margin">

            {% if page.sub-header %}
            <h3>{{ page.sub-header }}</h3>
            {% endif %}
            {% if page.teaser %}<p class="large">{{ page.teaser }}</p>{% else %}<p class="large">{{ page.description }}
            </p> {% endif %}
            <br>
            <br>
            <p>
                <a class="copper-red-btn large thin" data-proofer-ignore href="#big-five" data-toggle="modal"
                    data-target="#bf-modal">Hør mere</a>
            </p>
            <br>
            <p> <a class="orange-btn large thin" data-proofer-ignore href="#big-five" data-toggle="modal"
                    data-target="#bf-modal">Få tilsendt brochure</a></p>

        </div>


    </div>
</div>



<div class="container-fluid extra-narrow-container pt-50 pb-50 align-center">

    <div class="nav nav-tabs bold mb-0 fade-pallette" id="myTab" role="tablist">
        <a class="nav-item nav-link active" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab"
            aria-controls="nav-coaching" aria-selected="false">Overblik</a>
        <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2"
            aria-selected="false">Moduler</a>
        <a class="nav-item nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab" aria-controls="nav-3"
            aria-selected="false">Deltagerprofil</a>

        <a class="nav-item nav-link" id="nav-5-tab" data-toggle="tab" href="#nav-5" role="tab" aria-controls="nav-5"
            aria-selected="false">Undervisere</a>
        <a class="nav-item nav-link" id="nav-6-tab" data-toggle="tab" href="#nav-6" role="tab" aria-controls="nav-6"
            aria-selected="false">Praktisk</a>
        <a class="nav-item nav-link" id="nav-7-tab" data-toggle="tab" href="#nav-7" role="tab" aria-controls="nav-7"
            aria-selected="false">FAQ</a>

        <a class="nav-item nav-link" id="nav-10-tab" data-toggle="tab" href="#nav-10" role="tab" aria-controls="nav-10"
            aria-selected="false">Infomøde</a>
        <a class="nav-item nav-link" href="#pfp" data-toggle="modal" data-target="#pfp-modal">Tilmelding</a>

    </div>
</div>




<div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">

        <div class="full-banner-small grid-1 align-items-center align-content-center white"
            style="background-image: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/graphic/foot-prints.jpg'); background-size: cover; background-position: top;">
            <div class="container-fluid extra-narrow-container">
                <div>
                    <h1>Ide, Formål og Vision</h1>
                    <hr class="half-margin">


                    <p class="large">'at kunne møde et andet menneske som menneske og med-menneske'</p>

                </div>


            </div>
        </div>

        <div class="bg-platinum-2">
            <div class="container-fluid extra-narrow-container align-center">
                <p>Grundlæggende set er ideen, formålet og visionen med denne 4-årige terapi-uddannelse at
                    kombinere,
                    nuancere og kvalificere samarbejdet mellem den filosofiske tradition og dannelse og den
                    psykologiske og
                    psykoterapeutiske tradition og dannelse. I dette spektrum tilbyder og muliggør uddannelsen
                    et dybere,
                    højere og langt bredere beredskab at møde sin klient/borger og sig selv med. Gennem en lang
                    række
                    metoder, øvelser, prøver og udfordringer, teoretisk såvel som praktisk, dannes den kommende
                    terapeut på
                    denne uddannelse i at kunne møde det andet menneske som menneske og med-menneske.
                </p>
            </div>


            <div class="container-fluid extra-narrow-container align-center no-up pb-100">
                <div class="grid-3 gap-20 r-gap-20">
                    <div>
                        <a href="/pfp/om-uddannelsen/">

                            <div class="card white no-border h-200 align-center align-content-center align-items-center override-flex pb-0"
                                style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/pfp/27.png'); background-position: center; background-size: cover;">

                                <h3 class="capped medium card-title">Om uddannelsen</h3>

                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/pfp/terapisyn/">

                            <div class="card white no-border h-200 align-center align-content-center align-items-center override-flex pb-0"
                                style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/pfp/11.png'); background-position: center; background-size: cover;">

                                <h3 class="capped medium card-title">Terapisyn</h3>

                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/pfp/fleksibel-videreuddannelse/">

                            <div class="card white no-border h-200 align-center align-content-center align-items-center override-flex pb-0"
                                style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/pfp/5.png'); background-position: center; background-size: cover;">

                                <h3 class="capped medium card-title">Fleksibel videreuddannelse</h3>

                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/pfp/undervisning-og-forberedelse/">

                            <div class="card white no-border h-200 align-center align-content-center align-items-center override-flex pb-0"
                                style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/pfp/19.png'); background-position: center; background-size: cover;">

                                <h3 class="capped medium card-title">Undervisning og forberedelse</h3>

                            </div>
                        </a>
                    </div>

                    <div>
                        <a href="/pfp/den-formelle-ramme/">

                            <div class="card white no-border h-200 align-center align-content-center align-items-center override-flex pb-0"
                                style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/pfp/15.png'); background-position: center; background-size: cover;">

                                <h3 class="capped medium card-title">Den formelle ramme</h3>

                            </div>
                        </a>
                    </div>

                    <div>
                        <a href="/pfp/advisory-board/">

                            <div class="card white no-border h-200 align-center align-content-center align-items-center override-flex pb-0"
                                style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/graphic/water.jpg'); background-position: center; background-size: cover;">

                                <h3 class="capped medium card-title">Advisory Board</h3>

                            </div>
                        </a>
                    </div>


                </div>
            </div>
        </div>








        {% include secments/pfp-tilmelding.html %}


    </div>


    <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
        <div class="container-fluid extra-narrow-container no-up-n-down">

            {% include pfp-moduls.html %}
        </div>
    </div>

    <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
        <div class="container-fluid extra-narrow-container no-up">
            <hr class="hr-small-t">
            <h2>Målgruppe og anvendelse</h2>
            <hr class="hr-small-b">
            <p>Målgruppen er primært frontmedarbejdere indenfor den sociale sektor og behandlings-forvaltning, dvs.
                behandlere i kommunalt regi, job-center-medarbejdere, men også (mellem)ledere, team-ledere,
                HR-medarbejdere og mennesker, der generelt arbejder med dialog og mellemmenneskelig kommunikation i
                grupper såvel som individuelt (fx borgere, kunder, klienter, kollegaer, etc.) vil finde anvendelse i
                uddannelsens effekter, virkninger og opøvede færdigheder, fx ift konflikthåndtering og målrettede
                samtaler.</p>
        </div>

    </div>

    <div class="tab-pane fade" id="nav-5" role="tabpanel" aria-labelledby="nav-5-tab">
        <div class="container-fluid extra-narrow-container no-up">
            <hr class="hr-small-t">
            <h2>Gennemgående undervisere</h2>
            <hr class="hr-small-b">
            <p>Vores team består af eksperter med omfattende ledelseserfaring, coachingerfaringer i praksis, og mange
                forskellige akademiske baggrunde. Copenhagen Coaching Center blev dannet i 2004 og er et partnerejet
                selskab, der udbyder en række uddannelser indenfor coaching og ledelse samt yder ledelsessparring,
                coaching og udfører konsulentopgaver, herunder skræddersyede udviklingsforløb for virksomheder og teams.
            </p>
            <p>CCC har siden virksomhedens start arbejdet for at skabe de bedste uddannelser for ledere og konsulenter.
                Vores undervisning er praktisk orienteret og enkel at omsætte og anvende i dagligdagen. Produkter og
                metoder er forskningsbaserede og vokser ud af en kombination af velkendte og underbyggede teorier. Da vi
                er uddannelsesinstitution for nye såvel som garvede ledere og konsulenter, er vi altid opdateret på
                vores specialer. Med vores brede teoretiske grundlag, forsøger vi at møde den enkelte i sin egen,
                individuelle læreproces for herigennem at skabe høj faglig og personlig læring – individuelt, men også
                kollektivt. Vores opgave er derfor at støtte det udforskende projekt som læring kan være.</p>
            <br>
            <div>
                <div class="bg-platinum-2 p-20 grid-2 grid-20-80 split-phone r-gap-20">
                    <div class="img-hw150"><img src="/images/about/employees/mette-mejlhede.png" alt=""></div>
                    <div>
                        <h4>Mette Mejlhede</h4>

                        <p>Qui labore proident dolore sint cillum nisi aute Lorem amet id minim quis deserunt. Excepteur
                            nostrud ipsum commodo pariatur proident. Qui mollit mollit anim consequat culpa aute officia
                            mollit do deserunt duis consectetur sint.</p>
                    </div>

                </div>
            </div>
            <div>
                <div class="p-20 grid-2 grid-80-20 split-phone r-gap-20">

                    <div>
                        <h4>Kim Gørtz</h4>
                        <p>Qui labore proident dolore sint cillum nisi aute Lorem amet id minim quis deserunt. Excepteur
                            nostrud ipsum commodo pariatur proident. Qui mollit mollit anim consequat culpa aute officia
                            mollit do deserunt duis consectetur sint.</p>
                    </div>
                    <div class="img-hw150"><img src="/images/about/employees/kim-gørtz.png" alt=""></div>

                </div>
            </div>
            <div>
                <div class="bg-platinum-2 p-20 grid-2 grid-20-80 split-phone r-gap-20">
                    <div class="img-hw150"><img src="/images/graphic/placeholder-profile.jpg" alt=""></div>
                    <div>
                        <h4>Underviser 3</h4>
                        <p>Qui labore proident dolore sint cillum nisi aute Lorem amet id minim quis deserunt. Excepteur
                            nostrud ipsum commodo pariatur proident. Qui mollit mollit anim consequat culpa aute officia
                            mollit do deserunt duis consectetur sint.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="nav-6" role="tabpanel" aria-labelledby="nav-6-tab">

        <div class="bg-platinum">
            <div class="container-fluid extra-narrow-container pt-100 pb-100">
                <h2>Ansøgningsfrist</h2>
                <p>In ullamco ipsum consectetur sint qui quis sint officia sunt. Officia dolor ullamco. Id aliqua labore
                    dolore magna aliquip sint occaecat tempor cupidatat velit Lorem.</p>

            </div>
        </div>

        <!--  <div class="container-fluid extra-narrow-container pb-100 pt-100" style="background-image: url('/images/pfp/10.png'); background-position: center; background-size: cover;">

        </div> -->


        <div class="container-fluid extra-narrow-container pt-75">
            <a class="border-button xlarge" href="/pfp/adgangskrav">Se adgangskrav <i
                    class="fas fa-long-arrow-alt-right"></i></a>
        </div>

        <div class="mb-50">
            <div class="container-fluid extra-narrow-container pt-50">
                <div class="grid-2 gap-40">
                    <div>
                        <div class="object-fit-full-width h-300">
                            <img src="/images/pfp/1.png" alt="" class="object-fit">
                        </div>
                        <br>
                        <h2>Pris og finansiering</h2>
                        <p>Priserne ligger fra 40.000 kr. og f.eks. kan de individuelle moduler købes for 12.500 kr.
                            stk. som er inklusiv elektronisk adgang til relevante artikler samt terapeutiske modeller.
                            Beløbene kan også afdrages.</p>
                        <a href="/pfp/finansiering/" class="thin capped">Læs mere omkring finansiering <i
                                class="fas fa-long-arrow-alt-right"></i></a>


                    </div>
                    <div>
                        <h2>Undervisningssted</h2>
                        <p>Undervisning foregår på Blegdamsvej 104C, 3. sal, baghuset th., 2100 København Ø</p>
                        <a target="_blank" href="https://goo.gl/maps/eRMDDZ2XMoLAicT7A"
                            class="thin capped">Rutevejledning <i class="fas fa-long-arrow-alt-right"></i></a> <br><br>
                        <div class="object-fit-full-width h-300">
                            <img src="/images/pfp/16.png" alt="" class="object-fit">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="bg-deep-taupe pt-100 pb-100 white">
            <div class="container-fluid extra-narrow-container pt-50">
                <h2>Studieprtal</h2>
                <p>Excepteur anim tempor sint elit. Consequat tempor enim nisi enim ad amet dolore ea. Cupidatat
                    exercitation nulla ut magna Lorem aliquip ex cupidatat duis dolor duis.</p>
                <p>Labore incididunt est non esse ipsum officia esse anim nisi. Aute ut Lorem amet anim labore aliqua
                    elit aliqua ex. Ea dolore laborum laborum et proident sint nisi adipisicing nostrud. Eiusmod
                    reprehenderit qui aliquip proident nulla elit ut laborum dolore. Culpa tempor ut aliqua dolore.
                    Commodo magna cillum enim ut sunt sit non excepteur fugiat veniam dolore veniam nostrud eu.</p>
            </div>
        </div>

        <!--             <div class="container-fluid extra-narrow-container align-center no-up pb-100">
                <div class="grid-3 white gap-20 r-gap-20">
                    <div>
                        <a href="/pfp/adgangskrav/">
        
                            <div class="card no-border h-200 align-center align-content-center align-items-center override-flex pb-0"
                                style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/pfp/14.png'); background-position: center; background-size: cover;">
            
                                <h3 class="capped medium card-title">Adgangskrav</h3>
            
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/pfp/ansoegningsfrist/">
        
                            <div class="card no-border h-200 align-center align-content-center align-items-center override-flex pb-0"
                                style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/pfp/21.png'); background-position: center; background-size: cover;">
            
                                <h3 class="capped medium card-title">Ansøgningsfrist</h3>
            
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/pfp/finansiering/">
        
                            <div class="card no-border h-200 align-center align-content-center align-items-center override-flex pb-0"
                                style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/pfp/5.png'); background-position: center; background-size: cover;">
            
                                <h3 class="capped medium card-title">Finansiering</h3>
            
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/pfp/undervisningssted/">
        
                            <div class="card no-border h-200 align-center align-content-center align-items-center override-flex pb-0"
                                style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/pfp/19.png'); background-position: center; background-size: cover;">
            
                                <h3 class="capped medium card-title">Undervisningssted</h3>
            
                            </div>
                        </a>
                    </div>
        
                    <div>
                        <a href="/pfp/studieportal/">
        
                            <div class="card no-border h-200 align-center align-content-center align-items-center override-flex pb-0"
                                style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/pfp/15.png'); background-position: center; background-size: cover;">
            
                                <h3 class="capped medium card-title">Studieportal</h3>
            
                            </div>
                        </a>
                    </div>
                </div>
            </div> -->











    </div>

    <div class="tab-pane fade" id="nav-7" role="tabpanel" aria-labelledby="nav-7-tab">
        <div class="container-fluid extra-narrow-container no-up">
            <h2>FAQ</h2>
            <h4>Enim nulla ut incididunt incididunt eiusmod minim reprehenderit irure.</h4>
            <p>Ex exercitation ad ea esse labore consequat. Esse aute eu ad ipsum occaecat. Exercitation
                cupidatat nisi proident et dolor id fugiat tempor cupidatat excepteur. Enim proident anim
                deserunt voluptate mollit amet sint anim do dolor commodo. Ut in magna minim veniam anim velit
                magna.</p>
        </div>
    </div>

    <div class="tab-pane fade" id="nav-10" role="tabpanel" aria-labelledby="nav-10-tab">
        <div class="container-fluid extra-narrow-container no-up align-center">
            <h3>Lyder uddannelsen som noget for dig, så meld dig til vores kommende infomøde</h3>

            <br>
            <p class="large">22. Februar 2021 kl. 15-16.00</p>
            <br>

            <form action="https://formspree.io/f/myybvnyp" method="POST" class="white-form">
                <span>
                    <input class="input-form" type="text" placeholder="Fornavn" name="_fname" required>
                    <input class="input-form" type="text" placeholder="Efternavn" name="_lname" required>

                    <input class="input-form" type="email" placeholder="Email" name="email" required>
                    <input class="input-form" type="text" placeholder="Telefon" name="tlf" required>
                </span>



                <p><input class="display-inline" type="checkbox" name="_optin" /> Jeg vil gerne tilmeldes CCC's
                    nyhedsbrev.</p>



                <button class="green-button" type="submit">Tilmeld</button>
            </form>

        </div>

    </div>

    <div class="tab-pane fade" id="nav-8" role="tabpanel" aria-labelledby="nav-8-tab">
        <div class="container-fluid extra-narrow-container no-up align-center">
            <br>
            <h2>Tilmelding</h2>
            <br>
            <form class="white-form" action="https://formspree.io/f/mvovyqez" method="POST">


                <input type="text" name="name" placeholder="Navn" required>
                <input type="text" name="email" placeholder="E-mail" required>

                <input type="text" name="tlf" placeholder="Tlf">
                <input type="text" name="virksomhed" placeholder="Virksomhed">
                <textarea name="besked" cols="30" rows="10" placeholder="Evt. kommentar"></textarea>


                <!-- your other form fields go here -->

                <button class="dust-green-btn" type="submit">Tilmeld</button>
            </form>

        </div>
    </div>


</div>




{% for employee in site.employees %}
{% if employee.title == page.contact-person %}
<div class="container-fluid medium-narrow-container pt-100 pb-100">

    <div class="grid-55-5-40 r-gap-40">
        <div class="bg-blue white p-20 grid-1 r-gap-20">


            <div>
                <p class="large"><b>Har du spørgsmål til
                        uddannelsen?</b> Kontakt Kim nedenfor. Vi glæder os til at besvare dine spørgsmål.</p>
            </div>

            <div class="grid-fr-120 gap-20 r-gap-20">
                <div class="align-right a-items-c">
                    <div>
                        <b><a href="{{ employee.url }}" class="large" data-proofer-ignore>{{ employee.title }}</a></b>
                        <br>
                        <span class="thin"><a href="tel:{{ employee.call }}" data-proofer-ignore>+45 {{ employee.call
                                }}</a></span> <br>
                        <span class="thin"><a href="mailto:{{ employee.email }}" data-proofer-ignore>{{ employee.email
                                }}</a></span>
                    </div>
                </div>
                <div class="outer-small-round-image">
                    <img class="small-round-image" src="{{ employee.small-portrait-image }}"
                        alt="{{ employee.title }}, {{ employee.description}}">
                </div>

            </div>



        </div>

        <div class="bg-platinum a-items-c align-center p-20 white"
            style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/graphic/mennesker.jpg'); background-position: center; background-size: cover;">
            <h3>Interesseret i andre uddannelser?</h3>
            <br>
            <div><a class="dust-green-btn" href="/">Se mere <i class="fas fa-arrow-right"></i></a></div>

        </div>

    </div>
</div>

{% endif %}
{% endfor %}





{% capture reg-url %}?n={{ page.title | uri_escape }}{% endcapture %}


{% assign page-contact = page.contact-person %}

<div
    style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/graphic/PSBOL.jpg'); background-attachment: fixed; background-size: cover;">
    <div class="container-fluid extra-narrow-container pt-100 pb-100 white">
        <p>Lancering af bogen</p>
        <h2>Protreptik som behandlingsform og ledelsesdisciplin</h2>
        <br>
        <a class="copper-red-btn" href="/protrptik-som-behandlingsform-og-ledelsesdisciplin/">Læs mere</a>
    </div>
</div>

{% assign pageurl = page.url %}




{% include secments/vision.html %}


<div class="bg-deep-taupe white">
    {% include secments/newsletter.html %}
</div>


<!-- end -->