---
layout: default
---
<div class="full-banner grid-1 align-items-center align-content-center"
    style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('{{ page.image }}'); background-position: center; background-size: cover;">
    <div class="container-fluid extra-narrow-container white">
        <div>
            <h1 class="h1-l">{{ page.header }}</h1>
            <hr class="half-margin">

            {% if page.sub-header %}
            <h3>{{ page.sub-header }}</h3>
            {% endif %}
            {% if page.teaser %}<p class="large">{{ page.teaser }}</p>{% else %}<p class="large">{{ page.description }}
            </p> {% endif %}
            <br>
            <br>
            <a class="cinereous-btn large thin" data-proofer-ignore href="#big-five" data-toggle="modal"
                data-target="#bf-modal">Hør mere</a>

        </div>


    </div>
</div>



<div class="container-fluid extra-narrow-container pt-50">


    <div>
        <div class="nav nav-tabs fade-pallette" id="myTab" role="tablist">
            <a class="nav-item nav-link active" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab"
                aria-controls="nav-coaching" aria-selected="false">Overblik</a>
            <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2"
                aria-selected="false">Opbygning</a>
            <a class="nav-item nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab" aria-controls="nav-3"
                aria-selected="false">Deltagerprofil</a>
            <a class="nav-item nav-link" id="nav-4-tab" data-toggle="tab" href="#nav-4" role="tab" aria-controls="nav-4"
                aria-selected="false">Anbefalinger</a>
            <a class="nav-item nav-link" id="nav-5-tab" data-toggle="tab" href="#nav-5" role="tab" aria-controls="nav-5"
                aria-selected="false">Undervisere</a>
            <a class="nav-item nav-link" id="nav-6-tab" data-toggle="tab" href="#nav-6" role="tab" aria-controls="nav-6"
                aria-selected="false">Praktisk</a>
            <a class="nav-item nav-link" id="nav-7-tab" data-toggle="tab" href="#nav-7" role="tab" aria-controls="nav-7"
                aria-selected="false">FAQ</a>
            <a class="nav-item nav-link" id="nav-8-tab" data-toggle="tab" href="#nav-8" role="tab" aria-controls="nav-8"
                aria-selected="false">Tilmelding</a>
        </div>
    </div>
    <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
            {{ page.content }}
            <hr class="hr-small-t">
            <h2>Ide, formål og vision</h2>
            <hr class="hr-small-b">
            <p>Grundlæggende set er ideen, formålet og visionen med denne 4-årige terapi-uddannelse at kombinere,
                nuancere og kvalificere samarbejdet mellem den filosofiske tradition og dannelse og den psykologiske og
                psykoterapeutiske tradition og dannelse. I dette spektrum tilbyder og muliggør uddannelsen et dybere,
                højere og langt bredere beredskab at møde sin klient/borger og sig selv med. Gennem en lang række
                metoder, øvelser, prøver og udfordringer, teoretisk såvel som praktisk, dannes den kommende terapeut på
                denne uddannelse i at kunne møde det andet menneske som menneske og med-menneske.</p>
                <br>
                <hr class="hr-small-t">
                <h2>Målgruppe og anvendelse</h2>
                <hr class="hr-small-b">
                <p>Målgruppen er primært frontmedarbejdere indenfor den sociale sektor og behandlings-forvaltning, dvs. behandlere i kommunalt regi, job-center-medarbejdere, men også (mellem)ledere, team-ledere, HR-medarbejdere og mennesker, der generelt arbejder med dialog og mellemmenneskelig kommunikation i grupper såvel som individuelt (fx borgere, kunder, klienter, kollegaer, etc.) vil finde anvendelse i uddannelsens effekter, virkninger og opøvede færdigheder, fx ift konflikthåndtering og målrettede samtaler.</p>

            <div class="grid-3 slow-grid gap-20 r-gap-40">
                <div><button class="jet-btn full-width">
                        <div class="grid-80-20">
                            <div class="align-left">
                                Tilmeld dig nu
                            </div>
                            <div class="align-right"><i class="fas fa-check"></i></div></i>
                        </div>
                    </button>
                </div>
                <div><button class="cinereous-btn full-width">
                        <div class="grid-80-20">
                            <div class="align-left">
                                Reservér plads
                            </div>
                            <div class="align-right"><i class="fas fa-chair"></i></div></i>
                        </div>

                </div>
                <div><button class="silver-chalice-btn full-width">
                        <div class="grid-80-20">
                            <div class="align-left">
                                Download brochure
                            </div>
                            <div class="align-right"><i class="fas fa-download"></i></div></i>
                        </div>
                    </button></div>

            </div>
        </div>
        <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
            <hr class="hr-small-t">
            <h2>Opbygning</h2>
            <hr class="hr-small-b">
            <p>Den er modul-opbygget, og begynder med et 2-dages internat. Hvert år består af 6 moduler af 4-dages
                eksternat. Der er i alt 4 år, og hvert halve år slutter med en skriftlig, mundtligt og/eller praktisk
                prøve og/eller eksamen. Det første år er mildere og bredere ift arbejdet med sig selv, og færdigheder.
                Og som årene skrider frem bliver det mere og mere dybdegående og specialiseret. Det kræves at hver
                deltager har opfyldt det antal timer som skal bruges på egen terapi, terapeutisk praksis og øve-timer
                samt feedback og supervision på egen praksis.</p>
            <br>
            <hr class="hr-small-t">
            <h2>Moduler</h2>
            <hr class="hr-small-b">
            <h3>År 1</h3>

            <table class="soft-table">
                <tr>
                    <td>Moduler/dage</td>
                    <td>Dag 1: Grøn dag</td>
                    <td>Dag 2: Blå dag</td>
                    <td>Dag 3: Rød dag</td>
                    <td>Dag 4: Syntese-dag</td>
                </tr>
                <tr>
                    <td>1. Professionelle samtaler</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2. Følelsesmæssige ubalancer</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3. Stress håndtering</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>4. Filosofisk terapi</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>5. Traume-forebyggelse, pt. 1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>6. Klinisk praksis</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>


            </table>
            <br>
            <h3>År 2</h3>
            <p>Her får man flere redskaber til at dyrke og udforske egen position i samtalen mhp at få sat dét til side,
                der evt står i vejen. Man træner ens egen tilstedeværelse, og fagligt set er modul 1, 4 og 6 en
                videreførelse fra 1. år. Nye fag bliver således mentalisering, tilknytning og sexologi og ift modul 6
                skal man også træne i og forholde sig til par-terapi. Modul 4 dyrker mere den eksistensfilosofiske
                prægning af psyko-terapien (jvf. Fx Yalom, Frankl og dialogfilosofien (jvf. Buber, Marcel og Levinas,
                m.fl.), og modul 3 vil fokusere på udviklings-psykologien via Freud, Bowlby og Stern.</p>
            <table class="soft-table">
                <tr>
                    <td>Moduler/dage</td>
                    <td>Dag 1: Grøn dag</td>
                    <td>Dag 2: Blå dag</td>
                    <td>Dag 3: Rød dag</td>
                    <td>Dag 4: Syntese-dag</td>
                </tr>
                <tr>
                    <td>1. Professionelle samtaler</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2. Mentalisering</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3. Tilknytning, pt. 1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>4. Filosofisk terapi</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>5. Sexologi</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>6. Klinisk praksis</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>


            </table>


            <br>
            <h3>År 3</h3>
            <p>På dette år dyrkes etikken, moral, ansvar ift magten og manipulation; gennem at rumme og favne ens viden
                og opsamlende træning på modul 1, hvor udfordringer og mønstre i egen praksis, position og indstilling
                udforskes. Hvad angår modul handler det om at tangere psykiatriske diagnose-systemer med en sund og
                kritisk opmærksomhed på stigmatiseringer gennem bl.a. Inspiration fra Foucault, m.fl. Modul 3 arbejder
                dybere via bl.a. Stern og tilbyder flere terapeutiske redskaber ift egen tilknytnings-mønstre i det
                indre spor. Modul 4 udfolder den eksistensfilosofiske tematisering af de menneskelige vilkår via
                Kierkegaard, Nietzsche og Sartre via temaer som angst, ensomhed, meningsløshed, døden, friheden, valget,
                etc. Modul 5 genoptager tråden fra 1. År ift bl.a krisehjælp, chok og re-traumatisering (her vil der
                komme en gæst som underviser). Modul 6 sigter på at udforske gruppedynamikker (teams), m.m.</p>
            <table class="soft-table">
                <tr>
                    <td>Moduler/dage</td>
                    <td>Dag 1: Grøn dag</td>
                    <td>Dag 2: Blå dag</td>
                    <td>Dag 3: Rød dag</td>
                    <td>Dag 4: Syntese-dag</td>
                </tr>
                <tr>
                    <td>1. Professionelle samtaler</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2. Diagnoser og patologier</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3. Tilknytning, pt. 2</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>4. Filosofisk terapi</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>5. Traume forebyggelse, pt. 2</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>6. Klinisk praksis</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>


            </table>
            <br><br>
            <hr class="hr-small-t">
            <h2>Modul beskrivelser</h2>
            <hr class="hr-small-b">

            <h3>2-dages internat: En indføring i uddannelsens grundlæggende teori- og arbejdsramme</h3>
            <p>På dette internat arbejdes der grundlæggende på to spor; 1) at styrke tilegnelsen af hele uddannelsens
                teoretiske arbejds-ramme, gennem øvelser og refleksioner, og 2) at understøtte holdets modningsproces og
                dermed etableringen af tryghed og gruppe-identitet. Med andre ord handler det her om det faglige og det
                sociale, hvorved udfordringer og tilegnelse, læringsstil og læringsplan samt individuelle forskelle vil
                blive tydelige og integreret med henblik på de kommende moduler på uddannelsen.</p>

            <h3>Modul 1: Professionelle samtaler; et grundmodul på 4 dages eksternat (2-dages intro-forløb påkrævet)
            </h3>
            <p>På dette modul arbejder vi med dialogisk grundtræning, fx at skabe kontakt, lave og evt genforhandle
                psykologisk kontrakt, bryde ind, holde form og struktur, eller slippe og følge det dynamiske flow,
                lytte, og stille åbne og lukkede spørgsmål, m.m. Der vil også blive præsenteret og arbejdet med en
                dialogisk grundmodel som kursisterne øver sig i at integrere i deres praksisrelaterede kontekst. Vi
                arbejder endvidere med at blive klarere over hvad vi hver især bringer med os ind i samtalen af mere
                psykologiske forudsætninger. Kort sagt sigter dette modul på at kunne etablere sam-syn og konstant
                tilstræbe at have den anden som mål og formål for samtalen.</p>

            <h3>Modul 2: Følelsesmæssige ubalancer; et grundmodul på 4 dages eksternat</h3>
            <p>På dette modul arbejder vi gennemgående med at balancere og dosere den terapeutiske kritik og åbenhed, 1)
                dels gennem at koble fire grundfølelser med menneskets kognitive skemata og herved undersøge en række
                neurokemiske pointer (jvf. fx Amygdala og det limbiske system), 2) dels gennem at tale om følelser og
                øve os i at kunne skille rollen fra det menneske, som vi i bund og grund er, hver især samt udforske og
                registrere egne og andres beskyttelseslag og forsvarsmekanismer, og 3) dels gennem at besøge og udforske
                forskellige arrangementer og set-ups mhp at træne positions- og perspektiv-skift (her vil der også komme
                en række inspirationer fra den systemiske familie-terapi a la Laing og Bateson (double-bind, skizoiditet
                og ontologisk sikkerhed)).</p>

            <h3>Modul 3: Stresshåndtering; et grundmodul på 4 dages eksternat</h3>
            <p>På dette modul arbejder vi med bl.a. low- & high arousal, og med hvordan man skaber ro i nervesystemet.
                Således arbejdes der med bl.a. mentalisering, flow-teori, det sympatiske og para-sympatiske (det
                autonome) nervesystem, og dyrker i det hele taget varsomheden og nænsomheden ift at spore de
                fysiologiske stress-symptomer samt håndtering af egen og andres stress (stressorer ift fx
                work-life-balance, m.m.). Vi arbejder endvidere med at reflektere egne og organisatoriske narrativer op
                imod fx Big Five personligheds-psykologien og det systemiske krydspres, og med at vende tilbage til
                arbejdsmarkedet efter at have været “gået ned med stress”.</p>

            <h3>Modul 4: Filosofisk terapi; et grundmodul på 4 dages eksternat</h3>
            <p>På dette modul arbejder vi gennemgående med at etablere pusterum, fristeder, hvor intensitet og betydning
                kan tydeliggøre, de værdier, der er blevet ramt, og på den baggrund styrke færdigheden i at kunne trække
                en værdi ud af den psykologiske samtale og reflektere denne op imod livstemaer og eksistentielle
                mønstre. Med andre ord bliver den filosofiske samtaledisciplin; protreptik, introduceret, og modulet
                gennemgår de respektive greb, metoder og forholdemåder herfra, som øves, trænes og perspektiveres ift
                mere psykologiske samtaleteknikker og indstillinger. Således sigter dette modul på at få deltagerne til
                at kunne støtte sig selv og sine klienter i at opnå klarhed, være i inderlighed og skabe åbenhed.</p>

            <h3>Modul 5: Traume-forebyggelse; et grundmodul på 4 dages eksternat</h3>
            <p>På dette modul arbejder vi noget mere dybdegående med bl.a. tab af betydningsfulde forhold, skader på
                sjælen og invaliderende krænkelser. Men fokuserer primært på fx hvad der forårsager traumet, fysiske
                såvel som psykiske, mhp at finde en struktur herfor; og undersøger spørgsmål som, hvordan sætter de sig,
                er der nogle særlige kendetegn; hvordan kan vi identificere traumet? Således arbejdes der med perifert
                at berøre løsningen, og dog måske endda åbne lidt op herfor. Men generelt sigter modulet efter at lære
                at være med traumet, både ift sine egne, andres, en andens og/eller i relationen ved bl.a. at udforske,
                hvordan hjernen fungerer, når den er traume-styret.</p>

            <h3>Modul 6: Klinisk praksis; et grundmodul på 4 dages eksternat</h3>
            <p>På dette modul arbejder vi med at integrere indhold og metoder fra modul 1-5 med særligt fokus på at
                praktisere dette i kombinerede varianter. Således er dette modul primært praksis-nært hvad angår at
                træne og øve sig og få feedback herpå fra deltagere og modul-lederne. På dette workshops-lignende modul
                vil der derfor både være tips og tricks samt erfaringsbaserede refleksioner, og specielt setting,
                kontekst og ikke mindst etiske retningslinjer i rollen som terapeut vil være specielt betonet. Mere
                specifikt vil der også blive trænet i at kunne give klienten/borgeren æren for egne erkendelser og
                arbejde, og i det hele taget vil der blive fokuseret på, hvordan man runder af, og sender “bolden”
                videre eller tilbage til klienten/borgeren. Halvdelen af modulet vil udgøre en praktisk eksamensform i
                plenum.</p>
        </div>

        <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
            <h2>Deltagerprofil</h2>
            <h4>Enim nulla ut incididunt incididunt eiusmod minim reprehenderit irure.</h4>
            <p>Ex exercitation ad ea esse labore consequat. Esse aute eu ad ipsum occaecat. Exercitation
                cupidatat nisi proident et dolor id fugiat tempor cupidatat excepteur. Enim proident anim
                deserunt voluptate mollit amet sint anim do dolor commodo. Ut in magna minim veniam anim velit
                magna.</p>
        </div>
        <div class="tab-pane fade" id="nav-4" role="tabpanel" aria-labelledby="nav-4-tab">
            <h2>Anbefalinger</h2>
            <h4>Enim nulla ut incididunt incididunt eiusmod minim reprehenderit irure.</h4>
            <p>Ex exercitation ad ea esse labore consequat. Esse aute eu ad ipsum occaecat. Exercitation
                cupidatat nisi proident et dolor id fugiat tempor cupidatat excepteur. Enim proident anim
                deserunt voluptate mollit amet sint anim do dolor commodo. Ut in magna minim veniam anim velit
                magna.</p>
        </div>

        <div class="tab-pane fade" id="nav-5" role="tabpanel" aria-labelledby="nav-5-tab">
            <h2>Viden på CCC</h2>

        </div>
        <div class="tab-pane fade" id="nav-6" role="tabpanel" aria-labelledby="nav-6-tab">
            <hr class="hr-small-t">
            <h2>Forplejning</h2>
            <hr class="hr-small-b">
            <p>Deltagerne står selv for køb af litteratur, og sørger selv for forplejning. Der vil være kaffe, the og
                vand samt lidt snacks og frugt på undervisningsdagene (som er fra kl. 9-16).</p>
            <br>
            <hr class="hr-small-t">
            <h2>Optagelseskriterier</h2>
            <hr class="hr-small-b">
            <p>For at kunne blive optaget på FPP- uddannelsen.</p>

            <p class="large"><b>§ 1.1</b></p>
            <p class="no-m-b"><b>Du kan have:</b></p>

            <ul>
                <li>En lang eller mellemlang videregående uddannelse af psykologisk, pædagogisk, social- eller
                    sundhedsfaglig karakter, som for eksempel lærer, pædagog, sygeplejerske, socialrådgiver, læge,
                    psykolog eller fysioterapeut. En uddannelse som for eksempel præst kan også være relevant.</li>
                <li>Erhvervserfaring inden for din grunduddannelses fagområde svarende til mindst tre års
                    fuldtidsarbejde.</li>
            </ul>

            <p class="large"><b>§ 1.2</b></p>
            <p>Hvis du har en anden grunduddannelse. Hvis din grunduddannelse ikke er af
                psykologisk, pædagogisk, social- eller sundhedsfaglig karakter, er det muligt at blive optaget via
                optagelsestype.</p>
            <p class="no-m-b"><b>Du kan have:</b></p>

            <ul>
                <li>En lang eller mellemlang videregående uddannelse, fx en kandidatuddannelse eller
                    professionsbachelor.</li>
                <li>Erhvervserfaring svarende til mindst tre års fuldtidsarbejde inden for et job med mellemmenneskelig
                    kontakt.</li>
            </ul>

            <p class="large"><b>§ 1.3</b></p>
            <p>Hvis din grunduddannelse ikke er af psykologisk, pædagogisk, social- eller sundhedsfaglig karakter, på
                kandidat- eller professionsbachelorniveau, kan du i særlige tilfælde blive optaget med dispensation.</p>
            <p class="no-m-b"><b>Du kan have:</b></p>

            <ul>
                <li>En grunduddannelse af mindst tre års varighed.</li>
                <li>Fem års erhvervserfaring (lønnet/ulønnet) med mellemmenneskelig kontakt (ledelse med
                    personalekontakt, sociale projekter, netværksgrupper, rådgivning, støtte-kontakt, vejledning
                    o.lign.)</li>
                <li>Udpluk (min. 25%) af diplomer eller anden dokumentation for gennemførte relevante kurser, hvis
                    sådanne er taget</li>
            </ul>
            <br> <br>
            <hr class="hr-small-t">
            <h2>Finansiering</h2>
            <hr class="hr-small-b">
            <h3>År 1</h3>
            <p><b>Samlet pris: 42.000.kr/år</b></p>
            <p class="no-m-b">Prisen inkluderer:</p>
            <ul>
                <li>24 dages undervisning</li>
                <li>2 dages internat (1 overnatning) med undervisning i Syntesemodellen.</li>
                <li>Elektronisk adgang til relevante artikler samt terapeutiske modeller & eksamen.</li>
            </ul>
            <p class="no-m-b">Prisen inkluderer ikke:</p>
            <ul>
                <li>6 timer egenterapi. 900 kr/t, uddannet psykoterapeut godkendt af CCC. (Er et krav for at bestå 1 års
                    eksamen).
                </li>
                <li>Faglitteratur i bog- og papirform.</li>
            </ul>

            <p>Ønskes det at købe et de <b>6 moduller er stk. pris 12.500.kr</b> – inklusiv elektronisk adgang til
                relevante artikler samt terapeutiske modeller. </p>

            <p>Ved køb af <b>3 stk. moduller er prisen 28.000.kr inklusiv 2 dages internat</b> (1 overnatning) med
                undervisning i Syntesemodellen. Inklusiv elektronisk adgang til relevante artikler samt terapeutiske
                modeller. </p>

            <p><b>De 2 dages internat</b> (1 overnatning) med undervisning i Syntesemodellen.<b> Koster ved særskilt køb
                    8.500.kr.</b></p>
            <p class="no-m-b"><b>Afdrag</b></p>
            <p>Kan eks. Afdrages med indgangsbeløb på 8000 og 10* 3550 – Samlet pris 43.500.kr</p>
<br>
            <h3>År 2</h3>
            <p><b>Samlet pris: 40.000.kr/år</b></p>
            <p class="no-m-b">Prisen inkluderer:</p>
            <ul>
                <li>24 dages undervisning</li>
                <li>Elektronisk adgang til relevante artikler samt terapeutiske modeller & eksamen.</li>
            </ul>
            <p class="no-m-b">Prisen inkluderer ikke:</p>
            <ul>
                <li>6 timer egenterapi. 900 kr/t, uddannet psykoterapeut godkendt af CCC. (Er et krav for at bestå 2 års
                    eksamen).
                </li>
                <li>Faglitteratur i bog- og papirform.</li>
                <li>2 Timers supervision 1200 kr/t. (Er et krav for at består 2 års eksamen) Godkendt af CCC. </li>
            </ul>

            <p class="no-m-b"><b>Afdrag</b></p>
            <p>Kan eks. Afdrages med indgangs beløb på 7000 og 10* 3450 – Samlet pris 41.500.kr</p>

<br>
            <h3>År 3</h3>
            <p><b>Samlet pris: 40.000.kr/år</b></p>
            <p class="no-m-b">Prisen inkluderer:</p>
            <ul>
                <li>24 dages undervisning</li>
                <li>Elektronisk adgang til relevante artikler samt terapeutiske modeller & eksamen.</li>
            </ul>
            <p class="no-m-b">Prisen inkluderer ikke:</p>
            <ul>
                <li>6 timer egenterapi. 900 kr/t, uddannet psykoterapeut godkendt af CCC. (Er et krav for at bestå 3 års
                    eksamen).
                </li>
                <li>Faglitteratur i bog- og papirform.</li>
                <li>4 Timers supervision 1200 kr/t. (Er et krav for at består 3 års eksamen) Godkendt af CCC. </li>
            </ul>

            <p class="no-m-b"><b>Afdrag</b></p>
            <p>Kan eks. Afdrages med indgangs beløb på 7000 og 10* 3450 – Samlet pris 41.500.kr</p>


<br>
            <h3>År 4</h3>
            <p><b>Samlet pris: 40.000.kr/år</b></p>
            <p class="no-m-b">Prisen inkluderer:</p>
            <ul>
                <li>24 dages undervisning</li>
                <li>Elektronisk adgang til relevante artikler samt terapeutiske modeller & eksamen.</li>
            </ul>
            <p class="no-m-b">Prisen inkluderer ikke:</p>
            <ul>
                <li>6 timer egenterapi. 900 kr/t, uddannet psykoterapeut godkendt af CCC. (Er et krav for at bestå 4 års
                    eksamen).
                </li>
                <li>Faglitteratur i bog- og papirform.</li>
                <li>4 Timers supervision. 1200 kr/t. (Er et krav for at består 4 års eksamen) Godkendt af CCC. </li>
            </ul>

            <p class="no-m-b"><b>Afdrag</b></p>
            <p>Kan eks. Afdrages med indgangs beløb på 7000 og 10* 3450 – Samlet pris 41.500.kr</p>

            <br>

            <hr class="hr-small-t">
            <h2>Pris overblik</h2>
            <hr class="hr-small-b">
            <p><b>Samlet pris for alle 4 år er 162.000.kr <br>
                    Pris for egenterapi alle 4 år er 21.600.kr <br>
                    Pris for supervision for 2, 3 og 4 år er 12.000.kr
                </b></p>






<br>
            <hr class="hr-small-t">
            <h2>Sted</h2>
            <hr class="hr-small-b">
            <p>Undervisning foregår på Blegdamsvej 104C, 3. sal, baghuset th., 2100 København Ø</p>

        </div>
        <div class="tab-pane fade" id="nav-7" role="tabpanel" aria-labelledby="nav-7-tab">
            <h2>FAQ</h2>
            <h4>Enim nulla ut incididunt incididunt eiusmod minim reprehenderit irure.</h4>
            <p>Ex exercitation ad ea esse labore consequat. Esse aute eu ad ipsum occaecat. Exercitation
                cupidatat nisi proident et dolor id fugiat tempor cupidatat excepteur. Enim proident anim
                deserunt voluptate mollit amet sint anim do dolor commodo. Ut in magna minim veniam anim velit
                magna.</p>
        </div>

        <div class="tab-pane fade" id="nav-8" role="tabpanel" aria-labelledby="nav-8-tab">
            <h2>Tilmelding</h2>
            <h4>Enim nulla ut incididunt incididunt eiusmod minim reprehenderit irure.</h4>
            <p>Ex exercitation ad ea esse labore consequat. Esse aute eu ad ipsum occaecat. Exercitation
                cupidatat nisi proident et dolor id fugiat tempor cupidatat excepteur. Enim proident anim
                deserunt voluptate mollit amet sint anim do dolor commodo. Ut in magna minim veniam anim velit
                magna.</p>
        </div>
    </div>
    {% capture reg-url %}?n={{ page.title | uri_escape }}{% endcapture %}

</div>
{% assign page-contact = page.contact-person %}


{% include secments/contact-bar.html contact=page-contact contact-color="deep-taupe" text-1="Interesseret i at høre mere
om MBC? Så kontakt Frederikke nedenfor." text-2="Hør om andres erfaringer med MBC" %}

{% assign pageurl = page.url %}


<div class="bg-black-coral white">
    {% include secments/other-courses.html url=pageurl %}
</div>

{% include secments/vision.html %}


<div class="bg-platinum">
    {% include secments/newsletter.html %}
</div>

<div class="bg-light-brown">
    {% include secments/events.html container-classes="pt-50 mb-50 mt-50" btn-color="dust-green-btn" %}
</div>
<!-- end -->