---
layout: default
---
<div class="full-banner grid-1 align-items-center align-content-center"
    style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('{{ page.image }}'); background-position: center; background-size: cover;">
    <div class="container-fluid extra-narrow-container white">
        <div>

            <h1 class="h1-l">{{ page.header }}</h1>
            <hr class="half-margin">



            {% if page.sub-header %}
            <h3>{{ page.sub-header }}</h3>
            {% endif %}
            {% if page.teaser %}<p class="large">{{ page.teaser }}</p>{% else %}<p class="large">{{ page.description }}
            </p> {% endif %}
            <br>
            <br>
            <p>
                <a class="copper-red-btn large thin" data-proofer-ignore href="#pfp-c-modal" data-toggle="modal"
                    data-target="#pfp-c-modal">Hør mere</a>
            </p>
            <br>
            <p> <a class="orange-btn large thin" data-proofer-ignore href="#big-five" data-toggle="modal"
                    data-target="#pfp-pdf-modal">Få tilsendt brochure</a></p>

                   
        </div>



    </div>
</div>

<div id="max"></div>

<div class="container-fluid extra-narrow-container pt-50 pb-50 align-center">

    <div class="nav nav-tabs bold mb-0 fade-pallette" id="myTab" role="tablist">
        <a class="nav-item nav-link active" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab"
            aria-controls="nav-coaching" aria-selected="false">Overblik</a>
        <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2"
            aria-selected="false">Moduler</a>
        <a class="nav-item nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab" aria-controls="nav-3"
            aria-selected="false">Deltagerprofil</a>

        <a class="nav-item nav-link" id="nav-5-tab" data-toggle="tab" href="#nav-5" role="tab" aria-controls="nav-5"
            aria-selected="false">Undervisere</a>
        <a class="nav-item nav-link" id="nav-6-tab" data-toggle="tab" href="#nav-6" role="tab" aria-controls="nav-6"
            aria-selected="false">Praktisk</a>
        <a class="nav-item nav-link" id="nav-7-tab" data-toggle="tab" href="#nav-7" role="tab" aria-controls="nav-7"
            aria-selected="false">FAQ</a>

        <a class="nav-item nav-link" id="nav-10-tab" data-toggle="tab" href="#nav-10" role="tab" aria-controls="nav-10"
            aria-selected="false">Infomøde</a>
        <a class="nav-item nav-link" href="#pfp" data-toggle="modal" data-target="#pfp-modal">Ansøg</a>

    </div>
</div>




<div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">

        <div class="full-banner-small grid-1 align-items-center align-content-center white"
            style="background-image: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/graphic/foot-prints.jpg'); background-size: cover; background-position: top;">
            <div class="container-fluid extra-narrow-container">
                <div>
                    <h1>Ide, Formål og Vision</h1>
                    <hr class="half-margin">


                    <p class="large">'at kunne møde et andet menneske som menneske og med-menneske'</p>

                </div>


            </div>
        </div>

        <div class="bg-platinum-2">
            <div class="container-fluid extra-narrow-container align-center">
                <p>Grundlæggende set er ideen, formålet og visionen med denne 4-årige terapi-uddannelse at
                    kombinere,
                    nuancere og kvalificere samarbejdet mellem den filosofiske tradition og dannelse og den
                    psykologiske og
                    psykoterapeutiske tradition og dannelse. I dette spektrum tilbyder og muliggør uddannelsen
                    et dybere,
                    højere og langt bredere beredskab at møde sin klient/borger og sig selv med. Gennem en lang
                    række
                    metoder, øvelser, prøver og udfordringer, teoretisk såvel som praktisk, dannes den kommende
                    terapeut på
                    denne uddannelse i at kunne møde det andet menneske som menneske og med-menneske.
                </p>
            </div>


            <div class="container-fluid extra-narrow-container align-center no-up pb-100">
                <div class="grid-3 gap-20 r-gap-20">

                    {% assign ordered-pfp-sites = site.pfp-sites | sort: "order" %}
                    {% for psite in ordered-pfp-sites %}

                    <div>
                        <a href="{{ psite.url }}">

                            <div class="card white no-border h-200 align-center align-content-center align-items-center override-flex pb-0"
                                style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('{{ psite.image }}'); background-position: center; background-size: cover;">

                                <h3 class="capped medium card-title">{{ psite.title }}</h3>

                            </div>
                        </a>
                    </div>

                    {% endfor %}




                </div>
            </div>
        </div>








        {% include secments/pfp-tilmelding.html %}


    </div>


    <div class="tab-pane fade tab-2" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
        <div class="container-fluid extra-narrow-container no-up-n-down">

            {% include pfp-moduls.html %}
        </div>
    </div>

    <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
        <div class="container-fluid extra-narrow-container no-up">
            <hr class="hr-small-t">
            <h2>Målgruppe og anvendelse</h2>
            <hr class="hr-small-b">
            <p>Målgruppen er primært frontmedarbejdere indenfor den sociale sektor og behandlings-forvaltning, dvs.
                behandlere i kommunalt regi, job-center-medarbejdere, men også (mellem)ledere, team-ledere,
                HR-medarbejdere og mennesker, der generelt arbejder med dialog og mellemmenneskelig kommunikation i
                grupper såvel som individuelt (fx borgere, kunder, klienter, kollegaer, etc.) vil finde anvendelse i
                uddannelsens effekter, virkninger og opøvede færdigheder, fx ift konflikthåndtering og målrettede
                samtaler.</p>
        </div>

    </div>

    <div class="tab-pane fade" id="nav-5" role="tabpanel" aria-labelledby="nav-5-tab">
        <div class="container-fluid extra-narrow-container no-up">
            <hr class="hr-small-t">
            <h2>Gennemgående undervisere</h2>
            <hr class="hr-small-b">
            <p>Vores team består af eksperter med omfattende ledelseserfaring, coachingerfaringer i praksis, og mange
                forskellige akademiske baggrunde. Copenhagen Coaching Center blev dannet i 2004 og er et partnerejet
                selskab, der udbyder en række uddannelser indenfor coaching og ledelse samt yder ledelsessparring,
                coaching og udfører konsulentopgaver, herunder skræddersyede udviklingsforløb for virksomheder og teams.
            </p>
            <p>CCC har siden virksomhedens start arbejdet for at skabe de bedste uddannelser for ledere og konsulenter.
                Vores undervisning er praktisk orienteret og enkel at omsætte og anvende i dagligdagen. Produkter og
                metoder er forskningsbaserede og vokser ud af en kombination af velkendte og underbyggede teorier. Da vi
                er uddannelsesinstitution for nye såvel som garvede ledere og konsulenter, er vi altid opdateret på
                vores specialer. Med vores brede teoretiske grundlag, forsøger vi at møde den enkelte i sin egen,
                individuelle læreproces for herigennem at skabe høj faglig og personlig læring – individuelt, men også
                kollektivt. Vores opgave er derfor at støtte det udforskende projekt som læring kan være.</p>

            <p>Udover at du vil møde et meget kompetent underviserteam fra CCC, bruger vi også veluddannede og dygtige,
                eksterne undervisere i forskellige temaer.</p>
            <br>
            <div>
                <div class="bg-platinum-2 p-20 grid-2 grid-20-80 split-phone r-gap-20">
                    <div class="img-hw150"><img src="/images/about/employees/mette-mejlhede.png" alt=""></div>
                    <div>
                        <h4>Mette Mejlhede</h4>

                        <p>Direktør i Copenhagen Coaching Center <br>
                            Cand.merc HRM Copenhagen Business School <br>
                            Master i Business Coaching, EIA Master Akkrediteret Coach</p>
                    </div>

                </div>

            </div>
            <div>
                <div class="p-20 grid-2 grid-80-20 split-phone r-gap-20">

                    <div>
                        <h4>Kim Gørtz</h4>
                        <p>Chefkonsulent i Copenhagen Coaching Center <br>

                            Ph.d., Cand. Mag i filosofi og psykologi fra Københavns Universitet <br>

                            Master i Business Coaching</p>
                    </div>
                    <div class="img-hw150"><img src="/images/about/employees/kim-gørtz-m.png" alt=""></div>

                </div>
            </div>
            <div>
                <div class="bg-platinum-2 p-20 grid-2 grid-20-80 split-phone r-gap-20">
                    <div class="img-hw150"><img src="/images/pip/jack-købke-sorthvid.png" alt=""></div>
                    <div>
                        <h4>Jack Købke</h4>
                        <p>

                            Direktør i Kompagniet & Alkoholrådgivningen <br>

                            Master of Business Coaching fra CCC, Diplomleder fra Syddansk Universitet, <br>

                            Merkonom i ledelse fra CBS, Psykoterapeut Dansk NLP-institut</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="nav-6" role="tabpanel" aria-labelledby="nav-6-tab">

        <div class="bg-platinum">
            <div class="container-fluid extra-narrow-container pt-100 pb-100">
                <h2>Ansøgningsfrist</h2>
                <p>Der er løbende optag. Tilmelding sker ved henvendelse til en af vores studieansvarlige. Har du behov
                    for yderligere oplysninger om uddannelsen, og hvordan Psykologisk Filosofisk Psykoterapeut passer
                    til dig og din situation, er du velkommen til at reservere tid til en personlig eller telefonisk
                    samtale. <a data-proofer-ignore href="#pfp-c-modal" data-toggle="modal"
                        data-target="#pfp-c-modal">Klik her for info</a></p>

            </div>
        </div>




        <div class="container-fluid extra-narrow-container pt-75">
            <a class="border-button xlarge" href="/pfp/adgangskrav">Se adgangskrav <i
                    class="fas fa-long-arrow-alt-right"></i></a>
        </div>


        <div class="mb-50">
            <div class="container-fluid extra-narrow-container pt-50">
                <div class="grid-2 gap-40 r-gap-40">
                    <div>
                        <div class="object-fit-full-width h-300">
                            <img src="/images/pfp/1.png" alt="" class="object-fit">
                        </div>
                        <br>
                        <h2>Pris og finansiering</h2>
                        <p>Priserne ligger fra 40.000 kr. og f.eks. kan de individuelle moduler købes for 12.500 kr.
                            stk. som er inklusiv elektronisk adgang til relevante artikler samt terapeutiske modeller.
                            Beløbene kan også afdrages.</p>
                        <a href="/pfp/finansiering/" class="thin capped">Læs mere omkring finansiering <i
                                class="fas fa-long-arrow-alt-right"></i></a>


                    </div>
                    <div>
                        <h2>Undervisningssted</h2>
                        <p>Alle vores moduler afvikles som dagkurser uden overnatning, dog med undtagelse af det todages intromodul, der afvikles som internat med én overnatning.

 <br><br>

                            Sted: Blegdamsvej 104A, 2. sal, 2100 København Ø.</p> <br>
                        <div class="object-fit-full-width h-300">
                            <img src="/images/pfp/16.png" alt="" class="object-fit">
                        </div>
                    </div>
                </div>

                <div class="grid-2 gap-40 r-gap-20 pt-30">
                    <div class="object-fit-full-width h-300">
                        <img src="/images/pfp/kvalitet.png" alt="" class="object-fit">
            <br>
                    </div>
                    <div>
                        <h2>Kvalitetsvurdering</h2>
                        <p><b>Vores uddannelse sigter naturligvis mod godkendelse fra Dansk Psykoterapeutforening og
                                Reflektor hvorfor denne proces er påbegyndt, således at vi som leverandør og privat
                                udbyder lever op til de ministerielle krav for private psykoterapeutuddannelser uden
                                afvigelser.</b></p>
                        <p>Evalueringen er vigtig både for os – og for dig, fordi den er et bevis og en dokumentation
                            for, at vores uddannelse er tidssvarende, og at standarden i undervisningen er høj. For at
                            blive evalueret og godkendt kræves der en stærk sammenhæng imellem de teoretiske
                            grundpiller, som instituttet hviler på, de metoder vi underviser dig i, litteraturen vi
                            anbefaler dig at læse og måden, vi eksaminerer dig på.</p>
                        <p>Vi holder jer løbende orienteret om processen og I er altid velkomne til at spørge os, hvis I
                            ønsker yderligere information omkring vores uddannelse</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="bg-deep-taupe pt-100 pb-100 white">
            <div class="container-fluid extra-narrow-container pt-50">
                <h2>Studieportal</h2>
                <p>Velkommen til Psykologisk Filosofisk Psykoterapeut-uddannelsen. Studieportalen er din nemme adgang
                    til det materiale, du skal bruge under din uddannelse. Materialet er opdelt efter moduler.</p>
                <p>Al uddannelsesinformation, teori, opgaver, mm. finder du via vores e-learningsplatform Thinkific. Du
                    modtager loginoplysninger til Thinkific via mail, så snart du er optaget på uddannelsen. Nedenfor
                    kan du finde de mest almindelige spørgsmål vedr. din adgang til Thinkific.</p>

                <p><b>Find venligst nedenfor de mest almindelige spørgsmål og svar vedrørende login på
                        Studieportalen:</b></p>

                <div id="accordion">
                    <div class="panel">
                        <div id="headingOne">
                            <h3 class="mb-0">
                                <a href="#" role="button" class="btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Hvad er Thinkific?
                                </a>
                            </h3>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">

                            <p>Thinkific er den virtuelle e-learnings platform, som vi bruger til alle praktiske
                                informationer
                                omkring
                                uddannelsen, inkl. læseplaner, faglitteratur, videoer, opgaver mm.</p>
                            <p>Den første undervisningsgang, får du en grundig introduktion til platformen. Det er
                                dog en
                                forudsætning,
                                at du forud for første mødegang har været logget ind og gjort dig bekendt med de
                                forskellige
                                sektioner,
                                der knytter sig til dit første modul, således at du også er forberedt forud for
                                undervisningen.</p>

                            <p> Når du skal deltage i webinarer eller virtuelle studiegrupper via Studieportalen,
                                bør du benytte et
                                headset og i øvrigt altid huske at have lyd og video aktiveret på din computer.</p>

                        </div>
                    </div>
                    <br>
                    <div class="panel">
                        <div id="headingTwo">
                            <h3 class="mb-0">
                                <a href="#" role="button" class="btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Hvordan logger jeg ind?
                                </a>
                            </h3>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">

                            <p>Du får tilsendt et personligt login fra Copenhagen Coaching Center til Thinkific. Dit
                                login består
                                af en studiemail og et kodeord. Du kan først logge ind på studieportalen, når du har
                                modtaget
                                intromailen fra vores studieansvarlige.</p>

                        </div>
                    </div>
                    <br>
                    <div class="panel">
                        <div id="headingThree">
                            <h3 class="mb-0">
                                <a href="#" role="button" class="btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Problemer med at logge ind?
                                </a>
                            </h3>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordion">

                            <p>Har i spørgsmål til, eller problemer med, selve studieportalen kontakt Caroline på <a
                                    href="mailto:cof@copenhagencoaching.dk">cof@copenhagencoaching.dk</a></p>

                        </div>
                    </div>
                </div>


            </div>
        </div>

        <!--             <div class="container-fluid extra-narrow-container align-center no-up pb-100">
                <div class="grid-3 white gap-20 r-gap-20">
                    <div>
                        <a href="/pfp/adgangskrav/">
        
                            <div class="card no-border h-200 align-center align-content-center align-items-center override-flex pb-0"
                                style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/pfp/14.png'); background-position: center; background-size: cover;">
            
                                <h3 class="capped medium card-title">Adgangskrav</h3>
            
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/pfp/ansoegningsfrist/">
        
                            <div class="card no-border h-200 align-center align-content-center align-items-center override-flex pb-0"
                                style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/pfp/21.png'); background-position: center; background-size: cover;">
            
                                <h3 class="capped medium card-title">Ansøgningsfrist</h3>
            
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/pfp/finansiering/">
        
                            <div class="card no-border h-200 align-center align-content-center align-items-center override-flex pb-0"
                                style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/pfp/5.png'); background-position: center; background-size: cover;">
            
                                <h3 class="capped medium card-title">Finansiering</h3>
            
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/pfp/undervisningssted/">
        
                            <div class="card no-border h-200 align-center align-content-center align-items-center override-flex pb-0"
                                style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/pfp/19.png'); background-position: center; background-size: cover;">
            
                                <h3 class="capped medium card-title">Undervisningssted</h3>
            
                            </div>
                        </a>
                    </div>
        
                    <div>
                        <a href="/pfp/studieportal/">
        
                            <div class="card no-border h-200 align-center align-content-center align-items-center override-flex pb-0"
                                style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/pfp/15.png'); background-position: center; background-size: cover;">
            
                                <h3 class="capped medium card-title">Studieportal</h3>
            
                            </div>
                        </a>
                    </div>
                </div>
            </div> -->











    </div>

    <div class="tab-pane fade" id="nav-7" role="tabpanel" aria-labelledby="nav-7-tab">
        <div class="container-fluid extra-narrow-container no-up">
            {% include pfp/faq.html %}


        </div>
    </div>

    <div class="tab-pane fade" id="nav-10" role="tabpanel" aria-labelledby="nav-10-tab">
        <div class="container-fluid extra-narrow-container no-up align-center">
            <h3>Lyder uddannelsen som noget for dig, så meld dig til vores kommende infomøde</h3>

            <br>
            <p class="large">
            10. maj 2021 fra 20.00 - 21.00 </p>
            <br>

            <form action="https://formspree.io/f/myybvnyp" method="POST" class="white-form">
                <span>
                    <select class="input-form" name="dato">
                        <option value="emne">Vælg dato</option>
                       
                        
                        
                        <option value="10. maj 2021">10. maj 2021</option>
                        
                        
                    </select>
                    <input class="input-form" type="text" placeholder="Fornavn" name="LNAME" required>
                    <input class="input-form" type="text" placeholder="Efternavn" name="LNAME" required>

                    <input class="input-form" type="email" placeholder="Email" name="email" required>
                    <input class="input-form" type="text" placeholder="Telefon" name="tlf" required>
                </span>



                <p><input class="display-inline" type="checkbox" name="_optin" /> Jeg vil gerne tilmeldes CCC's
                    nyhedsbrev.</p>



                <button class="green-button" type="submit">Tilmeld</button>
            </form> 

        </div>

    </div>

    <div class="tab-pane fade" id="nav-8" role="tabpanel" aria-labelledby="nav-8-tab">
        <div class="container-fluid extra-narrow-container no-up align-center">
            <br>
            <h2>Tilmelding</h2>
            <br>
            <form class="white-form" action="https://formspree.io/f/mvovyqez" method="POST">


                <input type="text" name="name" placeholder="Navn" required>
                <input type="text" name="email" placeholder="E-mail" required>

                <input type="text" name="tlf" placeholder="Tlf">
                <input type="text" name="virksomhed" placeholder="Virksomhed">
                <textarea name="besked" cols="30" rows="10" placeholder="Evt. kommentar"></textarea>


                <!-- your other form fields go here -->

                <button class="dust-green-btn" type="submit">Tilmeld</button>
            </form>

        </div>
    </div>


</div>




{% for employee in site.employees %}
{% if employee.title == page.contact-person %}
<div class="container-fluid medium-narrow-container pt-100 pb-100">

    <div class="grid-55-5-40 r-gap-40">
        <div class="bg-blue white p-20 grid-1 r-gap-20">

            <div>
                <p class="large"><b>Har du spørgsmål til
                        uddannelsen?</b> Kontakt Kim nedenfor. Vi glæder os til at besvare dine spørgsmål.</p>
            </div>

            <div class="grid-fr-120 gap-20 r-gap-20">
                <div class="align-right a-items-c">
                    <div>
                        <b><a href="{{ employee.url }}" class="large" data-proofer-ignore>{{ employee.title }}</a></b>
                        <br>
                        <span class="thin"><a href="tel:{{ employee.call }}" data-proofer-ignore>+45 {{ employee.call
                                }}</a></span> <br>
                        <span class="thin"><a href="mailto:{{ employee.email }}" data-proofer-ignore>{{ employee.email
                                }}</a></span>
                    </div>
                </div>
                <div class="align-right">
                    <div class="outer-small-round-image">
                        <img class="small-round-image" src="{{ employee.small-portrait-image }}"
                            alt="{{ employee.title }}, {{ employee.description}}">
                    </div>
                </div>
               

            </div>



        </div>

        <div class="bg-platinum a-items-c align-center p-20 white"
            style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/graphic/mennesker.jpg'); background-position: center; background-size: cover;">
            <h3>Interesseret i andre uddannelser?</h3>
            <br>
            <div><a class="dust-green-btn" href="/">Se mere <i class="fas fa-arrow-right"></i></a></div>

        </div>

    </div>
</div>

{% endif %}
{% endfor %}





{% capture reg-url %}?n={{ page.title | uri_escape }}{% endcapture %}


{% assign page-contact = page.contact-person %}

<div
    style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/graphic/PSBOL.jpg'); background-attachment: fixed; background-size: cover;">
    <div class="container-fluid extra-narrow-container pt-100 pb-100 white">
        <p class="large">Ny antologi på vej</p>
        <h2>Protreptik som behandlingsform og ledelsesdisciplin</h2>
        <p class="large thin capped">Udkommer August 2021</p>
        <br>
        <a class="copper-red-btn" href="/protrptik-som-behandlingsform-og-ledelsesdisciplin/">Læs mere</a>
    </div>
</div>

{% assign pageurl = page.url %}




{% include secments/vision.html %}


<div class="bg-deep-taupe white">
    {% include secments/newsletter.html %}
</div>


<!-- end -->