---
layout: default
---

{% if page.group == true %}
<div class="container-fluid extra-narrow-container">
    <a href="/protrptik-som-behandlingsform-og-ledelsesdisciplin/" class="thin capped"><i
        class="fas fa-long-arrow-alt-left"></i> Tilbage til Protreptik som behandlingsform og ledelsesdisciplin</a>
<br><br>
    <p class="thin large capped">Bidragsyder</p>
    
    <h2>{{ page.title }} v. {% for person in page.persons %} {% if forloop.last %}{{ person.name }}{% else %}{{
        person.name }}, {% endif %}{% endfor %}</h2>


    <p>{{ page.content }}</p>

    {% for person in page.persons %}
    <div class="grid-20-80">
        <div>
            <div class="object-fit-full-width h-150">
                <img src="{{ person.image }}" alt="" class="object-fit">
            </div>
        </div>
        <div class="p-20 pt-0">
            
            <h4>{{ person.name }}</h4>
            
            <p class="xthin">{{ person.title }}</p>
            <p>{{ person.bio }}</p>
        </div>
    </div>
    <br>
    {% endfor %}

</div>
{% else %}

<div class="container-fluid extra-narrow-container">
    <a href="/protrptik-som-behandlingsform-og-ledelsesdisciplin/" class="thin capped"><i
        class="fas fa-long-arrow-alt-left"></i> Tilbage til Protreptik som behandlingsform og ledelsesdisciplin</a>
        <br><br>
    <p class="thin large capped">Bidragsyder</p>
    {% for person in page.persons %}
    <div class="w-150p h-150 float-left mr-20 mb-10">
        <img src="{{ person.image }}" alt="" class="object-fit">
    </div>
   
    
        <h2>{{ person.name }}</h2>
        <p class="xthin">{{ person.title }}</p>
        <p>{{ person.bio }}</p>
        <video id="video" controls preload="metadata">
            <source src="/videos/morten-randloev.mp4" type="video/mp4">
            <track label="Danish" kind="subtitles" srclang="dk" src="/videos/subtitles/undertekster-morten-randloev.dk_DK.srt" default>
         </video>
    
  {{ page.content }}


    {% endfor %}
</div>
{% endif %}