---
layout: default
---

<!-- group -->


{% if page.group == true %}
<div class="container-fluid extra-narrow-container">
    <a href="/protrptik-som-behandlingsform-og-ledelsesdisciplin/" class="thin capped"><i
            class="fas fa-long-arrow-alt-left"></i> Tilbage til Protreptik som behandlingsform og ledelsesdisciplin</a>
    <br><br>
    <p class="thin large capped">Bidragsyder</p>

    <h2>{{ page.title }}
        {% if page.show-v %}
        <br>v. {% for person in page.persons %}{% if forloop.last %} og {{ person.name }}{% elsif forloop.first %}{{ person.name }}{% else %}, {{
            person.name }}{% endif %}{% endfor %}
        {% else %}
        <br>{{ page.second-title }}
        {% endif %}
      

    </h2>
    {% if page.bio %}
                        <p>{{ page.bio }}</p>
                        
                        

                        {% endif %}

                       
    {% if page.video %}
    <video id="video" controls="controls" preload="metadata">
        <source src="{{ page.video }}" type="video/mp4">
        <track label="Danish" kind="subtitles" srclang="dk" src="{{ page.subtitles }}" default>
    </video>
    <br><br>

    {% endif %}
    
    {% if page.bio-heading %}
    <h4>{{ page.bio-heading }} {% for person in page.persons %}{% if forloop.last %} og {{ person.name }}{% elsif forloop.first %}{{ person.name }}{% else %}, {{
        person.name }}{% endif %}{% endfor %}</h4>
    
    {% endif %}
    <p>{{ page.content }}</p>
    {% if page.pdf %}
    <a class="border-button-dark h-auto ml-auto mr-auto" target="_blank" href="{{ page.pdf }}">Download gratis uddrag</a>
    {% endif %}
    <hr>
    {% for person in page.persons %}
    <div class="grid-20-80">
        <div>
            <div class="object-fit-full-width h-150">
                <img src="{{ person.image }}" alt="" class="object-fit">
            </div>
        </div>
        <div class="p-20 pt-0">

            <h4>{{ person.name }}</h4>

            <p class="xthin mb-0">{{ person.title }}
                {% if person.linkedin %}<br><a class="large" target="_blank" href="{{ person.linkedin }}"><i class="fab fa-linkedin"></i></a>{% endif %}</p>
            
            <p>{{ person.bio }}</p>
        </div>
    </div>
    <br>
    {% endfor %}

    {% for link in page.links %}
    <a class="border-button-dark h-auto" target="_blank" href="{{ link.url }}">{{ link.text }}</a>
    <br>
    {% endfor %}
</div>

{% else %}
<!-- group end -->
<div class="container-fluid extra-narrow-container">
    <a href="/protrptik-som-behandlingsform-og-ledelsesdisciplin/" class="thin capped"><i
            class="fas fa-long-arrow-alt-left"></i> Tilbage til Protreptik som behandlingsform og ledelsesdisciplin</a>
    <br><br>
    <p class="thin large capped">Bidragsyder</p>

    {% for person in page.persons %}
    <div class="w-150p h-150 float-left mr-20 mb-10">

        <img src="{{ person.image }}" alt="" class="object-fit">
    </div>


    <h2>{{ person.name }}</h2>
    <p class="xthin">{{ person.title }}</p>
    <p>{{ person.bio }}</p>
    {% if page.pdf %}
    <a class="border-button-dark h-auto ml-0 w-100" target="_blank" href="{{ page.pdf }}">Download gratis uddrag</a>
    {% endif %}
    
    {% if page.video %}
    <br>
    <video id="video" controls preload="metadata">
        <source src="{{ page.video }}" type="video/mp4">
        <track label="Danish" kind="subtitles" srclang="dk" src="{{ page.subtitles }}" default>
    </video>
    <br><br>
    {% endif %}
    
    <div class="align-justify">

        {{ page.content }}
    </div>
    <br>


    {% endfor %}
    {% for link in page.links %}
    <a class="border-button-dark h-auto" target="_blank" href="{{ link.url }}">{{ link.text }}</a>
    <br>
    {% endfor %}

</div>
{% endif %}



{% if page.signup %}
{% include chapter.html %}
{% endif %}