---
layout: default
---



<div class="pt-5"
    style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('{{ page.image }}'); background-size: cover; background-position: center;">
    <div class="container-fluid text-center py-5">
        <div class="pt-5">
            <div class="row py-5 gy-5">
                <div class="offset-md-2 col-12 col-md-8">
                    <h1 class="text-white mb-3">{{ page.title }}</h1>
                    <hr class="white w-50 responsive mx-auto">

                    <a class="btn-black-coral text-white btn" data-proofer-ignore href="#plu-c-modal"
                        data-toggle="modal" data-target="#plu-c-modal">Hør mere</a>
                    <br>

                    <a class="btn-cadet-gray text-white btn" data-proofer-ignore href="#plu-pdf-modal"
                        data-toggle="modal" data-target="#plu-pdf-modal">Hent brochure</a>
                    <br>
                </div>
            </div>
        </div>

    </div>
</div>






<div class="container-fluid text-center py-3">
    <div class="row">
        <div class="offset-xl-2 col-12 col-xl-8">

            <div class="nav nav-tabs bold my-4 gray-pallette" id="myTab" role="tablist">
                <a class="nav-item nav-link active" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab"
                    aria-controls="nav-coaching" aria-selected="false">Uddannelsen</a>
                <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab"
                    aria-controls="nav-2" aria-selected="false">Moduler</a>
                <a class="nav-item nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab"
                    aria-controls="nav-3" aria-selected="false">Deltagerprofil</a>
                <a class="nav-item nav-link" id="nav-5-tab" data-toggle="tab" href="#nav-5" role="tab"
                    aria-controls="nav-5" aria-selected="false">Undervisere</a>
                <a class="nav-item nav-link" id="nav-test-tab" data-toggle="tab" href="#nav-test" role="tab"
                    aria-controls="nav-3" aria-selected="false">Udtalelser</a>
                <a class="nav-item nav-link" id="nav-6-tab" data-toggle="tab" href="#nav-6" role="tab"
                    aria-controls="nav-6" aria-selected="false">Praktisk</a>
                <a class="nav-item nav-link" id="nav-7-tab" data-toggle="tab" href="#nav-7" role="tab"
                    aria-controls="nav-7" aria-selected="false">FAQ</a>

                <a class="nav-item nav-link" href="/tilmelding/?n={{ page.title }}">Tilmelding</a>

            </div>
        </div>
    </div>
</div>




<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
        <div class="container-fluid pb-4">
            <div class="row">
                <div class="offset-lg-2 col-12 col-lg-8">

                    {{ page.content }}

                </div>
            </div>
        </div>
        <div class="bg-gainsboro">
            <div class="container-fluid py-5">
                <div class="row">
                    <div class="offset-lg-2 col-12 col-lg-8">


                        <h4>HVAD FÅR DU UD AF UDDANNELSEN?</h4>
                        <p class="mb-1 fw-bold">Med proceslederuddannelsen bliver du bedre til:</p>
                        <ul>
                            <li>at styre, designe og lede processer · at have personlig opmærksomhed
                                på håndtering af vanskeligheder i processer</li>
                            <li>at anvende innovative og kreative redskaber i processer</li>
                            <li>at anvende forskellige pragmatiske perspektiver på processer</li>
                            <li>at håndtere frustrationer i organisationer</li>
                            <li>at producere nye handlemuligheder</li>
                            <li>at skabe og sikre følgeskab.</li>
                        </ul>

                        <p class="mb-1 fw-bold">Du for desuden:</p>
                        <ul class="mb-4">
                            <li>Adgang til vidensportal, værktøjer, faglitteratur, artikler og cases
                            </li>
                            <li>Løbende supervision og et stærkt netværk</li>
                            <li>Big Five Personlighedstest med individuel tilbagemelding</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="tab-pane fade tab-2" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">

        <div class="container-fluid">
            <div class="row">
                <div class="offset-lg-2 col-12 col-lg-8">


                    <h3>HVORDAN ER UDDANNELSEN BYGGET OP?</h3>
                    <p>Uddannelsen løber over 5 online undervisningsgange, med træning og praktiske opgaver mellem de
                        enkelte undervisningsgange.</p>
                    <hr>
                    <p class="fs-6"><b>Uddannelsen arbejder i tre gennemgående spor:</b></p>

                    <div class="row gy-4 gx-0">
                        <div class="col-4">
                            <div class="w-100 p-3 bg-gainsboro d-flex align-items-center text-center">
                                <p class="mb-0"><em>Det individuelle – personlig udvikling – Dig selv som
                                        procesværktøj</em></p>
                            </div>

                        </div>
                        <div class="col-8">
                            <div class="w-100 p-3 bg-gainsboro h-100 d-flex align-items-center">
                                <p class="mb-0">Alle
                                    deltagere får en Big 5 personlighedstest med en individuel tilbagemelding.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row gy-4 gx-0">
                        <div class="col-4">
                            <div class="w-100 h-100 p-3 d-flex align-items-center justify-content-center">
                                <p class="mb-0"><em>Aktionslæring</em></p>
                            </div>

                        </div>
                        <div class="col-8">
                            <div class="w-100 p-3 h-100 d-flex align-items-center">
                                <p class="mb-0">Der arbejdes mellem undervisningsgangene med en gennemgående case fra
                                    egen virksomhed og med praktiske erfaringer, som løbende inddrages i undervisningen.

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row gy-4 gx-0">
                        <div class="col-4">
                            <div class="w-100 p-3 bg-gainsboro h-100 d-flex align-items-center justify-content-center">
                                <p class="mb-0"><em>Viden, inspiration, og redskaber</em></p>
                            </div>

                        </div>
                        <div class="col-8">
                            <div class="w-100 p-3 bg-gainsboro h-100 d-flex align-items-center">
                                <p class="mb-0">Deltagerne får en varieret viden om procesledelse samt inspiration og
                                    konkrete værktøjer til arbejdet som procesleder.</p>
                            </div>
                        </div>
                    </div>


                    <p class="fs-6 mt-5"><b>Undervisningsdage:</b></p>
                    <div class="row px-2">
                        <div class="col-12">

                            <div class="row">

                                <div class="col-6 col-md-2 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0 fw-bold">23/11/2021</p>
                                </div>
                                <div class="col-6 col-md-2 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">09.00–12.00</p>
                                </div>
                                <div class="col-12 col-md-3 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">Introduktionsdag</p>
                                </div>
                                <div class="col-12 col-md-5 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">Præsentation og
                                        introduktion til uddannelsen, indhold, struktur, litteratur, casevalg mm.</p>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-6 col-md-2 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0 fw-bold">16/12/2021</p>
                                </div>
                                <div class="col-6 col-md-2 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">09.00–12.00</p>
                                </div>
                                <div class="col-12 col-md-3 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">Den kognitive tilgang til procesledelse</p>
                                </div>
                                <div class="col-12 col-md-5 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">Vi
                                        arbejder med: rammer, styring, procesredskaber mm.</p>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-6 col-md-2 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0 fw-bold">25/01/2022</p>
                                </div>
                                <div class="col-6 col-md-2 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">09.00–12.00</p>
                                </div>
                                <div class="col-12 col-md-3 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">Den emotionelle/psykodynamiske tilgang til
                                        procesledelse</p>
                                </div>
                                <div class="col-12 col-md-5 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">Vi arbejder med det psykodynamiske: med stemthed, håndtering af
                                        frustrationer og modstand og med mentalisering.</p>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-6 col-md-2 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0 fw-bold">01/03/2022</p>
                                </div>
                                <div class="col-6 col-md-2 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">09.00–12.00</p>
                                </div>
                                <div class="col-12 col-md-3 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">Den systemiske tilgang til procesledelse</p>
                                </div>
                                <div class="col-12 col-md-5 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">Vi
                                        arbejder med relationel koordinering, med narrativer og med samskabelse</p>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-6 col-md-2 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0 fw-bold">05/04/2022</p>
                                </div>
                                <div class="col-6 col-md-2 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">09.00–12.00</p>
                                </div>
                                <div class="col-12 col-md-3 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">Evalueringsdag</p>
                                </div>
                                <div class="col-12 col-md-5 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">Vi præsenterer vores cases og
                                        evalueringsopgaver og reflekterer sammen om indhold og processer</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="bg-gainsboro mt-5">
            <div class="container-fluid py-5">
                <div class="row text-center">
                    <div class="offset-lg-3 col-12 col-lg-6">
                        <figure>
                            <blockquote class="blockquote mb-4">
                                <p class="fs-6">
                                    <i class="fas fa-quote-left fs-4 fa-lg opacity-50 me-2"></i>
                                    <em><span>Man kan sammenligne en proces med havet; Hvis du stiller dig i
                                            vandkanten, når bølgerne kommer ind, så vil du ikke altid være i
                                            stand
                                            til at sige, hvornår og hvordan den næste rammer. Én vil komme
                                            længere
                                            ind end en anden, og man kan tit blive overrasket over, at to
                                            bølger,
                                            der kommer lige efter hinanden, hverken har samme effekt eller
                                            længde.
                                            Det samme gør sig gældende for processer. Det er derfor vigtigt, at
                                            man
                                            er bevidst om og åben over for, at man ikke altid kan forudsige
                                            processer.</span></em>
                                </p>
                            </blockquote>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-lg-2 col-12 col-lg-8">

                    <h2>HVEM HENVENDER UDDANNELSEN SIG TIL?</h2>

                    <p>Med en proceslederuddannelse fra CCC får du markedets stærkeste uddannelse i at planlægge, styre
                        og fastholde processer. Uddannelsen henvender sig til ledere, konsulenter og medarbejdere, som
                        har ansvar for og håndterer processer og forandringer i organisationen, internt eller eksternt.
                    </p>
                </div>
            </div>

        </div>

        <div class="bg-gainsboro mt-5">
            <div class="container-fluid py-5">
                <div class="row text-center">
                    <div class="offset-lg-3 col-12 col-lg-6">
                        <figure>
                            <blockquote class="blockquote mb-4">
                                <p class="fs-6">
                                    <i class="fas fa-quote-left fs-4 fa-lg opacity-50 me-2"></i>
                                    <em><span>Man kan sige, at du som procesleder fungerer som dit eget
                                            vigtigste
                                            redskab. Ved at være modtagelig, åben og opmærksom har du de bedste
                                            muligheder for at lede og facilitere en proces.</span></em>
                                </p>
                            </blockquote>
                        </figure>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="nav-test" role="tabpanel" aria-labelledby="nav-test-tab">

        <div class="bg-slate-gray mb-5">
            <div class="container-fluid py-5">
                <div class="row">
                    <div class="col-12">
                        <div class="row gx-5 gy-4">
                            <div class="col-lg-4">
    
                                <figure>
                                    <blockquote class="blockquote mb-4 col-12">
                                        <p class="text-white">
                                            <i class="fas fa-quote-left fs-3 fa-lg opacity-50 me-2 text-white"></i>
                                            <span>Jeg er via proceslederuddannelsen hos CCC blevet mere reflekteret omkring
                                                brugen af redskaber og metoder i forbindelse med design og facilitering af
                                                forskelligartede processer. Samtidigt er jeg blevet nysgerrig på at dykke
                                                endnu mere ned i den protreptiske samtaleform.</span>
                                            <br><br>
                                            <span>Jeg vil klart anbefale uddannelsen til andre som ønsker at udvikle sig i
                                                rollen som procesleder. CCC formår at skabe et tillidsfuldt rum for
                                                undervisningen, der både giver plads til faglig udvikling og personlige
                                                afklaringer i forhold til aktuelle dilemmaer/udfordringer</span>
                                        </p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer text-white">
                                        <b>Marianne Nyborg</b><br>
                                        <small>Direktionskonsulent, Hørsholm kommune</small>
                                    </figcaption>
                                </figure>
    
                            </div>
    
                            <div class="col-lg-4 col-12">
                                <figure>
                                    <blockquote class="blockquote mb-4">
                                        <p class="text-white">
                                            <i class="fas fa-quote-left fs-3 fa-lg opacity-50 me-2 text-white"></i>
                                            <span>Det er blevet nemmere for mig, at skabe den konstruktiv dialog i en
                                                samtale og analysere processen fra flere perspektiver. Det skyldes brugbare
                                                værktøjer fra CCC og træning af metalliseringsevnen, ved at anvende gode
                                                spørgeteknikker undervejs i uddannelse</span>
                                            <br><br>
                                            <span>Jeg vil gerne anbefale CCC - proceslederuddannelse, dog skal man have for
                                                øje, at denne proceslederuddannelse befinder sig ofte i paradigmet,
                                                socialkonstruktionisme. Det betyder, at man skal have fokus på egen
                                                refleksion og træne sin metalliseringsevne.</span>
                                        </p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer text-white">
                                        <b>Thomas Larsen</b><br>
                                        <small>Indskolingsleder, Tårnby Kommune</small>
                                    </figcaption>
                                </figure>
    
                            </div>
                            <div class="col-lg-4 col-12">
                                <figure>
                                    <blockquote class="blockquote mb-4">
                                        <p class="text-white">
                                            <i class="fas fa-quote-left fs-3 fa-lg opacity-50 me-2 text-white"></i>
                                            <span>Uddannelsen som procesleder har givet mig rigtig meget i forhold til at forstå mine egne reaktioner og følelser og givet mig nye perspektiver til at anskue mine svagheder som styrker. Jeg har fået redskaber til at kunne navigere refleksivt og nysgerrigt i faciliteringen af processer med komplekse problematikker og udfordringer.</span>
                                            <br><br>
                                            <span>Undervisernes erfaring samt deres faglige bredde og dybde var imponerede. De formåede at skabe nogle uddannelsesdage præget af nærvær, nysgerrighed og refleksion.</span>
                                        <br><br>
                                        <span>Jeg kan derfor i høj grad anbefale et uddannelsesforløb hos CCC.</span>
                                        </p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer text-white">
                                       <b>Jens Hedegård Norsk Nielsen</b><br>
                                        <small>Koordinator, Tårnby Ungdomsskole</small>
                                    </figcaption>
                                </figure>
    
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="offset-lg-2 col-12 col-lg-8">
                    <div>
                        {% include plu/udtalelser-artikel.html %}
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="tab-pane fade" id="nav-5" role="tabpanel" aria-labelledby="nav-5-tab">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-lg-2 col-12 col-lg-8">
                    <h3 class="mb-4 text-uppercase">Gennemgående undervisere</h3>

                    <div>
                        <div class="bg-gainsboro p-3">


                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img class="medium-image"
                                        src="/images/about/medarbejdere-sort-hvid/lars-nyborg-sort-hvid.png"
                                        alt="Lars Nyborg">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h4 text->Lars Nyborg</h4>
                                    <p>Associeret partner</p>
                                </div>

                            </div>



                        </div>

                    </div>
                    <div>
                        <div class="py-3 ps-3">

                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 me-3 text-end">
                                    <h4>Andreas Bering</h4>
                                    <p>Direktør i Copenhagen Coaching Center</p>
                                </div>
                                <div class="flex-shrink-0">
                                    <img class="medium-image"
                                        src="/images/about/medarbejdere-sort-hvid/andreas-bering-sort-hvid.png"
                                        alt="Andreas Bering">
                                </div>

                            </div>

                        </div>


                    </div>

                </div>
            </div>

        </div>

        <div class="bg-cadet-gray mt-5">
            <div class="container-fluid pt-5 pb-3">
                <div class="row text-center">
                    <div class="offset-lg-3 col-12 col-lg-6">
                        <figure>
                            <blockquote class="blockquote mb-4">
                                <p class="fs-6 text-white">
                                    <i class="fas fa-quote-left fs-4 fa-lg opacity-50 me-2 text-white"></i>
                                    <em><span>Lydhørhed er én af de vigtigste dyder i procesledelse. Lydhørhed
                                            over
                                            for den flerstemmighed, der måtte være i det miljø, der skal
                                            forandres.
                                            Det er i den tredje dimension, at man bliver kollektivt orienteret
                                            og
                                            skaber noget nyt - måske endda ovenpå uenighederne, og det der
                                            tidligere
                                            har skabt modstand. Man kan sige, at det er her, at integrationen af
                                            de
                                            forskellige interesser finder sted.</span></em>
                                </p>
                            </blockquote>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="nav-6" role="tabpanel" aria-labelledby="nav-6-tab">

        <div class="bg-gainsboro">
            <div class="container-fluid py-5">

                <div class="row">
                    <div class="offset-lg-2 col-12 col-lg-6">
                        <h3 class="mb-4 text-uppercase">Pris</h3>
                        <p>Prisen for Procesleder uddannelsen er 12.500,- (Ekskl. moms)</p>

                    </div>
                </div>
            </div>
        </div>










    </div>


    <div class="tab-pane fade" id="nav-7" role="tabpanel" aria-labelledby="nav-7-tab">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 offset-md-2 col-12">
                    {% include pfp/faq.html %}
                </div>
            </div>



        </div>
    </div>





</div>




{% for employee in site.employees %}
{% if employee.title == page.contact-person %}
<div class="container-fluid my-5">
    <div class="row">
        <div class="offset-xl-2 col-12 col-xl-8">
            <div class="row gy-3">
                <div class="col-md-7 col-12">



                    <div class="d-flex h-100 justify-content-center align-items-center bg-black-coral rounded p-3">
                        <div>

                            <p class="large text-white"><b>Har du spørgsmål til
                                    uddannelsen?</b> Kontakt {{ employee.title }} nedenfor. Vi glæder os til at
                                besvare
                                dine
                                spørgsmål.</p>

                            <div class="d-flex justify-content-end">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <p class="text-end mb-0 text-white"><b><a href="{{ employee.url }}"
                                                    data-proofer-ignore>{{
                                                    employee.title }}</a></b><br>

                                            <a href="tel:{{ employee.call }}" data-proofer-ignore>+45 {{
                                                employee.call
                                                }}</a><br>
                                            <a href="mailto:{{ employee.email }}" data-proofer-ignore>{{
                                                employee.email
                                                }}</a>
                                        </p>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <img class="small-image rounded-circle"
                                            src="{{ employee.small-portrait-image }}"
                                            alt="{{ employee.title }}, {{ employee.description}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-5 col-12">
                    <div class="d-flex h-100 justify-content-center align-items-center text-center rounded p-5"
                        style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/graphic/mennesker.jpg'); background-position: center; background-size: cover;">
                        <div>
                            <h4 class="text-white text-center">Interesseret i andre uddannelser?</h4>
                            <br>
                            <b><a class="btn-cadet-gray text-white text-center text-white btn mt-0 mx-auto"
                                    href="/academy/">Se
                                    mere <i class="fas fa-arrow-right text-white"></i></a></b>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>

{% endif %}
{% endfor %}


<div class="bg-slate-gray">
    {% include sections/newsletter.html %}
</div>


<!-- end -->