---
layout: default
---



<div class="pt-5"
    style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('{{ page.image }}'); background-size: cover; background-position: center;">
    <div class="container-fluid text-center py-5">
        <div class="pt-5">
            <div class="row py-5 gy-5">
                <div class="offset-md-2 col-12 col-md-8">
                    <h1 class="text-white mb-3">{{ page.title }}</h1>
                    <hr class="white w-50 responsive mx-auto">

                    <a class="btn-black-coral text-white btn" data-proofer-ignore href="#plu-c-modal" data-toggle="modal"
                        data-target="#plu-c-modal">Hør mere</a>
                    <br>

                    <a class="btn-cadet-gray text-white btn" data-proofer-ignore href="#plu-pdf-modal" data-toggle="modal"
                        data-target="#plu-pdf-modal">Hent brochure</a>
                    <br>
                </div>
            </div>
        </div>

    </div>
</div>






<div class="container-fluid text-center py-3">
    <div class="row">
        <div class="offset-lg-2 col-12 col-lg-8">

            <div class="nav nav-tabs bold my-4 gray-pallette" id="myTab" role="tablist">
                <a class="nav-item nav-link active" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab"
                    aria-controls="nav-coaching" aria-selected="false">Uddannelsen</a>
                <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab"
                    aria-controls="nav-2" aria-selected="false">Moduler</a>
                <a class="nav-item nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab"
                    aria-controls="nav-3" aria-selected="false">Deltagerprofil</a>
                <a class="nav-item nav-link" id="nav-test-tab" data-toggle="tab" href="#nav-test" role="tab"
                    aria-controls="nav-3" aria-selected="false">Testamonials</a>
                <a class="nav-item nav-link" id="nav-5-tab" data-toggle="tab" href="#nav-5" role="tab"
                    aria-controls="nav-5" aria-selected="false">Undervisere</a>
                <a class="nav-item nav-link" id="nav-6-tab" data-toggle="tab" href="#nav-6" role="tab"
                    aria-controls="nav-6" aria-selected="false">Praktisk</a>
                <a class="nav-item nav-link" id="nav-7-tab" data-toggle="tab" href="#nav-7" role="tab"
                    aria-controls="nav-7" aria-selected="false">FAQ</a>

                <a class="nav-item nav-link" href="/tilmelding/?n={{ page.title }}">Tilmelding</a>

            </div>
        </div>
    </div>
</div>




<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
        <div class="container-fluid pb-4">
            <div class="row">
                <div class="offset-lg-2 col-12 col-lg-8">

                    {{ page.content }}

                </div>
            </div>
        </div>
        <div class="bg-gainsboro">
            <div class="container-fluid py-5">
                <div class="row">
                    <div class="offset-lg-2 col-12 col-lg-8">
                        <h4>HVAD FÅR DU UD AF UDDANNELSEN?</h4>
                        <p class="mb-1 fw-bold">Med proceslederuddannelsen bliver du bedre til:</p>
                        <ul>
                            <li>at styre, designe og lede processer · at have personlig opmærksomhed
                                på håndtering af vanskeligheder i processer</li>
                            <li>at anvende innovative og kreative redskaber i processer</li>
                            <li>at anvende forskellige pragmatiske perspektiver på processer</li>
                            <li>at håndtere frustrationer i organisationer</li>
                            <li>at producere nye handlemuligheder</li>
                            <li>at skabe og sikre følgeskab.</li>
                        </ul>

                        <p class="mb-1 fw-bold">Du for desuden:</p>
                        <ul class="mb-4">
                            <li>Adgang til vidensportal, værktøjer, faglitteratur, artikler og cases
                            </li>
                            <li>Løbende supervision og et stærkt netværk</li>
                            <li>Big Five Personlighedstest med individuel tilbagemelding</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="tab-pane fade tab-2" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">

        <div class="container-fluid">
            <div class="row">
                <div class="offset-lg-2 col-12 col-lg-8">


                    <h3>HVORDAN ER UDDANNELSEN BYGGET OP?</h3>
                    <p>Uddannelsen løber over 5 online undervisningsgange, med træning og praktiske opgaver mellem de
                        enkelte undervisningsgange.</p>
                    <hr>
                    <p class="fs-6"><b>Uddannelsen arbejder i tre gennemgående spor:</b></p>

                    <div class="row gy-4 gx-0">
                        <div class="col-4">
                            <div class="w-100 p-3 bg-gainsboro d-flex align-items-center text-center">
                                <p class="mb-0"><em>Det individuelle – personlig udvikling – Dig selv som procesværktøj</em></p>
                            </div>

                        </div>
                        <div class="col-8">
                            <div class="w-100 p-3 bg-gainsboro h-100 d-flex align-items-center">
                                <p class="mb-0">Alle
                                    deltagere får en Big 5 personlighedstest med en individuel tilbagemelding.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row gy-4 gx-0">
                        <div class="col-4">
                            <div class="w-100 h-100 p-3 d-flex align-items-center justify-content-center">
                                <p class="mb-0"><em>Aktionslæring</em></p>
                            </div>

                        </div>
                        <div class="col-8">
                            <div class="w-100 p-3 h-100 d-flex align-items-center">
                                <p class="mb-0">Der arbejdes mellem undervisningsgangene med en gennemgående case fra
                                    egen virksomhed og med praktiske erfaringer, som løbende inddrages i undervisningen.

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row gy-4 gx-0">
                        <div class="col-4">
                            <div class="w-100 p-3 bg-gainsboro h-100 d-flex align-items-center justify-content-center">
                                <p class="mb-0"><em>Viden, inspiration, og redskaber</em></p>
                            </div>

                        </div>
                        <div class="col-8">
                            <div class="w-100 p-3 bg-gainsboro h-100 d-flex align-items-center">
                                <p class="mb-0">Deltagerne får en varieret viden om procesledelse samt inspiration og
                                    konkrete værktøjer til arbejdet som procesleder.</p>
                            </div>
                        </div>
                    </div>


                    <p class="fs-6 mt-5"><b>Undervisningsdage:</b></p>
                    <div class="row px-2">
                        <div class="col-12">

                            <div class="row">

                                <div class="col-6 col-md-2 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0 fw-bold">23/11/2021</p>
                                </div>
                                <div class="col-6 col-md-2 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">09.00–12.00</p>
                                </div>
                                <div class="col-12 col-md-3 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">Introduktionsdag</p>
                                </div>
                                <div class="col-12 col-md-5 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">Præsentation og
                                        introduktion til uddannelsen, indhold, struktur, litteratur, casevalg mm.</p>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-6 col-md-2 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0 fw-bold">16/12/2021</p>
                                </div>
                                <div class="col-6 col-md-2 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">09.00–12.00</p>
                                </div>
                                <div class="col-12 col-md-3 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">Den kognitive tilgang til procesledelse</p>
                                </div>
                                <div class="col-12 col-md-5 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">Vi
                                        arbejder med: rammer, styring, procesredskaber mm.</p>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-6 col-md-2 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0 fw-bold">25/01/2022</p>
                                </div>
                                <div class="col-6 col-md-2 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">09.00–12.00</p>
                                </div>
                                <div class="col-12 col-md-3 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">Den emotionelle/psykodynamiske tilgang til
                                        procesledelse</p>
                                </div>
                                <div class="col-12 col-md-5 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">Vi arbejder med det psykodynamiske: med stemthed, håndtering af
                                        frustrationer og modstand og med mentalisering.</p>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-6 col-md-2 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0 fw-bold">01/03/2022</p>
                                </div>
                                <div class="col-6 col-md-2 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">09.00–12.00</p>
                                </div>
                                <div class="col-12 col-md-3 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">Den systemiske tilgang til procesledelse</p>
                                </div>
                                <div class="col-12 col-md-5 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">Vi
                                        arbejder med relationel koordinering, med narrativer og med samskabelse</p>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-6 col-md-2 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0 fw-bold">05/04/2022</p>
                                </div>
                                <div class="col-6 col-md-2 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">09.00–12.00</p>
                                </div>
                                <div class="col-12 col-md-3 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">Evalueringsdag</p>
                                </div>
                                <div class="col-12 col-md-5 p-3 d-flex align-items-center border-gainsboro">
                                    <p class="mb-0">Vi præsenterer vores cases og
                                        evalueringsopgaver og reflekterer sammen om indhold og processer</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>

    <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-lg-2 col-12 col-lg-8">

                    <h2>HVEM HENVENDER UDDANNELSEN SIG TIL?</h2>

                    <p>Med en proceslederuddannelse fra CCC får du markedets stærkeste uddannelse i at planlægge, styre
                        og fastholde processer. Uddannelsen henvender sig til ledere, konsulenter og medarbejdere, som
                        har ansvar for og håndterer processer og forandringer i organisationen, internt eller eksternt.
                    </p>
                </div>
            </div>

        </div>

    </div>

    <div class="tab-pane fade" id="nav-test" role="tabpanel" aria-labelledby="nav-test-tab">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-lg-2 col-12 col-lg-8">

                    <h2>HVEM HENVENDER UDDANNELSEN SIG TIL?</h2>

                </div>
            </div>

        </div>

    </div>

    <div class="tab-pane fade" id="nav-5" role="tabpanel" aria-labelledby="nav-5-tab">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-lg-2 col-12 col-lg-8">
                    <h3 class="mb-4 text-uppercase">Gennemgående undervisere</h3>

                    <div>
                        <div class="bg-gainsboro p-3">


                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img class="medium-image"
                                        src="/images/about/medarbejdere-sort-hvid/lars-nyborg-sort-hvid.png"
                                        alt="Lars Nyborg">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h4 text->Lars Nyborg</h4>
                                    <p>Associeret partner</p>
                                </div>

                            </div>



                        </div>

                    </div>
                    <div>
                        <div class="py-3 ps-3">

                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 me-3 text-end">
                                    <h4>Andreas Bering</h4>
                                    <p>Direktør i Copenhagen Coaching Center</p>
                                </div>
                                <div class="flex-shrink-0">
                                    <img class="medium-image"
                                        src="/images/about/medarbejdere-sort-hvid/andreas-bering-sort-hvid.png"
                                        alt="Andreas Bering">
                                </div>

                            </div>

                        </div>


                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="tab-pane fade" id="nav-6" role="tabpanel" aria-labelledby="nav-6-tab">

        <div class="bg-gainsboro">
            <div class="container-fluid py-5">

                <div class="row">
                    <div class="offset-lg-3 col-12 col-lg-6">
                        <h3 class="mb-4 text-uppercase">Pris</h3>
                        <p>Prisen for Procesleder uddannelsen er 12.500,- (Ekskl. moms)</p>

                    </div>
                </div>
            </div>
        </div>










    </div>


    <div class="tab-pane fade" id="nav-7" role="tabpanel" aria-labelledby="nav-7-tab">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 offset-md-2 col-12">
                    {% include pfp/faq.html %}
                </div>
            </div>



        </div>
    </div>

    <div class="tab-pane fade" id="nav-10" role="tabpanel" aria-labelledby="nav-10-tab">

        <div class="bg-deep-taupe">
            <div class="container-fluid py-5">
                <div class="row">
                    <div class="offset-xl-3 col-12 col-xl-6">
                        <h3 class="text-white">Lyder uddannelsen som noget for dig, så meld dig til vores kommende
                            infomøde</h3>

                        <p class="text-white">Der er i øjeblikket ikke noget kommende info møde, men tilmeld dig vores
                            nyhedsbrev og bliv
                            informeret
                            omkring datoer i fremtiden.</p>

                        <a class="btn white-border-button text-uppercase" href="/nyhedsbrev/">Tilmeld
                            nyhedsbrev</a>

                        <!--             <form action="https://formspree.io/f/myybvnyp" method="POST" class="white-form">
                        <span>
                            <select class="input-form" name="dato">
                                <option value="emne">Vælg dato</option>
                               
                                
                                
                                <option value="10. maj 2021">10. maj 2021</option>
                                
                                
                            </select>
                            <input class="input-form" type="text" placeholder="Fornavn" name="LNAME" required>
                            <input class="input-form" type="text" placeholder="Efternavn" name="LNAME" required>
        
                            <input class="input-form" type="email" placeholder="Email" name="email" required>
                            <input class="input-form" type="text" placeholder="Telefon" name="tlf" required>
                        </span>
        
        
        
                        <p><input class="display-inline" type="checkbox" name="_optin" /> Jeg vil gerne tilmeldes CCC's
                            nyhedsbrev.</p>
        
        
        
                        <button class="green-button" type="submit">Tilmeld</button>
                    </form>  -->
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="nav-8" role="tabpanel" aria-labelledby="nav-8-tab">
        <div class="container-fluid extra-narrow-container no-up align-center">
            <br>
            <h2>Tilmelding</h2>
            <br>
            <form class="white-form" action="https://formspree.io/f/mvovyqez" method="POST">


                <input type="text" name="name" placeholder="Navn" required>
                <input type="text" name="email" placeholder="E-mail" required>

                <input type="text" name="tlf" placeholder="Tlf">
                <input type="text" name="virksomhed" placeholder="Virksomhed">
                <textarea name="besked" cols="30" rows="10" placeholder="Evt. kommentar"></textarea>


                <!-- your other form fields go here -->

                <button class="dust-green-btn" type="submit">Tilmeld</button>
            </form>

        </div>
    </div>


</div>




{% for employee in site.employees %}
{% if employee.title == page.contact-person %}
<div class="container-fluid my-5">
    <div class="row">
        <div class="offset-xl-2 col-12 col-xl-8">
            <div class="row gy-3">
                <div class="col-md-7 col-12">



                    <div class="d-flex h-100 justify-content-center align-items-center bg-black-coral rounded p-3">
                        <div>

                            <p class="large text-white"><b>Har du spørgsmål til
                                    uddannelsen?</b> Kontakt {{ employee.title }} nedenfor. Vi glæder os til at
                                besvare
                                dine
                                spørgsmål.</p>

                            <div class="d-flex justify-content-end">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <p class="text-end mb-0 text-white"><b><a href="{{ employee.url }}"
                                                    data-proofer-ignore>{{
                                                    employee.title }}</a></b><br>

                                            <a href="tel:{{ employee.call }}" data-proofer-ignore>+45 {{
                                                employee.call
                                                }}</a><br>
                                            <a href="mailto:{{ employee.email }}" data-proofer-ignore>{{
                                                employee.email
                                                }}</a>
                                        </p>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <img class="small-image rounded-circle"
                                            src="{{ employee.small-portrait-image }}"
                                            alt="{{ employee.title }}, {{ employee.description}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-5 col-12">
                    <div class="d-flex h-100 justify-content-center align-items-center text-center rounded p-5"
                        style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/graphic/mennesker.jpg'); background-position: center; background-size: cover;">
                        <div>
                            <h4 class="text-white text-center">Interesseret i andre uddannelser?</h4>
                            <br>
                            <b><a class="btn-spanish-gray text-white text-center text-white btn mt-0 mx-auto"
                                    href="/academy/">Se
                                    mere <i class="fas fa-arrow-right"></i></a></b>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>

{% endif %}
{% endfor %}
</div>







{% capture reg-url %}?n={{ page.title | uri_escape }}{% endcapture %}


{% assign page-contact = page.contact-person %}



{% assign pageurl = page.url %}






<div class="bg-cadet-gray">
    {% include sections/newsletter.html %}
</div>


<!-- end -->