---
layout: default
---

<div class="bg-black-coral py-5">
    <div class="container-fluid p-5">
        <div class="row pt-5">
            <div class="offset-lg-2 col-lg-8 col-12">
                <div class="bg-white pe-5 ps-5 pb-5 pt-3 rounded">
                    <a class='animated-arrow mb-3' href='/lyd/'>
                        <span class='the-arrow -left rotated'>
                            <span class='shaft'></span>
                        </span>
                        <span class='main'>
                            <span class='text'>
                                <p class="pt-4">
                                    Tilbage til CCC Lyd
                                </p>
                            </span>
                            <span class='the-arrow -right rotated'>
                                <span class='shaft'></span>
                            </span>
                        </span>
                    </a>
                    <p class="large text-uppercase text-muted">Podcast</p>
                    
                    {{ page.content }}
                </div>
            </div>
        </div>
    </div>
</div>