---
layout: default
---

<div class="bg-black-coral py-5">
    <div class="container-fluid p-5">
        <div class="row pt-5">
            <div class="offset-lg-2 col-lg-8 col-12">
                <div class="bg-white pe-5 ps-5 pb-5 pt-3 rounded">
                    
                    <a class='animated-arrow mb-3' href='/resonans/'>
                        <span class='the-arrow -left rotated'>
                            <span class='shaft'></span>
                        </span>
                        <span class='main'>
                            <span class='text'>
                                <p class="pt-4">
                                    Tilbage til Resonans
                                </p>
                            </span>
                            <span class='the-arrow -right rotated'>
                                <span class='shaft'></span>
                            </span>
                        </span>
                    </a>
                    <div class="w-100 h-400">
                        <img src="{{ page.image }}" alt="{{ page.title }}" class="object-fit h-100 w-100">
                    </div>
                    <p class="large text-uppercase text-muted">{% for tag in page.tags %}{{ tag }} {% endfor %}</p>

                    <h1>{{ page.title }}</h1>
                    <p>{{ page.description }}</p>
                    <div class="accordion" id="accordionExample">
                        {% for episode in page.episodes %}
                        <div class="accordion-item mb-2">
                            <p class="accordion-header fs-4" id="heading{{ forloop.index }}">
                                <button class="accordion-button collapsed text-white bg-black-coral" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{ forloop.index }}" aria-expanded="true" aria-controls="collapse{{ forloop.index }}">
                                    Episode {{ forloop.index }}: {{ episode.title }}
                                </button>
                            </p>
                            <div id="collapse{{ forloop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.index }}"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>{{ episode.description }}</p>
                                    {{ episode.sound }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>