---
layout: page
---

<div class="individual-stories">
    <div class="row">
        <h1>{{ page.title }}</h1>
        <span class="stories-information">
            {{ page.date | date: "%B %d, %Y" }} af&nbsp;
            <a href="/employees/{{ page.author | remove: ' ' | downcase }}/" data-proofer-ignore>{{ page.author }}</a>
        </span>
        <div class="share-icons">
            <a href="https://www.facebook.com/sharer.php?u={{ page.url | prepend: 'https://stage.copenhagencoaching.dk' }}"><i class="fab fa-facebook-f" title="Del på Facebook"></i></a>
            <a href="#"><i class="fab fa-twitter" title="Del på Twitter"></i></a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ post.url | prepend: 'https://stage.copenhagencoaching.dk' }}"><i class="fab fa-linkedin-in" title="Del på LinkedIn"></i></a>
        </div>
        {{ content }}
        <a class="read-more" href="/Inspiration/">← Læs flere historier</a>
    </div>
</div>
