---
layout: default
---
<div class="container-fluid narrow-container">
  <div class="short-hero-image">
    <img src="{{ page.image}}" alt="">
  </div>




  <h1>{{ page.title }}</h1>
  {% if page.category == "blog" %}
  <h6>{{ page.date | date: "%d. %b %Y" }}</h6>
  <h5><a href="/employees/{{ page.author | replace: ' ', '-'| downcase }}/" data-proofer-ignore>{{ page.author}}</a>
  </h5>{% endif %}


  <div class="text-content">

    {% if page.price or page.location or page.time or page.contact.person %}

    <div class="dynamic-info-box green grid-1">

      {% if page.dates %}
      <span>
        <h5>Dato:</h5>
        {% for date in page.dates %}
        <p>{{ date }}</p>
        {% endfor %}
      </span>
      {% endif %}

      {% if page.time %}
      <h5>Tid:</h5>
      <p>{{ page.time }}</p>
      {% endif %}

      {% if page.price %}
      <span>
        <h5>Pris:</h5>
        <p> {{ page.price }} </p>
      </span>
      {% endif %}

      {% if page.location %}
      <span>
        <h5>Sted:</h5>
        <p>{% if page.location-link %}<a href="{{ page.location-link }}"
            target="_blank">{% endif %}{{ page.location }}{% if page.location-link %} </a> {% endif %}</p>
      </span>
      {% endif %}


      {% if page.contact-person %}
      <span>
        <h5>Kontakt:</h5>
        {% for employee in site.employees %}
        {% if employee.title == page.contact-person %}
        <a href="{{ employee.url }}" data-proofer-ignore>{{ employee.title }}</a><br>
        <a href="tel:{{ employee.call }}" data-proofer-ignore>{{ employee.call }}</a><br>
        <a href="mailto:{{ employee.email }}" data-proofer-ignore>{{ employee.email }}</a>
        {% endif %}
        {% endfor %}
      </span>
      {% endif %}


    </div>
    {% endif %}
    <div class="share-icons">
      <a href="https://www.facebook.com/sharer.php?u={{ page.url | prepend: 'https://stage.copenhagencoaching.dk' }}"><i
          class="fab fa-facebook-f" title="Del på Facebook"></i></a>
      <a
        href="https://www.linkedin.com/shareArticle?mini=true&url={{ post.url | prepend: 'https://stage.copenhagencoaching.dk' }}"><i
          class="fab fa-linkedin-in" title="Del på LinkedIn"></i></a>
    </div>
    {{ page.content }}
  </div>
</div>