---
layout: default
---
<div class="pt-5"
    style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('{{ page.image }}'); background-size: cover; background-position: center;">
    <div class="container-fluid text-center py-5">
        <div class="pt-5">
            <div class="row py-5 gy-5">
                <div class="offset-md-2 col-12 col-md-8">
                    <h1 class="text-white mb-3">{{ page.title }}</h1>

                    <hr class="white w-50 responsive mx-auto">
                    <h4 class="text-white">at spotte, udvikle og fastholde talent</h4>
                    <a class="btn-black-coral text-white btn" data-proofer-ignore href="#tup-c-modal"
                        data-toggle="modal" data-target="#tup-c-modal">Hør mere</a>
                    <br>

                    <a class="btn-slate-gray text-white btn" data-proofer-ignore href="#tup-pdf-modal"
                        data-toggle="modal" data-target="#tup-pdf-modal">Hent brochure</a>
                    <br>
                </div>
            </div>
        </div>

    </div>
</div>




<div class="container-fluid text-center py-3">
    <div class="row">
        <div class="offset-xl-2 col-12 col-xl-8">
            <div class="nav nav-tabs four-tabs my-4" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab"
                    aria-controls="nav-coaching" aria-selected="false">Overblik</a>
                <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab"
                    aria-controls="nav-2" aria-selected="false">Program</a>
                <!--  <a class="nav-item nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab"
                    aria-controls="nav-3" aria-selected="false">Deltagerprofil</a> -->
                <!--  <a class="nav-item nav-link" id="nav-4-tab" data-toggle="tab" href="#nav-4" role="tab"
                    aria-controls="nav-4" aria-selected="false">Anbefalinger</a> -->
                <!--   <a class="nav-item nav-link" id="nav-5-tab" data-toggle="tab" href="#nav-5" role="tab"
                    aria-controls="nav-5" aria-selected="false">Undervisere</a> -->
                <a class="nav-item nav-link" id="nav-6-tab" data-toggle="tab" href="#nav-6" role="tab"
                    aria-controls="nav-6" aria-selected="false">Praktisk</a>
                <!--  <a class="nav-item nav-link" id="nav-7-tab" data-toggle="tab" href="#nav-7" role="tab"
                    aria-controls="nav-7" aria-selected="false">FAQ</a> -->
                <a class="nav-item nav-link" href="/talentudvikling/tilmelding/">Tilmeld</a>
            </div>
        </div>
    </div>
</div>
<div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
        <div class="container-fluid pb-3">
            <div class="row">
                <div class="offset-xl-2 col-12 col-xl-8">
                    <div class="row gy-3">
                        <div class="col-12 col-xl-6">
                            <div class="h-100"
                                style="background-image: url('/images/educations/talent-2.png'); background-position: center; background-size: cover;">
                            </div>
                        </div>

                        <div class="col-xl-6 col-12">
                            <h4>Vil du?</h4>
                            <ul>
                                <li>Gøre din virksomhed mere attraktiv?</li>
                                <li>Tiltrække de bedste medarbejdere?</li>
                                <li>Udvikle og fastholde dine nuværende medarbejdere?</li>
                                <li>Skabe en højere kvalitet og produktivitet?</li>
                            </ul>
                            <h4>Mød <b>bl.a.</b></h4>
                            <ul>
                                <li><b>Albert Capellas</b> - tidligere dansk u21 landstræner og nuværende
                                    talentansvarlig i FC Barcelona.</li>
                                <li><b>IO Interactive</b>, den danske succesvirksomhed og spiludvikler, som har arbejdet
                                    målrettet med talentudvikling</li>
                                <li><b>Vidar Halldorsson</b> - Islandsk professer i sociologi, som har forsket i
                                    kulturens betydning for talentudvikling og resultater.</li>


                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>








        <div class="container-fluid py-5 mb-5">
            <div class="row">
                <div class="offset-xl-2 col-12 col-xl-8">
                    <div class="row gx-5 gy-4">
                        <div class="col-xl-6 col-12">
                            <h2>Hvorfor arbejde
                                med talentudvikling?</h2>
                            <p><b>I de kommende år vil mange
                                    virksomheder og organisationer opleve
                                    mangel på ledere og på arbejdskraft
                                    generelt – kampen om de bedste
                                    medarbejdere vil derfor blive skærpet</b></p>
                            <p>Det bliver et centralt fokuspunkt for
                                virksomheder at rekruttere de bedste
                                medarbejdere, men lige så centralt bliver
                                det at udvikle og udfolde
                                medarbejdernes potentiale/udvikle
                                talenterne og sidst men ikke mindst at
                                sikre, at de bliver i virksomheden.</p>
                            <p><b>De centrale spørgsmål:</b></p>
                            <p>Der er et stort medarbejderflow i mange
                                virksomheder som alt andet lige kan
                                betyde øgede omkostninger og tab af
                                faglighed. Et centralt spørgsmål bliver
                                derfor:</p>
                            <ul>
                                <li>Hvordan sikrer jeg/vi, at de bedste
                                    medarbejdere bliver i virksomheden?</li>
                                <li>Hvordan sikrer jeg/vi, at de bedste
                                    medarbejdere udvikler sig mest muligt
                                    i virksomheden?</li>
                            </ul>
                        </div>
                        <div class="col-xl-6 col-12">

                            <p><b>Den stigende mangel på kvalificeret
                                    personale er også en udfordring for
                                    mange virksomheder. Følgende
                                    spørgsmål kan derfor med fordel
                                    søges besvaret:</b></p>
                            <ul>
                                <li>
                                    Hvordan finder jeg og tiltrækker
                                    de bedste medarbejdere til
                                    virksomheden?
                                </li>
                                <li>
                                    Hvordan skaber jeg en strategi,
                                    der kan sikre ovenstående?
                                </li>
                            </ul>
                            <p><b>I arbejdet med at udvikle en
                                    talentstrategi, forholder vi os til fire
                                    helt centrale og gennemgående
                                    spørgsmål:</b></p>
                            <ul>
                                <li>
                                    Hvad er talent?
                                </li>
                                <li>
                                    Hvordan spotter man talent?
                                </li>
                                <li>Hvordan udvikler man talent?</li>
                                <li>Hvordan fastholder man talent?</li>
                            </ul>
                            <div class="h-50"
                                style="background-image: url('/images/educations/talent-3.png'); background-position: bottom; background-size: cover;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container-fluid pt-4 pb-1 mt-4">
            <div class="row">
                <div class="offset-xl-2 col-12 col-xl-8">
                    <div class="bg-slate-gray px-5 py-4">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h2 class="text-white mb-0">
                                    Kursus oversigt
                                </h2>
                            </div>
                            <!--  <div class="col-2 d-flex align-items-center">
                                <p class="text-white mb-0"><b>Pris ekskl. moms</b><br>45.900,-</p>
                            </div>
                            <div class="col-2 d-flex align-items-center">
                                <p class="text-white mb-0"><b>Varighed</b><br>7-8 dage</p>
                            </div>
                            <div class="col-2 d-flex align-items-center">
                                <p class="text-white mb-0"><b>Moduler</b><br>8 moduler</p>
                            </div> -->
                        </div>
                    </div>
                    <div class="bg-black-coral px-5 py-3 d-none d-lg-block">
                        <div class="row gx-0">
                            <div class="col-md-4 col-12">
                                <p class="text-white mb-0 text-uppercase"><b>Hold</b></p>
                            </div>
                            <div class="col-md-4 col-12">
                                <p class="text-white mb-0 text-uppercase"><b>Dato</b></p>
                            </div>
                            <div class="col-md-4 col-12">
                                <p class="text-white mb-0 text-uppercase"><b>Pris</b></p>
                            </div>
                        </div>
                    </div>


                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        {% for semester in page.hold %}
                        <div class="accordion-item border-none">
                            <div class="accordion-header d-none d-lg-block" id="heading{{ forloop.index }}">
                                <button class="accordion-button collapsed px-5 py-3 bg-gainsboro" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.index }}"
                                    aria-expanded="true" aria-controls="collapse{{ forloop.index }}">

                                    <div class="row gx-0 w-100">
                                        <div class="col-md-4 col-12">
                                            <p class="mb-0 text-uppercase">{{ semester.title }}</p>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <p class="mb-0 text-uppercase">{{ semester.dates }}</p>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <p class="mb-0 text-uppercase">{{ semester.price }}</p>
                                        </div>
                                    </div>
                                </button>
                            </div>

                            <!-- darker one -->
                            <div class="accordion-header border-none d-sm-block d-md-none" id="heading{{ forloop.index }}">
                                <button class="accordion-button white border-none collapsed px-5 py-3 bg-black-coral" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.index }}"
                                    aria-expanded="true" aria-controls="collapse{{ forloop.index }}">

                                    <div class="row gx-0 w-100">
                                        <div class="col-md-4 col-12">
                                            <p class="mb-0 text-uppercase text-white">{{ semester.title }}</p>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <p class="mb-0 text-uppercase text-white">{{ semester.dates }}</p>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <p class="mb-0 text-uppercase text-white">{{ semester.price }}</p>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div id="collapse{{ forloop.index }}" class="accordion-collapse collapse"
                                aria-labelledby="heading{{ forloop.index }}">
                                <div class="accordion-body p-0">
                                    <div class="bg-slate-gray pt-3 ps-3 pe-3 d-none d-lg-block">
                                        <div class="row">
                                            <div class="col-md-2 col-6">
                                                <p class="text-white">
                                                    Dato
                                                </p>
                                            </div>
                                            <div class="col-md-2 col-6">
                                                <p class="text-white">
                                                    Dag
                                                </p>
                                            </div>
                                            <div class="col-md-2 col-6">
                                                <p class="text-white">
                                                    Tid
                                                </p>
                                            </div>
                                            <div class="col-md-2 col-6">
                                                <p class="text-white">
                                                    Modul
                                                </p>
                                            </div>
                                            <div class="col-md-2 col-6">
                                                <p class="text-white">
                                                    Sted
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    {% for module in semester.modules %}
                                    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
                                    <div class="pt-3 ps-3 pe-3{% if thecycle == 'odd' %} bg-gainsboro{% endif %}">
                                        <div class="row">
                                            <div class="col-md-2 col-6">
                                                <p>
                                                    {{ module.date }}
                                                </p>
                                            </div>
                                            <div class="col-md-2 col-6 d-none d-lg-block">
                                                <p>
                                                    {{ module.day }}
                                                </p>
                                            </div>
                                            <div class="col-md-2 col-6 d-none d-lg-block">
                                                <p>
                                                    {{ module.time }}
                                                </p>
                                            </div>
                                            <div class="col-md-2 col-6">
                                                <p>
                                                    {{ module.name }}
                                                </p>
                                            </div>
                                            <div class="col-md-2 col-6">
                                                <p>
                                                    {{ module.place }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    {% endfor %}

                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>




        <!--  <div class="container-fluid extra-narrow-container pt-50 pb-50 align-center">
            <div class="grid-3 slow-grid gap-20 r-gap-40">
                <div><button class="jet-btn full-width">
                        <div class="grid-80-20">
                            <div class="align-left">
                                Tilmeld dig nu
                            </div>
                            <div class="align-right"><i class="fas fa-check"></i></div></i>
                        </div>
                    </button>
                </div>
                <div><button class="cinereous-btn full-width">
                        <div class="grid-80-20">
                            <div class="align-left">
                                Reservér plads
                            </div>
                            <div class="align-right"><i class="fas fa-chair"></i></div></i>
                        </div>

                </div>
                <div><button class="silver-chalice-btn full-width">
                        <div class="grid-80-20">
                            <div class="align-left">
                                Download brochure
                            </div>
                            <div class="align-right"><i class="fas fa-download"></i></div></i>
                        </div>
                    </button></div>

            </div>
        </div> -->
    </div>

    <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
        <div class="container-fluid pb-5 d-none d-sm-none d-md-none d-lg-none d-xl-block">
            <div class="row">
                <div class="offset-lg-1 col-lg-10 col-12">
                    <div class="row text-center" style="margin-left: 0 !important; margin-right: 0 !important;">
                        <div
                            class="col-md-2 col-12 bg-black-coral p-2 d-flex align-items-center justify-content-center">
                            <p class="mb-0 text-white"><b>Hvad er talent?</b></p>
                        </div>
                        <div
                            class="col-md-2 col-12 bg-black-coral p-2 d-flex align-items-center justify-content-center">
                            <p class="mb-0 text-white"><b>Afrejse fra København - Barcelona</b></p>
                        </div>
                        <div
                            class="col-md-2 col-12 bg-black-coral p-2 d-flex align-items-center justify-content-center">
                            <p class="mb-0 text-white"><b>Ophold i Barcelona</b></p>
                        </div>
                        <div
                            class="col-md-2 col-12 bg-black-coral p-2 d-flex align-items-center justify-content-center">
                            <p class="mb-0 text-white"><b>Ophold i Barcelona</b></p>
                        </div>
                        <div
                            class="col-md-2 col-12 bg-black-coral p-2 d-flex align-items-center justify-content-center">
                            <p class="mb-0 text-white"><b>Afrejse fra Barcelona - København</b></p>
                        </div>
                        <div
                            class="col-md-2 col-12 bg-black-coral p-2 d-flex align-items-center justify-content-center">
                            <p class="mb-0 text-white"><b>Netværksmøde<br>Workshop</b></p>
                        </div>
                        <!-- next row -->
                        <div class="col-md-2 col-12 bg-platinum p-2 d-flex align-items-center justify-content-center">
                            <p class="mb-0">En dag om talent
                                inden afrejse</p>
                        </div>

                        <div class="col-md-2 col-12 bg-platinum p-2 d-flex align-items-center justify-content-center">
                            <p class="mb-0">Afgang fra
                                Københavns
                                Lufthavn
                                sidst på
                                eftermiddagen.</p>
                        </div>
                        <div class="col-md-2 col-12 bg-platinum p-2 d-flex align-items-center justify-content-center">
                            <p class="mb-0">Besøg hos FC Barcelona</p>
                        </div>
                        <div class="col-md-2 col-12 bg-platinum p-2 d-flex align-items-center justify-content-center">
                            <p class="mb-0">Forskningsmæssigt indlæg ved
                                professor Vidar Hallidorsson</p>
                        </div>
                        <div class="col-md-2 col-12 bg-platinum p-2 d-flex align-items-center justify-content-center">
                            <p class="mb-0">Hjemrejse fra
                                Barcelona til
                                København</p>
                        </div>
                        <div class="col-md-2 col-12 bg-platinum p-2 d-flex align-items-center justify-content-center">
                            <p class="mb-0">
                                Netværksmøde- og
                                implementeringsdag. Vi mødes og
                                udveksler erfaringer:<br><br>
                                - Hvad er der sket i min organisation
                                siden besøget i Barcelona?
                            </p>

                        </div>

                        <!-- next row -->

                        <div class="col-md-2 col-12 bg-cultured p-2 d-flex align-items-center justify-content-center">
                            <p class="mb-0">
                                Vi kommer tættere på begreberne
                                talent og potentiale gennem
                                indlæg og inspiration
                            </p>

                        </div>

                        <div class="col-md-2 col-12 bg-cultured p-2 d-flex align-items-center justify-content-center">
                            <p class="mb-0">
                                Indkvartering i
                                Barcelona og
                                middag
                            </p>

                        </div>
                        <div class="col-md-2 col-12 bg-cultured p-2 d-flex align-items-center justify-content-center">
                            <p class="mb-0">
                                Se træning/træningsmiljø
                            </p>

                        </div>
                        <div class="col-md-2 col-12 bg-cultured p-2 d-flex align-items-center justify-content-center">
                            <p class="mb-0">
                                Refleksioner over muligheder og
                                perspektiver i egen virksomhed
                            </p>

                        </div>

                        <div class="col-md-2 col-12 bg-cultured p-2 d-flex align-items-center justify-content-center">
                            <p class="mb-0">
                                Farvel og på
                                gensyn i april
                            </p>

                        </div>

                        <div class="col-md-2 col-12 bg-cultured p-2 d-flex align-items-center justify-content-center">
                            <p class="mb-0">
                                - Hvilke erfaringer har jeg gjort?<br>
                                - Hvad har virket?<br>
                                - Hvad har været svært?<br><br>
                                - Næste skridt / udarbejdelse af
                                implementeringsplan
                            </p>

                        </div>

                        <!-- next row -->


                        <div class="col-md-2 col-12 bg-platinum p-2 d-flex align-items-center justify-content-center">


                        </div>

                        <div class="col-md-2 col-12 bg-platinum p-2 d-flex align-items-center justify-content-center">


                        </div>

                        <div class="col-md-2 col-12 bg-platinum p-2 d-flex align-items-center justify-content-center">
                            <p class="mb-0">
                                Oplæg om talentspotting,
                                talentudvikling og fastholdelse
                            </p>

                        </div>

                        <div class="col-md-2 col-12 bg-platinum p-2 d-flex align-items-center justify-content-center">
                            <p class="mb-0">
                                Aftenprogram
                            </p>

                        </div>
                        <div class="col-md-2 col-12 bg-platinum p-2 d-flex align-items-center justify-content-center">


                        </div>
                        <div class="col-md-2 col-12 bg-platinum p-2 d-flex align-items-center justify-content-center">


                        </div>
                    </div>

                 
                </div>
            </div>
        </div>

        <div class="container-fluid pb-5 d-sm-block d-md-block d-lg-block d-xl-none">
            <div class="row">
                <div class="offset-lg-2 col-lg-8 col-12">
                    <div class="row text-center gy-3" style="margin-left: 0 !important; margin-right: 0 !important;">

                        <div class="col-xl-2 col-12">
                            <div class="row">
                                <div class="col-12 bg-black-coral py-3 d-flex align-items-center justify-content-center">
                                    <p class="mb-0 text-white"><b>Hvad er talent?</b></p>
                                </div>
                                <div class="col-12 bg-platinum py-3 d-flex align-items-center justify-content-center">
                                    <p class="mb-0">En dag om talent
                                        inden afrejse</p>
                                </div>
                                <div class="col-12 bg-cultured py-3 d-flex align-items-center justify-content-center">
                                    <p class="mb-0">
                                        Vi kommer tættere på begreberne
                                        talent og potentiale gennem
                                        indlæg og inspiration
                                    </p>

                                </div>
                                
                            </div>
                        </div>

                        <div class="col-xl-2 col-12">
                            <div class="row d-flex align-items-center">

                                <div class="col-12 bg-black-coral py-3 d-flex align-items-center justify-content-center">
                                    <p class="mb-0 text-white"><b>Afrejse fra København - Barcelona</b></p>
                                </div>
                                <div class="col-12 bg-platinum py-3 d-flex align-items-center justify-content-center">
                                    <p class="mb-0">Afgang fra
                                        Københavns
                                        Lufthavn
                                        sidst på
                                        eftermiddagen.</p>
                                </div>
                                <div class="col-12 bg-cultured py-3 d-flex align-items-center justify-content-center">
                                    <p class="mb-0">
                                        Indkvartering i
                                        Barcelona og
                                        middag
                                    </p>

                                </div>
                                
                            </div>

                        </div>

                        <div class="col-xl-2 col-12">
                            <div class="row">
                                <div class="col-12 bg-black-coral py-3 d-flex align-items-center justify-content-center">
                                    <p class="mb-0 text-white"><b>Ophold i Barcelona</b></p>
                                </div>
                                <div class="col-12 bg-platinum py-3 d-flex align-items-center justify-content-center">
                                    <p class="mb-0">Besøg hos FC Barcelona</p>
                                </div>
                                <div class="col-12 bg-cultured py-3 d-flex align-items-center justify-content-center">
                                    <p class="mb-0">
                                        Se træning/træningsmiljø
                                    </p>

                                </div>
                                <div class="col-12 bg-platinum py-3 d-flex align-items-center justify-content-center">
                                    <p class="mb-0">
                                        Oplæg om talentspotting,
                                        talentudvikling og fastholdelse
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class="col-xl-2 col-12">
                            <div class="row">
                                <div class="col-12 bg-black-coral py-3 d-flex align-items-center justify-content-center">
                                    <p class="mb-0 text-white"><b>Ophold i Barcelona</b></p>
                                </div>
                                <div class="col-12 bg-platinum py-3 d-flex align-items-center justify-content-center">
                                    <p class="mb-0">Forskningsmæssigt indlæg ved
                                        professor Vidar Hallidorsson</p>
                                </div>
                                <div class="col-12 bg-cultured py-3 d-flex align-items-center justify-content-center">
                                    <p class="mb-0">
                                        Refleksioner over muligheder og
                                        perspektiver i egen virksomhed
                                    </p>

                                </div>
                                <div class="col-12 bg-platinum py-3 d-flex align-items-center justify-content-center">
                                    <p class="mb-0">
                                        Aftenprogram
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class="col-xl-2 col-12">
                            <div class="row">
                                <div class="col-12 bg-black-coral py-3 d-flex align-items-center justify-content-center">
                                    <p class="mb-0 text-white"><b>Afrejse fra Barcelona - København</b></p>
                                </div>
                                <div class="col-12 bg-platinum py-3 d-flex align-items-center justify-content-center">
                                    <p class="mb-0">Hjemrejse fra
                                        Barcelona til
                                        København</p>
                                </div>
                                <div class="col-12 bg-cultured py-3 d-flex align-items-center justify-content-center">
                                    <p class="mb-0">
                                        Farvel og på
                                        gensyn i april
                                    </p>

                                </div>
                               
                            </div>
                        </div>

                        <div class="col-xl-2 col-12">
                            <div class="row">
                                <div
                                    class="col-12 bg-black-coral py-3 d-flex align-items-center justify-content-center">
                                    <p class="mb-0 text-white"><b>Netværksmøde<br>Workshop</b></p>
                                </div>
                                <div class="col-12 bg-platinum py-3 d-flex align-items-center justify-content-center">
                                    <p class="mb-0">
                                        Netværksmøde- og
                                        implementeringsdag. Vi mødes og
                                        udveksler erfaringer:<br><br>
                                        - Hvad er der sket i min organisation
                                        siden besøget i Barcelona?
                                    </p>
        
                                </div>
                                <div class="col-12 bg-cultured py-3 d-flex align-items-center justify-content-center">
                                    <p class="mb-0">
                                        - Hvilke erfaringer har jeg gjort?<br>
                                        - Hvad har virket?<br>
                                        - Hvad har været svært?<br><br>
                                        - Næste skridt / udarbejdelse af
                                        implementeringsplan
                                    </p>
        
                                </div>
                                
                            </div>
                        </div>




                    </div>


                </div>
            </div>
        </div>
        <div class="bg-platinum py-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-lg-2 col-lg-8 col-12">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <h2>Du får:</h2>
                                <ul class="mb-0">
                                    <li class="pb-2">Viden om og indsigt i talentbegrebet</li>
                                    <li class="pb-2">Indsigt i hvordan man med stor succes arbejder med talent og
                                        talentudvikling
                                    </li>
                                    <li class="pb-2">Oversættelse af talentudvikling fra én succes-kontekst til egen
                                        organisation
                                    </li>
                                    <li class="pb-2">Indsigt i Big 5 personlighedstesten som et udviklingsværktøj</li>
                                    <li class="pb-2">Læring og netværk med andre med interesse for talentudvikling</li>
                                    <li class="pb-2">Inspiration og konkrete ideer til, hvordan man kan arbejde videre
                                        med talent og
                                        talentudvikling i egen organisation</li>
                                    <li class="pb-2">Mulighed for efterfølgende hjælp og support med udvikling og
                                        implementering
                                        af en talentudviklings- og fastholdelsesstrategi</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-12">


                                <div class="h-100"
                                    style="background-image: url('/images/educations/plant.png'); background-position: center; background-size: cover;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 offset-lg-2 col-lg-8">
                    <h2>Deltagerprofil</h2>
                    <h4>Enim nulla ut incididunt incididunt eiusmod minim reprehenderit irure.</h4>
                    <p class="mb-0">Ex exercitation ad ea esse labore consequat. Esse aute eu ad ipsum occaecat.
                        Exercitation
                        cupidatat nisi proident et dolor id fugiat tempor cupidatat excepteur. Enim proident anim
                        deserunt voluptate mollit amet sint anim do dolor commodo. Ut in magna minim veniam anim velit
                        magna.</p>
                </div>
            </div>

        </div>
    </div>
    <div class="tab-pane fade" id="nav-4" role="tabpanel" aria-labelledby="nav-4-tab">



        <div class="bg-platinum">
            <div class="container-fluid py-5">
                <div class="row gy-3 gx-5">
                    <div class="col-12 col-lg-6">
                        <video controls>
                            <source src="/videos/noeddesbo-ccc.mp4" type="video/mp4">
                            Your browser does not support HTML video.
                        </video>
                    </div>
                    <div class="col-12 col-lg-6 d-flex align-items-center">
                        <div>
                            <figure>
                                <blockquote class="blockquote mb-4">
                                    <h2>
                                        <i class="fas fa-quote-left fa-lg opacity-50 me-2"></i>
                                        <span>Det er fantastisk</span>
                                    </h2>
                                </blockquote>
                                <figcaption class="blockquote-footer">
                                    Jesper Nøddesbo
                                </figcaption>
                            </figure>
                            <h4>Det startede som mentale udfordringer. Med tiden har det udviklet sig til en ny passion
                            </h4>
                            <p>Nu uddanner Bjerringbro-Silkeborg Håndbolds Jesper Nøddesbo sig gennem Copenhagen
                                Coaching Center. Og
                                uddannelsen gør, at han nogle gange ligefrem glæder sig til livet efter håndbold.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container-fluid pt-5">
            <div class="row">
                <div class="col-12 offset-lg-2 col-lg-8">
                    <div class="row">
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img class="medium-image rounded-circle"
                                        src="/images/graphic/placeholder-profile.png" alt="{{ page.title }}">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <figure>
                                        <blockquote class="blockquote mb-4">
                                            <p>
                                                <i class="fas fa-quote-left fs-3 fa-lg opacity-50 me-2"></i>
                                                <span>Etiam imperdiet imperdiet orci. Ut varius tincidunt libero.</span>
                                            </p>
                                        </blockquote>
                                        <figcaption class="blockquote-footer">
                                            Anders Andersen<br>
                                            <small>MBC studerende</small>
                                        </figcaption>
                                    </figure>

                                </div>

                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img class="medium-image rounded-circle"
                                        src="/images/graphic/placeholder-profile.png" alt="{{ page.title }}">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <figure>
                                        <blockquote class="blockquote mb-4">
                                            <p>
                                                <i class="fas fa-quote-left fs-3 fa-lg opacity-50 me-2"></i>
                                                <span>Etiam imperdiet imperdiet orci. Ut varius tincidunt libero.</span>
                                            </p>
                                        </blockquote>
                                        <figcaption class="blockquote-footer">
                                            Anders Andersen<br>
                                            <small>MBC studerende</small>

                                        </figcaption>
                                    </figure>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



    </div>

    <div class="tab-pane fade" id="nav-5" role="tabpanel" aria-labelledby="nav-5-tab">


        <div class="container-fluid pb-4">
            <div class="row">
                <div class="offset-lg-2 col-12 col-lg-8">

                    <h2>Undervisere</h2>
                    <p>Undervisningen på MBC varetages af erfarne undervisere og forskere fra både Copenhagen Business
                        School,
                        Københavns Universitet, Aalborg Universitet, Aarhus Universitet og RUC. Undervisernes tilgang er
                        altid
                        nærværende, lokal og relevant for dig og dit arbejdsområde, så du kan overføre undervisningen
                        direkte
                        til dine daglige udfordringer som leder.
                    </p>
                    <p>
                        I dele af undervisningen inddrages konsulenter fra forskellige universiteter.</p>

                </div>
            </div>
        </div>

        <div class="bg-black-coral">
            <div class="container-fluid py-5">
                <div class="row">
                    <div class="offset-lg-2 col-lg-8 col-12">
                        <div class="row gx-2 gy-4">
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img class="medium-image rounded-circle"
                                            src="/images/about/medarbejdere-sort-hvid/andreas-bering-sort-hvid.png"
                                            alt="Andreas Bering">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h5 class="text-white">Andreas Bering</h5>
                                        <p class="text-white">Direktør og GDPR ansvarlig</p>

                                        <p class="text-white">Cand. Comm. fra Roskilde Universitet<br>
                                            Master i Business Coaching</p>

                                    </div>

                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img class="medium-image rounded-circle"
                                            src="/images/about/medarbejdere-sort-hvid/frederikke-winther-sort-hvid.png"
                                            alt="Frederikke Winther">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h5 class="text-white">Frederikke Winther</h5>
                                        <p class="text-white">Seniorkonsulent</p>
                                        <p class="text-white">Ph.d., Cand. Mag i retorik fra Københavns Universitet<br>
                                            Master i Business Coaching</p>

                                    </div>

                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img class="medium-image rounded-circle"
                                            src="/images/about/employees/kim-gørtz.jpg" alt="">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h5 class="text-white">Kim Gørtz</h5>
                                        <p class="text-white">Seniorkonsulent</p>
                                        <p class="text-white">Ph.d., Cand. Mag i filosofi og psykologi fra Københavns
                                            Universitet<br>
                                            Master i Business Coaching</p>

                                    </div>

                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img class="medium-image rounded-circle"
                                            src="/images/about/employees/mette-mejlhede.png" alt="Mette Mejlhede">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h5 class="text-white">Mette Mejlhede</h5>
                                        <p class="text-white">Diriktør</p>
                                        <p class="text-white">Cand.merc HRM Copenhagen Business School<br>
                                            Master i Business Coaching, EIA Master Akkrediteret Coach</p>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>






    </div>
    <div class="tab-pane fade" id="nav-6" role="tabpanel" aria-labelledby="nav-6-tab">




        <div class="container-fluid">
            <div class="row mb-5">
                <div class="offset-xl-2 col-12 col-xl-8">

                    <div class="row gy-3">

                        <div class="col-12">
                            <div class="row gy-4">
                                <div class="col-md-6 col-12">
                                    <img src="/images/educations/copenhagen.png" alt="{{ page.title }}" class="img-fluid mb-3">
                                    <h2>Pris og finansiering</h2>
                                    <p class="mb-0">30.000,- ekskl. moms pr deltager
                                        (Inkluderer fly, transport, forplejning, hotel)</p>
                                    <p>50.000.- ekskl. moms ved to deltagere fra
                                        samme virksomhed/organisation</p>
                                </div>
                                <div class="col-md-6 col-12">
                                    <h2>STED</h2>

                                    <p class="mb-0">Introdag i København – 20. september 2022</p>
                                    <p class="mb-0">Studieophold i Barcelona – 1.- 4. oktober 2022</p>
                                    <p>Implementeringsdag i København – 15. december 2022</p>
                                    <img src="/images/educations/barcelona.png" alt="{{ page.title }}" class="img-fluid mb-4">
                                </div>
                            </div>
                        </div>



                    </div>

                </div>
            </div>



        </div>







    </div>
    <div class="tab-pane fade" id="nav-7" role="tabpanel" aria-labelledby="nav-7-tab">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-lg-2 col-lg-8 col-12">
                    {% include mbc/faq.html %}
                </div>
            </div>

        </div>
    </div>




</div>
{% for employee in site.employees %}
{% if employee.title == page.contact-person %}
<div class="container-fluid my-5">
    <div class="row">
        <div class="offset-xl-2 col-12 col-xl-8">
            <div class="row gy-3">
                <div class="col-md-7 col-12">



                    <div class="d-flex h-100 justify-content-center align-items-center bg-slate-gray rounded p-3">
                        <div>

                            <p class="large text-white"><b>Har du spørgsmål til
                                    uddannelsen?</b> Kontakt {{ employee.title }} nedenfor. Vi glæder os til at
                                besvare
                                dine
                                spørgsmål.</p>

                            <div class="d-flex justify-content-end">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <p class="text-end mb-0 text-white"><b><a href="{{ employee.url }}"
                                                    data-proofer-ignore>{{
                                                    employee.title }}</a></b><br>

                                            <a href="tel:{{ employee.call }}" data-proofer-ignore>+45 {{
                                                employee.call
                                                }}</a><br>
                                            <a href="mailto:{{ employee.email }}" data-proofer-ignore>{{
                                                employee.email
                                                }}</a>
                                        </p>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <img class="small-image rounded-circle"
                                            src="{{ employee.small-portrait-image }}"
                                            alt="{{ employee.title }}, {{ employee.description}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-5 col-12">
                    <div class="d-flex h-100 justify-content-center align-items-center text-center rounded p-5"
                        style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/graphic/mennesker.jpg'); background-position: center; background-size: cover;">
                        <div>
                            <h4 class="text-white text-center">Interesseret i andre uddannelser?</h4>
                            <br>
                            <b><a class="btn-deep-taupe text-white text-center text-white btn mt-0 mx-auto"
                                    href="/academy/">Se
                                    mere <i class="fas fa-arrow-right text-white"></i></a></b>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>

{% endif %}
{% endfor %}




{% assign pageurl = page.url %}


<div class="bg-opal text-white">
    {% include sections/other-courses.html %}
</div>

{% include sections/vision.html %}


<div class="bg-black-coral white">
    {% include sections/newsletter.html %}
</div>

<div class="bg-light-brown">
    {% include sections/events.html container-classes="pt-50 mb-0 mt-0" btn-color="dust-green-btn" %}
</div>
<!-- end -->

<script>
    $(document).on("click", ".open_modal", function () {
        var product = $(this).data('id');
        console.log(product);
        var selecter = document.getElementById('mbc-hold');
        console.log(selecter);
        selecter.value = product;
    });

    var numner = 1;
    $(document).on("click", ".add-more-files", function () {
        var new_num = 1;
        var boxx = document.getElementById('file-upload');
        var close_box = document.createElement('a');
        close_box.innerHTML = "<i class='fas fa-times'></i>";
        close_box.className = "close-button-file"
        close_box.href = "#close"
        var the_div = document.createElement("div");
        the_div.className = "position-relative";
        var elements = document.createElement("input");

        elements.type = "file";
        elements.name = "upload-" + new_num + 1;
        elements.accept = ".doc,.docx,.pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document";
        the_div.appendChild(elements);
        the_div.appendChild(close_box);
        boxx.appendChild(the_div);
    });

    $(document).on("click", ".close-button-file", function () {
        var cross = $(this)
        cross.parent().remove()
    });

    $(document).on("click", "#privat", function () {
        var hehe = $("#cvr")
        hehe.parent().remove();

    });


    $(document).on("click", "#virksomhed", function () {
        $('#virksomhed-box').html('<div><input type="text" name="cvr" id="cvr" placeholder="CVR nummer"><input type="text" name="ean" placeholder="EAN"></div>')

    });

</script>