#main-content {
    background-color: #273c75;
}
body.single-tribe_events {
    background-color:#fff;
    color:#555;
}

body.post-type-archive-tribe_events {
    background-color: #fff;
}

.et_pb_widget a {
    color: #fff !important;
}
#main-footer .et_pb_widget a {
    color: #fff !important;
}
#main-content .container::before {
    width: 0px !important;
}
/*Duo tone*/
.et_pb_fullwidth_slider_0::before {
  background-color: rgb(39, 60, 117);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
  position: absolute;
  top: 0;
  left: 0;
	z-index:1;
}

.et_pb_fullwidth_slider_0::after {
	background-color: orange;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
}
.et_pb_section {
    position: relative;
    background-color: #273c75;
}
.et_pb_with_background.et_pb_section.et_section_regular {
	background-color: #273c75;
}
#main-footer {
    background-color: #e27e3f;
}
.home #main-footer {
    background-color: #273c75;
}
#footer-widgets {
    padding: 11% 0 4%;
}
.overlay-background {
	position: relative;
}
.overlay-background > div:first-child {
	z-index: 9999;
}
.overlay-background::before {
  content: " ";
  z-index: 1;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(39, 60, 117, 0.9);
}

.boxzilla-close-icon {
color:#fff;
}
.pt-cv-content-item {
    padding-bottom: 0px;
}
.text-above p {
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.text-above {
  	margin-bottom:5px !important;
}
.tribe_events-template-default .saboxplugin-wrap { display:none;
}
.saboxplugin-wrap .saboxplugin-desc p {
    font-size: 13px;
    font-weight: normal;
}
.saboxplugin-wrap .saboxplugin-desc {
    width: 76%;
    float: left;
    margin-left: 0px !important;
}
.saboxplugin-authorname a {
	color:#000;
}
#ed_btn {
    padding: 15px 30px;
    border: 3px solid #adc65a;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 8px;
}
.et-social-google-plus a.icon::before {
    content: "\e09d";
}
.blurp-box {
    min-height: 80px;
}
.et_right_sidebar #sidebar {
margin-top:50px;
}
.et_pb_widget a {
    color: #666;
    text-decoration: none;
    font-weight: 600;
}
.widgettitle {
    font-size: 21px;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 15px;
}
.nav li#menu-item-88 ul {width: 285px;}
li#menu-item-88 li a {width: 270px;}
.et_pb_fullwidth_slider_0.et_pb_slider .et_pb_slide_description .et_pb_slide_title {
    font-weight: 900 !important;
    text-shadow: 0px 0px 25px #000;
}
#main-footer .footer-widget h4 {
color:#fff;
font-weight:bold;
font-size:18px;
padding-bottom:25px;
}
.footer-widget li:before {
border-color:#fff;
}
.wpls-logo-showcase .wpls-logo-cnt.slick-slide img {
border:0px;
}
.et_pb_post h2 a {
font-weight: bold;
}
p.post-meta, p.post-meta a {
color:#f4743e !important;
font-weight:700;
}
.blocks .et_pb_text {
min-height:70px;
margin-bottom:50px !important;
}
.front-icons i { 
float: left;
padding: 15px 5px 5px;
background: #adc65a;
color:#fff;
margin-right: 25px;
border-radius: 50%;
width: 60px;
height: 60px;
text-align: center;
font-size: 30px;
}
.tribe-events-page-title > a {
    font-weight: normal;
}
.header-content h1 {
    font-size: 58px;
    font-weight: bold;
}
.et_pb_fullwidth_header_subhead {
    display: block;
    font-size: 22px;
}
/*Button*/
.tribe-events-back a {
    border: 2px solid;
    border-radius: 3px;
    padding: 7px 21px;
}
.tribe-events-back {
   margin-bottom:50px;
}
.post-type-archive-tribe_events #et-main-area {
    margin-top: 50px;
}
.tribe_events-template-default #et-main-area {
    margin-top: 50px;
}
#tribe-events-content-wrapper {
    margin-bottom: 50px;
}
#menu-item-73 > a {
color:#f4743e !important;
}
#top-menu li li a {
    font-size: 11px;
}
.et-social-icons, #footer-info {display:none;}
.tribe-events-cal-links {
    display: none !important;
}
.tribe-events-calendar thead th, .tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column, .tribe-grid-header {
    background-color: #0f0c22;
    border-left-color: #0f0c22;
    border-right-color: #0f0c22;
}
#tribe-events-content .tribe-events-tooltip h4, #tribe_events_filters_wrapper .tribe_events_slider_val, .single-tribe_events a.tribe-events-gcal, .single-tribe_events a.tribe-events-ical {
    color: #0f0c22;
}
#et-info {
    width: 100%;
}
.et-social-icons {
    float: right !important;
}
.ed_tb_css {
    width: 48%;
    padding: 13px !important;
    font-size: 15px;
    background-color: #f9f9f9 !important;
}
#footer-widgets .footer-widget li::before {
display:none;
}
#footer-widgets .footer-widget li {
   padding-left: 0px;
  }
.saboxplugin-wrap {
    margin-bottom: 45px;
    margin-top: 30px;
}
.et_pb_post a {
    font-weight: 700;
}
.mc4wp-form-fields input {
    padding: 8px;
    float: right;
    margin-left: 18px;
    font-size: 13px;
    border: none;
}
input.sign-up-button {
    padding: 10px 33px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    background-color: #9bad38;
    text-transform: uppercase;
}
/* White blog post page */
.post-template-default #main-content {
    background-color: #f2f2f2;
}

.post-template-default #main-content * {
    color: #333;
}

.post-template-default #main-content a {
    color: #f4743e !important;
}

span.published {
	display: none;
}

.lang-item-it, .lang-item-es, .lang-item-zh, .lang-item-ru, .lang-item-fr_ca, .lang-item-fr {
	display: none !important;
}