---
layout: default
---

<div class="modal fade" id="pdf-modal" tabindex="-1" aria-labelledby="pdf-modal-heading" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content p-3">
            <div class="modal-header">
                <h4 class="modal-title" id="pdf-modal-heading">Ønsker du mere information om uddannelsen? Registrér dig
                    her
                    og hent vores brochure.
                </h4>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="offset-md-1 col-md-10 col-12">

                        <form id="pdf-mbc-form" action="https://formspree.io/f/mnqoyjlq" method="POST">

                            <input type="hidden" name="file" value="https://www.copenhagencoaching.dk{{ page.pdf }}">
                            <input type="hidden" name="pdf" value="{{ page.title }}">
                            <input class="form-control mb-3" type="text" name="name" placeholder="Navn" id="pdf-name"
                                required>

                            <input type="tel" id="pdf-tlf" class="mb-3 form-control" name="tlf" pattern="[0-9]{8}"
                                placeholder="Tlf.">
                            <input type="text" id="pdf-titel" class="form-control mb-3" name="titel"
                                placeholder="Titel">
                            <input type="text" id="pdf-virksomhed" class="form-control mb-3" name="virksomhed"
                                placeholder="Virksomhed">
                            <input type="email" id="pdf-email" class="form-control mb-3" name="email"
                                placeholder="Email" required>


                            <div class="form-check mb-3">
                                <input class="form-check-input" name="_optin" type="checkbox" id="pdf-check">
                                <label class="form-check-label" for="pdf-mbc-check">
                                    Jeg vil gerne modtage CCC's nyhedsbrev
                                </label>
                            </div>
                            <div class="g-recaptcha" data-sitekey="6Lfi__EcAAAAABOscNdrKzqeLNu2vbuTM_5VlANy"></div>
                            <!-- replace with your recaptcha SITE key not secret key -->
                            <br />

                            <!-- your other form fields go here -->
                            <button class="btn-cadet-gray btn w-100" id="pdf-btn" type="submit">Registrér</button>
                        </form>

                        <div id="my-form-status-pdf" class="d-none">
                            <p>Tak for din interesse i vores uddannelser og kurser. Du vil snarest modtage mere
                                information via e-mail. Hvis du har yderligere spørgsmål, er du velkommen til at
                                kontakte os via info@copenhagencoaching.dk eller kontakte din nærmeste CCC-Konsulent via
                                vores kontaktside lige <a data-proofer-ignore="" href="#contact" data-toggle="modal"
                                    data-target="#contact-modal">her</a>.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pt-5"
    style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('{{ page.image }}'); background-size: cover; background-position: center;">
    <div class="container-fluid text-center py-5">
        <div class="pt-5">
            <div class="row py-5 gy-5">
                <div class="offset-md-2 col-12 col-md-8">
                    <h1 class="text-white mb-3">{{ page.title }}</h1>
                    <hr class="white w-50 responsive mx-auto">
                    <p class="text-white">{{ page.description }}</p>


                    <a class="btn-slate-gray text-white btn" data-proofer-ignore href="#pdf-modal" data-toggle="modal"
                        data-target="#pdf-modal">Hent brochure</a>
                    <br>
                </div>
            </div>
        </div>

    </div>
</div>




<div class="container-fluid text-center py-3">
    <div class="row">
        <div class="offset-xl-2 col-12 col-xl-8">
            <div class="my-4 navi-tab">
                {% for nav in page.navigation %}
                <a class="" style="background-color: {{ page.color-1 }}; color: {{ page.navigation-color }} !important;"
                    href="#{{ nav }}">{{ nav }}</a>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
<h1 id="Overblik"></h1>
<div class="container-fluid pb-3">
    <div class="row">
        <div class="offset-xl-2 col-12 col-xl-8">
            <div class="row gy-3">
                <div class="col-12 col-xl-6 responsive-lg-img">
                    <div class="h-100"
                        style="background-image: url('{{ page.overview-image-1 }}'); background-position: center; background-size: cover;">
                    </div>
                </div>

                <div class="col-xl-6 col-12">
                    <h2>{{ page.overview-heading-1 }}</h2>
                    <p>{{ page.overview-text-1 }}</p>
                </div>
            </div>

            <div class="row gx-5 gy-4 mt-3">
                <div class="col-xl-6 col-12">
                    <h2>{{ page.overview-heading-2 }}</h2>
                   <p>{{ page.overview-text-2 }}</p>
                </div>
                <div class="col-xl-6 col-12">
                    <h2>{{ page.overview-heading-3 }}</h2>
                    <p>{{ page.overview-text-3 }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% for employee in site.employees %}
{% if employee.title == page.contact-person %}
<div class="container-fluid my-5">
    <div class="row">
        <div class="offset-xl-2 col-12 col-xl-8">
            <div class="row gy-3">
                <div class="col-md-7 col-12">



                    <div class="d-flex h-100 justify-content-center align-items-center bg-slate-gray rounded p-3">
                        <div>

                            <p class="large text-white"><b>Har du spørgsmål til
                                    uddannelsen?</b> Kontakt {{ employee.title }} nedenfor. Vi glæder os til at
                                besvare
                                dine
                                spørgsmål.</p>

                            <div class="d-flex justify-content-end">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <p class="text-end mb-0 text-white"><b><a href="{{ employee.url }}"
                                                    data-proofer-ignore>{{
                                                    employee.title }}</a></b><br>

                                            <a href="tel:{{ employee.call }}" data-proofer-ignore>+45 {{
                                                employee.call
                                                }}</a><br>
                                            <a href="mailto:{{ employee.email }}" data-proofer-ignore>{{
                                                employee.email
                                                }}</a>
                                        </p>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <img class="small-image rounded-circle"
                                            src="{{ employee.small-portrait-image }}"
                                            alt="{{ employee.title }}, {{ employee.description}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-5 col-12">
                    <div class="d-flex h-100 justify-content-center align-items-center text-center rounded p-5"
                        style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('/images/graphic/mennesker.jpg'); background-position: center; background-size: cover;">
                        <div>
                            <h4 class="text-white text-center">Interesseret i andre uddannelser?</h4>
                            <br>
                            <b><a class="btn-deep-taupe text-white text-center text-white btn mt-0 mx-auto"
                                    href="/academy/">Se
                                    mere <i class="fas fa-arrow-right text-white"></i></a></b>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>

{% endif %}
{% endfor %}

<div class="container-fluid pb-4 text-center">
    <div class="row">
        <div class="offset-lg-3 col-12 col-lg-6">
            {% include sections/virtual-text.html %}
        </div>
    </div>
</div>


{% assign pageurl = page.url %}


<div class="bg-opal text-white">
    {% include sections/other-courses.html %}
</div>

{% include sections/vision.html %}


<div class="bg-black-coral white">
    {% include sections/newsletter.html %}
</div>

<div class="bg-light-brown">
    {% include sections/events.html container-classes="pt-50 mb-0 mt-0" btn-color="dust-green-btn" %}
</div>
<!-- end -->

<script>
    $(document).on("click", ".open_modal", function () {
        var product = $(this).data('id');
        console.log(product);
        var selecter = document.getElementById('mbc-hold');
        console.log(selecter);
        selecter.value = product;
    });

    var numner = 1;
    $(document).on("click", ".add-more-files", function () {
        var new_num = 1;
        var boxx = document.getElementById('file-upload');
        var close_box = document.createElement('a');
        close_box.innerHTML = "<i class='fas fa-times'></i>";
        close_box.className = "close-button-file"
        close_box.href = "#close"
        var the_div = document.createElement("div");
        the_div.className = "position-relative";
        var elements = document.createElement("input");

        elements.type = "file";
        elements.name = "upload-" + new_num + 1;
        elements.accept = ".doc,.docx,.pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document";
        the_div.appendChild(elements);
        the_div.appendChild(close_box);
        boxx.appendChild(the_div);
    });

    $(document).on("click", ".close-button-file", function () {
        var cross = $(this)
        cross.parent().remove()
    });

    $(document).on("click", "#privat", function () {
        var hehe = $("#cvr")
        hehe.parent().remove();

    });


    $(document).on("click", "#virksomhed", function () {
        $('#virksomhed-box').html('<div><input type="text" name="cvr" id="cvr" placeholder="CVR nummer"><input type="text" name="ean" placeholder="EAN"></div>')

    });

</script>

<script>



    //MBC
    var formpdf = document.getElementById("pdf-form");
    async function handleSubmitPDF(event) {

        event.preventDefault();
        var status = document.getElementById("my-form-status-pdf");
        var data = new FormData(event.target);
        fetch(event.target.action, {
            method: formpdf.method,
            body: data,
            headers: {
                'Accept': 'application/json'
            }
        }).then(response => {
            status.className = "py-3 text-center"

            formmbc.reset()
            formmbc.className = "d-none"
        }).catch(error => {
            status.innerHTML = "Ups! Der opstod et problem."
        });

    }
    formpdf.addEventListener("submit", handleSubmitPDF)




</script>