---
layout: default
---

<div class="hero-image d-flex align-content-center align-items-center"
    style="background: linear-gradient(rgba(19, 19, 19, 0.6), rgba(19, 19, 19, 0.6)), url('{{ page.image }}'); background-size: cover; background-position: center;">
    <div class="container-fluid text-center">
        <h1 class="text-white">{{ page.title }}</h1>
        <p class="fw-thin opacity-75 text-white fs-6 text-uppercase">{{ page.category }}</p>
    </div>
</div>
<div class="bg-platinum">
    <div class="container-fluid pt-5 pb-5">
        {% assign postmonth = page.date | date: "%m" %}


        {% if postmonth == "01" %}
        {% assign monthName = "januar" %}
        {% elsif postmonth == "02" %}
        {% assign monthName = "februar" %}
        {% elsif postmonth == "03" %}
        {% assign monthName = "marts" %}
        {% elsif postmonth == "04" %}
        {% assign monthName = "april" %}
        {% elsif postmonth == "05" %}
        {% assign monthName = "maj" %}
        {% elsif postmonth == "06" %}
        {% assign monthName = "juni" %}
        {% elsif postmonth == "07" %}
        {% assign monthName = "juli" %}
        {% elsif postmonth == "08" %}
        {% assign monthName = "august" %}
        {% elsif postmonth == "09" %}
        {% assign monthName = "september" %}
        {% elsif postmonth == "10" %}
        {% assign monthName = "oktober" %}
        {% elsif postmonth == "11" %}
        {% assign monthName = "november" %}
        {% elsif postmonth == "12" %}
        {% assign monthName = "december" %}
        {% endif %}
        <p><b>{{ page.date | date: "%d"}}. {{ monthName }} {{ page.date | date: "%Y"}}</b></p>
        <div class="d-flex align-items-center align-content-center mb-3">
            <p class="mb-0 me-3">DEL SIDEN:</p> <a
                href="https://www.facebook.com/sharer/sharer.php?u=https://www.copenhagencoaching.dk{{ page.url }}"
                target="_blank"><i class="fa-brands fa-facebook text-primary fs-5 me-2"
                    style="color: #324480 !important;"></i></a>
            <a href="https://twitter.com/intent/tweet?url=https://www.copenhagencoaching.dk{{ page.url }}"
                target="_blank"><i class="fa-brands fa-twitter text-info fs-5 me-2"
                    style="color: #619BE7 !important;"></i></a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.copenhagencoaching.dk{{ page.url }}"
                target="_blank"><i class="fa-brands fa-linkedin fs-5 me-3" style="color: #2D62A3 !important;"></i></a>
        </div>




        <div class="row gx-5 gy-5">
            <div class="col-xl-8 col-12 link-under">

                <div class="p-5 bg-white">
                    <div>
                        <div class="video-container pt-0 mb-0"><video controls>
                                <source src="{{ page.video }}" type="video/mp4">
                                Your browser does not support HTML video.
                            </video></div>
                    </div>



                    <div class="mt-4">

                    </div>
                    <!-- AddToAny BEGIN -->

                    {{ content }}
                </div>


            </div>

            <div class="col-xl-4 col-12">
                <div class="row gy-5 gx-5">
                    <div class="col-xl-12 col-md-6 col-12">
                        <div class="bg-white p-4 h-100">
                            <h5 class="text-uppercase">Nyhedsbrev</h5>
                            <p><b>Skriv dig op til vores nyhedsbrevet og bliv opdateret med vores seneste
                                    nyheder og artikler</b></p>
                            <form id="newsletter-form-2" action="https://formspree.io/f/xlezwlkg" method="POST">
                                <div class="row mt-3 g-3" id="ns-inner-form">
                                    <div class="col-12 col-md-12">
                                        <input type="text" class="form-control" placeholder="Navn" aria-label="Navn"
                                            name="name" required>
                                    </div>

                                    <div class="col-12 col-md-12">
                                        <input type="text" class="form-control" placeholder="E-mail" aria-label="Email"
                                            name="email" required>
                                    </div>

                                    <div class="col-12 d-flex pt-2">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input mt-1" type="checkbox" name="_optin"
                                                id="gridCheck" required>
                                            <label class="form-check-label" for="gridCheck">
                                                <small>
                                                    Jeg accepterer, at Copenhagen Coaching Center må sende mig
                                                    nyhedsbrev og arkivere
                                                    mine oplysninger til dette formål.</small>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-12">
                                        <div class="g-recaptcha"
                                            data-sitekey="6Lfi__EcAAAAABOscNdrKzqeLNu2vbuTM_5VlANy"></div>
                                        <!-- replace with your recaptcha SITE key not secret key -->

                                    </div>


                                    <div class="col-12">
                                        <button
                                            class="btn text-white btn-dark-sienna my-0 mt-0 d-inline-block w-100 fw-bold text-uppercase rounded-0">Tilmeld</button>
                                    </div>



                                </div>
                                <p id="newsletter-mes" class="mt-3 bg-xanadu p-2 d-none text-center"></p>
                            </form>
                            <div class="pt-3"></div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-6 col-12">
                        <h5 class="text-uppercase text-center mb-3">
                            Se vores uddannelser og kurser
                        </h5>
                        <div class="row gy-4">
                            {% for ud in site.educations limit: 3 %}
                            <div class="col-12">

                                <a href="{{ ud.url }}">
                                    <div class="bg-white p-4 zoom">
                                        <div class="h-150px mb-3">
                                            <img src="{{ ud.image }}" alt="Uddannelser på Copenhagen Coching Center"
                                                class="object-fit">
                                        </div>

                                        <h5>{{ ud.title }}</h5>
                                        <p class="mb-0">{{ ud.description }}</p>

                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12">
                        <h5 class="text-uppercase text-center mb-3">
                            Se flere blogindlæg
                        </h5>
                        <div class="row gy-4">
                            {% assign blogposts = site.tags.blog | where_exp:"item",
                            "item.title != page.title" %}
                            {% for item in blogposts limit: 3 %}
                            <div class="col-xl-12 col-md-6 col-12">
                                <a href="{{ item.url }}">
                                    <div class="bg-white p-4 zoom">
                                        <div class="h-150px mb-3">
                                            <img src="{{ item.image }}" alt="Uddannelser på Copenhagen Coching Center"
                                                class="object-fit">
                                        </div>

                                        <h5>{{ item.title }}</h5>
                                        <p class="mb-0">{{ item.description }}</p>

                                    </div>
                                </a>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<script>
    var form = document.getElementById("newsletter-form-2");
    var inner_form = document.getElementById("ns-inner-form");

    async function handleSubmit(event) {
        event.preventDefault();
        var status = document.getElementById("newsletter-mes");
        var data = new FormData(event.target);
        fetch(event.target.action, {
            method: form.method,
            body: data,
            headers: {
                'Accept': 'application/json'
            }
        }).then(response => {
            if (response.ok) {
                status.innerHTML = "Tak for din tilmelding til vores nyhedsbrev. Du vil snarrest modtage en e-mail med link til bekræftelse af din tilmelding.";
                inner_form.className = "d-none"
                status.classList.remove("d-none")
                status.classList.add("text-white")
                form.reset()
            } else {
                response.json().then(data => {
                    if (Object.hasOwn(data, 'errors')) {
                        status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
                    } else {
                        status.innerHTML = "Oops! There was a problem submitting your form"
                    }
                })
            }
        }).catch(error => {
            status.innerHTML = "Oops! There was a problem submitting your form"
        });
    }
    form.addEventListener("submit", handleSubmit)
</script>